Repository apache/kafka, pull requests merged in 2018-08, with the labels that each got.

#5201 KAFKA-6761: Construct Physical Plan using Graph, Reduce streams footprint part III
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/AbstractStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/GroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/MaterializedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WindowedStreamPartitioner.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/BaseJoinProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/BaseRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/GroupedTableOperationRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/KTableKTableJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/OptimizableRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/ProcessorGraphNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/ProcessorParameters.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StatefulProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamSinkNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamStreamJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamTableJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/KeyValueBytesStoreSupplier.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/FineGrainedAutoResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: streams

#5455 MINOR: Fix task and cache level metrics caller
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/NamedCache.java
Labels: streams

#5461 MINOR: increase timeout values in streams tests
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalThreadShutDownOrderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/InternalTopicIntegrationTest.java
Labels: streams

#5429 [MINOR] KAFKA-7207: Make -rate & -total metrics documentation consistent
  docs/ops.html
Labels: docs

#5474 KAFKA-7080: pass segmentInterval to CachingWindowStore
  streams/src/main/java/org/apache/kafka/streams/state/internals/WindowStoreBuilder.java
Labels: streams

#5453 MINOR: Follow up for KAFKA-6761 graph should add stores for consistency
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/GlobalStoreNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StateStoreNode.java
Labels: streams

#5483 MINOR: Fixed log in Topology Builder.
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
Labels: streams

#5284 KAFKA-6966: Extend TopologyDescription.Sink to return TopicNameExtractor
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/TopologyDescription.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
Labels: streams

#5451 KAFKA-6761: Reduce streams footprint part IV add optimization
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/OptimizableRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphNode.java
  streams/src/test/java/org/apache/kafka/streams/integration/RepartitionOptimizingIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RepartitionWithMergeOptimizingIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphTest.java
Labels: streams

#5501 KAFKA-7285: Create new producer on each rebalance if EOS enabled
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollector.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SinkNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StoreChangeLoggerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/test/KStreamTestDriver.java
  streams/src/test/java/org/apache/kafka/test/NoOpRecordCollector.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#5488 KAFKA-6998: Disable Caching when max.cache.bytes are zero.
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/StoreBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractStoreBuilder.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyWrapper.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/FineGrainedAutoResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/InternalTopicIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/PurgeRepartitionTopicIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RepartitionWithMergeOptimizingIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/GlobalKTableJoinsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamBranchTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFilterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatMapTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamForeachTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamMapTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamPeekTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSelectKeyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowReduceTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableFilterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapKeysTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableSourceTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsMetadataStateTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/StreamsTestUtils.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#5517 MINOR: Update test to wait for final value to reduce flakiness updated test method for multiple keys
  streams/src/test/java/org/apache/kafka/streams/integration/RepartitionOptimizingIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RepartitionWithMergeOptimizingIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams

#5528 MINOR: Change order of Property Check To Avoid NPE
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams

#4527 KAFKA-6312 Add documentation about kafka-consumer-groups.sh's ability…
  docs/ops.html
Labels: docs, tools

#4633 KAFKA-5891: Proper handling of LogicalTypes in Cast
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/Cast.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/CastTest.java
Labels: connect

#5520 KAFKA-7284: streams should unwrap fenced exception
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
  clients/src/test/java/org/apache/kafka/clients/producer/MockProducerTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams

#5502 KAFKA-7301: Fix streams Scala join ambiguous overload
  build.gradle
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KTable.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/KStreamTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/KTableTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/StreamToTableJoinScalaIntegrationTestImplicitSerdes.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/utils/StreamToTableJoinScalaIntegrationTestBase.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/utils/StreamToTableJoinTestData.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/utils/TestDriver.scala
Labels: streams

#5538 KAFKA-7316 Fix Streams Scala filter recursive call
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KTable.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/KStreamTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/KTableTest.scala
Labels: streams

#5546 MINOR: Return correct instance of SessionWindowSerde
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Transformer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueTransformer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Window.java
  streams/src/main/java/org/apache/kafka/streams/kstream/WindowedSerdes.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Windows.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/test/java/org/apache/kafka/streams/kstream/WindowedSerdesTest.java
Labels: streams

#5539 Fix Streams Scala foreach recursive call
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/FunctionConversions.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/KStreamTest.scala
Labels: streams

#5536 MINOR: restructure Windows to favor immutable implementation
  streams/src/main/java/org/apache/kafka/streams/kstream/JoinWindows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/UnlimitedWindows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Windows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WindowingDefaults.java
  streams/src/test/java/org/apache/kafka/streams/EqualityCheck.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/JoinWindowsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/SessionWindowsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/TimeWindowsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/UnlimitedWindowsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/WindowsTest.java
Labels: streams

#5565 MINOR: replace deprecated remove with delete
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
Labels: streams

#5415 KAFKA-7134: KafkaLog4jAppender - Appender exceptions are propagated t…
  build.gradle
  log4j-appender/src/main/java/org/apache/kafka/log4jappender/KafkaLog4jAppender.java
  log4j-appender/src/test/java/org/apache/kafka/log4jappender/KafkaLog4jAppenderTest.java
  log4j-appender/src/test/java/org/apache/kafka/log4jappender/MockKafkaLog4jAppender.java
Labels: tools

#5566 MINOR: Fix streams Scala peek recursive call
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/KStreamTest.scala
Labels: streams

#5512 KAFKA-7269: Add docs for KStream.merge
  docs/streams/developer-guide/dsl-api.html
Labels: docs, streams
