Repository apache/kafka, pull requests merged in 2018-06, with the labels that each got.

#5111 MINOR: Use thread name and task for sensor name
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
Labels: streams

#5118 MINOR: Remove deprecated KafkaStreams constructors in docs
  docs/streams/developer-guide/config-streams.html
  docs/streams/developer-guide/datatypes.html
  docs/streams/developer-guide/dsl-api.html
  docs/streams/developer-guide/interactive-queries.html
  docs/streams/developer-guide/memory-mgmt.html
  docs/streams/developer-guide/security.html
  docs/streams/developer-guide/testing.html
  docs/streams/developer-guide/write-streams.html
  docs/streams/index.html
  docs/streams/tutorial.html
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: streams

#5075 KAFKA-6813: return to double-counting for count topology names
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/MaterializedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/MaterializedInternalTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/KeyValueStoreMaterializerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#5128 KAFKA-6938: Add documentation for accessing Headers on Kafka Streams Processor API
  docs/streams/developer-guide/processor-api.html
Labels: docs, streams

#5123 MINOR: Add missing configs for resilience settings
  docs/streams/developer-guide/config-streams.html
Labels: docs, streams

#4801 KAFKA-6704: InvalidStateStoreException from IQ when StreamThread closes store
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/SegmentIterator.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SegmentIteratorTest.java
Labels: streams

#5013 [KAFKA-6730] Simplify State Store Recovery
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
Labels: streams

#5132 MINOR: docs should point to latest version
  docs/documentation.html
Labels: docs, streams

#5136 KAFKA-6993: Fix defective documentations for KStream/KTable methods
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
Labels: streams

#5096 KAFKA-6967: TopologyTestDriver does not allow pre-populating state stores that have change logging
  build.gradle
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImplTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/test/ConsumerRecordFactory.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/test/OutputVerifier.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#5071 KAFKA-6935: Add config for allowing optional optimization
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams

#5103 KAFKA-6538: Changes to enhance ByteStore exceptions thrown from RocksDBStore with more human readable info
  streams/src/main/java/org/apache/kafka/streams/state/internals/InnerMeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
Labels: streams

#5143 MINOR: remove duplicate map in StoreChangelogReader
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
Labels: streams

#5166 KAFKA-7023: Move prepareForBulkLoad() call after customized RocksDBConfigSetter
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
Labels: streams

#5163 KAFKA-7021: Reuse source based on config
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TableTableJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: streams

#5197 KAFKA-7023: Add unit test
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
Labels: streams

#4986 KAFKA-6474: Rewrite tests to use new public TopologyTestDriver [part 2]
  streams/src/test/java/org/apache/kafka/streams/TopologyTestDriverWrapper.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableFilterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableSourceTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#5196 MINOR: code cleanup follow up for KAFKA-6906
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
Labels: streams

#4912 KAFKA-6749: Fixed TopologyTestDriver to process stream processing guarantee as exactly once
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#5217 MINOR: use new API timeout config in test
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
Labels: streams

#5187 KAFKA-6860: Fix NPE in Kafka Streams with EOS enabled
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
Labels: streams

#5219 KAFKA-6711: GlobalStateManagerImpl should not write offsets of in-memory stores in checkpoint file
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImplTest.java
  streams/src/test/java/org/apache/kafka/test/NoOpReadOnlyStore.java
Labels: streams

#5207 KAFKA-7021: checkpoint offsets from committed
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TableTableJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#5195 KAFKA-7021: Update upgrade guide section for reusing source topic
  docs/streams/upgrade-guide.html
Labels: docs, streams

#5231 MINOR: provide an example for deserialization exception handler
  docs/streams/developer-guide/config-streams.html
  docs/streams/developer-guide/datatypes.html
Labels: streams

#4983 KAFKA-6761: Construct logical Streams Graph in DSL Parsing
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/AbstractStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/BaseJoinProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/GroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ProducedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/RepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/StatefulProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/StatefulRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/StatefulSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/StreamsGraphNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/StreamsTopologyGraph.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/BaseJoinProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/BaseRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/GroupedTableOperationRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/KTableKTableJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/OptimizableRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/ProcessorParameters.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StatefulProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StatelessProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamSinkNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamStreamJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamTableJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/StateStoreSupplier.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
Labels: streams

#5239 KAFKA-7066 added better logging in case of Serialisation issue
  streams/src/main/java/org/apache/kafka/streams/state/StateSerdes.java
  streams/src/test/java/org/apache/kafka/streams/state/StateSerdesTest.java
Labels: streams

#5252 KAFKA-6938: Add headers support in new api section
  docs/streams/upgrade-guide.html
Labels: docs, streams

#5253 KAFKA-7072: clean up segments only after they expire
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/state/Stores.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDbSessionBytesStoreSupplier.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDbWindowBytesStoreSupplier.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/Segments.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SegmentsTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/NoOpProcessorContext.java
Labels: streams

#5249 MINOR: Update examples / tutorials / docs with Java 8 syntax
  docs/streams/developer-guide/dsl-api.html
  docs/streams/developer-guide/testing.html
  streams/examples/src/main/java/org/apache/kafka/streams/examples/pageview/PageViewTypedDemo.java
  streams/examples/src/main/java/org/apache/kafka/streams/examples/pageview/PageViewUntypedDemo.java
  streams/examples/src/main/java/org/apache/kafka/streams/examples/pipe/PipeDemo.java
  streams/examples/src/main/java/org/apache/kafka/streams/examples/temperature/TemperatureDemo.java
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountDemo.java
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountProcessorDemo.java
  streams/quickstart/java/src/main/resources/archetype-resources/src/main/java/LineSplit.java
  streams/quickstart/java/src/main/resources/archetype-resources/src/main/java/WordCount.java
Labels: streams

#5258 MINOR: Avoid using a big lock in pool#getAndMaybePut
  core/src/main/scala/kafka/utils/Pool.scala
Labels: core, performance

#4618 KAFKA-6591: Move super user check before ACL matching
  core/src/main/scala/kafka/security/auth/SimpleAclAuthorizer.scala
Labels: core

#5244 MINOR:Optimized the path compression in quick union
  streams/src/main/java/org/apache/kafka/streams/processor/internals/QuickUnion.java
Labels: streams

#5254 KAFKA-7076: Prevent reading through log data for constructing producer state when using old message format
  core/src/main/scala/kafka/log/Log.scala
  core/src/main/scala/kafka/log/OffsetIndex.scala
  core/src/test/scala/unit/kafka/log/LogTest.scala
  core/src/test/scala/unit/kafka/log/OffsetIndexTest.scala
Labels: core, performance

#5306 KAFKA-7112: Only resume restoration if state is still PARTITIONS_ASSIGNED after poll
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
Labels: streams

#5290 MINOR: Store metrics scope, total metrics
  docs/ops.html
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDbSessionBytesStoreSupplier.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDbWindowBytesStoreSupplier.java
Labels: streams

#5309 MINOR: Upgrade RocksDB to 5.13.4
  gradle/dependencies.gradle
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
Labels: streams
