Repository apache/kafka, pull requests merged in 2018-03, with the labels that each got.

#4578 KAFKA-6560: Replace range query with newly added single point query in Windowed Aggregation
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamWindowReduce.java
  streams/src/main/java/org/apache/kafka/streams/state/ReadOnlyWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CompositeReadOnlyWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WindowKeySchema.java
  streams/src/test/java/org/apache/kafka/streams/state/NoOpWindowStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CompositeReadOnlyWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ReadOnlyWindowStoreStub.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
Labels: streams

#4625 KAFKA-6593; Fix livelock with consumer heartbeat thread in commitSync
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkClient.java
  clients/src/test/java/org/apache/kafka/clients/MockClient.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkClientTest.java
Labels: consumer

#4630 KAFKA-6054: Code cleanup to prepare the actual fix for an upgrade path
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfo.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfo.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfoTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfoTest.java
Labels: streams

#4554 MINOR: Add System test for standby task-rebalancing
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsRepeatingIntegerKeyProducer.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsStandByReplicaTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/SystemTestUtil.java
  streams/src/test/java/org/apache/kafka/streams/tests/SystemTestUtilTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_standby_replica_test.py
Labels: streams

#4624 KAFKA-6309: Improve task assignor load balance
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/StickyTaskAssignor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/StickyTaskAssignorTest.java
Labels: streams

#4645 KAFKA-5660 Don't throw TopologyBuilderException during runtime
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/TopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
Labels: streams

#4644 MINOR: Skip sending fetches/offset lookups when awaiting the reconnect backoff
  clients/src/main/java/org/apache/kafka/clients/ClusterConnectionStates.java
  clients/src/main/java/org/apache/kafka/clients/NetworkClient.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkClient.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/Fetcher.java
  clients/src/main/java/org/apache/kafka/common/requests/FetchResponse.java
  clients/src/test/java/org/apache/kafka/clients/ClusterConnectionStatesTest.java
  clients/src/test/java/org/apache/kafka/clients/MockClient.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
Labels: consumer

#3307 KAFKA-4831: Extract WindowedSerde to public APIs
  clients/src/main/java/org/apache/kafka/common/serialization/Serdes.java
  streams/examples/src/main/java/org/apache/kafka/streams/examples/temperature/TemperatureDemo.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/WindowedSerdes.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionKeySerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WindowedDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WindowedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WindowedStreamPartitioner.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingKeyValueBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingSessionBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MergedSortedCacheSessionStoreIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MergedSortedCacheWindowStoreIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MergedSortedCacheWindowStoreKeyValueIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/OrderedBytes.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDbWindowBytesStoreSupplier.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/SessionKeySchema.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreChangeLogger.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WindowKeySchema.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WindowStoreIteratorWrapper.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WindowStoreUtils.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WrappedSessionStoreIterator.java
  streams/src/test/java/org/apache/kafka/streams/kstream/SessionWindowedDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/SessionWindowedSerializerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/TimeWindowedDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/TimeWindowedSerializerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SessionKeySerdeTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/WindowedStreamPartitionerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingSessionBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MergedSortedCacheWrappedSessionStoreIteratorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MergedSortedCacheWrappedWindowStoreIteratorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MergedSortedCacheWrappedWindowStoreKeyValueIteratorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SegmentedCacheFunctionTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SessionKeySchemaTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/WindowKeySchemaTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/WindowStoreUtilsTest.java
Labels: streams

#3425 Kafka 3368
  docs/implementation.html
  docs/protocol.html
Labels: docs

#4632 MINOR: Fix incorrect JavaDoc (type mismatch)
  streams/src/main/java/org/apache/kafka/streams/state/Stores.java
Labels: streams

#4617 KAFKA-6024 Move validation in KafkaConsumer ahead of acquireAndEnsure…
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
Labels: consumer

#4667 MINOR: Streams doc example should not close store
  docs/streams/developer-guide/processor-api.html
Labels: docs, streams

#4684 KAFKA-6634: Delay starting new transaction in task.initializeTopology
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AssignedStreamsTasksTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#4631 MINOR: fixing streams test-util compilation errors in Eclipse
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/ConsumerRecordFactoryTest.java
Labels: streams

#4686 KAFKA-4831: add documentation for KIP-265
  docs/streams/upgrade-guide.html
Labels: docs, streams

#4651 KAFKA-6106: Postpone normal processing of tasks until restoration of all tasks completed
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AssignedStreamsTasksTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#4689 MINOR: Streams system test fixes/updates
  .gitignore
  tests/docker/Dockerfile
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
  tests/kafkatest/version.py
  tests/setup.py
  vagrant/base.sh
Labels: streams

#4723 KAFKA-6663: Doc for `GlobalKTable` should be corrected.
  docs/streams/developer-guide/dsl-api.html
Labels: docs, streams

#4728 MINOR: fix flaky Streams EOS system test
  tests/kafkatest/tests/streams/streams_eos_test.py
Labels: streams

#4628 KAFKA-6486: Implemented LinkedHashMap in TimeWindows
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindows.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TimeWindowTest.java
Labels: streams

#4714 MINOR: Pass a streams config to replace the single state dir
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  streams/src/test/java/org/apache/kafka/streams/perf/SimpleBenchmark.java
  streams/src/test/java/org/apache/kafka/streams/perf/YahooBenchmark.java
  streams/src/test/java/org/apache/kafka/streams/tests/BrokerCompatibilityTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/EosTestClient.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsBrokerDownResilienceTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsEosTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsStandByReplicaTest.java
  tests/kafkatest/services/kafka/__init__.py
  tests/kafkatest/services/streams.py
Labels: streams

#4749 MINOR: remove obsolete warning in StreamsResetter
  core/src/main/scala/kafka/tools/StreamsResetter.java
Labels: streams

#4732 KAFKA-6659: Improve error message if state store is not found
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
Labels: streams

#4690 MINOR: Rolling bounce upgrade fixed broker system test
  tests/kafkatest/tests/streams/base_streams_test.py
  tests/kafkatest/tests/streams/streams_broker_down_resilience_test.py
  tests/kafkatest/tests/streams/streams_multiple_rolling_upgrade_test.py
  tests/kafkatest/tests/streams/streams_standby_replica_test.py
  tests/kafkatest/version.py
Labels: streams

#4767 MINOR: Fix flaky standby task test
  tests/kafkatest/tests/streams/base_streams_test.py
  tests/kafkatest/tests/streams/streams_standby_replica_test.py
Labels: streams

#4758 KAFKA-6054: Fix upgrade path from Kafka Streams v0.10.0
  bin/kafka-run-class.sh
  build.gradle
  clients/src/main/java/org/apache/kafka/common/security/authenticator/SaslClientCallbackHandler.java
  docs/streams.html
  docs/upgrade.html
  gradle/dependencies.gradle
  settings.gradle
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfo.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfo.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/FanoutIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationDedupIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfoTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0100/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0101/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
  tests/kafkatest/version.py
  vagrant/base.sh
Labels: streams

#4761 KAFKA-6054: Fix upgrade path from Kafka Streams v0.10.0
  bin/kafka-run-class.sh
  build.gradle
  clients/src/main/java/org/apache/kafka/common/security/authenticator/SaslClientCallbackHandler.java
  docs/streams/upgrade-guide.html
  docs/upgrade.html
  gradle/dependencies.gradle
  settings.gradle
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfo.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfo.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationDedupIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfoTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0100/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0101/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0102/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
  tests/kafkatest/version.py
  vagrant/base.sh
Labels: streams

#4746 KAFKA-6054: Fix upgrade path from Kafka Streams v0.10.0
  bin/kafka-run-class.sh
  build.gradle
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java
  clients/src/main/java/org/apache/kafka/common/protocol/types/Struct.java
  clients/src/main/java/org/apache/kafka/common/security/authenticator/SaslClientCallbackHandler.java
  clients/src/test/java/org/apache/kafka/clients/producer/ProducerRecordTest.java
  docs/upgrade.html
  gradle/dependencies.gradle
  gradle/rat.gradle
  jenkins.sh
  settings.gradle
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/TopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfo.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfo.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/FanoutIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationDedupIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfoTest.java
  streams/src/test/java/org/apache/kafka/streams/smoketest/SmokeTestClient.java
  streams/src/test/java/org/apache/kafka/streams/smoketest/SmokeTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/smoketest/SmokeTestUtil.java
  streams/src/test/java/org/apache/kafka/streams/smoketest/StreamsSmokeTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/src/test/java/org/apache/kafka/test/ProcessorTopologyTestDriver.java
  streams/upgrade-system-tests-0100/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
  tests/kafkatest/version.py
  vagrant/base.sh
Labels: streams

#4563 KAFKA-6446: KafkaProducer should use timed version of `await` to avoid endless waiting
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/Sender.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionalRequestResult.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
Labels: producer

#4778 MINOR: Fix typos in docs and address some missed review comments
  docs/streams.html
  docs/upgrade.html
  streams/src/test/java/org/apache/kafka/streams/integration/FanoutIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
Labels: streams

#4780 MINOR: StreamsConfig `upgrade.from` should not be in list of deprecated configs
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams

#4736 KAFKA-6473: Add MockProcessorContext to public test-utils
  build.gradle
  docs/streams/developer-guide/dsl-api.html
  docs/streams/developer-guide/processor-api.html
  docs/streams/developer-guide/testing.html
  docs/streams/developer-guide/write-streams.html
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountProcessorDemo.java
  streams/examples/src/test/java/org/apache/kafka/streams/examples/wordcount/WordCountProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SinkNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingKeyValueBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBKeyValueStoreSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBSessionStoreSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SegmentIteratorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SegmentsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StateStoreTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StoreChangeLoggerTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/KStreamTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
Labels: streams

#4760 MINOR: Depend on streams:test-utils for streams and examples tests
  build.gradle
Labels: streams
