Repository apache/kafka, pull requests merged in 2019-12, with the labels that each got.

#7538 KAFKA-6049: Add non-windowed Cogroup operator (KIP-150)
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/AbstractStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/PassThrough.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImplTest.java
Labels: streams

#7748 KAFKA-9231: Streams Threads may die from recoverable errors with EOS enabled
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedStreamsTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateUpdateTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecoverableClientException.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AssignedStreamsTasksTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskSuite.java
  streams/src/test/java/org/apache/kafka/test/MockKeyValueStore.java
Labels: streams

#7630 KAFKA-9073: check assignment in requestFailed to avoid NPE
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/SubscriptionState.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/SubscriptionStateTest.java
Labels: streams

#7635 KAFKA-9131: Remove dead code for handling timeout exception
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams

#7777 MINOR: Convert last streams join test to TTD
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TableTableJoinIntegrationTest.java
Labels: streams, tests

#7793 MINOR: clarify node grouping of input topics using pattern subscription
  docs/streams/developer-guide/dsl-api.html
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
Labels: streams

#7803 MINOR: Fix javadoc of `flatTransform()`
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
Labels: streams

#7762 KAFKA-9230: Refactor user-customizable Streams metrics
  streams/src/main/java/org/apache/kafka/streams/StreamsMetrics.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowedKeyValueIterator.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImplTest.java
Labels: streams

#7808 MINOR: add paragraph about max parallelism
  docs/streams/architecture.html
Labels: docs, streams

#7664 KAFKA-9138: Add system test for relational joins
  bin/kafka-run-class.sh
  build.gradle
  checkstyle/suppressions.xml
  streams/src/test/java/org/apache/kafka/streams/tests/RelationalSmokeTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/RelationalSmokeTestTest.java
  tests/kafkatest/tests/streams/streams_relational_smoke_test.py
  tests/kafkatest/tests/streams/templates/log4j_template.properties
Labels: streams

#7774 KAFKA-6049: Add time window support for cogroup
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedCogroupedKStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TimeWindowedCogroupedKStreamImplTest.java
Labels: streams

#7117 KAFKA-8705: Remove parent node after leaving loop to prevent NPE
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphTest.java
Labels: streams

#7792 KAFKA-6049: Add auto-repartitioning for cogroup
  docs/streams/developer-guide/dsl-api.html
  docs/streams/upgrade-guide.html
  docs/upgrade.html
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImplTest.java
Labels: streams

#7782 KAFKA-6049: Add session window support for cogroup
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedCogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedCogroupedKStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SessionWindowedCogroupedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TimeWindowedCogroupedKStreamImplTest.java
Labels: streams

#7810 MINOR: Improve javadoc of user-customizable metrics API
  streams/src/main/java/org/apache/kafka/streams/StreamsMetrics.java
Labels: streams

#7835 HOTFIX: bump system test versions
  gradle/dependencies.gradle
  tests/docker/Dockerfile
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
  tests/kafkatest/version.py
  vagrant/base.sh
Labels: streams, tests

#7849 MINOR: Refactor versions in `FutureSubscriptionInfo`
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
Labels: streams

#7852 MINOR: Kafka Streams Scala API cleanup
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/ImplicitConversions.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/Serdes.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/StreamsBuilder.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Grouped.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KGroupedStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KGroupedTable.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KTable.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/SessionWindowedKStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/StreamJoined.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Suppressed.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/TimeWindowedKStream.scala
Labels: streams

#7845 KAFKA-9310: Handle UnknownProducerId from RecordCollector.send
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams

#7871 KAFKA-9334: Added more unit tests for Materialized class
  streams/src/test/java/org/apache/kafka/streams/kstream/MaterializedTest.java
Labels: streams
