Repository apache/kafka, pull requests merged in 2019-07, with the labels that each got.

#6280 MINOR: Adjust Streams parameter hint on TimeoutException
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
Labels: streams

#7030 KAFKA-5998: fix checkpointableOffsets handling
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateManagerUtil.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/OffsetCheckpoint.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/MockChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#6853 MINOR: Create a new topic for each test for flaky RegexSourceIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
Labels: streams, tests

#7076 HOT FIX: close RocksDB objects in correct order
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapter.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
Labels: streams

#7008 KAFKA-8602: Fix bug in stand-by task creation
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskCreationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#7021 KAFKA-8620: fix NPE due to race condition during shutdown while rebalancing
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#7050 KAFKA-8637: WriteBatch objects leak off-heap memory
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStore.java
Labels: streams

#6933 KAFKA-8450: Using KeyValueTimeStamp in MockProcessor
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatMapTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamMapTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSelectKeyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableFilterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapKeysTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableSourceTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/test/MockProcessor.java
Labels: streams

#7092 KAFKA-8602: Separate PR for 2.3 branch
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskCreationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#7067 MINOR: improve error message for incorrect window-serde initialization
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/WindowedSerdes.java
  streams/src/test/java/org/apache/kafka/streams/kstream/WindowedSerdesTest.java
Labels: streams

#7054 KAFKA-8615: Change to track partition time breaks TimestampExtractor
  streams/examples/src/main/java/org/apache/kafka/streams/examples/pageview/JsonTimestampExtractor.java
  streams/src/main/java/org/apache/kafka/streams/processor/ExtractRecordMetadataTimestamp.java
  streams/src/main/java/org/apache/kafka/streams/processor/FailOnInvalidTimestamp.java
  streams/src/main/java/org/apache/kafka/streams/processor/LogAndSkipOnInvalidTimestamp.java
  streams/src/main/java/org/apache/kafka/streams/processor/TimestampExtractor.java
  streams/src/main/java/org/apache/kafka/streams/processor/UsePreviousTimeOnInvalidTimestamp.java
  streams/src/main/java/org/apache/kafka/streams/processor/WallclockTimestampExtractor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PartitionGroup.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/test/MockTimestampExtractor.java
Labels: streams

#6844 MINOR: Remove stale streams producer retry default docs.
  docs/streams/developer-guide/config-streams.html
Labels: docs

#7099 MINOR: Update documentation for enabling optimizations
  docs/streams/upgrade-guide.html
Labels: docs, streams

#6909 KAFKA-8513: Add kafka-streams-application-reset.bat for Windows platform
  bin/windows/kafka-streams-application-reset.bat
Labels: streams

#6237 MINOR: Close ZKDatabase
  core/src/test/scala/unit/kafka/zk/EmbeddedZookeeper.scala
Labels: tests

#7118 MINOR: Fix Streams metadata upgrade system test
  bin/kafka-run-class.sh
Labels: streams, tests

#7132 KAFKA-8731: InMemorySessionStore throws NullPointerException on startup
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemorySessionStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SessionBytesStoreTest.java
Labels: streams
