Repository apache/kafka, pull requests merged in 2019-04, with the labels that each got.

#6511 KAFKA-7190: KIP-443; Remove streams overrides on repartition topics
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RepartitionTopicConfig.java
  streams/src/test/java/org/apache/kafka/streams/integration/InternalTopicIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
Labels: streams

#6531 MINOR: Tighten up metadata upgrade test
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/upgrade-system-tests-0100/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0101/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0102/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0110/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-10/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-11/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-20/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-21/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams

#6238 KAFKA-7893 Refactor ConsumerBounceTest to reuse functionality from BaseConsumerTest
  core/src/test/scala/integration/kafka/api/AdminClientIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/BaseQuotaTest.scala
  core/src/test/scala/integration/kafka/api/ConsumerBounceTest.scala
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
  core/src/test/scala/integration/kafka/api/DescribeAuthorizedOperationsTest.scala
  core/src/test/scala/integration/kafka/api/EndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/GroupAuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/api/LegacyAdminClientTest.scala
  core/src/test/scala/integration/kafka/api/LogAppendTimeTest.scala
  core/src/test/scala/integration/kafka/api/MetricsTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
  core/src/test/scala/integration/kafka/api/SaslClientsWithInvalidCredentialsTest.scala
  core/src/test/scala/integration/kafka/api/SaslPlainPlaintextConsumerTest.scala
  core/src/test/scala/integration/kafka/network/DynamicConnectionQuotaTest.scala
  core/src/test/scala/integration/kafka/server/GssapiAuthenticationTest.scala
  core/src/test/scala/integration/kafka/server/ScramServerStartupTest.scala
  core/src/test/scala/unit/kafka/admin/AddPartitionsTest.scala
  core/src/test/scala/unit/kafka/admin/DelegationTokenCommandTest.scala
  core/src/test/scala/unit/kafka/server/AbstractCreateTopicsRequestTest.scala
  core/src/test/scala/unit/kafka/server/AddPartitionsToTxnRequestTest.scala
  core/src/test/scala/unit/kafka/server/AlterReplicaLogDirsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/BaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/CreateTopicsRequestTest.scala
  core/src/test/scala/unit/kafka/server/CreateTopicsRequestWithPolicyTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsOnPlainTextTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsWithDisableTokenFeatureTest.scala
  core/src/test/scala/unit/kafka/server/DeleteTopicsRequestWithDeletionDisabledTest.scala
  core/src/test/scala/unit/kafka/server/DescribeLogDirsRequestTest.scala
  core/src/test/scala/unit/kafka/server/FetchRequestDownConversionConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaMetricReporterExceptionHandlingTest.scala
  core/src/test/scala/unit/kafka/server/LogDirFailureTest.scala
  core/src/test/scala/unit/kafka/server/LogOffsetTest.scala
  core/src/test/scala/unit/kafka/server/MetadataRequestTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  core/src/test/scala/unit/kafka/server/SaslApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/StopReplicaRequestTest.scala
Labels: tests

#6546 KAFKA-7192: Cherry-pick 5430 to 1.1
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  tests/kafkatest/services/streams.py
Labels: streams

#6552 MINOR: Correct KStream documentation
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
Labels: streams

#6521 [MINOR] Guard against crashing on invalid key range queries
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MemoryNavigableLRUCache.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
Labels: streams

#6564 KAFKA-8209: Wrong link for KStreams DSL in core concepts doc
  docs/streams/core-concepts.html
Labels: docs, streams

#6573 KAFKA-8210: Fix link for streams table duality
  docs/streams/developer-guide/dsl-api.html
Labels: docs, streams

#6572 KAFKA-8208: Change paper link directly to ASM
  docs/streams/core-concepts.html
Labels: docs, streams

#6314 KAFKA-7778: Add KTable.suppress to Scala API
  streams/src/main/java/org/apache/kafka/streams/kstream/Suppressed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/BufferConfigInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/EagerBufferConfigImpl.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KGroupedStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KTable.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/SessionWindowedKStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Suppressed.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/TimeWindowedKStream.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KTableTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/SuppressedTest.scala
Labels: streams

#6424 KAFKA-7875: Add KStream.flatTransformValues
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamFlatTransformValues.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamTransformIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
Labels: streams

#6562 MINOR: fixed missing close of Iterator, used try-with-resource where appropriate
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#6565 KAFKA-6455: KStream-KStream join should set max timestamp for result record
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
Labels: streams

#6587 MINOR: Removed unused import
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#6578 [MINOR] RocksDBConfigSetter docs: warn users to (re)set Filter
  streams/src/main/java/org/apache/kafka/streams/state/RocksDBConfigSetter.java
Labels: streams

#6575 [HOT FIX] Check for null before deserializing in MeteredSessionStore
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
Labels: streams

#6448 KAFKA-7652: Restrict range of fetch/findSessions in cache
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/SegmentedCacheFunction.java
Labels: streams

#6410 KAFKA-6958: Allow to name operation using parameter classes
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Consumed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Grouped.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Materialized.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Named.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Printed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Produced.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ConsumedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalNameProvider.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/NamedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/PrintedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ProducedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/SuppressedInternal.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/MaterializedTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/NamedTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/NamedInternalTest.java
Labels: streams

#6605 HOTFIX: remove unused import
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#6599 MINOR: Java8 cleanup
  streams/upgrade-system-tests-20/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
Labels: streams

#6598 MINOR: Java8 cleanup
  streams/upgrade-system-tests-21/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
Labels: streams

#6536 KAFKA-7895: fix Suppress changelog restore
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerRecord.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorRecordContext.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ContextualRecord.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryTimeOrderedKeyValueBuffer.java
  streams/src/test/java/org/apache/kafka/streams/KeyValueTimestamp.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionDurabilityIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedKeyValueBufferTest.java
  streams/src/test/java/org/apache/kafka/test/MockInternalProcessorContext.java
Labels: streams

#6461 [KAFKA-3729] Auto-configure non-default SerDes passed alongside the topology builder
  docs/streams/developer-guide/datatypes.html
  docs/streams/developer-guide/dsl-api.html
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SourceNode.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
Labels: streams

#6610 MINOR: Add unit test for SerDe auto-configuration
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SourceNode.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
Labels: streams

#6606 MINOR: Move log statement stating producer closed after possible exception
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
Labels: producer

#6595 [MINOR] In-memory stores cleanup
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
Labels: streams

#6618 MINOR: improve Session expiration notice
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregate.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregateTest.java
Labels: streams
