Repository apache/kafka, pull requests merged in 2019-10, with the labels that each got.

#7376 KAFKA-8927: Deprecate PartitionGrouper interface
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/DefaultPartitionGrouper.java
  streams/src/main/java/org/apache/kafka/streams/processor/PartitionGrouper.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/DefaultPartitionGrouperTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SingleGroupPartitionGrouperStub.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: streams

#7418 KAFKA-8807: Flaky GlobalStreamThread test
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalThreadShutDownOrderTest.java
Labels: streams, tests

#7417 MINOR: Shutdown RockDB metrics recording trigger thread
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
Labels: streams

#7285 KAFKA-8558: Add StreamJoined config object to join
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/StreamJoined.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/StreamJoinedInternal.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowBytesStoreSupplier.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RepartitionOptimizingIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamStreamJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/RepartitionTopicNamingTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsOptimizedTest.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/ImplicitConversions.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/StreamJoined.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/package.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/TopologyTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/StreamJoinedTest.scala
Labels: streams

#5527 [REVIEW NEEDED] - KAFKA-3705 Added a foreignKeyJoin implementation for KTable.
  build.gradle
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/common/utils/Bytes.java
  clients/src/test/java/org/apache/kafka/common/utils/BytesTest.java
  core/src/main/scala/kafka/tools/StreamsResetter.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableSourceValueGetterSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/CombinedKey.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/CombinedKeySchema.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignJoinSubscriptionProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignJoinSubscriptionSendProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionJoinForeignProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResolverJoinProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapper.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionStoreReceiveProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapper.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/BaseRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/GroupedTableOperationRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/KTableKTableForeignKeyJoinResolutionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/OptimizableRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/ProcessorGraphNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StatefulProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamSinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBPrefixIterator.java
  streams/src/test/java/org/apache/kafka/streams/integration/ForeignKeyJoinSuite.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyInnerJoinMultiIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/CombinedKeySchemaTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerdeTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerdeTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/FunctionsCompatConversions.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KTable.scala
Labels: streams

#7378 KAFKA-8233: KIP-470: TopologyTestDriver test input and output usability improvements
  build.gradle
  docs/streams/developer-guide/testing.html
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountDemo.java
  streams/examples/src/test/java/org/apache/kafka/streams/examples/docs/DeveloperGuideTesting.java
  streams/examples/src/test/java/org/apache/kafka/streams/examples/wordcount/WordCountDemoTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamTransformIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/GlobalKTableJoinsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamBranchTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFilterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatMapTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamForeachTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamMapTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamPeekTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSelectKeyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableFilterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapKeysTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableSourceTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SuppressScenarioTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingWindowStoreTest.java
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KStreamTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KTableTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/utils/TestDriver.scala
  streams/test-utils/src/main/java/org/apache/kafka/streams/TestInputTopic.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TestOutputTopic.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/test/ConsumerRecordFactory.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/test/OutputVerifier.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/test/TestRecord.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TestTopicsTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/ConsumerRecordFactoryTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/OutputVerifierTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/TestRecordTest.java
Labels: streams

#7386 KAFKA-8179: Part 7, cooperative rebalancing in Streams
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/SubscriptionState.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedStreamsTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/ClientState.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/StickyTaskAssignor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/ClientStateTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/StickyTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_eos_test.py
Labels: streams

#7105 KAFKA-7245 (Deprecate WindowStore#put(key, value)) :- The method in t…
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/state/WindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedWindowStoreBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WindowToTimestampedWindowByteStoreAdapter.java
  streams/src/test/java/org/apache/kafka/streams/perf/SimpleBenchmark.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingTimestampedWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/WindowBytesStoreTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/internals/WindowStoreFacade.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/internals/WindowStoreFacadeTest.java
Labels: streams

#7461 MINOR: Modified Exception handling for KIP-470
  streams/test-utils/src/main/java/org/apache/kafka/streams/TestOutputTopic.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TestTopicsTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#7429 KAFKA-8964: Rename tag client-id for thread-level metrics and below
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/metrics/Sensors.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemorySessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/Sensors.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImplTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SessionBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/WindowBytesStoreTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#7393 KAFKA-8944: Fixed KTable compiler warning.
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KTable.scala
Labels: streams

#7470 KAFKA-8122: Fix Kafka Streams EOS integration test
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/test/StreamsTestUtils.java
Labels: streams, tests

#7510 MINOR: Clarify wording around fault-tolerant state stores
  docs/streams/developer-guide/processor-api.html
Labels: docs, streams

#7424 MINOR: Port changes from trunk for test stability to 2.3 branch
  streams/src/test/java/org/apache/kafka/streams/integration/StoreUpgradeIntegrationTest.java
Labels: streams, tests

#7463 MINOR: unify calls to get committed offsets and metadata
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedStreamsTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AssignedStreamsTasksTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#7462 MINOR: code and JavaDoc cleanup
  streams/test-utils/src/main/java/org/apache/kafka/streams/TestInputTopic.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TestOutputTopic.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/test/TestRecord.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TestTopicsTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/TestRecordTest.java
Labels: streams

#7488 Provide better messages when waiting for a condition in test
  build.gradle
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
  clients/src/test/java/org/apache/kafka/test/ValuelessCallable.java
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: tests

#7518 KAFKA-9032: Bypass serdes for tombstones
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerde.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerdeTest.java
Labels: streams

#7515 MINOR: Update Kafka Streams upgrade docs for KIP-444, KIP-470, KIP-471, KIP-474, KIP-528
  docs/streams/upgrade-guide.html
Labels: docs, streams

#7536 MINOR: Improve FK Join docs and optimize null-fk case
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignJoinSubscriptionSendProcessorSupplier.java
Labels: streams

#7537 KAFKA-9053: AssignmentInfo#encode hardcodes the LATEST_SUPPORTED_VERSION
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfo.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfo.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfoTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfoTest.java
Labels: streams

#7529 KAFKA-8496: System test for KIP-429 upgrades and compatibility
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-0100/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-0101/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-0102/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-0110/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-10/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-11/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-20/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-21/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-22/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-23/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_cooperative_rebalance_upgrade_test.py
  tests/kafkatest/version.py
Labels: streams

#7517 KAFKA-9000: fix flaky FK join test by using TTD
  checkstyle/suppressions.xml
  streams/src/test/java/org/apache/kafka/streams/integration/ForeignKeyJoinSuite.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResolverJoinProcessorSupplierTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
Labels: streams, tests

#7534 MINOR: log reason for fatal error in locking state dir
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
Labels: streams

#7500 Add ability to wait for all instances in an application to be RUNNING
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/CompositeStateListener.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams, tests

#7541 KAFKA-9058: Lift queriable and materialized restrictions on FK Join
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/test/java/org/apache/kafka/streams/integration/ForeignKeyJoinSuite.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinMaterializationIntegrationTest.java
Labels: streams

#7546 MINOR: Fix JavaDoc warning
  streams/src/main/java/org/apache/kafka/streams/kstream/StreamJoined.java
Labels: streams

#7553 MINOR: fix typo in TestInputTopic.getTimestampAndAdvance
  streams/test-utils/src/main/java/org/apache/kafka/streams/TestInputTopic.java
Labels: streams

#7485 KAFKA-8455: Add VoidSerde to Serdes
  clients/src/main/java/org/apache/kafka/common/serialization/Serdes.java
  clients/src/main/java/org/apache/kafka/common/serialization/VoidDeserializer.java
  clients/src/main/java/org/apache/kafka/common/serialization/VoidSerializer.java
  clients/src/test/java/org/apache/kafka/common/serialization/SerializationTest.java
Labels: streams

#7474 KAFKA-8964: Refactor thread-level metrics depending on built-in metrics version
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinProcessor.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamReduce.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableRightJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableSource.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignJoinSubscriptionProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignJoinSubscriptionSendProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionStoreReceiveProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetrics.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/NamedCacheMetrics.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableRightJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableSourceTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SinkNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SessionBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StoreChangeLoggerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/WindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/NamedCacheMetricsTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
Labels: streams

#7552 MINOR: system test clean up
  streams/upgrade-system-tests-0100/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-0101/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-0102/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-0110/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-10/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-11/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-20/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-21/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-22/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  streams/upgrade-system-tests-23/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  tests/kafkatest/services/streams.py
Labels: streams

#7557 MINOR: don't require key serde in join materialized
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
Labels: streams

#7547 MINOR: KIP-307 upgrade guide docs
  docs/streams/upgrade-guide.html
Labels: docs, streams

#7550 MINOR:Upgrade guide updates for KIP-479
  docs/streams/upgrade-guide.html
Labels: docs, streams

#7573 MINOR: Reset timer when all the buffer is drained and empty
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#7548 KAFKA-8700: Flaky Test QueryableStateIntegrationTest#queryOnRebalance
  clients/src/test/java/org/apache/kafka/test/NoRetryException.java
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams, tests

#7571 MINOR: Streams upgrade system test cleanup
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0100/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0101/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0102/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-0110/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-10/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-11/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-20/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-21/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-22/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-23/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tests

#7535 MINOR: Add documentation for foreign-key joins (KIP-213)
  docs/streams/developer-guide/dsl-api.html
  docs/streams/upgrade-guide.html
Labels: docs, streams

#7589 KAFKA-8972: need to flush state even on unclean close
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
Labels: streams

#7566 KAFKA-8968: Refactor task-level metrics
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinProcessor.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamReduce.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableRightJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableSource.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignJoinSubscriptionProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignJoinSubscriptionSendProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionStoreReceiveProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/metrics/Sensors.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateUpdateTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/TaskMetrics.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetrics.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/metrics/TaskMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SinkNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SessionBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StoreChangeLoggerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/WindowBytesStoreTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
Labels: streams

#7597 MINOR: improve logging of tasks on shutdown
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedStandbyTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedStreamsTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AssignedStreamsTasksTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#7441 KAFKA-8972 (2.4 blocker): correctly release lost partitions during consumer.unsubscribe()
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsRebalanceListener.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_broker_bounce_test.py
Labels: consumer

#7610 KAFKA-9077: Fix reading of metrics of Streams' SimpleBenchmark
  tests/kafkatest/services/performance/streams_performance.py
Labels: streams, tests
