Repository apache/kafka, pull requests merged in 2019-09, with the labels that each got.

#7232 MINOR: Use new `Admin` interface instead of `KafkaAdminClient` class
  core/src/main/scala/kafka/tools/StreamsResetter.java
Labels: streams

#7104 KAFKA-7849: Fix the warning when using GlobalKTable
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
Labels: streams

#7282 Minor return value
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBWindowStore.java
Labels: streams

#7281 KAFKA-8861 Fix flaky RegexSourceIntegrationTest.testMultipleConsumers…
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
Labels: streams, tests

#7302 KAFKA-8878: Fix flaky test AssignedStreamsTasksTest#shouldCloseCleanl…
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedTasks.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AssignedStreamsTasksTest.java
Labels: streams, tests

#7279 KAFKA-8856: Add Streams config for backward-compatible metrics
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams

#7329 HOTFIX: fix compile error in 2.0 branch
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams

#7328 HOTFIX: fix compile error in 2.1 branch
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams

#7238 KAFKA-8755: Fix state restore for standby tasks with optimized topology
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AssignedStandbyTasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
Labels: streams

#7323 KAFKA-8859: Expose built-in streams metrics version in `StreamsMetricsImpl`
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/MockStreamsMetrics.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImplTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/GlobalStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
Labels: streams

#7331 MINOR: Default to 5 partitions of the __consumer_offsets topic in Streams integration tests
  streams/src/test/java/org/apache/kafka/streams/integration/utils/EmbeddedKafkaCluster.java
Labels: streams, tests

#7345 MINOR: remove unused import
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
Labels: streams

#7346 KAFKA-8913: Document topic based configs & ISR settings for Streams apps
  docs/streams/developer-guide/config-streams.html
Labels: docs, streams

#7274 MINOR: replace `late` with `out-of-order` in JavaDocs and docs
  docs/streams/core-concepts.html
  docs/streams/developer-guide/dsl-api.html
  streams/src/main/java/org/apache/kafka/streams/kstream/JoinWindows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Suppressed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Windows.java
  streams/src/main/java/org/apache/kafka/streams/processor/UsePreviousTimeOnInvalidTimestamp.java
Labels: docs, streams

#6413 KAFKA-6958: Overload methods for group and windowed stream to allow to name operation name using the new Named class
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/GroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImplTest.java
Labels: streams

#7364 HOTFIX: fix Kafka Streams upgrade note for broker backward compatibility
  docs/streams/upgrade-guide.html
  docs/upgrade.html
Labels: docs, streams

#7363 HOTFIX: fix Kafka Streams upgrade note for broker backward compatibility
  docs/streams/upgrade-guide.html
  docs/upgrade.html
Labels: docs, streams

#7304 KAFKA-8880: Add overloaded function of Consumer.committed
  clients/src/main/java/org/apache/kafka/clients/consumer/Consumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/MockConsumerTest.java
  core/src/test/scala/integration/kafka/api/ConsumerBounceTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
  core/src/test/scala/unit/kafka/admin/ConsumerGroupCommandTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  tools/src/main/java/org/apache/kafka/tools/TransactionalMessageCopier.java
Labels: consumer

#7263 KAFKA-8580: Compute RocksDB metrics
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyValueSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetrics.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorder.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecordingTrigger.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SegmentIteratorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecordingTriggerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#7382 KAFKA-8319: Make KafkaStreamsTest a non-integration test class
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/test/MockClientSupplier.java
Labels: streams

#7397 KAFKA-8934: Create version file during build for Streams
  build.gradle
Labels: streams

#7373 KAFKA-7895: Revert suppress changelog bugfix for 2.1
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryTimeOrderedKeyValueBuffer.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionDurabilityIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedKeyValueBufferTest.java
Labels: streams

#7352 KAFKA-8911: Using proper WindowSerdes constructors in their implicit definitions
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/Serdes.scala
Labels: streams

#7419 MINOR: Adjust logic of conditions to set number of partitions in step zero of assignment.
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
Labels: streams
