Repository apache/kafka, pull requests merged in 2020-03, with the labels that each got.

#8087 KAFKA-9525: add enforceRebalance method to Consumer API
  clients/src/main/java/org/apache/kafka/clients/consumer/Consumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MockRebalanceListener.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: consumer, streams

#8203 MINOR: Port streams broker compatibility fix
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
Labels: streams

#8214 MINOR: Add an extra check in StreamThreadTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, tests

#8213 KAFKA-9615: Clean up task/producer create and close
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollector.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#8121 KAFKA-6145: Pt 1. Bump protocol version and encode task lag map
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfo.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/StreamsAssignmentProtocolVersions.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfo.java
  streams/src/main/resources/common/message/SubscriptionInfo.json
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfoTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/LegacySubscriptionInfoSerde.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfoTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams

#8233 KAFKA-9668: Iterating over KafkaStreams.getAllMetadata() results in ConcurrentModificationException
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
  streams/src/main/java/org/apache/kafka/streams/state/StreamsMetadata.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsMetadataStateTest.java
  streams/src/test/java/org/apache/kafka/streams/state/StreamsMetadataTest.java
Labels: streams

#8156 MINOR: fix ClassCastException handling
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SinkNode.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SinkNodeTest.java
Labels: streams

#8228 KAFKA-9663: Doc some null returns in KafkaStreams
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
Labels: streams

#8220 KAFKA-9645: Fallback to unsubscribe during Task Migrated
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: consumer

#8250 MINOR: Reset `streamTime` in clear()
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PartitionGroup.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
Labels: streams

#8245 MINOR: break up StreamsPartitionAssignor's gargantuan #assign
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
Labels: streams

#8235 KAFKA-9176: Do not update limit offset if we are in RESTORE_ACTIVE mode
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
Labels: streams

#8258 HOTFIX: Task#dirtyClose should not throw
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#8251 MINOR: Code cleanup to improve generic typing
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateUpdateTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PartitionGroup.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNodePunctuator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorTopology.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateManagerUtil.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTestDriverWrapper.java
  streams/src/test/java/org/apache/kafka/streams/integration/EOSUncleanShutdownIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyFactories.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
Labels: streams

#8215 KAFKA-9451: Update MockConsumer to support ConsumerGroupMetadata
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerGroupMetadata.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/MockConsumerTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
Labels: streams

#8271 MINOR: Update Streams IQ JavaDocs to not point to a deprecated method
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedKStream.java
  streams/src/main/java/org/apache/kafka/streams/state/QueryableStoreTypes.java
Labels: streams

#8256 KAFKA-9675: Fix bug that prevents RocksDB metrics to be updated
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
Labels: streams

#8246 KAFKA-6145: Pt 2. Include offset sums in subscription
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfo.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfoTest.java
Labels: streams

#8296 MINOR: reuse pseudo-topic in FKJoin
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResolverJoinProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinPseudoTopicTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResolverJoinProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/utils/UniqueTopicSerdeScope.java
Labels: streams

#8298 KAFKA-9533: Fix JavaDocs of KStream.transformValues
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
Labels: streams

#8267 KAFKA-6647: Do note delete the lock file while holding the lock
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateDirectoryTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#8305 HOTFIX: StateDirectoryTest should use Set instead of List
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateDirectoryTest.java
Labels: streams, tests

#8314 MINOR: Fix javadoc warning in StreamsMetric
  streams/src/main/java/org/apache/kafka/streams/StreamsMetrics.java
Labels: streams

#8218 KAFKA-9441: Unify committing within TaskManager
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollector.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/test/MockRecordCollector.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/internals/TestDriverProducer.java
Labels: streams

#8273 MINOR: Fix generic types in StreamsBuilder and Topology
  streams/examples/src/test/java/org/apache/kafka/streams/examples/docs/DeveloperGuideTesting.java
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/GroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/BaseRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/GlobalStoreNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/GroupedTableOperationRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/KTableKTableJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/OptimizableRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/ProcessorGraphNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StateStoreNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StatefulProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalThreadShutDownOrderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/GraphGraceSearchUtilTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueLoggedStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryLRUCacheStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryTimeOrderedKeyValueBufferTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBKeyValueStoreTest.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/StreamsBuilder.scala
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#8284 KAFKA-9225: Bump rocksdb 5.18.3 to 5.18.4
  gradle/dependencies.gradle
Labels: streams

#8319 KAFKA-9734: Fix IllegalState in Streams transit to standby
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/MockChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#8262 KAFKA-6145: Add constrained balanced assignment algorithm
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/DefaultStateConstrainedBalancedAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/StateConstrainedBalancedAssignor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/DefaultStateConstrainedBalancedAssignorTest.java
Labels: streams

#8325 KAFKA-9741: Update ConsumerGroupMetadata before calling onPartitionsRevoked()
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
Labels: consumer

#7341 KAFKA-8842: Reading/Writing confused in Connect QuickStart Guide
  docs/quickstart.html
Labels: connect

#7991 MINOR Update config validate help message to point to the correct config validation endpoint
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
Labels: connect

#8205 KAFKA-9634: Add note about thread safety of ConfigProvider
  clients/src/main/java/org/apache/kafka/common/config/provider/ConfigProvider.java
Labels: connect

#8318 KAFKA-9451: Enable producer per thread for Streams EOS
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/internals/TestDriverProducer.java
Labels: streams

#8124 [KAFKA-9563] Fix Kafka connect consumer and producer override docs
  docs/connect.html
Labels: connect

#8330 KAFKA-9742: Fix broken StandbyTaskEOSIntegrationTest
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/ClientState.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/ClientStateTest.java
Labels: streams

#7939 KAFKA-9407: Return Immutable List from SchemaSourceTask
  connect/runtime/src/main/java/org/apache/kafka/connect/tools/SchemaSourceTask.java
Labels: connect

#8322 MINOR: Restore and global consumers should never have group.instance.id
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams

#8328 MINOR: move some client methods to new ClientUtils
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ClientUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ClientUtilsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#8263 Minor: remove useless log messages from connector configs validation
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Herder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResource.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
Labels: connect

#8341 HOTFIX: replace log message in version probing test
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tests

#8343 KAFKA-9758: Doc changes for KIP-523 and KIP-527
  docs/streams/developer-guide/datatypes.html
  docs/streams/developer-guide/dsl-api.html
  docs/streams/upgrade-guide.html
Labels: docs, streams

#8268 DOCS-3625: Add section to config topic: parameters controlled by Kafka Streams
  docs/streams/architecture.html
  docs/streams/developer-guide/config-streams.html
Labels: docs, streams

#8350 KAFKA-9760: Add KIP-447 protocol change to upgrade notes
  docs/upgrade.html
Labels: core, docs

#8280 KAFKA-9707: Fix InsertField.Key should apply to keys of tombstone records
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/InsertField.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/InsertFieldTest.java
Labels: connect

#8366 MINOR: optimize integration test shutdown
  streams/src/test/java/org/apache/kafka/streams/integration/utils/EmbeddedKafkaCluster.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/KafkaEmbedded.java
Labels: streams

#8368 KAFKA-9770: Close underlying state store also when flush throws
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ExceptionUtils.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
Labels: streams

#3029 MINOR: Fix code example reference to SchemaBuilder call in Connect's documentation
  docs/connect.html
Labels: connect

#3982 MINOR: Fix error message in exception when records have schemas in Connect's Flatten transformation
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/Flatten.java
Labels: connect

#8381 MINOR: Exclude '**/*Suite.class' from test, unitTest and integrationTest
  build.gradle
Labels: streams, tests

#8388 KAFKA-9759: Add doc change for KIP-562
  docs/streams/upgrade-guide.html
  docs/upgrade.html
Labels: docs, streams

#8279 KAFKA-9706: Handle null keys/values in Flatten transformation
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/Flatten.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/FlattenTest.java
Labels: connect

#8367 KAFKA-9719: Streams with EOS-beta should fail fast for older brokers
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/BrokerCompatibilityTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
Labels: streams

#8370 KAFKA-9753: Add active tasks process ratio
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/TaskMetrics.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetrics.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/metrics/TaskMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetricsTest.java
Labels: streams
