Repository apache/kafka, pull requests merged in 2020-12, with the labels that each got.

#9607 [KAFKA-10722] doc: Described the types of the stores used
  docs/streams/developer-guide/dsl-api.html
Labels: docs, streams

#9683 MINOR: Fix KTable-KTable foreign-key join example
  docs/streams/developer-guide/dsl-api.html
Labels: docs, streams

#9614 KAFKA-10500: Add failed-stream-threads metric for adding + removing stream threads
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/internals/metrics/ClientMetrics.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/internals/metrics/ClientMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImplTest.java
Labels: streams

#9660 Kafka 10629 - TopologyTestDriver should not require a Properties argument
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TestTopicsTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#9615 KAFKA-10500: Add thread option
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ThreadCache.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/AdjustStreamThreadCountTest.java
Labels: streams

#9688 KAFKA-10017: fix flaky EOS-beta upgrade test
  streams/src/test/java/org/apache/kafka/streams/integration/EosBetaUpgradeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams, tests

#9697 KAFKA-10810: Replace stream threads
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/errors/StreamsUncaughtExceptionHandler.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamsUncaughtExceptionHandlerIntegrationTest.java
Labels: streams

#9730 MINOR: fix error message
  streams/src/test/java/org/apache/kafka/streams/integration/EosBetaUpgradeIntegrationTest.java
Labels: streams

#9773 MINOR: Kafka Streams updates for 2.7.0 release
  build.gradle
  settings.gradle
  streams/upgrade-system-tests-27/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  streams/upgrade-system-tests-27/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/upgrade-system-tests-27/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/upgrade-system-tests-27/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-27/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams

#9706 KAFKA-10815 EosTestDriver#verifyAllTransactionFinished should break loop if all partitions are verified
  streams/src/test/java/org/apache/kafka/streams/tests/EosTestDriver.java
Labels: streams, tests

#9668 MINOR: add test for repartition/source-topic/changelog optimization
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
Labels: streams, tests
