Repository apache/kafka, pull requests merged in 2020-09, with the labels that each got.

#9240 KAFKA-10456: Wrong description in kafka-console-producer.sh help
  core/src/main/scala/kafka/tools/ConsoleProducer.scala
Labels: tools

#9234 MINOR: Record all poll invocations
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
Labels: streams

#9221 KAFKA-10436: Implement KIP-478 Topology changes
  streams/examples/src/test/java/org/apache/kafka/streams/examples/docs/DeveloperGuideTesting.java
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/TopologyDescription.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/BaseJoinProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/BaseRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/GraphGraceSearchUtil.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/GroupedTableOperationRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/KTableKTableJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/OptimizableRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/ProcessorGraphNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/ProcessorParameters.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StatefulProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamStreamJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamTableJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamToTableNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/UnoptimizableRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/ConnectedStoreProvider.java
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/ProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorAdapter.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextAdapter.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableFilterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableSourceTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/HighAvailabilityStreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#9157 Update for KIP-450 to handle early records
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamSlidingWindowAggregate.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSlidingWindowAggregateTest.java
Labels: streams

#9267 MINOR: Add debug logs for StreamThread
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#9208 Minor init singleton list
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/FilteredCacheIteratorTest.java
Labels: streams

#9209 Minor enhance copy array
  streams/src/main/java/org/apache/kafka/streams/state/internals/ValueAndTimestampSerializer.java
Labels: streams

#9207 Minor remove semicolon
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
Labels: streams

#9261 MINOR: Update source link in interactive query page
  docs/streams/developer-guide/interactive-queries.html
Labels: streams

#8892 KAFKA-10068: verify assignment performance with large cluster
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/ClientState.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsAssignmentScaleTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentTestUtils.java
  streams/src/test/java/org/apache/kafka/test/MockInternalTopicManager.java
Labels: streams

#9312 KAFKA-10505: Fix parsing of generation log string.
  tests/kafkatest/tests/streams/streams_static_membership_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
  tests/kafkatest/tests/streams/utils/__init__.py
  tests/kafkatest/tests/streams/utils/util.py
Labels: streams, tests

#9316 MINOR: clarify variables for skipping idempotent source updates
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ValueAndTimestampSerializer.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ValueAndTimestampSerializerTest.java
Labels: streams

#9156 KAFKA-10077: Filter downstream of state-store results in spurious tombstones
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableFilter.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableAbstractJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableJoinMerger.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableMapValues.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableReduce.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableRepartitionMap.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableTransformValues.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableFilterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableSourceTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KTableTest.scala
Labels: streams

#9304 KAFKA-10502:TimestampRouter may occur threadlocal leak
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/TimestampRouter.java
Labels: connect

#8181 KAFKA-9584 Headers ConcurrentModificationException
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#8973 KAFKA-10218: Stop reading config topic in every subsequent tick if catchup fails once
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
Labels: connect

#9255 KAFKA-6585: Consolidate duplicated logic on reset tools
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  clients/src/test/java/org/apache/kafka/common/utils/UtilsTest.java
  core/src/main/scala/kafka/admin/ConsumerGroupCommand.scala
  core/src/main/scala/kafka/tools/StreamsResetter.java
  core/src/test/scala/unit/kafka/admin/ResetConsumerGroupOffsetTest.scala
  streams/src/test/java/org/apache/kafka/streams/tools/StreamsResetterTest.java
Labels: tools

#9121 KAFKA-10351: add tests for IOExceptions for GlobalStateManagerImpl/OffsetCheckpoint
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImplTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/OffsetCheckpointTest.java
Labels: streams, tests

#9186 KAFKA-10277: Allow null keys with non-null mappedKey in KStreamKGlobalTable join
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinProcessor.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableLeftJoinTest.java
Labels: streams

#9064 KAFKA-10205: Documentation and handling of non deterministic Topologies
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#9333 KAFKA-9274: Revert deprecation of `retries` for producer and admin clients
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
  clients/src/main/java/org/apache/kafka/clients/admin/AdminClientConfig.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaStatusBackingStore.java
  core/src/main/scala/kafka/tools/ConsoleProducer.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/unit/kafka/admin/ConsumerGroupCommandTest.scala
  core/src/test/scala/unit/kafka/server/LogDirFailureTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  docs/streams/upgrade-guide.html
  docs/upgrade.html
  log4j-appender/src/main/java/org/apache/kafka/log4jappender/KafkaLog4jAppender.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsBrokerDownResilienceTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsOptimizedTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsStandByReplicaTest.java
  tools/src/main/java/org/apache/kafka/tools/VerifiableProducer.java
Labels: admin, kip, producer
