Repository apache/kafka, pull requests merged in 2020-07, with the labels that each got.

#7496 KAFKA-9018: Throw clearer exceptions on serialisation errors
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
Labels: connect

#8712 KAFKA-10006: Don't create internal topics when LeaderNotAvailableException
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
  streams/src/test/java/org/apache/kafka/test/MockInternalTopicManager.java
Labels: streams

#8971 MINOR: prune the metadata upgrade test matrix
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tests

#8989 KAFKA-10239: Make GroupInstanceId ignorable in DescribeGroups
  clients/src/main/java/org/apache/kafka/common/requests/DescribeGroupsResponse.java
  clients/src/main/resources/common/message/DescribeGroupsResponse.json
  clients/src/test/java/org/apache/kafka/common/message/MessageTest.java
Labels: core

#8980 KAFKA-10222:Incorrect methods show up in 0.10 Kafka Streams docs
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: docs, streams

#8987 KAFKA-10221: Backport fix for KAFKA-9603 to 2.5
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStoreTest.java
Labels: streams

#8934 KAFKA-10134: Use long poll if we do not have fetchable partitions
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
Labels: consumer

#8974 KAFKA-10225 Increase default zk session timeout for system tests
  tests/kafkatest/services/kafka/config.py
  tests/kafkatest/services/kafka/config_property.py
  tests/kafkatest/services/kafka/kafka.py
Labels: core, tests

#8902 KAFKA-10179: Pass correct changelog topic to state serdes
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorTopology.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateManager.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/TableSourceNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateManagerStub.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/GlobalStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/test/GlobalStateManagerStub.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/MockInternalProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/NoOpProcessorContext.java
Labels: streams

#8995 Restore stream-table duality description
  docs/streams/core-concepts.html
Labels: docs, streams

#8996 KAFKA-10249: don't try to read un-checkpointed offsets of in-memory stores
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateManagerUtil.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateManagerUtilTest.java
Labels: streams

#9010 KAFKA-10262: Ensure that creating task directory is thread safe
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateDirectoryTest.java
Labels: streams

#8994 KAFKA-10247: Correctly reset state when task is corrupted
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#8916 MINOR; Provide lowest and highest supported versions alongside with the schema in the auto-generated protocol
  generator/src/main/java/org/apache/kafka/message/SchemaGenerator.java
Labels: tools

#9009 KAFKA-6453: Document how timestamps are computed for aggregations and joins
  docs/streams/core-concepts.html
Labels: docs, streams

#9003 KAFKA-10240: Suppress WakeupExceptions during sink task shutdown
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
Labels: connect

#8928 KAFKA-10192: Wait for REST API to become available before testing blocked connectors in integration tests
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/BlockingConnectorTest.java
Labels: connect

#9015 MINOR: Remove call to Exit.exit() to prevent infinite recursion
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
Labels: connect

#9040 KAFKA-10286: Connect system tests should wait for workers to join group
  tests/kafkatest/services/connect.py
Labels: connect

#8864 KAFKA-9274: Mark `retries` config as deprecated and add new `task.timeout.ms` config
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
  clients/src/main/java/org/apache/kafka/clients/admin/AdminClientConfig.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/RoundRobinAssignorTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaStatusBackingStore.java
  core/src/main/scala/kafka/tools/ConsoleProducer.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/unit/kafka/admin/ConsumerGroupCommandTest.scala
  core/src/test/scala/unit/kafka/server/LogDirFailureTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  docs/streams/upgrade-guide.html
  docs/upgrade.html
  log4j-appender/src/main/java/org/apache/kafka/log4jappender/KafkaLog4jAppender.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/InternalTopicIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyInnerJoinMultiIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsBrokerDownResilienceTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsOptimizedTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsStandByReplicaTest.java
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/WordCountTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/utils/StreamToTableJoinScalaIntegrationTestBase.scala
  tools/src/main/java/org/apache/kafka/tools/VerifiableProducer.java
Labels: kip, producer, streams

#9053 MINOR: Revert KAFKA-10191 fix flaky StreamsOptimizedTest (#8913)
  core/src/main/scala/kafka/tools/StreamsResetter.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsOptimizedTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_optimized_test.py
Labels: streams

#9073 MINOR: add task ':streams:testAll'
  README.md
  build.gradle
Labels: streams

#9061 MINOR: removed incorrect deprecation annotations
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemorySessionStore.java
Labels: streams

#9075 KAFKA-10306: GlobalThread should fail on InvalidOffsetException
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateMaintainer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateUpdateTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateConsumerTest.java
  streams/src/test/java/org/apache/kafka/test/GlobalStateManagerStub.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#9086 FIX: Remove staticmethod tag to be able to use logger of instance
  tests/kafkatest/tests/streams/base_streams_test.py
Labels: streams, tests

#9066 KAFKA-10287: Skip unknown offsets when computing sum of changelog offsets
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/OffsetCheckpoint.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/OffsetCheckpointTest.java
Labels: streams

#9106 KAFKA-10146, KAFKA-9066: Retain metrics for failed tasks (backport to 2.4)
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
Labels: connect
