Repository apache/kafka, pull requests merged in 2020-06, with the labels that each got.

#8762 MINOR: Remove no longer used ReflectionsUtil class
  connect/runtime/src/main/java/org/apache/kafka/connect/util/ReflectionsUtil.java
Labels: connect

#8706 KAFKA-10030 allow fetching a key from a single partition
  streams/src/main/java/org/apache/kafka/streams/state/internals/QueryableStoreProvider.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProvider.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/QueryableStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/test/StateStoreProviderStub.java
Labels: streams

#8785 KAFKA-10084: Fix EosTestDriver end offset
  streams/src/test/java/org/apache/kafka/streams/tests/EosTestDriver.java
Labels: streams

#8771 MINOR: Add explanation for disabling forwarding from value transformers
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ForwardingDisabledProcessorContext.java
Labels: streams

#8759 KAFKA-10066: TestOutputTopic should pass record headers into deserializers
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#8789 MINOR: Fix the javadoc broken links of streams
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedKStream.java
Labels: docs, streams

#8776 KAFKA-9441: Improve Kafka Streams task management
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#8809 MINOR: Fix javadoc warnings
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedKStream.java
Labels: streams

#8810 MINOR: Change the order that Connect calls `config()` and `validate()`
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
Labels: connect

#8811 KAFKA-10110: Corrected potential NPE when null label value added to KafkaMetricsContext
  clients/src/main/java/org/apache/kafka/common/metrics/KafkaMetricsContext.java
  clients/src/test/java/org/apache/kafka/common/metrics/KafkaMetricsContextTest.java
Labels: core

#8814 KAFKA-10111: Make SinkTaskContext.errantRecordReporter() a default method
  connect/api/src/main/java/org/apache/kafka/connect/sink/SinkTaskContext.java
Labels: connect

#8135 KAFKA-9570: Define SSL configs in all worker config classes, not just distributed
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneConfigTest.java
Labels: connect

#8817 HOT_FIX: Update javadoc since imports added
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedKStream.java
Labels: streams

#8804 KAFKA-9851: Revoking Connect tasks due to connectivity issues should also clear the running assignment
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectClusterAssertions.java
Labels: connect

#8819 MINOR: improve code encapsulation between StreamThread and TaskManager
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#8820 KAFKA-10097: Internalize checkpoint data
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#8270 KAFKA-9216: Enforce internal config topic settings for Connect workers during startup
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/KafkaBasedLog.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
Labels: connect

#8823 MINOR: fix HTML markup
  docs/streams/developer-guide/dsl-api.html
Labels: docs, streams

#8803 KAFKA-10102: update ProcessorTopology instead of rebuilding it
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorTopology.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SourceNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SourceNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/test/MockSourceNode.java
Labels: streams

#8805 KAFKA-9848: Avoid triggering scheduled rebalance delay when task assignment fails but Connect workers remain in the group
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignor.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinator.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectIntegrationTestUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExampleConnectIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RebalanceSourceConnectorsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignorTest.java
Labels: connect

#8827 KAFKA-9849: Fix issue with worker.unsync.backoff.ms creating zombie workers when incremental cooperative rebalancing is used
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/ExtendedAssignment.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinator.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMember.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectIntegrationTestUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
Labels: connect

#7384 KAFKA-8938: Improve allocations during Struct validation in ConnectSchema
  connect/api/src/main/java/org/apache/kafka/connect/data/ConnectSchema.java
Labels: connect, performance

#8825 KAFKA-7833: Add StateStore name conflict check in InternalTopologyBuilder
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
Labels: streams

#8833 KAFKA-9441: remove prepareClose() to simplify task management
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PartitionGroup.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetPartitionTimeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#8663 KAFKA-9985: Sink connector may exhaust broker when writing in DLQ
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SinkConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
Labels: connect

#8453 KAFKA-9841: Revoke duplicate connectors and tasks when zombie workers return with an outdated assignment
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignor.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignorTest.java
Labels: connect

#8502 KAFKA-9066: Retain metrics for failed tasks
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerWithTopicCreationTest.java
Labels: connect

#8847 KAFKA-7833: Add missing test
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
Labels: streams, tests

#8455 KAFKA-9845: Warn users about using config providers with plugin.path property
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
Labels: connect

#8828 KAFKA-9216: Enforce that Connect’s internal topics use `compact` cleanup policy
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Connect.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Herder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaStatusBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/TopicAdmin.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/InternalTopicsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TopicAdminTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/WorkerHandle.java
Labels: connect

#8829 KAFKA-10115: Incorporate errors.tolerance with the Errant Record Reporter
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperator.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/WorkerErrantRecordReporter.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ErrorHandlingIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExampleConnectIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperatorTest.java
Labels: connect

#8835 MINOR: reduce sizeInBytes for percentiles metrics
  clients/src/test/java/org/apache/kafka/common/metrics/MetricsTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#8069 KAFKA-9374: Make connector interactions asynchronous
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/CloseableConnectorContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Herder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/HerderConnectorContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConnector.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/ConnectUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/BlockingConnectorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerConnectorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerWithTopicCreationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
Labels: connect

#8818 KAFKA-10086: Integration test for ensuring warmups are effective
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/ClientState.java
  streams/src/test/java/org/apache/kafka/streams/integration/HighAvailabilityTaskAssignorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TaskAssignorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: streams

#8764 KAFKA-10049: Fixed FKJ bug where wrapped serdes are set incorrectly when using default StreamsConfig serdes
  checkstyle/import-control.xml
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ChangedDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ChangedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WrappingNullableDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WrappingNullableSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SourceNode.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableForeignKeyJoinScenarioTest.java
Labels: streams

#8849 KAFKA-10144: clean up corrupted standby tasks before attempting a commit
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#8874 HOTFIX: checkstyle error in ProcessorStateManager
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
Labels: streams

#8646 KAFKA-9974: Fix flaky test by removing unneeded asserts
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
Labels: streams, tests

#8856 KAFKA-10150: task state transitions/management and committing cleanup
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#8859 MINOR: Upgrade jetty to 9.4.27.v20200227 and jersey to 2.31
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/util/SSLUtils.java
  gradle/dependencies.gradle
Labels: connect

#8861 MINOR: clean up unused checkstyle suppressions for Streams
  checkstyle/suppressions.xml
Labels: streams

#8883 KAFKA-9896: fix flaky StandbyTaskEOSIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
Labels: streams, tests

#8876 KAFKA-10167: use the admin client to read end-offset
  clients/src/main/java/org/apache/kafka/clients/admin/ListOffsetsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/OffsetSpec.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ChangelogRegister.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/test/MockClientSupplier.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#8896 KAFKA-10185: Restoration info logging
  streams/src/main/java/org/apache/kafka/streams/errors/TaskCorruptedException.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
Labels: streams

#8886 KAFKA-9891: fix corrupted StandbyTask state
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
Labels: streams

#8871 MINOR: code cleanup for inconsistent naming
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/AbstractStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ConsumedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/GroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryTimeOrderedKeyValueBuffer.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
Labels: streams

#8865 KAFKA-10168: fix StreamsConfig parameter name variable
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamRepartitionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/LagFetchIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskCreationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/RepartitionTopicNamingTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RepartitionOptimizingTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RepartitionWithMergeOptimizingTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/TopologyTest.scala
Labels: kip, streams

#8887 KAFKA-10135: Extract Task#executeAndMaybeSwallow to be a general utility function into TaskManager…
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
Labels: streams

#8900 KAFKA-10169: swallow non-fatal KafkaException and don't abort transaction during clean close
  streams/src/main/java/org/apache/kafka/streams/errors/TaskMigratedException.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollector.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/test/MockRecordCollector.java
Labels: streams

#8919 HOTFIX: use .equals to compare HostInfo in StreamsMetadataState
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
Labels: streams

#8924 KAFKA-10198: guard against recycling dirty state
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#8107 MINOR: Remove Diamond and code code Alignment
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoin.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ThreadCache.java
Labels: streams

#7577 KAFKA-9076: support consumer offset sync across clusters in MM 2.0
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointTaskTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorConnectorsIntegrationTest.java
Labels: connect

#8926 KAFKA-10166: always write checkpoint before closing an (initialized) task
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#8905 KAFKA-10173: Fix suppress changelog binary schema compatibility
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  clients/src/test/java/org/apache/kafka/common/utils/UtilsTest.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/FullChangeSerde.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorRecordContext.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/BufferValue.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ContextualRecord.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryTimeOrderedKeyValueBuffer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimeOrderedKeyValueBufferChangelogDeserializationHelper.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/FullChangeSerdeTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedKeyValueBufferTest.java
Labels: streams

#8927 KAFKA-10200: Fix testability of PAPI with windowed stores
  streams/examples/src/test/java/org/apache/kafka/streams/examples/wordcount/WordCountProcessorTest.java
  streams/examples/src/test/java/org/apache/kafka/streams/examples/wordcount/WordCountTransformerTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextUtils.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyValueSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/Segments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedSegments.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/wordcount/WindowedWordCountProcessorSupplier.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/wordcount/WindowedWordCountProcessorTest.java
Labels: streams

#8929 KAFKA-4996: Fix findbugs multithreaded correctness warnings for streams
  gradle/spotbugs-exclude.xml
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
Labels: streams

#8914 MINOR: Do not swallow exception when collecting PIDs
  tests/kafkatest/services/streams.py
Labels: streams, tests
