Repository apache/kafka, pull requests merged in 2020-11, with the labels that each got.

#9551 KAFKA-10679: Migrate upgrade changes from site to kafka/docs
  docs/api.html
  docs/configuration.html
  docs/design.html
  docs/implementation.html
  docs/introduction.html
  docs/migration.html
  docs/ops.html
  docs/protocol.html
  docs/quickstart-docker.html
  docs/quickstart-zookeeper.html
  docs/quickstart.html
  docs/security.html
  docs/uses.html
Labels: docs

#9000 KAFKA-10036 Improve handling and documentation of Suppliers
  docs/streams/developer-guide/processor-api.html
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/internals/ApiUtils.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TransformerSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueTransformerSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueTransformerWithKeySupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/AbstractStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/ProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/test/MockApiProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/test/MockProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/test/NoOpValueTransformerWithKeySupplier.java
  streams/src/test/java/org/apache/kafka/test/NoopValueTransformer.java
  streams/src/test/java/org/apache/kafka/test/NoopValueTransformerWithKey.java
  streams/src/test/java/org/apache/kafka/test/StreamsTestUtils.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#6820 MINOR: move connectorConfig to AbstractHerder
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
Labels: connect

#9554 KAFKA-10679: [Streams] migrate kafka-site updated docs to kafka/docs
  docs/documentation/streams/developer-guide/dsl-topology-naming.html
  docs/streams/architecture.html
  docs/streams/core-concepts.html
  docs/streams/developer-guide/app-reset-tool.html
  docs/streams/developer-guide/config-streams.html
  docs/streams/developer-guide/datatypes.html
  docs/streams/developer-guide/dsl-api.html
  docs/streams/developer-guide/dsl-topology-naming.html
  docs/streams/developer-guide/index.html
  docs/streams/developer-guide/interactive-queries.html
  docs/streams/developer-guide/manage-topics.html
  docs/streams/developer-guide/memory-mgmt.html
  docs/streams/developer-guide/processor-api.html
  docs/streams/developer-guide/running-app.html
  docs/streams/developer-guide/security.html
  docs/streams/developer-guide/testing.html
  docs/streams/developer-guide/write-streams.html
  docs/streams/index.html
  docs/streams/quickstart.html
  docs/streams/tutorial.html
  docs/streams/upgrade-guide.html
Labels: docs

#9544 MINOR: Add back 2.6 notable update section taken out by mistake
  docs/upgrade.html
Labels: docs

#9489 MINOR: demote "Committing task offsets" log to DEBUG
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
Labels: streams

#9582 KAFKA-6687: rewrite topology to allow reading the same topic multiple times in the DSL
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#9594 Improve JavaDoc in KeyValueBytesStoreSupplier
  streams/src/main/java/org/apache/kafka/streams/state/KeyValueBytesStoreSupplier.java
Labels: streams

#9603 MINOR: Initialize ConnectorConfig constructor with emptyMap and avoid instantiating a new Map
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
Labels: connect

#9568 KAFKA-10689: fix windowed FKJ topology and put checks in assignor to avoid infinite loops
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamSinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/test/java/org/apache/kafka/streams/integration/InternalTopicIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: streams

#9599 MINOR: Include connector name in error message
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
Labels: connect

#9572 KAFKA-10500: Thread Cache Resizes
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ThreadCache.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ThreadCacheTest.java
Labels: streams

#9570 KAFKA-9274: Handle TimeoutException on commit
  streams/src/main/java/org/apache/kafka/streams/errors/TaskTimeoutExceptions.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#9634 KAFKA-10755: Should consider commit latency when computing next commit timestamp
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#9204 KAFKA-6181 Examining log messages with {{--deep-iteration}} should show superset of fields
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
Labels: tools

#9618 MINOR: change default TX timeout only if EOS is enabled
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams

#9629 KAFKA-10754: fix flaky tests by waiting kafka streams be in running state before assert
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamsUncaughtExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams, tests

#9648 KAFKA-10758: ProcessorTopology should only consider its own nodes when updating regex source topics
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorTopology.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#9657 MINOR: Remove erroneous extra <code> in design doc
  docs/design.html
Labels: docs
