Repository apache/kafka, pull requests merged in 2020-02, with the labels that each got.

#5884 MINOR: updated documentation where RocksDBStore was being used as the…
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreChangeLogger.java
Labels: streams

#8028 KAFKA-9490: Fix generics for Grouped
  streams/src/main/java/org/apache/kafka/streams/kstream/Grouped.java
Labels: streams

#8007 KAFKA-9477 Document RoundRobinAssignor as an option for partition.assignment.strategy
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
Labels: consumer, docs

#8027 KAFKA-7658: Follow up to original PR
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/AbstractStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/GroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedCogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedCogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
Labels: streams

#8039 KAFKA-9505: Only loop over topics-to-validate in retries
  clients/src/main/java/org/apache/kafka/clients/admin/CreateTopicsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/DescribeTopicsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
Labels: streams

#8018 KAFKA-9480: Fix bug that prevented to measure task-level process-rate
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SourceNode.java
  streams/src/test/java/org/apache/kafka/common/metrics/SensorAccessor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SourceNodeTest.java
Labels: streams

#8061 KAFKA-9517: Fix default serdes with FK join
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ChangedDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ChangedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WrappingNullableDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WrappingNullableSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/CombinedKeySchema.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignJoinSubscriptionSendProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResolverJoinProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionStoreReceiveProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SourceNode.java
  streams/src/test/java/org/apache/kafka/streams/integration/ForeignKeyJoinSuite.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinDefaultSerdeTest.java
Labels: streams

#8040 KAFKA-6607: Commit correct offsets for transactional input data
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PartitionGroup.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#8086 MINOR: fix and improve StreamsConfig JavaDocs
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams

#8024 KAFKA-9483; Add Scala KStream#toTable to the Streams DSL
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KStreamTest.scala
Labels: streams

#7996 KAFKA-9355: Fix bug that removed RocksDB metrics after failure in EOS
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyValueSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorder.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/KeyValueSegmentsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SegmentIteratorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimestampedSegmentsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderTest.java
Labels: streams

#8065 KAKFA-9503: Fix TopologyTestDriver output order
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
  streams/test-utils/src/test/resources/log4j.properties
Labels: streams

#8015 KAFKA-9500: Fix topology bug in foreign key joins
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableSource.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamToTableNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinIntegrationTest.java
Labels: streams

#8091 KAFKA-6607: Commit correct offsets for transactional input data
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PartitionGroup.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#8112 KAFKA-9557: correct thread process-rate sensor to measure throughput
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetrics.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetricsTest.java
Labels: streams

#8060 KAFKA-9274: Gracefully handle timeout exception
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollector.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/test/MockRecordCollector.java
Labels: streams

#8109 KAFKA-9545: Fix subscription bugs from Stream refactoring
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
Labels: streams

#8032 KAFKA-8245 Flaky Test DeleteConsumerGroupsTest#testDeleteCmdAllGroups
  core/src/test/scala/unit/kafka/admin/DeleteConsumerGroupsTest.scala
Labels: consumer, tests

#8126 KAFKA-8025: Fix flaky RocksDB test
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapterTest.java
Labels: streams

#8108 KAFKA-9533: ValueTransform forwards `null` values
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamTransformValues.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformValuesTest.java
Labels: streams

#8058 KAFKA-9481: Graceful handling TaskMigrated and TaskCorrupted
  clients/src/main/java/org/apache/kafka/common/utils/FixedOrderMap.java
  clients/src/test/java/org/apache/kafka/common/utils/FixedOrderMapTest.java
  streams/src/main/java/org/apache/kafka/streams/errors/TaskCorruptedException.java
  streams/src/main/java/org/apache/kafka/streams/errors/TaskMigratedException.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#8105 KAFKA-9441: Add internal StreamsProducer
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
  clients/src/test/java/org/apache/kafka/clients/producer/MockProducerTest.java
  streams/src/main/java/org/apache/kafka/streams/errors/TaskMigratedException.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/test/MockClientSupplier.java
  streams/src/test/java/org/apache/kafka/test/MockKeyValueStore.java
  streams/src/test/java/org/apache/kafka/test/MockKeyValueStoreBuilder.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#8158 HOTFIX: fix NPE in Kafka Streams IQ
  streams/src/main/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProvider.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
Labels: streams

#8167 KAFKA-9533: Revert ValueTransform forwards `null`
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamTransformValues.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformValuesTest.java
Labels: streams

#8029 KAFKA-8147: Add changelog topic configuration to KTable suppress
  streams/src/main/java/org/apache/kafka/streams/kstream/Suppressed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/BufferConfigInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/EagerBufferConfigImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/StrictBufferConfigImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/SuppressedInternal.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryTimeOrderedKeyValueBuffer.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/EmbeddedKafkaCluster.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryTimeOrderedKeyValueBufferTest.java
Labels: streams

#8171 Adapt docs about metrics of Streams according to KIP-444
  docs/ops.html
Labels: streams

#8182 MINOR: Update upgrade guide for ZK
  docs/upgrade.html
Labels: docs
