Repository apache/kafka, pull requests merged in 2020-04, with the labels that each got.

#8356 KAFKA-9441: Cleanup Streams metrics for removed task commit latency metrics
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/TaskMetrics.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetrics.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/metrics/TaskMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetricsTest.java
Labels: streams

#8386 MINOR: Improve close tests of caching state store
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingWindowStoreTest.java
Labels: streams, tests

#8331 KAFKA-9748: extend EosIntegrationTest for EOS-beta
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/internals/TestDriverProducer.java
Labels: streams, tests

#8359 KAFKA-9778: Add validateConnector functionality to the EmbeddedConnectCluster
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExampleConnectIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectClusterAssertions.java
Labels: connect

#8407 KAFKA-9809: Shrink transaction timeout for streams
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams

#8375 KAFKA-9776: Downgrade TxnCommit API v3 when broker doesn't support
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  clients/src/main/java/org/apache/kafka/common/requests/TxnOffsetCommitRequest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/RecordAccumulatorTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/TxnOffsetCommitRequestTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
Labels: producer

#8400 KAFKA-9739: Fixes null key changing child node
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphTest.java
Labels: streams

#8408 KAFKA-9810: Document Connect Root REST API on /
  docs/connect.html
Labels: connect

#8380 MINOR: Refactor StreamsProducer
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ClientUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/test/MockClientSupplier.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/internals/TestDriverProducer.java
Labels: streams

#8424 HOTFIX: fix StreamsConfig build failure
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams

#8423 KAFKA-9818: improve error message to debug test
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams, tests

#8212 KAFKA-9642: Change "BigDecimal(double)" constructor to "BigDecimal.valueOf(double)"
  connect/api/src/main/java/org/apache/kafka/connect/data/Values.java
Labels: connect

#8441 KAFKA-9748: Extend Streams integration tests for EOS beta
  streams/src/test/java/org/apache/kafka/streams/integration/EOSUncleanShutdownIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableSourceTopicRestartIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetPartitionTimeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionDurabilityIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
Labels: streams, tests

#8459 MINOR: Fix JavaDocs markup
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams

#8443 KAFKA-9832: Extend Streams system tests for EOS-beta
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/RelationalSmokeTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/RelationalSmokeTestTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/services/streams_property.py
  tests/kafkatest/tests/streams/streams_relational_smoke_test.py
  tests/kafkatest/tests/streams/streams_smoke_test.py
Labels: streams, tests

#8353 KAFKA-9764: Remove stream simple benchmark suite
  streams/src/test/java/org/apache/kafka/streams/perf/SimpleBenchmark.java
  streams/src/test/java/org/apache/kafka/streams/perf/YahooBenchmark.java
  tests/kafkatest/benchmarks/streams/__init__.py
  tests/kafkatest/benchmarks/streams/streams_simple_benchmark_test.py
  tests/kafkatest/services/performance/streams_performance.py
Labels: streams, tests

#8470 KAFKA-8611 / Refactor KStreamRepartitionIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamRepartitionIntegrationTest.java
Labels: streams, tests

#8440 KAFKA-9832: extend Kafka Streams EOS system test
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/EosTestClient.java
  streams/src/test/java/org/apache/kafka/streams/tests/EosTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsEosTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_eos_test.py
Labels: streams, tests

#8478 HOTFIX: don't close or wipe out someone else's state
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateManagerUtil.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateManagerUtilTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#6210 KAFKA-7885: TopologyDescription violates equals-hashCode contract.
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StaticTopicNameExtractor.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
Labels: streams

#8488 KAFKA-9819: Fix flaky test in StoreChangelogReaderTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/testutil/LogCaptureAppender.java
Labels: streams, tests

#8505 MINOR: Switch order of sections on tumbling and hopping windows in streams doc
  docs/streams/developer-guide/dsl-api.html
Labels: docs, streams

#8501 KAFKA-9881: Convert integration test to verify measurements from RocksDB to unit test
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
Labels: streams

#8507 KAFKA-9818: Fix flaky test in RecordCollectorTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams, tests

#8514 MINOR: Further reduce runtime for metrics integration tests
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
Labels: streams, tests

#8522 KAFKA-9868: Reduce transaction log partitions for embed broker
  streams/src/test/java/org/apache/kafka/streams/integration/utils/EmbeddedKafkaCluster.java
Labels: streams, tests

#8520 Add explicit grace period to tumbling window example
  docs/streams/developer-guide/dsl-api.html
Labels: docs, streams

#8536 KAFKA-9883: Add better error message when REST API forwards a request and leader is not known
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
Labels: connect

#8532 HOTFIX: Fix broker bounce system tests
  tests/kafkatest/tests/streams/streams_broker_bounce_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tests

#8564 KAFKA-9921: disable caching on stores configured to retain duplicates
  streams/src/main/java/org/apache/kafka/streams/state/Stores.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedWindowStoreBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WindowStoreBuilder.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/WindowStoreBuilderTest.java
Labels: streams

#8540 KAFKA-9127: don't create StreamThreads for global-only topology
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableIntegrationTest.java
Labels: streams

#8580 KAFKA-9832: fix attempt to commit non-running tasks
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#8442 KAFKA-9830: Implement AutoCloseable in ErrorReporter and subclasses
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/DeadLetterQueueReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/ErrorReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/ProcessingContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperator.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/ErrorReporterTest.java
Labels: connect

#8204 KAFKA-9633: Ensure ConfigProviders are closed
  clients/src/main/java/org/apache/kafka/common/config/AbstractConfig.java
  clients/src/test/java/org/apache/kafka/common/config/AbstractConfigTest.java
  clients/src/test/java/org/apache/kafka/common/config/provider/MockFileConfigProvider.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfigTransformer.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
Labels: connect
