Repository apache/kafka, pull requests merged in 2020-05, with the labels that each got.

#8590 KAFKA-6145: Remove check to reuse previous assignment
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/HighAvailabilityTaskAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/TaskMovement.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentUtilsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/HighAvailabilityTaskAssignorTest.java
Labels: streams

#8565 KAFKA-9798: Send one round synchronously before starting the async producer
  core/src/test/scala/unit/kafka/server/ServerGenerateClusterIdTest.scala
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
Labels: streams, tests

#8496 KAFKA-9748: Add Streams eos-beta integration test
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosBetaUpgradeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
Labels: streams, tests

#8619 MINOR: Improve TopologyTestDriver JavaDocs
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#7950 KAFKA-9419: Integer Overflow Possible with CircularIterator
  clients/src/main/java/org/apache/kafka/common/utils/CircularIterator.java
  clients/src/test/java/org/apache/kafka/common/utils/CircularIteratorTest.java
Labels: connect, consumer

#8360 KAFKA-9768: Fix handling of rest.advertised.listener config
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestServer.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/RestServerTest.java
Labels: connect

#8483 KAFKA-9865: Expose output topic names from TopologyTestDriver
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams

#8230 KAFKA-9667: Connect JSON serde strip trailing zeros
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonDeserializer.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonSerializer.java
  connect/json/src/test/java/org/apache/kafka/connect/json/JsonConverterTest.java
Labels: connect

#8600 KAFKA-9928: Fix flaky GlobalKTableEOSIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationDedupIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamRepartitionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StateRestorationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams, tests

#8114 KAFKA-9290: Update IQ related JavaDocs
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/GlobalKTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedKStream.java
Labels: streams

#8611 MINOR: Format the notation content for better readability
  docs/implementation.html
Labels: docs

#8632 KAFKA-9972: Only commit tasks with valid states
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#8635 KAFKA-9949: Fix Flaky GlobalKTableIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableIntegrationTest.java
Labels: streams

#8621 KAFKA-9466: Update Kafka Streams docs for KIP-447
  docs/streams/core-concepts.html
  docs/streams/developer-guide/config-streams.html
  docs/streams/upgrade-guide.html
  docs/upgrade.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: docs, streams

#8641 MINOR: Remove allow concurrent test
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
Labels: streams, tests

#8254 KIP-557: Add Emit On Change Support
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableSource.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ProcessorNodeMetrics.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ValueAndTimestampSerializer.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableSourceTopicRestartIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableSourceTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SuppressScenarioTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ProcessorNodeMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ValueAndTimestampSerializerTest.java
Labels: streams

#8596 KAFKA-9821: persist followup rebalance in assignment and consolidate rebalance triggering mechanisms
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsRebalanceListener.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorError.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosBetaUpgradeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/HighAvailabilityStreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams

#8631 MINOR: improve tests for TopologyTestDriver
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
Labels: streams, tests

#8603 MINOR: Fix ProcessorContext JavaDocs
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#8649 MINOR: Replace null with an actual value for timestamp field in InsertField SMT unit tests
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/InsertFieldTest.java
Labels: connect

#8648 KAFKA-9966: add internal assignment listener to stabilize eos-beta upgrade test
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosBetaUpgradeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
Labels: streams, tests

#8550 KAFKA-9850 Move KStream#repartition operator validation during Topolo…
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamRepartitionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamRepartitionTest.java
Labels: streams

#8667 KAFKA-9994: Handle task migrated inside corruption path
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#8090 KAFKA-9537 - Cleanup error messages for abstract transformations
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectorConfigTest.java
Labels: connect

#8670 KAFKA-10001: Should trigger store specific callback if it is also a listener
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
Labels: streams

#8618 KAFKA-9955: Prevent SinkTask::close from shadowing other exceptions
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
Labels: connect

#8687 MINOR: updated MacOS compatibility statement for RocksDB
  docs/streams/upgrade-guide.html
Labels: docs, streams

#8622 MINOR: Update stream documentation
  docs/streams/architecture.html
  docs/streams/developer-guide/dsl-api.html
  docs/streams/developer-guide/running-app.html
  docs/streams/developer-guide/write-streams.html
  docs/streams/upgrade-guide.html
Labels: docs, streams

#8689 KAFKA-6145: Add unit tests to verify fix of bug KAFKA-9173
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/HighAvailabilityTaskAssignorTest.java
Labels: streams

#8671 KAFKA-9859 / Add topics generated by KTable FK join to internal topic matching logic
  core/src/main/scala/kafka/tools/StreamsResetter.java
  streams/src/test/java/org/apache/kafka/streams/tools/StreamsResetterTest.java
Labels: streams, tools

#8661 KAFKA-9603: Do not turn on bulk loading for segmented stores on stand-by tasks
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
Labels: streams

#7942 KAFKA-9409: Supplement immutability of ClusterConfigState class in Connect
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/ClusterConfigState.java
Labels: connect

#8444 KAFKA-8869: Remove task configs for deleted connectors from config snapshot
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
Labels: connect

#8608 KAFKA-9950: Construct new ConfigDef for MirrorTaskConfig before defining new properties
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorTaskConfig.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorConnectorConfigTest.java
Labels: connect

#8653 MINOR: Correct MirrorMaker2 integration test configs for Connect internal topics
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorConnectorsIntegrationTest.java
Labels: connect

#8379 KAFKA-9780: Deprecate commit records without record metadata
  connect/api/src/main/java/org/apache/kafka/connect/source/SourceTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorHeartbeatTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/tools/VerifiableSourceTask.java
Labels: connect

#8679 KAFKA-10003: Mark KStream.through() as deprecated
  core/src/main/scala/kafka/tools/StreamsResetter.java
  docs/streams/developer-guide/datatypes.html
  docs/streams/developer-guide/dsl-api.html
  docs/streams/developer-guide/manage-topics.html
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/RepartitionedInternal.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationWithSslTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/EosTestClient.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/ImplicitConversions.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Repartitioned.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/package.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KStreamTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/ProducedTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/RepartitionedTest.scala
Labels: streams

#8696 KAFKA-6145: KIP-441: Enforce Standby Task Stickiness
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/HighAvailabilityTaskAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/TaskMovement.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/HighAvailabilityTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/TaskAssignorConvergenceTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/TaskMovementTest.java
Labels: streams

#8710 MINOR: Improve security documentation for Kafka Streams
  docs/streams/developer-guide/security.html
Labels: docs, streams

#8654 KAFKA-9931: Implement KIP-605 to expand support for Connect worker internal topic configurations
  checkstyle/suppressions.xml
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaStatusBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/TopicAdmin.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/InternalTopicsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TopicAdminTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectClusterAssertions.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
Labels: connect

#8511 KAFKA-9888: Copy connector configs before passing to REST extensions
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/health/ConnectClusterStateImpl.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/health/ConnectClusterStateImplTest.java
Labels: connect

#8620 KAFKA-9944: Added supporting customized HTTP response headers for Kafka Connect.
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestServer.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/RestServerTest.java
Labels: connect

#8357 KAFKA-9767: Add logging to basic auth rest extension
  connect/basic-auth-extension/src/main/java/org/apache/kafka/connect/rest/basic/auth/extension/BasicAuthSecurityRestExtension.java
  connect/basic-auth-extension/src/main/java/org/apache/kafka/connect/rest/basic/auth/extension/JaasBasicAuthFilter.java
  connect/basic-auth-extension/src/main/java/org/apache/kafka/connect/rest/basic/auth/extension/PropertyFileLoginModule.java
  connect/basic-auth-extension/src/test/java/org/apache/kafka/connect/rest/basic/auth/extension/JaasBasicAuthFilterTest.java
Labels: connect

#6284 KAFKA-6755: Allow literal value for MaskField SMT
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/TransformationConfigTest.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/MaskField.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/MaskFieldTest.java
  docs/connect.html
Labels: connect

#8118 KAFKA-9472: Remove deleted Connect tasks from status store
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/TaskStatus.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
Labels: connect

#8395 Added doc for KIP-535 and updated it for KIP-562
  docs/streams/upgrade-guide.html
  docs/upgrade.html
Labels: docs, streams

#8221 KAFKA-9561: update task input partitions after rebalance
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PartitionGroup.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#8716 KAFKA-6145: KIP-441: Fix assignor config passthough
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/ClientState.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/HighAvailabilityTaskAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/TaskMovement.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TaskAssignorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfigurationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/FallbackPriorTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/HighAvailabilityTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/StickyTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/TaskAssignorConvergenceTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/TaskMovementTest.java
  tests/kafkatest/services/streams.py
Labels: streams

#8504 KAFKA-9298: reuse mapped stream error in joins
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinTest.java
Labels: streams

#8733 MINOR: Remove retries entry from Streams config table
  docs/streams/developer-guide/config-streams.html
Labels: docs, streams

#8697 KAFKA-9983: KIP-613, add INFO level e2e latency metrics
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/common/metrics/Sensor.java
  clients/src/main/java/org/apache/kafka/common/metrics/stats/Percentiles.java
  clients/src/main/java/org/apache/kafka/common/metrics/stats/SampledStat.java
  clients/src/test/java/org/apache/kafka/common/metrics/MetricsTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorTopology.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ProcessorNodeMetrics.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskSuite.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ProcessorNodeMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/TaskMetricsTest.java
Labels: streams

#8732 KAFKA-10017: disable flaky EosBetaUpgradeIntegrationTest to stabilize build
  streams/src/test/java/org/apache/kafka/streams/integration/EosBetaUpgradeIntegrationTest.java
Labels: streams, tests

#8691 KAFKA-9960: implement KIP-606 to add metadata context to MetricsReporter
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/common/metrics/JmxReporter.java
  clients/src/main/java/org/apache/kafka/common/metrics/KafkaMetricsContext.java
  clients/src/main/java/org/apache/kafka/common/metrics/Metrics.java
  clients/src/main/java/org/apache/kafka/common/metrics/MetricsContext.java
  clients/src/main/java/org/apache/kafka/common/metrics/MetricsReporter.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/common/metrics/JmxReporterTest.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectMetrics.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMember.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaStatusBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/ConnectUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectMetricsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/MockConnectMetrics.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerWithTopicCreationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMemberTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperatorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/ConnectUtilsTest.java
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaMetricsReporterTest.scala
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
Labels: connect, core, streams

#8589 KAFKA-9146: KIP-571 Add option to force delete active members in StreamsResetter
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/RemoveMembersFromConsumerGroupOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/RemoveMembersFromConsumerGroupResult.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/RemoveMembersFromConsumerGroupOptionsTest.java
  core/src/main/scala/kafka/tools/StreamsResetter.java
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams, tools

#8720 KAFKA-9971: Error Reporting in Sink Connectors
  checkstyle/suppressions.xml
  connect/api/src/main/java/org/apache/kafka/connect/sink/ErrantRecordReporter.java
  connect/api/src/main/java/org/apache/kafka/connect/sink/SinkTaskContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/InternalSinkRecord.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SinkConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTaskContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/DeadLetterQueueReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/ErrorReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/LogReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/ProcessingContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperator.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/WorkerErrantRecordReporter.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ErrantRecordSinkConnector.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExampleConnectIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/MonitorableSinkConnector.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskWithTopicCreationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskThreadedTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/ErrorReporterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperatorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/WorkerErrantRecordReporterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginUtilsTest.java
Labels: connect

#8699 KAFKA-9673: Filter and Conditional SMTs
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  connect/api/src/main/java/org/apache/kafka/connect/transforms/predicates/Predicate.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/PredicatedTransformation.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginScanResult.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/main/java/org/apache/kafka/connect/tools/TransformationDoc.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorHandle.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/MonitorableSinkConnector.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/MonitorableSourceConnector.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/TaskHandle.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/TransformationIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectorConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/PredicatedTransformationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginUtilsTest.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/Filter.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/predicates/HasHeaderKey.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/predicates/RecordIsTombstone.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/predicates/TopicNameMatches.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/predicates/HasHeaderKeyTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/predicates/TopicNameMatchesTest.java
Labels: connect

#8743 MINOR: regression test for task assignor config
  streams/src/test/java/org/apache/kafka/streams/integration/TaskAssignorIntegrationTest.java
Labels: streams

#8747 MINOR: Log the reason for coordinator discovery failure
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java
Labels: consumer
