Repository apache/kafka, pull requests merged in 2020-08, with the labels that each got.

#9096 MINOR: Add comments to constrainedAssign and generalAssign method
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractStickyAssignor.java
Labels: consumer

#9024 MINOR: change Streams integration test log levels
  streams/src/test/resources/log4j.properties
Labels: streams, tests

#9116 KAFKA-10341: Add 2.6.0 to system tests and streams upgrade tests
  build.gradle
  gradle/dependencies.gradle
  settings.gradle
  streams/upgrade-system-tests-26/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  streams/upgrade-system-tests-26/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/upgrade-system-tests-26/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/upgrade-system-tests-26/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-26/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/docker/Dockerfile
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
  tests/kafkatest/tests/streams/streams_cooperative_rebalance_upgrade_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
  vagrant/base.sh
Labels: streams, tests

#9126 MINOR: Code cleanup in StreamsResetter
  core/src/main/scala/kafka/tools/StreamsResetter.java
Labels: streams, tools

#9067 MINOR: Streams integration tests should not call exit
  checkstyle/checkstyle.xml
  checkstyle/suppressions.xml
  streams/examples/src/main/java/org/apache/kafka/streams/examples/pageview/PageViewTypedDemo.java
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountProcessorDemo.java
  streams/src/test/java/org/apache/kafka/streams/integration/SmokeTestDriverIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/BrokerCompatibilityTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsBrokerDownResilienceTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsEosTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsStandByReplicaTest.java
  streams/upgrade-system-tests-22/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-23/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-24/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-25/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-26/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  tools/src/main/java/org/apache/kafka/tools/TransactionalMessageCopier.java
Labels: streams, tests

#9047 KAFKA-9274: Remove `retries` for global task
  checkstyle/suppressions.xml
  docs/streams/developer-guide/config-streams.html
  docs/streams/upgrade-guide.html
  docs/upgrade.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/QuietStreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ClientUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImplTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/NoOpReadOnlyStore.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
Labels: kip, streams

#9120 KAFKA-10316: Consider renaming getter method for Interactive Queries
  streams/src/main/java/org/apache/kafka/streams/KeyQueryMetadata.java
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsMetadataStateTest.java
Labels: kip, streams

#9127 MINOR: fix HTML
  docs/streams/upgrade-guide.html
Labels: docs, streams

#9060 KAFKA-9274: Remove `retries` from InternalTopicManager
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ClientUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/HighAvailabilityStreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/test/MockInternalTopicManager.java
Labels: kip, streams

#9141 MINOR: Improve checks for CogroupedStreamAggregateBuilder
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedStreamAggregateBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedCogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedCogroupedKStreamImpl.java
Labels: streams

#8964 KAFKA-9450: Decouple flushing state from commiting
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateUpdateTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateManagerUtil.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachedStateStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WrappedStateStore.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateManagerStub.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/EosTestDriver.java
  streams/src/test/java/org/apache/kafka/test/GlobalStateManagerStub.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#8854 KAFKA-10146, KAFKA-9066: Retain metrics for failed tasks (backport to 2.5)
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
Labels: connect

#9108 KAFKA-9273: Extract testShouldAutoShutdownOnIncompleteMetadata from S…
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/JoinStoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/JoinWithIncompleteMetadataIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamStreamJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamTableJoinIntegrationTest.java
Labels: streams

#9148 KAFKA-10379: Implement the KIP-478 StreamBuilder#addGlobalStore()
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/GlobalStoreNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorAdapter.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextAdapter.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalThreadShutDownOrderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/GlobalKTableJoinsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamBranchTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFilterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatMapTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamMapTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSelectKeyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapKeysTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableSourceTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PunctuationQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/test/MockApiProcessor.java
  streams/src/test/java/org/apache/kafka/test/MockApiProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/test/MockProcessor.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/StreamsBuilder.scala
Labels: streams

#9217 MINOR: fix JavaDoc
  streams/src/main/java/org/apache/kafka/streams/errors/StreamsNotStartedException.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/ProcessorContext.java
Labels: streams
