Repository apache/kafka, pull requests merged in 2020-10, with the labels that each got.

#9102 KAFKA-10326 Both serializer and deserializer should be able to see th…
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/common/config/AbstractConfig.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/common/config/AbstractConfigTest.java
Labels: streams

#9309 KAFKA-10503: MockProducer doesn't throw ClassCastException when no
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
  clients/src/test/java/org/apache/kafka/clients/producer/MockProducerTest.java
Labels: producer, tests

#9306 KAFKA-10477: Enabling the same behavior of NULL JsonNodeType to MISSI…
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/json/src/test/java/org/apache/kafka/connect/json/JsonConverterTest.java
Labels: connect

#9320 KAFKA-10439: Connect's Values to parse BigInteger as Decimal with zero scale.
  connect/api/src/main/java/org/apache/kafka/connect/data/Values.java
  connect/api/src/test/java/org/apache/kafka/connect/data/ValuesTest.java
Labels: connect

#9379 MINOR: Annotate test BlockingConnectorTest as integration test
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/BlockingConnectorTest.java
Labels: connect

#8910 KAFKA-10188: Prevent SinkTask::preCommit from being called after SinkTask::stop
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
Labels: connect

#9001 KAFKA-10028: Implement write path for feature versioning system (KIP-584)
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/DescribeFeaturesOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/DescribeFeaturesResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/FeatureMetadata.java
  clients/src/main/java/org/apache/kafka/clients/admin/FeatureUpdate.java
  clients/src/main/java/org/apache/kafka/clients/admin/FinalizedVersionRange.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/SupportedVersionRange.java
  clients/src/main/java/org/apache/kafka/clients/admin/UpdateFeaturesOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/UpdateFeaturesResult.java
  clients/src/main/java/org/apache/kafka/common/errors/FeatureUpdateFailedException.java
  clients/src/main/java/org/apache/kafka/common/feature/BaseVersionRange.java
  clients/src/main/java/org/apache/kafka/common/feature/FinalizedVersionRange.java
  clients/src/main/java/org/apache/kafka/common/feature/SupportedVersionRange.java
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ApiVersionsResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/UpdateFeaturesRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/UpdateFeaturesResponse.java
  clients/src/main/resources/common/message/ApiVersionsResponse.json
  clients/src/main/resources/common/message/UpdateFeaturesRequest.json
  clients/src/main/resources/common/message/UpdateFeaturesResponse.json
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  core/src/main/scala/kafka/controller/ControllerState.scala
  core/src/main/scala/kafka/controller/KafkaController.scala
  core/src/main/scala/kafka/server/BrokerFeatures.scala
  core/src/main/scala/kafka/server/FinalizedFeatureCache.scala
  core/src/main/scala/kafka/server/FinalizedFeatureChangeListener.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/SupportedFeatures.scala
  core/src/main/scala/kafka/zk/KafkaZkClient.scala
  core/src/main/scala/kafka/zk/ZkData.scala
  core/src/test/scala/unit/kafka/controller/ControllerIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/BrokerFeaturesTest.scala
  core/src/test/scala/unit/kafka/server/FinalizedFeatureCacheTest.scala
  core/src/test/scala/unit/kafka/server/FinalizedFeatureChangeListenerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  core/src/test/scala/unit/kafka/server/SupportedFeaturesTest.scala
  core/src/test/scala/unit/kafka/server/UpdateFeaturesTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/MetadataRequestBenchmark.java
Labels: core

#9247 KAFKA-10362: When resuming Streams active task with EOS, the checkpoint file is deleted
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
Labels: streams

#9385 KAFKA-9274: fix incorrect default value for `task.timeout.ms` config
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#9380 KAFKA-7334: Suggest changing config for state.dir in case of FileNotF…
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
Labels: streams

#9399 KAFKA-10584:IndexSearchType should use sealed trait instead of Enumeration
  core/src/main/scala/kafka/log/AbstractIndex.scala
Labels: core

#9408 KAFKA-10598: Improve IQ name and type checks
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Suppressed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/MaterializedInternal.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorTopology.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProvider.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/JoinStoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinMaterializationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
Labels: streams

#9396 KAFKA-10437: Implement new PAPI support for test-utils
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/processor/api/Record.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemorySessionStore.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/api/MockProcessorContext.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/internals/KeyValueStoreFacadeTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/internals/WindowStoreFacadeTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/MockProcessorContextAPITest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/MockProcessorContextStateStoreTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/wordcount/WindowedWordCountProcessorSupplier.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/wordcount/WindowedWordCountProcessorTest.java
Labels: streams

#9415 KAFKA-10494: eager handling of sending old values
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableFilter.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableMapValues.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableTransformValues.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableFilterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableMapValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
Labels: streams

#9149 KAFKA-10340: Improve the trace logging under connector based topic creation
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
Labels: connect

#9422 KAFKA-10602: Make RetryWithToleranceOperator thread safe
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperator.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperatorTest.java
Labels: connect

#9432 KAFKA-10559: Not letting TimeoutException shutdown the app during internal topic validation
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: streams

#9384 MINOR: remove explicit passing of AdminClient into StreamsPartitionAssignor
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/ReferenceContainer.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosBetaUpgradeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/HighAvailabilityStreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsAssignmentScaleTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
Labels: streams

#8918 MINOR: Use debug level logging for noisy log messages in Connect
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
Labels: connect

#9425 KAFKA-10600: Connect should not add error to connector validation values for properties not in connector’s ConfigDef
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
Labels: connect

#9368 KAFKA-9274: Add timeout handling for state restore and StandbyTasks
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ClientUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/MockChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#9429 KAFKA-10572 mirror-maker config changes for KIP-629
  connect/mirror/README.md
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/DefaultConfigPropertyFilter.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/DefaultGroupFilter.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/DefaultTopicFilter.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorConnectorConfigTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorMakerConfigTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceConnectorTest.java
Labels: connect

#9237 KAFKA-10454 / Update copartitionSourceGroups when optimization algorithm is triggered
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamTableJoinTopologyOptimizationIntegrationTest.java
Labels: streams

#9461 MINOR: Clean-up streams javadoc warnings
  streams/src/main/java/org/apache/kafka/streams/LagInfo.java
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SlidingWindows.java
  streams/src/main/java/org/apache/kafka/streams/processor/StateStore.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/Record.java
Labels: streams

#9446 MINOR: distinguish between missing source topics and internal assignment errors
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsRebalanceListener.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorError.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsRebalanceListenerTest.java
Labels: streams

#9477 MINOR: TopologyTestDriver should not require dummy parameters
  streams/examples/src/test/java/org/apache/kafka/streams/examples/docs/DeveloperGuideTesting.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableForeignKeyJoinScenarioTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/utils/TestDriver.scala
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/api/MockProcessorContext.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TestTopicsTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TopologyTestDriverTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/wordcount/WindowedWordCountProcessorTest.java
Labels: streams

#9481 KAFKA-10284: Disable static membership test in 2.4
  tests/kafkatest/tests/streams/streams_static_membership_test.py
Labels: streams

#9511 MINOR: Add KIP-584 to upgrade.html file
  docs/upgrade.html
Labels: docs

#9514 MINOR: Add KIP-431 to upgrade.html file
  docs/upgrade.html
Labels: docs

#9498 MINOR: call super.close() when closing RocksDB options
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapter.java
Labels: streams

#9521 KAFKA-10638: Fix QueryableStateIntegrationTest
  streams/src/main/java/org/apache/kafka/streams/state/QueryableStoreType.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
Labels: streams

#9426 MINOR: Fix flaky shouldRejectNonExistentStoreName
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
Labels: streams

#9532 MINOR: Move upgraded docs from site to Kafka docs
  docs/documentation.html
  docs/upgrade.html
Labels: docs
