Repository apache/kafka, pull requests merged in 2021-04, with the labels that each got.

#10452 KAFKA-12593: Fix Apache License headers
  NOTICE
  build.gradle
  gradlew
  streams/streams-scala/NOTICE
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/FunctionConversions.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/ImplicitConversions.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/Serdes.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/StreamsBuilder.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KGroupedStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KGroupedTable.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KTable.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/SessionWindowedKStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/TimeWindowedKStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/package.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/serialization/Serdes.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/StreamToTableJoinScalaIntegrationTestImplicitSerdes.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/TopologyTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/WordCountTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/ConsumedTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/JoinedTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KStreamSplitTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KStreamTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KTableTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/MaterializedTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/ProducedTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/RepartitionedTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/SuppressedTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/utils/StreamToTableJoinScalaIntegrationTestBase.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/utils/StreamToTableJoinTestData.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/utils/TestDriver.scala
  tests/kafkatest/tests/client/message_format_change_test.py
  tests/kafkatest/tests/core/compatibility_test_new_broker_test.py
  tests/kafkatest/tests/streams/utils/util.py
  tests/kafkatest/utils/util.py
Labels: streams

#10282 KAFKA-12426: Missing logic to create partition.metadata files in RaftReplicaManager
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/log/Log.scala
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/RaftReplicaChangeDelegate.scala
  core/src/main/scala/kafka/server/RaftReplicaManager.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/main/scala/kafka/server/metadata/MetadataImage.scala
  core/src/test/scala/other/kafka/StressTestLog.scala
  core/src/test/scala/other/kafka/TestLinearWriteSpeed.scala
  core/src/test/scala/unit/kafka/cluster/AssignmentStateTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/cluster/ReplicaTest.scala
  core/src/test/scala/unit/kafka/log/AbstractLogCleanerIntegrationTest.scala
  core/src/test/scala/unit/kafka/log/BrokerCompressionTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
  core/src/test/scala/unit/kafka/log/LogConcurrencyTest.scala
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogTest.scala
  core/src/test/scala/unit/kafka/server/BrokerEpochIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/HighwatermarkPersistenceTest.scala
  core/src/test/scala/unit/kafka/server/LogOffsetTest.scala
  core/src/test/scala/unit/kafka/server/RaftReplicaChangeDelegateTest.scala
  core/src/test/scala/unit/kafka/server/RaftReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  core/src/test/scala/unit/kafka/utils/SchedulerTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetcher/ReplicaFetcherThreadBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/PartitionMakeFollowerBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/UpdateFollowerFetchStateBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/CheckpointBench.java
Labels: kip-500

#10456 MINOR: support ImplicitLinkedHashCollection#sort
  clients/src/main/java/org/apache/kafka/common/utils/ImplicitLinkedHashCollection.java
  clients/src/test/java/org/apache/kafka/common/utils/ImplicitLinkedHashCollectionTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/common/ImplicitLinkedHashCollectionBenchmark.java
Labels: kip-500

#10325 MINOR: Remove redudant LocalLogManager
  metadata/src/main/java/org/apache/kafka/metalog/LocalLogManager.java
Labels: kip-500

#10464 MINOR: remove KTable.to from the docs
  docs/streams/developer-guide/dsl-api.html
Labels: docs, streams

#10455 MINOR: Support ExponentialBackoff without jitter
  clients/src/main/java/org/apache/kafka/common/utils/ExponentialBackoff.java
  clients/src/test/java/org/apache/kafka/common/utils/ExponentialBackoffTest.java
Labels: kip-500

#10131 KAFKA-5146 / move kafka-streams example to a new module
  build.gradle
  docs/streams/upgrade-guide.html
  docs/upgrade.html
Labels: streams

#10496 MINOR: move NoOpSnapshotWriter to main
  metadata/src/main/java/org/apache/kafka/controller/NoOpSnapshotWriter.java
  metadata/src/main/java/org/apache/kafka/controller/NoOpSnapshotWriterBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
Labels: kip-500

#10465 MINOR: add unit test for ControllerApis#createTopics
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/test/java/kafka/test/MockController.java
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
Labels: kip-500

#10302 KAFKA-7785: move internal DefaultPartitionGrouper
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/PartitionGrouper.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PartitionGrouper.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGrouperTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SingleGroupPartitionGrouperStub.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: streams

#10484 MINOR: un-deprecate StreamsConfig overloads to support dependency injection
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: streams

#10481 KAFKA-12619; Raft leader should expose hw only after committing LeaderChange
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kip-500

#10254 KAFKA-12406 Integrate client quotas with raft broker
  clients/src/main/resources/common/message/DescribeClientQuotasRequest.json
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/MetadataSupport.scala
  core/src/main/scala/kafka/server/metadata/ClientQuotaCache.scala
  core/src/main/scala/kafka/server/metadata/ClientQuotaMetadataManager.scala
  core/src/test/java/kafka/test/ClusterConfig.java
  core/src/test/java/kafka/test/junit/ClusterTestExtensions.java
  core/src/test/java/kafka/test/junit/RaftClusterInvocationContext.java
  core/src/test/java/kafka/test/junit/ZkClusterInvocationContext.java
  core/src/test/java/kafka/testkit/TestKitNodes.java
  core/src/test/scala/integration/kafka/server/RaftClusterTest.scala
  core/src/test/scala/unit/kafka/server/ClientQuotasRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  metadata/src/main/java/org/apache/kafka/controller/ClientQuotaControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ClientQuotaControlManagerTest.java
Labels: kip-500

#10495 MINOR: add missing TimeoutException to Producer.send JavaDocs
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
Labels: producer

#10453 DOCS-7223: Fix left/outer join descriptions in Streams DSL reference topic
  docs/streams/developer-guide/dsl-api.html
Labels: docs, streams

#10293 KAFKA-12449: Remove deprecated WindowStore#put
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractReadOnlyDecorator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractReadWriteDecorator.java
  streams/src/main/java/org/apache/kafka/streams/state/WindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedWindowStoreBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WindowToTimestampedWindowByteStoreAdapter.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingPersistentWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingTimestampedWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/WindowStoreFacadeTest.java
Labels: streams

#10423 MINOR website quickstart, fix typo
  docs/quickstart.html
Labels: docs

#10301 KAFKA-9831: increase max.poll.interval.ms to avoid unexpected rebalance
  checkstyle/suppressions.xml
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
Labels: streams

#10503 KAFKA-9988: Suppress uncaught exceptions in log messages during Connect task shutdown
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
Labels: connect

#10042 KAFKA-9527: fix NPE when using time-based argument for Stream Resetter
  core/src/main/scala/kafka/tools/StreamsResetter.java
  streams/src/test/java/org/apache/kafka/streams/tools/StreamsResetterTest.java
Labels: streams, tools

#10506 MINOR: Improve description of `max.poll.records` config
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
Labels: consumer

#10411 KAFKA-7606: Remove deprecated options from StreamsResetter
  core/src/main/scala/kafka/tools/StreamsResetter.java
  docs/streams/upgrade-guide.html
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationTest.java
Labels: streams

#10343 KAFKA-12471: Implement createPartitions in KIP-500 mode
  checkstyle/suppressions.xml
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/test/java/kafka/test/MockController.java
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  metadata/src/main/java/org/apache/kafka/controller/BrokerHeartbeatManager.java
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/Controller.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicaPlacementPolicy.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/SimpleReplicaPlacementPolicy.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kip-500

#10529 KAFKA-12650: fix NPE in InternalTopicManagerTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
Labels: streams, tests

#10536 KAFKA-12667: Fix incorrect error log on StateDirectory close
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
Labels: streams

#10538 MINOR: shutdown KafkaScheduler at appropriate time
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
Labels: kip-500

#10505 MINOR: fix some bugs in ControllerApis.scala
  core/src/main/scala/kafka/network/RequestChannel.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/test/java/kafka/test/MockController.java
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  metadata/src/main/java/org/apache/kafka/controller/Controller.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
Labels: kip-500

#10565 KAFKA-12691: Add case where task can be considered idling
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#10580 KAFKA-12704: Improve cache access during connector class instantiation in config validations
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
Labels: connect

#9821 KAFKA-5876: Apply UnknownStateStoreException for Interactive Queries
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/JoinStoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
Labels: kip, streams

#8923 KAFKA-6435: KIP-623 Add internal topics option to streamResetter
  core/src/main/scala/kafka/tools/StreamsResetter.java
  docs/streams/developer-guide/app-reset-tool.html
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/tools/StreamsResetterTest.java
Labels: kip, streams

#10564 MINOR: clean up some replication code
  metadata/src/main/java/org/apache/kafka/controller/BrokersToIsrs.java
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/BrokersToIsrsTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kip-500

#10548 KAFKA-12396 added a nullcheck before trying to retrieve a key
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
Labels: streams
