Repository apache/kafka, pull requests merged in 2021-06, with the labels that each got.

#10457 KAFKA-12596: remove --zookeeper option from topic command
  core/src/main/scala/kafka/admin/TopicCommand.scala
  core/src/test/scala/unit/kafka/admin/TopicCommandIntegrationTest.scala
  core/src/test/scala/unit/kafka/admin/TopicCommandTest.scala
  core/src/test/scala/unit/kafka/admin/TopicCommandWithZKClientTest.scala
Labels: kip-500

#10787 KAFKA-12864: Move KafkaEventQueue into server-common
  server-common/src/main/java/org/apache/kafka/queue/EventQueue.java
  server-common/src/main/java/org/apache/kafka/queue/KafkaEventQueue.java
  server-common/src/test/java/org/apache/kafka/queue/KafkaEventQueueTest.java
Labels: kip-500

#10668 MINOR: Apply try-with-resource to KafkaStreamsTest
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
Labels: streams

#10609 KAFKA-12648: Pt. 1 - Add NamedTopology to protocol and state directory structure
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfo.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/ConsumerProtocolUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/StreamsAssignmentProtocolVersions.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfo.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/NamedTopology.java
  streams/src/main/resources/common/message/SubscriptionInfoData.json
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/NamedTopologyIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateDirectoryTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentInfoTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/SubscriptionInfoTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams

#10810 MINOR: Improve Kafka Streams JavaDocs with regard to record metadata
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/Punctuator.java
  streams/src/main/java/org/apache/kafka/streams/processor/RecordContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/ProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/RecordMetadata.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorRecordContext.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LRUCacheEntry.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableInnerJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableOuterJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableRightJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorRecordContextTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/BufferValueTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingInMemoryKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingInMemorySessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingPersistentSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingPersistentWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/NamedCacheTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ThreadCacheTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedKeyValueBufferTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
Labels: streams

#9414 KAFKA-10585: Kafka Streams should clean up the state store directory from cleanup
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/test/java/org/apache/kafka/streams/integration/EOSUncleanShutdownIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StateDirectoryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateDirectoryTest.java
Labels: streams

#10865 KAFKA-12934: Move some controller classes to the metadata package
  metadata/src/main/java/org/apache/kafka/controller/BrokersToIsrs.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/metadata/LeaderConstants.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/main/java/org/apache/kafka/metadata/Replicas.java
  metadata/src/test/java/org/apache/kafka/controller/ClientQuotaControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
  metadata/src/test/java/org/apache/kafka/metadata/RecordTestUtils.java
  metadata/src/test/java/org/apache/kafka/metadata/ReplicasTest.java
Labels: kip-500

#10870 MINOR: enable EOS during smoke test IT
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  tests/kafkatest/tests/streams/streams_smoke_test.py
Labels: streams

#10804 KAFKA-12877: Make flexibleVersions mandatory
  clients/src/main/resources/common/message/BeginQuorumEpochRequest.json
  clients/src/main/resources/common/message/BeginQuorumEpochResponse.json
  clients/src/main/resources/common/message/ConsumerProtocolAssignment.json
  clients/src/main/resources/common/message/ConsumerProtocolSubscription.json
  clients/src/main/resources/common/message/EndQuorumEpochRequest.json
  clients/src/main/resources/common/message/EndQuorumEpochResponse.json
  clients/src/main/resources/common/message/OffsetDeleteRequest.json
  clients/src/main/resources/common/message/OffsetDeleteResponse.json
  clients/src/main/resources/common/message/SaslHandshakeRequest.json
  clients/src/main/resources/common/message/SaslHandshakeResponse.json
  core/src/main/resources/common/message/GroupMetadataKey.json
  core/src/main/resources/common/message/GroupMetadataValue.json
  core/src/main/resources/common/message/OffsetCommitKey.json
  core/src/main/resources/common/message/OffsetCommitValue.json
  core/src/main/resources/common/message/TransactionLogKey.json
  core/src/main/resources/common/message/TransactionLogValue.json
  generator/src/main/java/org/apache/kafka/message/MessageSpec.java
  generator/src/test/java/org/apache/kafka/message/MessageDataGeneratorTest.java
  generator/src/test/java/org/apache/kafka/message/StructRegistryTest.java
  metadata/src/main/resources/common/metadata/ConfigRecord.json
  metadata/src/main/resources/common/metadata/DelegationTokenRecord.json
  metadata/src/main/resources/common/metadata/FeatureLevelRecord.json
  metadata/src/main/resources/common/metadata/FenceBrokerRecord.json
  metadata/src/main/resources/common/metadata/PartitionRecord.json
  metadata/src/main/resources/common/metadata/ProducerIdsRecord.json
  metadata/src/main/resources/common/metadata/QuotaRecord.json
  metadata/src/main/resources/common/metadata/RegisterBrokerRecord.json
  metadata/src/main/resources/common/metadata/RemoveTopicRecord.json
  metadata/src/main/resources/common/metadata/TopicRecord.json
  metadata/src/main/resources/common/metadata/UnfenceBrokerRecord.json
  metadata/src/main/resources/common/metadata/UnregisterBrokerRecord.json
  metadata/src/main/resources/common/metadata/UserScramCredentialRecord.json
  streams/src/main/resources/common/message/SubscriptionInfoData.json
Labels: kip-500

#10861 KAFKA-12909: disable spurious left/outer stream-stream join fix for old JoinWindows API
  streams/src/main/java/org/apache/kafka/streams/kstream/JoinWindows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/JoinWindowsInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamStreamJoinNode.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamStreamJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplValueJoinerWithKeyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamOuterJoinTest.java
Labels: streams

#10701 KAFKA-10437: Update WordCount examples to use new PAPI
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountProcessorDemo.java
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountTransformerDemo.java
  streams/examples/src/test/java/org/apache/kafka/streams/examples/wordcount/WordCountTransformerTest.java
Labels: streams

#10335 KAFKA-12484: Enable Connect's connector log contexts by default (KIP-721)
  config/connect-log4j.properties
Labels: connect, kip

#10336 KAFKA-12483: Enable client overrides in connector configs by default (KIP-722)
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorClientPolicyIntegrationTest.java
Labels: connect, kip

#10834 KAFKA-12904: Corrected the timeout for config validation REST API resource
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResource.java
Labels: connect

#10190 KAFKA-12336 Custom stream naming does not work while calling stream[K…
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KStreamTest.scala
Labels: streams

#10927 MINOR: add MockConfigRepository
  core/src/test/scala/kafka/server/metadata/MockConfigRepository.scala
  core/src/test/scala/unit/kafka/cluster/AbstractPartitionTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
  core/src/test/scala/unit/kafka/server/HighwatermarkPersistenceTest.scala
  core/src/test/scala/unit/kafka/server/IsrExpirationTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/RaftReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerQuotasTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/server/epoch/OffsetsForLeaderEpochTest.scala
  core/src/test/scala/unit/kafka/server/metadata/MockConfigRepositoryTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetcher/ReplicaFetcherThreadBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/MetadataRequestBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/PartitionMakeFollowerBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/UpdateFollowerFetchStateBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/CheckpointBench.java
Labels: kip-500

#10894 KAFKA-12951: restore must terminate for tx global topic
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImplTest.java
Labels: streams

#10893 KAFKA-12909: add missing tests
  streams/src/test/java/org/apache/kafka/streams/kstream/JoinWindowsTest.java
Labels: streams

#10824 KAFKA-12718: SessionWindows are closed too early
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregate.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SuppressScenarioTest.java
Labels: streams

#10913 KAFKA-12631; Implement `resign` API in `KafkaRaftClient`
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/RaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kip-500

#10221 KAFKA-12379: Allow configuring the location of the offset-syncs topic…
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/OffsetSyncStore.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorConnectorConfigTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
Labels: kip

#10887 MINOR: Refactor the MetadataCache interface
  core/src/main/scala/kafka/admin/AdminUtils.scala
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/BrokerToControllerChannelManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/MetadataCache.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/main/scala/kafka/server/ZkAdminManager.scala
  core/src/main/scala/kafka/server/metadata/RaftMetadataCache.scala
  core/src/test/scala/unit/kafka/controller/ControllerIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/AutoTopicCreationManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/MetadataCacheTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/server/ServerStartupTest.scala
  core/src/test/scala/unit/kafka/server/epoch/LeaderEpochIntegrationTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: kip-500

#10942 MINOR: Move ZkMetadataCache into its own file.
  core/src/main/scala/kafka/server/MetadataCache.scala
  core/src/main/scala/kafka/server/metadata/ZkMetadataCache.scala
Labels: kip-500

#10948 MINOR: Some broker code cleanups
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/server/ClientQuotaManager.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/RaftReplicaManager.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/cluster/BrokerEndPointTest.scala
  core/src/test/scala/unit/kafka/server/RaftReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: kip-500
