Repository apache/kafka, pull requests merged in 2021-01, with the labels that each got.

#9829 MINOR: improve KafkaStreams replication factor documentation
  docs/streams/developer-guide/config-streams.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: docs, streams

#9801 MINOR: code cleanup for Kafka Streams task interface
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#9800 KAFKA-9274: Fix commit-TimeoutException handling for EOS
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#9837 KAFKA-9566: Improve DeserializationExceptionHandler JavaDocs
  streams/src/main/java/org/apache/kafka/streams/errors/DeserializationExceptionHandler.java
Labels: docs, streams

#9876 KAFKA-12183: Add the KIP-631 metadata record definitions
  .gitignore
  build.gradle
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  metadata/src/main/java/org/apache/kafka/metadata/BrokerState.java
  metadata/src/main/java/org/apache/kafka/metadata/MetadataParseException.java
  metadata/src/main/java/org/apache/kafka/metadata/MetadataParser.java
  metadata/src/main/java/org/apache/kafka/metadata/VersionRange.java
  metadata/src/main/resources/common/metadata/AccessControlRecord.json
  metadata/src/main/resources/common/metadata/ConfigRecord.json
  metadata/src/main/resources/common/metadata/DelegationTokenRecord.json
  metadata/src/main/resources/common/metadata/FeatureLevelRecord.json
  metadata/src/main/resources/common/metadata/FenceBrokerRecord.json
  metadata/src/main/resources/common/metadata/IsrChangeRecord.json
  metadata/src/main/resources/common/metadata/PartitionRecord.json
  metadata/src/main/resources/common/metadata/QuotaRecord.json
  metadata/src/main/resources/common/metadata/RegisterBrokerRecord.json
  metadata/src/main/resources/common/metadata/RemoveTopicRecord.json
  metadata/src/main/resources/common/metadata/TopicRecord.json
  metadata/src/main/resources/common/metadata/UnfenceBrokerRecord.json
  metadata/src/main/resources/common/metadata/UnregisterBrokerRecord.json
  metadata/src/main/resources/common/metadata/UserScramCredentialRecord.json
  metadata/src/test/java/org/apache/kafka/metadata/BrokerStateTest.java
  metadata/src/test/java/org/apache/kafka/metadata/MetadataParserTest.java
  metadata/src/test/java/org/apache/kafka/metadata/VersionRangeTest.java
  metadata/src/test/resources/log4j.properties
  settings.gradle
Labels: kip-500

#9715 Upstream ApisUtils from kip-500
  core/src/main/scala/kafka/server/AuthHelper.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/RequestHandlerHelper.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: kip-500

#9900 KAFKA-12208: Rename AdminManager to ZkAdminManager
  core/src/main/scala/kafka/server/DelayedCreatePartitions.scala
  core/src/main/scala/kafka/server/DelayedDeleteTopics.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/ZkAdminManager.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ZkAdminManagerTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/MetadataRequestBenchmark.java
Labels: kip-500

#9914 KAFKA-12214: Generated code does not include UUID or struct fields in toString()
  clients/src/test/java/org/apache/kafka/common/message/SimpleExampleMessageTest.java
  generator/src/main/java/org/apache/kafka/message/MessageDataGenerator.java
Labels: kip-500

#9883 MINOR: Generalize server startup to make way for KIP-500
  clients/src/main/java/org/apache/kafka/common/config/ConfigDef.java
  core/src/main/scala/kafka/Kafka.scala
  core/src/main/scala/kafka/log/LogConfig.scala
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/metrics/KafkaMetricsReporter.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaRaftServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/KafkaServerStartable.scala
  core/src/main/scala/kafka/server/Server.scala
  core/src/main/scala/kafka/server/ZkAdminManager.scala
  core/src/main/scala/kafka/tools/TestRaftServer.scala
  core/src/main/scala/kafka/utils/VerifiableProperties.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/unit/kafka/log/LogConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaMetricReporterClusterIdTest.scala
  core/src/test/scala/unit/kafka/server/KafkaMetricsReporterTest.scala
  core/src/test/scala/unit/kafka/server/ServerMetricsTest.scala
Labels: kip-500

#9733 KAFKA-10017: fix 2 issues in EosBetaUpgradeIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/EosBetaUpgradeIntegrationTest.java
Labels: streams, tests

#9911 MINOR: Fix StreamsOptimizedTest
  tests/kafkatest/tests/streams/streams_optimized_test.py
Labels: streams

#9835 MINOR: Add 'task container' class to KafkaStreams TaskManager
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#9940 KAFKA-12185: fix ConcurrentModificationException in newly added Tasks container class
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#9948 MINOR: fix record time in shouldWipeOutStandbyStateDirectoryIfCheckpointIsMissing
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
Labels: streams, tests

#9932 MINOR: Upgrade ducktape to version 0.7.11
  tests/docker/Dockerfile
  tests/setup.py
Labels: tests

#9947 KAFKA-12190: Fix setting of file permissions on non-POSIX filesystems
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateDirectoryTest.java
Labels: streams

#9942 KAFKA-12229: reset to original class loader after connector stop
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
Labels: connect

#9765 KAFKA-10763: Fix incomplete cooperative rebalances preventing connector/task revocations
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
Labels: connect

#9720 KAFKA-10555: Improve client state machine
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EOSUncleanShutdownIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosBetaUpgradeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamsUncaughtExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/HandlingSourceTopicDeletionIntegrationTest.java
Labels: kip, streams

#9805 MINOR: Remove outdated comment in Connect's WorkerCoordinator
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinator.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinatorTest.java
Labels: connect

#9959 MINOR: Remove redundant casting and if condition from ConnectSchema
  connect/api/src/main/java/org/apache/kafka/connect/data/ConnectSchema.java
Labels: connect

#9983 KAFKA-8930: MirrorMaker v2 documentation (#324)
  docs/ops.html
  docs/toc.html
Labels: docs

#9836 KAFKA-10866: Add metadata to ConsumerRecords
  build.gradle
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerRecords.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchedRecords.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/Fetcher.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/SubscriptionState.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: consumer, kip

#9840 KAFKA-10867: Improved task idling
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PartitionGroup.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SmokeTestDriverIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/testutil/LogCaptureAppender.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: kip, streams

#9525 KAFKA-10658 ErrantRecordReporter.report always return completed futur…
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/ProcessingContext.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/ProcessingContextTest.java
Labels: connect

#9738 KAFKA-8744: Update Scala API to give names to processors
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/CogroupedKStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KGroupedStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KGroupedTable.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KTable.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/SessionWindowedCogroupedKStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/SessionWindowedKStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/TimeWindowedCogroupedKStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/TimeWindowedKStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/package.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KStreamTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KTableTest.scala
Labels: kip, streams

#9969 MINOR: updated upgrade and architecture for KIP-663, KIP-696, and KIP-671
  docs/streams/architecture.html
  docs/streams/upgrade-guide.html
Labels: docs, kip, streams

#9967 KAFKA-12236; New meta.properties logic for KIP-500
  clients/src/main/java/org/apache/kafka/common/Uuid.java
  clients/src/test/java/org/apache/kafka/common/UuidTest.java
  clients/src/test/java/org/apache/kafka/common/message/SimpleExampleMessageTest.java
  clients/src/test/resources/common/message/SimpleExampleMessage.json
  core/src/main/scala/kafka/common/InconsistentNodeIdException.scala
  core/src/main/scala/kafka/raft/KafkaNetworkChannel.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/BrokerMetadataCheckpoint.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaRaftServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/Server.scala
  core/src/main/scala/kafka/tools/TestRaftServer.scala
  core/src/test/scala/kafka/server/BrokerMetadataCheckpointTest.scala
  core/src/test/scala/unit/kafka/raft/KafkaNetworkChannelTest.scala
  core/src/test/scala/unit/kafka/raft/RaftManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaRaftServerTest.scala
  core/src/test/scala/unit/kafka/server/ServerGenerateBrokerIdTest.scala
  core/src/test/scala/unit/kafka/server/ServerGenerateClusterIdTest.scala
  core/src/test/scala/unit/kafka/server/ServerTest.scala
  raft/README.md
  raft/config/raft.properties
Labels: kip-500
