Repository apache/kafka, pull requests merged in 2021-08, with the labels that each got.

#10909 KAFKA-12158: Better return type of RaftClient.scheduleAppend
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/tools/TestRaftServer.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManager.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/RaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ReplicatedCounter.java
  raft/src/main/java/org/apache/kafka/raft/errors/BufferAllocationException.java
  raft/src/main/java/org/apache/kafka/raft/errors/NotLeaderException.java
  raft/src/main/java/org/apache/kafka/raft/errors/RaftException.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchAccumulator.java
  raft/src/main/java/org/apache/kafka/snapshot/SnapshotWriter.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
Labels: kip-500

#11157 MINOR: Replace EasyMock with Mockito in test-utils module
  build.gradle
  streams/test-utils/src/test/java/org/apache/kafka/streams/KeyValueStoreFacadeTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/WindowStoreFacadeTest.java
Labels: streams, tests

#11172 MINOR: update stream-stream join docs
  docs/streams/developer-guide/dsl-api.html
Labels: streams, docs

#11190 MINOR: Increase smoke test production time
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
Labels: streams

#11195 MINOR: update the KStream#branch(split) doc and java doc and tests
  docs/streams/developer-guide/dsl-api.html
  streams/src/main/java/org/apache/kafka/streams/kstream/Branched.java
  streams/src/main/java/org/apache/kafka/streams/kstream/BranchedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSplitTest.java
Labels: streams

#11236 MINOR: Set session timeout back to 10s for Streams system tests
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeToCooperativeRebalanceTest.java
  tests/kafkatest/services/streams.py
Labels: streams

#11233 HOTFIX: Disable spurious left/outer stream-stream join fix
  streams/src/main/java/org/apache/kafka/streams/kstream/JoinWindows.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamStreamJoinIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/JoinWindowsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplValueJoinerWithKeyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamOuterJoinTest.java
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/TopologyTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KStreamTest.scala
Labels: streams

#11279 KAFKA-13236: TopologyTestDriver should not crash for EOS-beta config
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/internals/TestDriverProducer.java
Labels: streams
