Repository apache/kafka, pull requests merged in 2021-09, with the labels that each got.

#11241 KAFKA-13032: add NPE checker for KeyValueMapper
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamFlatMap.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamMap.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatMapTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamMapTest.java
Labels: streams

#11312 KAFKA-13224: Ensure that broker.id is set in KafkaConfig#originals
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
Labels: kip-500

#11283 KAFKA-13249: Always update changelog offsets before writing the checkpoint file
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#11186 KAFKA-13162: Ensure ElectLeaders is properly handled in KRaft
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/requests/ElectLeadersRequest.java
  core/src/main/scala/kafka/server/BrokerLifecycleManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/java/kafka/test/ClusterInstance.java
  core/src/test/java/kafka/test/junit/RaftClusterInvocationContext.java
  core/src/test/java/kafka/test/junit/ZkClusterInvocationContext.java
  core/src/test/scala/integration/kafka/server/IntegrationTestUtils.scala
  core/src/test/scala/unit/kafka/admin/LeaderElectionCommandErrorTest.scala
  core/src/test/scala/unit/kafka/admin/LeaderElectionCommandTest.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  core/src/test/scala/unit/kafka/zk/ZooKeeperTestHarness.scala
  core/src/test/scala/unit/kafka/zookeeper/ZooKeeperClientTest.scala
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/image/ClientQuotasDelta.java
  metadata/src/main/java/org/apache/kafka/image/ClusterDelta.java
  metadata/src/main/java/org/apache/kafka/image/ConfigurationDelta.java
  metadata/src/main/java/org/apache/kafka/image/ConfigurationsDelta.java
  metadata/src/main/java/org/apache/kafka/image/FeaturesDelta.java
  metadata/src/main/java/org/apache/kafka/image/MetadataDelta.java
  metadata/src/main/java/org/apache/kafka/image/TopicDelta.java
  metadata/src/main/java/org/apache/kafka/image/TopicsDelta.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kip-500

#11252 KAFKA-13216: Use a KV with list serde for the shared store
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamStreamJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/state/StateSerdes.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingListValueBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LeftOrRightValue.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ListValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ListValueStoreBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDbWindowBytesStoreSupplier.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/SessionKeySchema.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimeOrderedKeySchema.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimeOrderedWindowStoreBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedKeyAndJoinSide.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedKeyAndJoinSideDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedKeyAndJoinSideSerde.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedKeyAndJoinSideSerializer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WindowKeySchema.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingInMemorySessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingPersistentSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CompositeReadOnlyWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ListValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedKeySchemaTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimestampedKeyAndJoinSideSerializerTest.java
  streams/src/test/java/org/apache/kafka/test/StreamsTestUtils.java
Labels: streams

#11310 KAFKA-13279: KRaft: add CreateTopicsPolicy + AlterConfigsPolicy
  checkstyle/import-control.xml
  clients/src/main/java/org/apache/kafka/server/policy/AlterConfigPolicy.java
  clients/src/main/java/org/apache/kafka/server/policy/CreateTopicPolicy.java
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kip-500

#11358 MINOR: fix ClusterControlManager log message
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
Labels: kip-500

#11347 KAFKA-13296: warn if previous assignment has duplicate partitions
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
Labels: streams

#11361 KAFKA-13324: KRaft: fix validateOnly in CreateTopics
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kip-500

#11363 MINOR: remove note on future multi-cluster support of Kafka Streams
  docs/streams/developer-guide/config-streams.html
Labels: streams, docs
