Repository apache/kafka, pull requests merged in 2021-07, with the labels that each got.

#10822 KAFKA-4793: Connect API to restart connector and tasks (KIP-745)
  checkstyle/suppressions.xml
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractStatus.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectMetricsRegistry.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorStatus.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Herder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/RestartPlan.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/RestartRequest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/StateTracker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/TaskStatus.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConnector.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/ConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/MemoryConfigBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorHandle.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorRestartApiIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/MonitorableSourceConnector.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/StartAndStopCounter.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/StartsAndStops.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/TaskHandle.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/RestartPlanTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/RestartRequestTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/StateTrackerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectClusterAssertions.java
  tests/kafkatest/services/connect.py
  tests/kafkatest/tests/connect/connect_distributed_test.py
Labels: connect, kip

#10949 KAFKA-13019: Add MetadataImage and MetadataDelta classes for KRaft Snapshots
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/common/requests/DescribeClientQuotasRequest.java
  metadata/src/main/java/org/apache/kafka/image/ClientQuotaDelta.java
  metadata/src/main/java/org/apache/kafka/image/ClientQuotaImage.java
  metadata/src/main/java/org/apache/kafka/image/ClientQuotasDelta.java
  metadata/src/main/java/org/apache/kafka/image/ClientQuotasImage.java
  metadata/src/main/java/org/apache/kafka/image/ClusterDelta.java
  metadata/src/main/java/org/apache/kafka/image/ClusterImage.java
  metadata/src/main/java/org/apache/kafka/image/ConfigurationDelta.java
  metadata/src/main/java/org/apache/kafka/image/ConfigurationImage.java
  metadata/src/main/java/org/apache/kafka/image/ConfigurationsDelta.java
  metadata/src/main/java/org/apache/kafka/image/ConfigurationsImage.java
  metadata/src/main/java/org/apache/kafka/image/FeaturesDelta.java
  metadata/src/main/java/org/apache/kafka/image/FeaturesImage.java
  metadata/src/main/java/org/apache/kafka/image/MetadataDelta.java
  metadata/src/main/java/org/apache/kafka/image/MetadataImage.java
  metadata/src/main/java/org/apache/kafka/image/TopicDelta.java
  metadata/src/main/java/org/apache/kafka/image/TopicImage.java
  metadata/src/main/java/org/apache/kafka/image/TopicsDelta.java
  metadata/src/main/java/org/apache/kafka/image/TopicsImage.java
  metadata/src/main/java/org/apache/kafka/metadata/BrokerRegistration.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/test/java/org/apache/kafka/image/ClientQuotasImageTest.java
  metadata/src/test/java/org/apache/kafka/image/ClusterImageTest.java
  metadata/src/test/java/org/apache/kafka/image/ConfigurationsImageTest.java
  metadata/src/test/java/org/apache/kafka/image/FeaturesImageTest.java
  metadata/src/test/java/org/apache/kafka/image/MetadataImageTest.java
  metadata/src/test/java/org/apache/kafka/image/MockSnapshotConsumer.java
  metadata/src/test/java/org/apache/kafka/image/TopicsImageTest.java
  metadata/src/test/java/org/apache/kafka/metadata/BrokerRegistrationTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
  metadata/src/test/java/org/apache/kafka/metadata/RecordTestUtils.java
Labels: kip-500

#10813 KAFKA-9559: Change default serde to be `null`
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ChangedDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ChangedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WrappingNullableDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WrappingNullableSerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WrappingNullableSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WrappingNullableUtils.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SerdeGetter.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SourceNode.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryTimeOrderedKeyValueBuffer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyAndJoinSideDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyAndJoinSideSerializer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LeftOrRightValueDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LeftOrRightValueSerializer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimeOrderedKeyValueBuffer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ValueAndTimestampDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ValueAndTimestampSerializer.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/HighAvailabilityTaskAssignorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinMaterializationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/src/test/java/org/apache/kafka/test/StreamsTestUtils.java
Labels: kip, streams

#10917 KAFKA-10847: improve throughput of stream-stream join with spurious left/outer join fix
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamOuterJoinTest.java
Labels: streams

#10854 KAFKA-12717: Remove internal Connect converter properties (KIP-738)
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectMetricsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/MockConnectMetrics.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SourceTaskOffsetCommitterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskThreadedTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/RestServerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/util/SSLUtilsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/FileOffsetBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStoreTest.java
  docs/upgrade.html
Labels: connect, kip

#10975 KAFKA-13035 updated documentation for connector restart REST API to …
  docs/connect.html
Labels: connect, docs

#10931 KAFKA-12998: Implement broker-side KRaft snapshots (WIP)
  build.gradle
  clients/src/main/java/org/apache/kafka/common/requests/DescribeClientQuotasResponse.java
  core/src/main/scala/kafka/server/AbstractFetcherManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/DelayedDeleteRecords.scala
  core/src/main/scala/kafka/server/FinalizedFeatureCache.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/MetadataCache.scala
  core/src/main/scala/kafka/server/MetadataSupport.scala
  core/src/main/scala/kafka/server/RaftReplicaChangeDelegate.scala
  core/src/main/scala/kafka/server/RaftReplicaManager.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataListener.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/main/scala/kafka/server/metadata/CachedConfigRepository.scala
  core/src/main/scala/kafka/server/metadata/ClientQuotaCache.scala
  core/src/main/scala/kafka/server/metadata/ClientQuotaMetadataManager.scala
  core/src/main/scala/kafka/server/metadata/KRaftMetadataCache.scala
  core/src/main/scala/kafka/server/metadata/MetadataBrokers.scala
  core/src/main/scala/kafka/server/metadata/MetadataImage.scala
  core/src/main/scala/kafka/server/metadata/MetadataPartitions.scala
  core/src/main/scala/kafka/server/metadata/MetadataPublisher.scala
  core/src/main/scala/kafka/server/metadata/RaftMetadataCache.scala
  core/src/test/scala/kafka/server/metadata/MetadataBrokersTest.scala
  core/src/test/scala/kafka/server/metadata/MetadataPartitionsTest.scala
  core/src/test/scala/kafka/server/metadata/MockConfigRepository.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/HighwatermarkPersistenceTest.scala
  core/src/test/scala/unit/kafka/server/IsrExpirationTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/MetadataCacheTest.scala
  core/src/test/scala/unit/kafka/server/RaftReplicaChangeDelegateTest.scala
  core/src/test/scala/unit/kafka/server/RaftReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerQuotasTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/server/epoch/OffsetsForLeaderEpochTest.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataListenerTest.scala
  core/src/test/scala/unit/kafka/server/metadata/CachedConfigRepositoryTest.scala
  core/src/test/scala/unit/kafka/server/metadata/ClientQuotaMetadataManagerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/CheckpointBench.java
  metadata/src/main/java/org/apache/kafka/image/ClientQuotasImage.java
  metadata/src/main/java/org/apache/kafka/image/MetadataDelta.java
Labels: kip-500

#8571 KAFKA-7613: Enable -Xlint:rawtypes for connect, fixing warnings
  build.gradle
  connect/api/src/main/java/org/apache/kafka/connect/connector/ConnectRecord.java
  connect/api/src/main/java/org/apache/kafka/connect/data/ConnectSchema.java
  connect/api/src/main/java/org/apache/kafka/connect/rest/ConnectRestExtensionContext.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/TransformationChain.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginDesc.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginScanResult.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/ConnectRestConfigurable.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/ConnectRestExtensionContextImpl.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/LoggingResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaStatusBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectorConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginDescTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/ReplaceFieldTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/predicates/HasHeaderKeyTest.java
Labels: connect

#10989 MINOR: Fix a startup NPE in BrokerServer
  core/src/main/scala/kafka/server/BrokerServer.scala
Labels: kip-500

#10992 MINOR: Remove nullable from addingReplicas and removingReplicas
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/resources/common/metadata/PartitionRecord.json
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/image/TopicsImageTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
Labels: kip-500

#9541 KAFKA-10675: Add schema name to ConnectSchema.validateValue() error message
  connect/api/src/main/java/org/apache/kafka/connect/data/ConnectSchema.java
  connect/api/src/test/java/org/apache/kafka/connect/data/StructTest.java
Labels: connect

#11012 Add KRaft "broker" to several RPC's listeners
  clients/src/main/resources/common/message/AddOffsetsToTxnRequest.json
  clients/src/main/resources/common/message/AddPartitionsToTxnRequest.json
  clients/src/main/resources/common/message/AllocateProducerIdsRequest.json
  clients/src/main/resources/common/message/AlterConfigsRequest.json
  clients/src/main/resources/common/message/CreatePartitionsRequest.json
  clients/src/main/resources/common/message/ElectLeadersRequest.json
  clients/src/main/resources/common/message/EndTxnRequest.json
  clients/src/main/resources/common/message/TxnOffsetCommitRequest.json
  clients/src/main/resources/common/message/UnregisterBrokerRequest.json
  clients/src/main/resources/common/message/UpdateFeaturesRequest.json
  core/src/main/scala/kafka/server/KafkaApis.scala
Labels: kip-500

#10794 KAFKA-12677: return not_controller error in envelope response itself
  clients/src/main/java/org/apache/kafka/common/requests/ApiError.java
  clients/src/test/java/org/apache/kafka/common/requests/ApiErrorTest.java
  core/src/main/scala/kafka/network/RequestChannel.scala
  core/src/main/scala/kafka/server/BrokerToControllerChannelManager.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/test/scala/integration/kafka/server/RaftClusterTest.scala
  core/src/test/scala/kafka/server/BrokerToControllerRequestThreadTest.scala
  core/src/test/scala/unit/kafka/network/RequestChannelTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: kip-500

#10935 KAFKA-13003: In kraft mode also advertise configured advertised port instead of socket port
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/java/kafka/testkit/BrokerNode.java
  core/src/test/java/kafka/testkit/TestKitNodes.java
  core/src/test/scala/integration/kafka/server/RaftClusterTest.scala
Labels: kip-500

#11003 KAFKA-12360: Document new time semantics
  docs/streams/developer-guide/config-streams.html
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: docs, streams

#10994 KAFKA-8410: Update the docs to reference the new PAPI
  docs/streams/developer-guide/dsl-api.html
  docs/streams/developer-guide/processor-api.html
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountProcessorDemo.java
  streams/examples/src/test/java/org/apache/kafka/streams/examples/wordcount/WordCountProcessorTest.java
Labels: docs, streams

#8259 KAFKA-7421: Ensure Connect's PluginClassLoader is truly parallel capable and resolve deadlock occurrences
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/SynchronizationTest.java
Labels: connect

#10877 KAFKA-12925: adding presfixScan operation for missed implementations
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractReadOnlyDecorator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractReadWriteDecorator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CompositeReadOnlyKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyValueToTimestampedKeyValueByteStoreAdapter.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MemoryLRUCache.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MemoryNavigableLRUCache.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ReadOnlyKeyValueStoreFacade.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedKeyValueStoreBuilder.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CompositeReadOnlyKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ReadOnlyKeyValueStoreFacadeTest.java
  streams/src/test/java/org/apache/kafka/test/MockKeyValueStore.java
  streams/src/test/java/org/apache/kafka/test/NoOpReadOnlyStore.java
Labels: streams

#10753 KAFKA-12803: Support reassigning partitions when in KRaft mode
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/resources/common/message/AlterPartitionReassignmentsRequest.json
  clients/src/main/resources/common/message/ListPartitionReassignmentsRequest.json
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/integration/kafka/server/RaftClusterTest.scala
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/PartitionReassignmentReplicas.java
  metadata/src/main/java/org/apache/kafka/controller/PartitionReassignmentRevert.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/image/TopicDelta.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/main/java/org/apache/kafka/metadata/Replicas.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionReassignmentReplicasTest.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionReassignmentRevertTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
  metadata/src/test/java/org/apache/kafka/metadata/ReplicasTest.java
Labels: kip-500

#10945 KAFKA-13017: Remove excessive logging for sink task deserialization errors
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
Labels: connect

#11055 HOTFIX: Init stream-stream left/outer join emit interval correctly
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamOuterJoinTest.java
Labels: streams

#11064 MINOR: enable reassign_partitions_test.py for kraft
  tests/kafkatest/tests/core/reassign_partitions_test.py
Labels: kip-500

#11067 MINOR: log broker configs in KRaft mode
  core/src/main/scala/kafka/server/BrokerServer.scala
Labels: kip-500

#10811 KAFKA-12598: ConfigCommand should only support communication via ZooKeeper for a reduced set of cases
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  core/src/test/scala/unit/kafka/admin/ConfigCommandTest.scala
  docs/upgrade.html
Labels: kip-500

#11029 MINOR: Handle some null cases in BrokerMetadataPublisher
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
Labels: kip-500

#11045 KAFKA-13082: Replace EasyMock with Mockito for ProcessorContextTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextTest.java
Labels: streams, tests

#8844 KAFKA-9887 fix failed task or connector count on startup failure
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerMetricsGroup.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerMetricsGroupTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
Labels: connect

#11070 Validate the controllerListener config on startup
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/network/ConnectionQuotasTest.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaRaftServerTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
Labels: kip-500

#10921 KAFKA-13096: Ensure queryable store providers is up to date after adding stream thread
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/QueryableStoreProvider.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WrappingStoreProvider.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/QueryableStoreProviderTest.java
Labels: streams

#11117 MINOR: Remove older brokers from upgrade test
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tests

#11075 MINOR: Move off deprecated APIs in StreamsResetter
  core/src/main/scala/kafka/tools/StreamsResetter.java
Labels: streams, tools

#11105 KAFKA-13123: close KeyValueIterator instances in example code and tests
  streams/examples/src/test/java/org/apache/kafka/streams/examples/docs/DeveloperGuideTesting.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/SessionKeySchemaTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/WindowKeySchemaTest.java
Labels: streams, tests

#11106 KAFKA-13124: close KeyValueIterator instance in internals tests (part 1)
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractSessionBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingInMemoryKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingInMemorySessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingPersistentSessionStoreTest.java
Labels: streams, tests

#11107 KAFKA-13125: close KeyValueIterator instances in internals tests (part 2)
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingPersistentWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingKeyValueBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CompositeReadOnlyKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CompositeReadOnlySessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CompositeReadOnlyWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MergedSortedCacheKeyValueBytesStoreIteratorTest.java
Labels: streams, tests

#11132 KAFKA-13139: Empty response after requesting to restart a connector without the tasks results in NPE
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
Labels: connect

#11143 MINOR: close TopologyTestDriver to release resources
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
Labels: streams, tests
