Repository apache/kafka, pull requests merged in 2022-01, with the labels that each got.

#11567 KAFKA-13494: WindowKeyQuery and WindowRangeQuery
  streams/src/main/java/org/apache/kafka/streams/query/QueryResult.java
  streams/src/main/java/org/apache/kafka/streams/query/WindowKeyQuery.java
  streams/src/main/java/org/apache/kafka/streams/query/WindowRangeQuery.java
  streams/src/main/java/org/apache/kafka/streams/query/internals/FailedQueryResult.java
  streams/src/main/java/org/apache/kafka/streams/query/internals/SucceededQueryResult.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemorySessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowedKeyValueIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreQueryUtils.java
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2StoreIntegrationTest.java
Labels: streams

#11648 MINOR: add default-replication-factor to MockAdminClient
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
Labels: tests, admin

#11624 KAFKA-13553: add PAPI KV store tests for IQv2
  checkstyle/suppressions.xml
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2StoreIntegrationTest.java
Labels: streams

#11650 KAFKA-13553: Add PAPI Window and Session store tests for IQv2
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2StoreIntegrationTest.java
Labels: streams

#11535 KAFKA-13476: Increase resilience timestamp decoding Kafka Streams
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#11637 MINOR: enable KRaft in MetadataRequestTest
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
  core/src/test/scala/unit/kafka/server/AbstractMetadataRequestTest.scala
  core/src/test/scala/unit/kafka/server/BaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/MetadataRequestTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: kip-500

#11629 MINOR: enable KRaft mode in CreateTopicsRequestTest
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/unit/kafka/server/AbstractCreateTopicsRequestTest.scala
  core/src/test/scala/unit/kafka/server/CreateTopicsRequestTest.scala
Labels: kip-500

#11593 KAFKA-13528: KRaft RegisterBroker should validate that the cluster ID matches
  core/src/main/scala/kafka/server/ControllerServer.scala
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ProducerIdControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTestEnv.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManagerTestEnv.java
Labels: kip-500

#11635 MINOR: enable KRaft in MinIsrConfigTest
  core/src/test/scala/unit/kafka/integration/MinIsrConfigTest.scala
Labels: kip-500

#11633 MINOR: support KRaft in TransactionsExpirationTest
  core/src/test/scala/integration/kafka/api/TransactionsExpirationTest.scala
Labels: kip-500

#11668 MINOR: Fix confusion between EventQueueProcessingTimeMs and EventQueueTimeMs
  metadata/src/main/java/org/apache/kafka/controller/QuorumControllerMetrics.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerMetricsTest.java
Labels: kip-500

#11613 MINOR: Update streamResetter option description
  core/src/main/scala/kafka/tools/StreamsResetter.java
Labels: streams, tools

#11683 KAFKA-6502: Update consumed offsets on corrupted records.
  streams/src/main/java/org/apache/kafka/streams/processor/internals/CorruptedRecord.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StampedRecord.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#11700 MINOR: RegisterBroker should use an atomic append
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
Labels: kip-500

#11657 KAFKA-13552: Fix BROKER and BROKER_LOGGER in KRaft
  clients/src/main/java/org/apache/kafka/common/requests/IncrementalAlterConfigsRequest.java
  core/src/main/scala/kafka/server/ConfigAdminManager.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/server/ControllerConfigurationValidator.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/ForwardingManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/MetadataSupport.scala
  core/src/main/scala/kafka/server/ZkAdminManager.scala
  core/src/main/scala/kafka/server/ZkConfigManager.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataListener.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/main/scala/kafka/server/metadata/ZkConfigRepository.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/unit/kafka/server/ConfigAdminManagerTest.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigChangeTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
Labels: kip-500

#11702 MINOR: fix NPE in iqv2
  streams/src/main/java/org/apache/kafka/streams/query/QueryResult.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemorySessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MemoryNavigableLRUCache.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreQueryUtils.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StoreQueryUtilsTest.java
Labels: streams

#11382 KAFKA-13348: Allow Source Tasks to Handle Producer Exceptions
  connect/api/src/main/java/org/apache/kafka/connect/source/SourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperator.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperatorTest.java
Labels: connect, kip

#11455 KAFKA-13423: GlobalThread should not log ERROR on clean shutdown
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStreamThread.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableIntegrationTest.java
Labels: streams
