Repository apache/kafka, pull requests merged in 2022-12, with the labels that each got.

#12355 KAFKA-14017: Implement new KIP-618 APIs in FileStreamSourceConnector
  connect/file/src/main/java/org/apache/kafka/connect/file/FileStreamSourceConnector.java
  connect/file/src/test/java/org/apache/kafka/connect/file/FileStreamSourceConnectorTest.java
Labels: connect

#12848 KAFKA-14367; Add `Heartbeat` to the new `GroupCoordinator` interface
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
Labels: KIP-848

#12847 KAFKA-14367; Add `SyncGroup` to the new `GroupCoordinator` interface
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/RequestHandlerHelper.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
Labels: KIP-848

#12846 KAFKA-14293: Basic Auth filter should set the SecurityContext after a…
  build.gradle
  checkstyle/import-control.xml
  connect/basic-auth-extension/src/main/java/org/apache/kafka/connect/rest/basic/auth/extension/JaasBasicAuthFilter.java
  connect/basic-auth-extension/src/test/java/org/apache/kafka/connect/rest/basic/auth/extension/JaasBasicAuthFilterTest.java
  gradle/dependencies.gradle
Labels: connect

#12893 KAFKA-14260: add `synchronized` to `prefixScan` method
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractKeyValueStoreTest.java
Labels: streams

#12853 KAFKA-14367; Add `ListGroups` to the new `GroupCoordinator` interface
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
Labels: KIP-848

#12955 KAFKA-14443: Close topic creation Admin clients in MM2 connectors
  connect/mirror-client/src/main/java/org/apache/kafka/connect/mirror/MirrorClient.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorHeartbeatConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConnector.java
Labels: mirror-maker-2

#12932 KAFKA-14425; The Kafka protocol should support nullable structs
  clients/src/test/java/org/apache/kafka/common/message/NullableStructMessageTest.java
  clients/src/test/resources/common/message/NullableStructMessage.json
  generator/src/main/java/org/apache/kafka/message/FieldSpec.java
  generator/src/main/java/org/apache/kafka/message/FieldType.java
  generator/src/main/java/org/apache/kafka/message/MessageDataGenerator.java
  generator/src/main/java/org/apache/kafka/message/SchemaGenerator.java
  generator/src/test/java/org/apache/kafka/message/MessageDataGeneratorTest.java
Labels: kip, KIP-848

#12970 MINOR: Small refactor in DescribeGroupsResponse
  clients/src/main/java/org/apache/kafka/common/requests/DescribeGroupsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeGroupsResponse.java
  core/src/main/scala/kafka/server/KafkaApis.scala
Labels: KIP-848

#12934 MINOR: add docs table entries for new metrics
  docs/ops.html
Labels: streams, docs

#12978 MINOR: Small refactor in KafkaApis.handleHeartbeatRequest
  core/src/main/scala/kafka/server/KafkaApis.scala
Labels: KIP-848

#12855 KAFKA-14367; Add `DescribeGroups` to the new `GroupCoordinator` interface
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
Labels: KIP-848

#12937 KAFKA-13881: Add Connect package infos
  connect/api/src/main/java/org/apache/kafka/connect/components/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/connector/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/connector/policy/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/data/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/errors/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/header/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/health/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/rest/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/sink/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/source/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/storage/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/transforms/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/transforms/predicates/package-info.java
  connect/api/src/main/java/org/apache/kafka/connect/util/package-info.java
Labels: connect

#12985 KAFKA-13602: Remove unwanted logging in RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
Labels: streams

#12944 KAFKA-14395: add config to configure client supplier
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams, kip

#12926 MINOR: update Streams upgrade guide for 3.1 release
  docs/streams/upgrade-guide.html
Labels: streams, docs

#12858 KAFKA-14367; Add `DeleteGroups` to the new `GroupCoordinator` interface
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
Labels: KIP-848

#12941 KAFKA-13709: Add docs for exactly-once support in Connect
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
  docs/connect.html
Labels: docs, connect

#12735 KAFKA-14132: Replace EasyMock and PowerMock with Mockito in connect/runtime/ErrorHandlingTaskTest
  build.gradle
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
Labels: connect, tests

#12947 KAFKA-6586: Refactor ConnectDistributed and ConnectStandalone to re-use shared logic
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/AbstractConnectCli.java
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/ConnectDistributed.java
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/ConnectStandalone.java
Labels: connect

#13022 MINOR: fix expected version in streams upgrade test
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tests

#12936 KAFKA-13881: Add Streams package infos
  streams/src/main/java/org/apache/kafka/streams/errors/package-info.java
  streams/src/main/java/org/apache/kafka/streams/kstream/package-info.java
  streams/src/main/java/org/apache/kafka/streams/package-info.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/package-info.java
  streams/src/main/java/org/apache/kafka/streams/processor/package-info.java
  streams/src/main/java/org/apache/kafka/streams/query/package-info.java
  streams/src/main/java/org/apache/kafka/streams/state/package-info.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/test/package-info.java
Labels: streams, docs

#12166 KAFKA-13817 Always sync nextTimeToEmit with wall clock
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
Labels: streams

#12613 fix punctuation marks
  docs/streams/architecture.html
Labels: docs

#8335 MINOR: Add implicit for Serde[UUID] to Streams Scala API
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/Serdes.scala
Labels: streams

#11569 DOCS-9992: Fix method name in table-table FK left join example
  docs/streams/developer-guide/dsl-api.html
Labels: streams, docs

#12008 KAFKA-13439: move upgrade note to stream upgrade doc
  docs/streams/upgrade-guide.html
  docs/upgrade.html
Labels: streams, docs

#12470 Update WordCountTransformerDemo comments
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountTransformerDemo.java
Labels: streams

#10164 MINOR: remove unused org.apache.kafka.streams.processor.internals.Res…
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RestoringTasks.java
Labels: streams

#6867 Fixed error in KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
Labels: streams
