Repository apache/kafka, pull requests merged in 2022-07, with the labels that each got.

#12373 MINOR: Fix static mock usage in TaskMetricsTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/TaskMetricsTest.java
Labels: streams

#12289 KAFKA-13957: Fix flaky shouldQuerySpecificActivePartitionStores test
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
Labels: streams

#12379 KAFKA-10199: Remove call to Task#completeRestoration from state updater
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
Labels: streams

#12377 KAFKA-14008: Add docs for Streams metrics introduced in KIP-846
  docs/ops.html
Labels: streams, docs

#12420 KAFKA-13769 Fix version check in SubscriptionJoinForeignProcessorSupplier
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionJoinForeignProcessorSupplier.java
Labels: streams

#12412 KAFKA-14079 - Ack failed records in WorkerSourceTask when error tolerance is ALL
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
Labels: connect

#12415 KAFKA-14079 - Ack failed records in WorkerSourceTask when error tolerance is ALL
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
Labels: connect

#12320 KAFKA-13702: Connect RestClient overrides response status code on request failure
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestClient.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/RestClientTest.java
Labels: connect

#12401 Minor: replace .kafka with .log in implementation documentation
  docs/images/kafka_log.png
  docs/implementation.html
Labels: docs

#12408 KAFKA-14076: Fix issues with KafkaStreams.CloseOptions
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsCloseOptionsIntegrationTest.java
Labels: streams, kip

#12285 KAFKA-14001: Migrate streams module to JUnit 5 - Part 1
  streams/src/test/java/org/apache/kafka/streams/integration/AdjustStreamThreadCountTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EmitOnChangeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/FineGrainedAutoResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalThreadShutDownOrderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/HighAvailabilityTaskAssignorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2IntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/InternalTopicIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationDedupIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyInnerJoinCustomPartitionerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableSourceTopicRestartIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RackAwarenessIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams

#12427 KAFKA-10199: Add tasks to state updater when they are created
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TasksTest.java
  streams/src/test/java/org/apache/kafka/test/StreamsTestUtils.java
Labels: streams

#12436 MINOR: Use builder for mock task in DefaultStateUpdaterTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
  streams/src/test/java/org/apache/kafka/test/StreamsTestUtils.java
Labels: streams

#12422 KAFKA-13982: Move WorkerConfigTransformerTest to use Mockito
  build.gradle
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerConfigTransformerTest.java
Labels: connect

#12309 KAFKA-14007: Invoking connect headers.close method on shutdown
  connect/api/src/main/java/org/apache/kafka/connect/storage/StringConverter.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/converters/NumberConverter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskThreadedTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
Labels: connect

#12429 KAFKA-14089: Only check for committed seqnos after disabling exactly-once support in Connect integration test
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExactlyOnceSourceIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/MonitorableSourceConnector.java
Labels: connect

#12442 KAFKA-10199: Bookkeep tasks during assignment for use with state updater
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/test/StreamsTestUtils.java
Labels: streams

#12454 MINOR: Fix static mock usage in ThreadMetricsTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetricsTest.java
Labels: streams

#12453 MINOR: Remove code of removed metric
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetrics.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetricsTest.java
Labels: streams
