Repository apache/kafka, pull requests merged in 2022-03, with the labels that each got.

#11828 MINOR: Improve test assertions for IQv2
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2StoreIntegrationTest.java
Labels: streams

#11411 MINOR: Clarify acceptable recovery lag config doc
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams

#11848 MINOR: Restructure ConsistencyVectorIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/ConsistencyVectorIntegrationTest.java
Labels: streams

#11876 Minor typo: "result is a" > "result in a"
  docs/streams/developer-guide/dsl-api.html
Labels: streams, docs

#11877 KAKFA-13699: new ProcessorContext is missing methods
  streams/src/main/java/org/apache/kafka/streams/processor/api/ProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/api/MockProcessorContext.java
Labels: streams, kip

#11475 KAFKA-7077: Use default producer settings in Connect Worker
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
Labels: connect

#11875 KAFKA-13721: asymetric join-winodws should not emit spurious left/outer join results
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamOuterJoinTest.java
Labels: streams

#11610 KAFKA-13549: Add repartition.purge.interval.ms
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, kip

#11901 KAFKA-13741 Don't generate Uuid with a leading "-"
  clients/src/main/java/org/apache/kafka/common/Uuid.java
  clients/src/test/java/org/apache/kafka/common/UuidTest.java
Labels: kip-500

#11705 KAFKA-9847: add config to set default store type (KIP-591)
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Materialized.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/MaterializedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedCogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SlidingWindowedCogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SlidingWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedCogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimestampedKeyValueStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TopologyMetadata.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/NamedTopology.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/NamedTopologyBuilder.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/MaterializedTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/MaterializedInternalTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams, kip

#11893 KAFKA-13682; KRaft Controller auto preferred leader election
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  metadata/src/main/java/org/apache/kafka/controller/BrokersToIsrs.java
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/TopicIdPartition.java
  metadata/src/test/java/org/apache/kafka/controller/BrokersToIsrsTest.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTestEnv.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kip-500

#11926 KAFKA-13714: Fix cache flush position
  README.md
  build.gradle
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreQueryUtils.java
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2StoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingInMemoryKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingInMemorySessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingPersistentSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingPersistentWindowStoreTest.java
Labels: streams

#11944 MINOR: Add extra notice about IQv2 compatibility
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: streams

#11946 KAFKA-13770: Restore compatibility with KafkaBasedLog using older Kafka brokers
  connect/runtime/src/main/java/org/apache/kafka/connect/util/TopicAdmin.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TopicAdminTest.java
Labels: connect

#11908 KAFKA-13748: Do not include file stream connectors in Connect's CLASSPATH and plugin.path by default
  bin/kafka-run-class.sh
  docs/connect.html
  docs/quickstart.html
  tests/kafkatest/services/connect.py
  tests/kafkatest/tests/connect/connect_distributed_test.py
  tests/kafkatest/tests/connect/connect_rest_test.py
  tests/kafkatest/tests/connect/connect_test.py
Labels: connect

#11928 KAFKA-13739: Sliding window with no grace period not working
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamSlidingWindowAggregate.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSlidingWindowAggregateTest.java
Labels: streams

#11829 KAFKA-13785: [2/N][emit final] add processor metadata to be committed with offset
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorMetadata.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TopicPartitionMetadata.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorMetadataTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TopicPartitionMetadataTest.java
  streams/src/test/java/org/apache/kafka/test/MockInternalNewProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/MockInternalProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/MockProcessor.java
Labels: streams, kip
