Repository apache/kafka, pull requests merged in 2022-04, with the labels that each got.

#11980 fix: make sliding window works without grace period (#kafka-13739)
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamSlidingWindowAggregate.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSlidingWindowAggregateTest.java
Labels: streams

#11914 MINOR: Correct Connect docs on connector/task states
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectMetricsRegistry.java
  docs/connect.html
Labels: connect

#12031 KAFKA-13651; Add audit logging to `StandardAuthorizer`
  build.gradle
  clients/src/main/java/org/apache/kafka/common/resource/ResourcePattern.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAcl.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAuthorizerData.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/StandardAuthorizerTest.java
Labels: kip-500

#11945 KAFKA-13769: Explicitly route FK join results to correct partitions
  checkstyle/suppressions.xml
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignJoinSubscriptionProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignJoinSubscriptionSendProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionJoinForeignProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapper.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapper.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResolverJoinProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerdeTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerdeTest.java
Labels: streams

#12033 KAFKA-13807: Fix incrementalAlterConfig and refactor some things
  checkstyle/import-control.xml
  core/src/main/scala/kafka/log/LogConfig.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/server/ControllerConfigurationValidator.scala
  core/src/test/java/kafka/test/MockController.java
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  core/src/test/scala/unit/kafka/server/ControllerConfigurationValidatorTest.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigChangeTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  metadata/src/main/java/org/apache/kafka/controller/BrokerHeartbeatManager.java
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationValidator.java
  metadata/src/main/java/org/apache/kafka/controller/Controller.java
  metadata/src/main/java/org/apache/kafka/controller/ControllerRequestContext.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/AclMutator.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/ClusterMetadataAuthorizer.java
  metadata/src/main/java/org/apache/kafka/metadata/placement/ClusterDescriber.java
  metadata/src/main/java/org/apache/kafka/metadata/placement/PlacementSpec.java
  metadata/src/main/java/org/apache/kafka/metadata/placement/ReplicaPlacer.java
  metadata/src/main/java/org/apache/kafka/metadata/placement/StripedReplicaPlacer.java
  metadata/src/main/java/org/apache/kafka/metadata/placement/UsableBroker.java
  metadata/src/test/java/org/apache/kafka/controller/BrokerHeartbeatManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ProducerIdControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/MockRandom.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/ClusterMetadataAuthorizerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/placement/StripedReplicaPlacerTest.java
Labels: kip-500

#12030 KAFKA-13785: [5/N][emit final] cache for time ordered window store
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractDualSchemaRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MergedSortedCacheWindowStoreIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MergedSortedCacheWindowStoreKeyValueIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/PrefixedWindowKeySchemas.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimeOrderedCachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedWindowStoreBuilder.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MergedSortedCacheWrappedWindowStoreIteratorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MergedSortedCacheWrappedWindowStoreKeyValueIteratorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedCachingPersistentWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimestampedWindowStoreBuilderTest.java
Labels: streams, kip

#12073 MINOR; Fix partition change record noop check
  clients/src/main/java/org/apache/kafka/common/protocol/types/TaggedFields.java
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
Labels: kip-500

#12075 KAFKA-13841: Fix a case where we were unable to place on fenced brokers in KRaft mode
  metadata/src/main/java/org/apache/kafka/controller/BrokerHeartbeatManager.java
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kip-500

#11732 MINOR: enable KRaft in ConfigCommandIntegrationTest
  core/src/test/scala/integration/kafka/admin/ConfigCommandIntegrationTest.scala
Labels: kip-500

#11955 KAFKA-12380 Executor in Connect's Worker is not shut down when the worker is
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
Labels: connect
