Repository apache/kafka, pull requests merged in 2022-06, with the labels that each got.

#12217 MINOR: Enable kraft support in quota integration tests
  core/src/test/scala/integration/kafka/api/BaseQuotaTest.scala
  core/src/test/scala/integration/kafka/api/ClientIdQuotaTest.scala
  core/src/test/scala/integration/kafka/api/UserClientIdQuotaTest.scala
  core/src/test/scala/integration/kafka/api/UserQuotaTest.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
Labels: kip-500

#12238 KAFKA-13955: Fix failing KRaftClusterTest tests
  core/src/main/scala/kafka/server/KafkaConfig.scala
Labels: kip-500

#12245 KAFKA-13410; Add a --release-version flag for storage-tool
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
Labels: kip-500

#12067 KAFKA-13780: Generate OpenAPI file for Connect REST API
  build.gradle
  checkstyle/import-control.xml
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/LoggingResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/RootResource.java
  docs/connect.html
  gradle/dependencies.gradle
  gradle/openapi.template
Labels: connect

#12248 KAFKA-13958: Expose logdirs total and usable space via Kafka API (KIP…
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/LogDirDescription.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeLogDirsResponse.java
  clients/src/main/resources/common/message/DescribeLogDirsRequest.json
  clients/src/main/resources/common/message/DescribeLogDirsResponse.json
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/DescribeLogDirsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: kip

#12169 MINOR: improve description of `commit.interval.ms` config
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams, docs

#12161 KAFKA-13873 Add ability to Pause / Resume KafkaStreams Topologies
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskExecutionMetadata.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskExecutor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TopologyMetadata.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/KafkaStreamsNamedTopologyWrapper.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/PauseResumeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskExecutionMetadataTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskExecutorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TasksTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TopologyMetadataTest.java
Labels: streams, kip

#12304 KAFKA-13880: Remove DefaultPartitioner from StreamPartitioner
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/BuiltInPartitioner.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/DefaultPartitioner.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WindowedStreamPartitioner.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStreamPartitioner.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
Labels: streams

#12325 MINOR: Fix static mock usage in StateStoreMetricsTest
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/StateStoreMetricsTest.java
Labels: streams

#12323 MINOR: Fix static mock usage in ProcessorNodeMetricsTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ProcessorNodeMetricsTest.java
Labels: streams

#12322 MINOR: Fix static mock usage in NamedCacheMetricsTest
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/NamedCacheMetricsTest.java
Labels: streams

#12291 KAFKA-13987: Isolate REST request timeout changes in Connect integration tests
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Connect.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestServer.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/LoggingResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/RootResource.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/BlockingConnectorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/WorkerHandle.java
Labels: connect

#12312 KAFKA-10199: Expose tasks in state updater
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateUpdater.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
Labels: streams

#12139 KAFKA-13821: Update Kafka Streams WordCount demo to new Processor API
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountTransformerDemo.java
  streams/examples/src/test/java/org/apache/kafka/streams/examples/wordcount/WordCountTransformerTest.java
Labels: streams
