Repository apache/kafka, pull requests merged in 2022-02, with the labels that each got.

#11599 KAFKA-13527: Add top-level error code field to DescribeLogDirsResponse
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeLogDirsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeLogDirsResponse.java
  clients/src/main/resources/common/message/DescribeLogDirsRequest.json
  clients/src/main/resources/common/message/DescribeLogDirsResponse.json
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
Labels: kip

#11619 MINOR: allocate 2MB to offset map in connect EmbeddedKafkaCluster
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
Labels: connect

#11729 MINOR: fix control plane listener + kraft error message
  core/src/main/scala/kafka/server/KafkaConfig.scala
Labels: kip-500

#11649 KAFKA-13646: Implement KIP-801: KRaft authorizer
  checkstyle/import-control-core.xml
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/server/authorizer/Action.java
  clients/src/main/java/org/apache/kafka/server/authorizer/Authorizer.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/java/kafka/test/MockController.java
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/GroupAuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
  core/src/test/scala/unit/kafka/server/MetadataCacheTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  metadata/src/main/java/org/apache/kafka/controller/AclControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/Controller.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/image/AclsDelta.java
  metadata/src/main/java/org/apache/kafka/image/AclsImage.java
  metadata/src/main/java/org/apache/kafka/image/MetadataDelta.java
  metadata/src/main/java/org/apache/kafka/image/MetadataImage.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/AclMutator.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/ClusterMetadataAuthorizer.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAcl.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAclRecordIterator.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAclWithId.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAuthorizer.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAuthorizerData.java
  metadata/src/main/resources/common/metadata/AccessControlEntryRecord.json
  metadata/src/main/resources/common/metadata/RemoveAccessControlEntryRecord.json
  metadata/src/test/java/org/apache/kafka/controller/AclControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/image/AclsImageTest.java
  metadata/src/test/java/org/apache/kafka/image/MetadataImageTest.java
  metadata/src/test/java/org/apache/kafka/metadata/RecordTestUtils.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/ClusterMetadataAuthorizerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/MockAuthorizableRequestContext.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/StandardAclRecordIteratorTest.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/StandardAclTest.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/StandardAclWithIdTest.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/StandardAuthorizerTest.java
Labels: kip-500

#11333 KAFKA-13306: Null connector config value passes validation, but fails creation
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConfigInfo.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
Labels: connect

#11584 MINOR: improve logging
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractStickyAssignor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/SubscriptionState.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/Utils.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/TopicPartitionComparatorTest.java
Labels: consumer

#11759 MINOR: improve JavaDocs for ReadOnlySessionStore
  streams/src/main/java/org/apache/kafka/streams/state/ReadOnlySessionStore.java
Labels: streams

#11751 MINOR: Add state directory to exceptions regarding state diretory
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
Labels: streams

#11752 KAFKA-13666 Don't Only ignore test exceptions for windows OS for certain tests.
  streams/examples/src/test/java/org/apache/kafka/streams/examples/wordcount/WordCountDemoTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RepartitionOptimizingTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RepartitionWithMergeOptimizingTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/TestTopicsTest.java
Labels: streams

#11575 KAFKA-13511: Add support for different unix precisions in TimestampConverter SMT
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/TimestampConverter.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/TimestampConverterTest.java
Labels: connect, kip
