Repository apache/kafka, pull requests merged in 2022-08, with the labels that each got.

#12432 KAFKA-14095: Improve handling of sync offset failures in MirrorMaker
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AlterConsumerGroupOffsetsHandler.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
Labels: connect, admin

#12118 MINOR : Handle javax.ws.rs.NotFoundException in ConnectExceptionMapper
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/errors/ConnectExceptionMapper.java
Labels: connect

#11615 KAFKA-13546: Do not fail connector if default topic creation group is explicitly specified
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SourceConnectorConfig.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SourceConnectorConfigTest.java
Labels: connect

#12440 KAFKA-14107: Upgrade Jetty version for CVE fixes
  gradle/dependencies.gradle
Labels: 3.3

#12457 KAFKA-14104: Add CRC validation when iterating over Metadata Log Records
  clients/src/main/java/org/apache/kafka/common/record/DefaultRecordBatch.java
  core/src/test/scala/integration/kafka/server/RaftClusterSnapshotTest.scala
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManager.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/internals/RecordsBatchReader.java
  raft/src/main/java/org/apache/kafka/raft/internals/RecordsIterator.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotReader.java
  raft/src/test/java/org/apache/kafka/raft/RaftEventSimulationTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsBatchReaderTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsIteratorTest.java
  raft/src/test/java/org/apache/kafka/snapshot/SnapshotWriterReaderTest.java
Labels: core, 3.3

#12472 KAFKA-14134: Replace EasyMock with Mockito for WorkerConnectorTest
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerConnectorTest.java
Labels: connect

#12184 KAFKA-13911: Fix the rate window size calculation for edge cases
  clients/src/main/java/org/apache/kafka/common/metrics/stats/Rate.java
  clients/src/test/java/org/apache/kafka/common/metrics/MetricsTest.java
  clients/src/test/java/org/apache/kafka/common/metrics/stats/RateTest.java
Labels: 3.3

#12498 KAFKA-13986; Brokers should include node.id in fetches to metadata quorum
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/test/java/kafka/test/ClusterInstance.java
  core/src/test/java/kafka/test/junit/RaftClusterInvocationContext.java
  core/src/test/java/kafka/test/junit/ZkClusterInvocationContext.java
  core/src/test/scala/unit/kafka/raft/RaftManagerTest.scala
  core/src/test/scala/unit/kafka/server/DescribeQuorumRequestTest.scala
Labels: core, 3.3

#12506 KAFKA-14154; Return NOT_CONTROLLER from AlterPartition if leader is ahead of controller
  core/src/main/scala/kafka/controller/KafkaController.scala
  core/src/test/scala/unit/kafka/controller/ControllerIntegrationTest.scala
Labels: core, 3.3

#12497 KAFKA-10199: Expose read only task from state updater
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ReadOnlyTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ReadOnlyTaskTest.java
Labels: streams

#12274 KAFKA-13959: Controller should unfence Broker with busy metadata log
  core/src/main/scala/kafka/server/KafkaConfig.scala
  metadata/src/main/java/org/apache/kafka/controller/BrokerHeartbeatManager.java
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ProducerIdControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/RecordTestUtils.java
  raft/src/main/java/org/apache/kafka/raft/internals/FuturePurgatory.java
Labels: core, 3.3

#12450 KAFKA-13809: Propagate full connector configuration to tasks in FileStream connectors
  connect/file/src/main/java/org/apache/kafka/connect/file/FileStreamSinkConnector.java
  connect/file/src/main/java/org/apache/kafka/connect/file/FileStreamSinkTask.java
  connect/file/src/main/java/org/apache/kafka/connect/file/FileStreamSourceConnector.java
  connect/file/src/main/java/org/apache/kafka/connect/file/FileStreamSourceTask.java
  connect/file/src/test/java/org/apache/kafka/connect/file/FileStreamSinkConnectorTest.java
  connect/file/src/test/java/org/apache/kafka/connect/file/FileStreamSourceConnectorTest.java
  docs/connect.html
Labels: connect

#12277 KAFKA-13971:Atomicity violations caused by improper usage of ConcurrentHashMap
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfigTransformer.java
Labels: connect

#12523 Docs(Quickstart Guide): Fix invalid link to plugin.path
  docs/quickstart.html
Labels: connect

#12521 KAFKA-10199: Remove tasks from state updater on partition lost
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#12520 KAFKA-10199: Remove tasks from state updater on revocation
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#12517 KAFKA-13940; Return NOT_LEADER_OR_FOLLOWER if DescribeQuorum sent to non-leader
  clients/src/main/java/org/apache/kafka/common/requests/DescribeQuorumResponse.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: core, 3.3

#12518 KAFKA-14167; Completion exceptions should not be translated directly to error codes
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  clients/src/main/java/org/apache/kafka/common/requests/AllocateProducerIdsResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ApiError.java
  clients/src/test/java/org/apache/kafka/common/requests/ApiErrorTest.java
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/test/java/kafka/test/junit/RaftClusterInvocationContext.java
  core/src/test/scala/unit/kafka/server/AllocateProducerIdsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
Labels: controller, 3.3

#12410 MINOR: Remove unused ShutdownableThread class and ineffective ThreadedTest classes
  connect/runtime/src/main/java/org/apache/kafka/connect/util/ShutdownableThread.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SourceTaskOffsetCommitterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskThreadedTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/ShutdownableThreadTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/ThreadedTest.java
Labels: connect

#12469 KAFKA-13914: Add command line tool kafka-metadata-quorum.sh
  bin/kafka-metadata-quorum.sh
  bin/windows/kafka-metatada-quorum.bat
  build.gradle
  checkstyle/import-control.xml
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/QuorumInfo.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  core/src/main/scala/kafka/admin/MetadataQuorumCommand.scala
  core/src/test/java/kafka/test/junit/RaftClusterInvocationContext.java
  core/src/test/scala/unit/kafka/admin/MetadataQuorumCommandTest.scala
  core/src/test/scala/unit/kafka/server/DescribeQuorumRequestTest.scala
  server-common/src/main/java/org/apache/kafka/server/util/ToolsUtils.java
  tools/src/main/java/org/apache/kafka/tools/ProducerPerformance.java
  tools/src/main/java/org/apache/kafka/tools/TransactionsCommand.java
Labels: core, tools, 3.3

#12509 KAFKA-14133: Replace EasyMock with Mockito in WorkerCoordinatorTest and RootResourceTest
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinator.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinatorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/RootResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/ByteArrayProducerRecordEquals.java
Labels: connect

#12547 KAFKA-10199: Remove tasks from state updater on revoked and lost partitions
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#12502 KAFKA-14162: HoistField SMT should not return an immutable map for schemaless key/value
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/HoistField.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/MaskField.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/HoistFieldTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/MaskFieldTest.java
Labels: connect

#12473 KAFKA-13133: Replace EasyMock and PowerMock with Mockito for AbstractHerderTest
  build.gradle
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
Labels: connect

#12549 KAFKA-10199: Introduce task registry
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskExecutor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TasksRegistry.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TasksTest.java
Labels: streams

#12551 KAFKA-14178 Don't record queue time for deferred events
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
Labels: controller, 3.3

#12046 KAFKA-10360: Allow disabling JMX Reporter (KIP-830)
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
  clients/src/main/java/org/apache/kafka/clients/admin/AdminClientConfig.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
  clients/src/test/java/org/apache/kafka/clients/CommonClientConfigsTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorConnectorConfigTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectMetrics.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMember.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectMetricsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMemberTest.java
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/Server.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: kip

#12548 MINOR: A few cleanups for DescribeQuorum APIs
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/QuorumInfo.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeQuorumResponse.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  core/src/main/scala/kafka/admin/MetadataQuorumCommand.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
Labels: 3.3

#12550 MINOR; Update upgrade documentation for 3.3
  docs/documentation.html
  docs/upgrade.html
Labels: docs, 3.3

#12513 KAFKA-14177: Correctly support older kraft versions without FeatureLevelRecord
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaRaftServer.scala
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/test/java/kafka/testkit/KafkaClusterTestKit.java
  core/src/test/scala/integration/kafka/coordinator/transaction/ProducerIdsIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/integration/kafka/server/MetadataVersionIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/server/KafkaRaftServerTest.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataListenerTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  metadata/src/main/java/org/apache/kafka/controller/BootstrapMetadata.java
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/LogReplayTracker.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/image/FeaturesImage.java
  metadata/src/main/java/org/apache/kafka/metadata/bootstrap/BootstrapDirectory.java
  metadata/src/main/java/org/apache/kafka/metadata/bootstrap/BootstrapMetadata.java
  metadata/src/main/java/org/apache/kafka/metadata/util/BatchFileReader.java
  metadata/src/main/java/org/apache/kafka/metadata/util/BatchFileWriter.java
  metadata/src/main/java/org/apache/kafka/timeline/SnapshotRegistry.java
  metadata/src/main/resources/common/metadata/FeatureLevelRecord.json
  metadata/src/test/java/org/apache/kafka/controller/BootstrapMetadataTest.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/LogReplayTrackerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTestEnv.java
  metadata/src/test/java/org/apache/kafka/metadata/bootstrap/BootstrapDirectoryTest.java
  metadata/src/test/java/org/apache/kafka/metadata/bootstrap/BootstrapMetadataTest.java
  metadata/src/test/java/org/apache/kafka/timeline/SnapshotRegistryTest.java
  metadata/src/test/java/org/apache/kafka/timeline/SnapshottableHashTableTest.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
Labels: 3.3

#12565 KAFKA-14183; Cluster metadata bootstrap file should use header/footer
  clients/src/main/java/org/apache/kafka/common/record/ControlRecordUtils.java
  clients/src/main/java/org/apache/kafka/common/record/MemoryRecordsBuilder.java
  clients/src/test/java/org/apache/kafka/common/record/ControlRecordUtilsTest.java
  metadata/src/main/java/org/apache/kafka/metadata/bootstrap/BootstrapDirectory.java
  metadata/src/main/java/org/apache/kafka/metadata/util/BatchFileWriter.java
  metadata/src/test/java/org/apache/kafka/metadata/util/BatchFileWriterReaderTest.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchAccumulator.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotWriter.java
  raft/src/test/java/org/apache/kafka/snapshot/SnapshotWriterReaderTest.java
Labels: core, 3.3

#12558 MINOR: Small javadoc/code cleanups in connect api and transforms
  connect/api/src/main/java/org/apache/kafka/connect/components/Versioned.java
  connect/api/src/main/java/org/apache/kafka/connect/connector/policy/ConnectorClientConfigOverridePolicy.java
  connect/api/src/main/java/org/apache/kafka/connect/data/Schema.java
  connect/api/src/main/java/org/apache/kafka/connect/data/SchemaProjector.java
  connect/api/src/main/java/org/apache/kafka/connect/data/Values.java
  connect/api/src/main/java/org/apache/kafka/connect/rest/ConnectRestExtension.java
  connect/api/src/main/java/org/apache/kafka/connect/source/ExactlyOnceSupport.java
  connect/api/src/main/java/org/apache/kafka/connect/storage/ConverterType.java
  connect/api/src/test/java/org/apache/kafka/connect/source/SourceRecordTest.java
  connect/api/src/test/java/org/apache/kafka/connect/storage/StringConverterTest.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/Cast.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/DropHeadersTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/InsertFieldTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/InsertHeaderTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/ReplaceFieldTest.java
Labels: connect

#12554 KAFKA-10199: Handle restored tasks output by state updater
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TasksRegistry.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#12562 KAFKA-10199: Remove tasks from state updater on shutdown
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
Labels: streams

#12459 KAFKA-13036: Replace EasyMock and PowerMock with Mockito for RocksDBMetricsRecorderTest
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderTest.java
Labels: streams

#12294 KAFKA-13990: KRaft controller should return right features in ApiVersionResponse
  clients/src/main/java/org/apache/kafka/common/requests/ApiVersionsResponse.java
  core/src/main/scala/kafka/server/ApiVersionManager.scala
  core/src/main/scala/kafka/server/BrokerFeatures.scala
  core/src/test/scala/integration/kafka/network/DynamicNumNetworkThreadsTest.scala
  core/src/test/scala/integration/kafka/server/FetchRequestBetweenDifferentIbpTest.scala
  core/src/test/scala/integration/kafka/server/FetchRequestTestDowngrade.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/integration/kafka/server/MetadataVersionIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
Labels: core, 3.3

#12569 KAFKA-10199: Shutdown state updater on task manager shutdown
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TasksRegistry.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TasksTest.java
Labels: streams
