Repository apache/kafka, pull requests merged in 2022-09, with the labels that each got.

#12573 KAFKA-10199: Remove changelog unregister from state updater
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
Labels: streams

#12578 KAFKA-14195: Fix KRaft AlterConfig policy usage for Legacy/Full case
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
Labels: core, 3.3

#12519 KAFKA-10199: Handle exceptions from state updater
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TasksRegistry.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#12579 MINOR; Fix LICENSE-binary based on the 3.3 dependencies
  LICENSE-binary
  licenses/classgraph-MIT
Labels: docs, 3.3

#12583 KAFKA-10199: Separate state updater from old restore
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#12586 KAFKA-14200: kafka-features.sh must exit with non-zero error code on error
  core/src/main/scala/kafka/admin/FeatureCommand.scala
  core/src/test/scala/unit/kafka/admin/FeatureCommandTest.scala
Labels: 3.3

#12478 KAFKA-13952 fix RetryWithToleranceOperator to respect infinite retries configuration
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperator.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperatorTest.java
Labels: connect

#12601 MINOR: Retry on test failure for branch builds and increase max test retry to 10
  Jenkinsfile
Labels: tests, 3.3

#11783 KAFKA-14143: Exactly-once source connector system tests (KIP-618)
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/tools/VerifiableSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/KafkaBasedLog.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  tests/kafkatest/services/connect.py
  tests/kafkatest/tests/connect/connect_distributed_test.py
  tests/kafkatest/tests/connect/connect_rest_test.py
  tests/kafkatest/tests/connect/templates/connect-distributed.properties
Labels: connect, 3.3

#12595 KAFKA-14204: QuorumController must correctly handle overly large batches
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
Labels: core, controller, 3.3

#12598 KAFKA-14201; Consumer should not send group instance ID if committing with empty member ID (server side)
  core/src/main/scala/kafka/coordinator/group/GroupCoordinator.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorTest.scala
Labels: core, 3.3

#12599 KAFKA-14201; Consumer should not send group instance ID if committing with empty member ID (client side)
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
Labels: core, 3.3

#12604 KAFKA-14188; Getting started for Kafka with KRaft
  docs/quickstart.html
  docs/streams/quickstart.html
Labels: docs, 3.3

#12596 KAFKA-14203 Don't make snapshots on broker after metadata errors
  core/src/main/scala/kafka/server/metadata/BrokerMetadataListener.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataListenerTest.scala
Labels: kip-500, 3.3

#12597 KAFKA-14205; Document how to replace the disk for the KRaft Controller
  docs/ops.html
Labels: docs, 3.3

#12625 KAFKA-14222; KRaft's memory pool should always allocate a buffer
  raft/src/main/java/org/apache/kafka/raft/internals/BatchMemoryPool.java
  raft/src/test/java/org/apache/kafka/raft/internals/BatchMemoryPoolTest.java
Labels: core, 3.3

#12600 KAFKA-10199: Suspend tasks in the state updater on revocation
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PendingUpdateAction.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TasksRegistry.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TasksTest.java
Labels: streams

#11516 MINOR: Use MessageDigest equals when comparing signature
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/InternalRequestSignature.java
Labels: connect

#12615 KAFKA-14132: Migrate some Connect tests from EasyMock/PowerMock to Mockito
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperator.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/ErrorReporterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperatorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/WorkerErrantRecordReporterTest.java
Labels: connect

#12635 MINOR: Mention that kraft is production ready in upgrade notes
  docs/upgrade.html
Labels: docs, 3.3

#12640 MINOR; Add missing li end tag
  docs/upgrade.html
Labels: docs, 3.3

#12570 KAFKA-14156: Built-in partitioner may create suboptimal batches
  clients/src/main/java/org/apache/kafka/clients/producer/internals/BuiltInPartitioner.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/RecordAccumulator.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/RecordAccumulatorTest.java
Labels: producer, 3.3

#12602 KAFKA-13985: Skip committing MirrorSourceTask records without metadata
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceTask.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceTaskTest.java
Labels: mirror-maker-2

#12638 KAFKA-10199: Register and unregister changelog topics in state updater
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ChangelogRegister.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ReadOnlyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/MockChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/test/StreamsTestUtils.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#12655 KAFKA-14238; KRaft metadata log should not delete segment past the latest snapshot
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
Labels: core, 3.3

#12632 KAFKA-12878 Support --bootstrap-server in kafka-streams-application-reset tool
  core/src/main/scala/kafka/tools/StreamsResetter.java
  docs/streams/developer-guide/app-reset-tool.html
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationTest.java
  tests/kafkatest/services/streams.py
Labels: streams, tools, kip

#12656 MINOR: Update offset.storage.topic description
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneConfig.java
  docs/connect.html
Labels: connect

#12650 KAFKA-10199: Adapt restoration integration tests to state updater
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams

#12653 KAFKA-14240; Validate kraft snapshot state on startup
  core/src/main/scala/kafka/log/LogLoader.scala
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
  raft/src/main/java/org/apache/kafka/snapshot/Snapshots.java
  raft/src/test/java/org/apache/kafka/snapshot/SnapshotsTest.java
Labels: core, 3.3

#12566 KAFKA-13927: Only clear origOffsets when clearing messageBatch
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
Labels: connect

#12664 KAFKA-14243: Temporarily disable unsafe downgrade
  core/src/test/scala/unit/kafka/admin/FeatureCommandTest.scala
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
Labels: core, 3.3

#12628 KAFKA-14214: Introduce read-write lock to StandardAuthorizer for consistent ACL reads.
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAuthorizer.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAuthorizerData.java
Labels: core, 3.3

#12677 KAFKA-14132: Replace PowerMock/Easymock with Mockito for WorkerMetricsGroupTest
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerMetricsGroupTest.java
Labels: connect, tests

#12642 KAFKA-14207; KRaft Operations documentation
  config/kraft/README.md
  docs/ops.html
Labels: docs, 3.3

#12687 KAFKA-10199: Fix switching to updating standbys if standby is removed
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
Labels: streams

#12690 MINOR: Update design docs to avoid zookeeper-specific assumptions
  docs/design.html
Labels: docs, 3.3

#12682 MINOR: Add section on listener configuration (including kraft) to security docs
  docs/security.html
Labels: docs, 3.3

#12701 MINOR; Update upgrade documentation for 3.3.1
  docs/upgrade.html
Labels: docs, 3.3

#12702 MINOR; Add missing code end tag
  docs/ops.html
Labels: docs, 3.3

#12527 KAFKA-14133: Replace EasyMock with Mockito in streams tests
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/suppress/KTableSuppressProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingSessionBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingTimestampedWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedWindowStoreTest.java
Labels: streams
