Repository apache/kafka, pull requests merged in 2023-09, with the labels that each got.

#14301 KAFKA-15351: Ensure log-start-offset not updated to local-log-start-offset when remote storage enabled
  core/src/main/scala/kafka/log/LogLoader.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestContext.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/OffloadAndConsumeFromLeaderTest.java
Labels: KIP-405

#14310 KAFKA-14499: [5/N] Refactor GroupCoordinator.fetchOffsets and GroupCoordinator.fetchAllOffsets
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
Labels: KIP-848

#14122 KAFKA-14500; [7/7] Refactor GroupMetadataManagerTest
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-848

#14319 KAFKA-15427: Fix resource leak in integration tests for tiered storage
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerWrapperWithHarness.java
Labels: KIP-405

#14308 KAFKA-14965 - OffsetsRequestsManager implementation & API integration
  clients/src/main/java/org/apache/kafka/clients/Metadata.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/DefaultBackgroundThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/DefaultEventHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/PrototypeAsyncConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/CompletableApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/EventHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ListOffsetsApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/OffsetFetchApplicationEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/DefaultBackgroundThreadTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/PrototypeAsyncConsumerTest.java
Labels: consumer, KIP-848, ctr

#14113 KAFKA-15260: RLM Task should handle uninitialized RLMM for the associated topic-parititon
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: KIP-405

#14318 KAFKA-15422: Update documentation for Delegation Tokens in Kafka with KRaft
  core/src/main/scala/kafka/server/KafkaConfig.scala
  docs/security.html
Labels: docs, kraft

#13908 KAFKA-15052 Fix the flaky testBalancePartitionLeaders - part II
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
Labels: tests

#14223 KAFKA-14133: Move AbstractStreamTest and RocksDBMetricsRecordingTriggerTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecordingTriggerTest.java
Labels: streams, tests

#14152 KAFKA-7438: Migrate WindowStoreBuilderTest from EasyMock to Mockito
  streams/src/test/java/org/apache/kafka/streams/state/internals/WindowStoreBuilderTest.java
Labels: streams, tests

#14307 KAFKA-15410: Expand partitions, segment deletion by retention and enable remote log on topic integration tests (1/4)
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestContext.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestHarness.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ExpectEmptyRemoteStorageAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/BaseDeleteSegmentsTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/DeleteSegmentsByRetentionSizeTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/DeleteSegmentsByRetentionTimeTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/EnableRemoteLogOnTopicTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/PartitionsExpandTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/utils/BrokerLocalStorage.java
Labels: KIP-405

#14328 KAFKA-15410: Reassign replica expand, move and shrink integration tests (2/4)
  core/src/main/java/kafka/server/ReplicaFetcherTierStateMachine.java
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/BaseReassignReplicaTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/PartitionsExpandTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/ReassignReplicaExpandTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/ReassignReplicaMoveTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/ReassignReplicaShrinkTest.java
Labels: KIP-405

#14337 MINOR: Update the documentation's table of contents to add missing headings for Kafka Connect
  docs/connect.html
  docs/toc.html
Labels: docs, connect

#14336 KAFKA-14876: Add stopped state to Kafka Connect Administration docs section
  docs/connect.html
Labels: docs, connect

#14329 KAFKA-15410: Delete topic integration test with LocalTieredStorage and TBRLMM (3/4)
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/ConsumerManager.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/ConsumerTask.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManager.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerMultipleSubscriptionsTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/DeleteTopicTest.java
Labels: KIP-405

#14321 KAFKA-14499: [6/N] Add MemberId and MemberEpoch to OffsetFetchRequest
  clients/src/main/resources/common/message/OffsetFetchRequest.json
  clients/src/main/resources/common/message/OffsetFetchResponse.json
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
Labels: KIP-848

#14342 KAFKA-15435 Fix counts in MigrationManifest
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationManifest.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/MigrationManifestTest.java
Labels: kraft

#14340 KAFKA-15351: Update log-start-offset after leader election for topics enabled with remote storage
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/BaseReassignReplicaTest.java
Labels: KIP-405

#14124 KAFKA-14509; [1/2] Define ConsumerGroupDescribe API request and response schemas and classes.
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ConsumerGroupDescribeRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ConsumerGroupDescribeResponse.java
  clients/src/main/resources/common/message/ConsumerGroupDescribeRequest.json
  clients/src/main/resources/common/message/ConsumerGroupDescribeResponse.json
  clients/src/test/java/org/apache/kafka/common/requests/ConsumerGroupDescribeRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/ConsumerGroupDescribeResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/network/RequestConvertToJson.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
Labels: KIP-848

#14352 MINOR: update the javadoc in RSM
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageManager.java
Labels: KIP-405

#14330 KAFKA-15410: Delete records with tiered storage integration test (4/4)
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestBuilder.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/DeleteRecordsAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/DeleteSegmentsDueToLogStartOffsetBreachTest.java
Labels: KIP-405

#14314 KAFKA-15425: Fail fast in Admin::listOffsets when topic (but not partition) metadata is not found
  clients/src/main/java/org/apache/kafka/clients/admin/internals/ListOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/PartitionLeaderStrategy.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
Labels: admin

#14305 KAFKA-14274: [1/7] basic refactoring
  clients/src/main/java/org/apache/kafka/clients/NetworkClientUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CompletedFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkClient.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestState.java
  clients/src/main/java/org/apache/kafka/common/utils/ExponentialBackoff.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/RequestStateTest.java
Labels: consumer, KIP-848, ctr

#14354 KAFKA-14273; Close file before atomic move
  raft/src/main/java/org/apache/kafka/raft/FileBasedStateStore.java
  raft/src/test/java/org/apache/kafka/raft/FileBasedStateStoreTest.java
Labels: kraft

#14313 KAFKA-15416: Fix flaky TopicAdminTest::retryEndOffsetsShouldRetryWhenTopicNotFound test case
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/OffsetSyncStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/TopicAdmin.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TopicAdminTest.java
Labels: connect, tests

#14221 KAFKA-15338: The metric group documentation for metrics added in KAFK…
  docs/ops.html
Labels: streams

#14224 MINOR: fix currentLag javadoc
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
Labels: docs, consumer

#14322 KAFKA-15418: update statement on decompression
  docs/design.html
Labels: docs

#14350 MINOR: Log when remote fetch execution is rejected
  core/src/main/scala/kafka/server/ReplicaManager.scala
Labels: KIP-405

#14351 KAFKA-15441 Allow broker heartbeats to complete in metadata transaction
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
Labels: kraft

#14358 MINOR: Removed the RSM and RLMM classpath config validator
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorage.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestContext.java
Labels: KIP-405

#13562 KAFKA-14581: Moving GetOffsetShell to tools
  bin/kafka-get-offsets.sh
  bin/windows/kafka-get-offsets.bat
  core/src/main/scala/kafka/tools/GetOffsetShell.scala
  core/src/test/scala/kafka/tools/GetOffsetShellParsingTest.scala
  core/src/test/scala/kafka/tools/GetOffsetShellTest.scala
  tests/kafkatest/services/kafka/kafka.py
  tools/src/main/java/org/apache/kafka/tools/GetOffsetShell.java
  tools/src/main/java/org/apache/kafka/tools/ReplicaVerificationTool.java
  tools/src/main/java/org/apache/kafka/tools/ToolsUtils.java
  tools/src/test/java/org/apache/kafka/tools/GetOffsetShellParsingTest.java
  tools/src/test/java/org/apache/kafka/tools/GetOffsetShellTest.java
Labels: tools

#14353 KAFKA-14499: [7/7] Add integration tests for OffsetCommit API and OffsetFetch API
  clients/src/main/java/org/apache/kafka/common/requests/OffsetCommitRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/OffsetFetchRequest.java
  clients/src/main/resources/common/message/OffsetFetchRequest.json
  clients/src/test/java/org/apache/kafka/common/requests/OffsetFetchRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/test/junit/ZkClusterInvocationContext.java
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
Labels: KIP-848

#14349 KAFKA-15352: Update log-start-offset before initiating deletion of remote segments
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: KIP-405

#14363 KAFKA-14993: Improve TransactionIndex instance handling while copying to and fetching from RSM
  core/src/test/scala/unit/kafka/log/remote/RemoteIndexCacheTest.scala
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageManager.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteIndexCache.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorage.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageTest.java
Labels: KIP-405

#14366 MINOR: Fix metadata.version reference in "ZooKeeper to KRaft Migration" documentation
  docs/ops.html
Labels: docs

#14379 MINOR: Fix errors in javadoc and docs in tiered storage
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogMetadataManager.java
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageManager.java
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
Labels: KIP-405

#14147 KAFKA-14502; Implement LeaveGroup protocol in new GroupCoordinator
  checkstyle/suppressions.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorResult.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-848

#14323 KAFKA-15275 - Client state machine basic components, states and initial transitions
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AssignorSelection.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MemberState.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/test/java/org/apache/kafka/clients/consumer/AssignorSelectionTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
Labels: KIP-848

#14347 KAFKA-15439: Transactions test with tiered storage
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestHarness.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ConsumeAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/CreateTopicAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ExpectBrokerInISRAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ExpectLeaderAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ExpectTopicIdToMatchInRemoteStorageAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ExpectUserTopicMappedToMetadataPartitionsAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ProduceAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ReassignReplicaAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ShrinkReplicaAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/TransactionsWithTieredStoreTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/utils/ActionUtils.java
  storage/src/test/java/org/apache/kafka/tiered/storage/utils/TieredStorageTestUtils.java
Labels: KIP-405

#14382 KAFKA-15442: add a section in doc for tiered storage
  docs/ops.html
  docs/toc.html
  docs/upgrade.html
Labels: KIP-405

#14271 KAFKA-14503: Implement ListGroups
  checkstyle/suppressions.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
Labels: KIP-848

#14359 KAFKA-14274 [2-5/7]: Introduction of more infrastructure for forthcoming fetch request manager
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/clients/NetworkClientUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CompletedFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkClient.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/DefaultBackgroundThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/DefaultEventHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchBuffer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchCollector.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/Fetcher.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/NetworkClientDelegate.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/PrototypeAsyncConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/AssignmentChangeApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/BackgroundEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/CommitApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/CompletableApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ErrorBackgroundEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ListOffsetsApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/NewTopicsMetadataUpdateRequestEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/NoopApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/NoopBackgroundEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/OffsetFetchApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/PollApplicationEvent.java
  clients/src/main/java/org/apache/kafka/common/internals/IdempotentCloser.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CompletedFetchTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchBufferTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchCollectorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/PrototypeAsyncConsumerTest.java
  clients/src/test/java/org/apache/kafka/common/internals/IdempotentCloserTest.java
Labels: ctr

#14317 KAFKA-13973: Fix inflated block cache metrics
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimestampedStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorder.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBBlockCacheMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderGaugesTest.java
Labels: streams

#14385 KAFKA-15306 - Integrating committed offsets for updating fetch positions
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/PrototypeAsyncConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/PrototypeAsyncConsumerTest.java
Labels: ctr

#14396 KAFKA-14133: Move KeyValueIteratorFacadeTest, KeyValueSegmentTest and MeteredKeyValueStoreTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/state/internals/KeyValueIteratorFacadeTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/KeyValueSegmentTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
Labels: streams, tests

#14401 MINOR: Add verification for (local) log start offset in txn tests
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/TransactionsWithTieredStoreTest.java
Labels: KIP-405

#14371 KAFKA-14855: Harden integration testing logic for asserting that a connector is deleted
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorTopicsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ErrorHandlingIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RebalanceSourceConnectorsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectClusterAssertions.java
Labels: connect, tests

#14398 KAFKA-15473: Hide duplicate plugins in /connector-plugins
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResource.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
Labels: connect

#14376 KAFKA-15458: Fully resolve endpoint information before registering controllers
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerRegistrationManager.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/test/scala/unit/kafka/server/ControllerRegistrationManagerTest.scala
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/metadata/ListenerInfo.java
  metadata/src/test/java/org/apache/kafka/metadata/ListenerInfoTest.java
Labels: kraft

#14411 MINOR: Used Admin instead of AdminClient to create Admin
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamRepartitionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamTableJoinTopologyOptimizationIntegrationTest.java
Labels: KIP-405

#14311 MINOR: Add read tests for RemoteLogManager
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: tests, KIP-405

#14419 MINOR: Fix kafka-site formatting
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: docs

#14404 KAFKA-14133: Move MeteredSessionStoreTest, MeteredWindowStoreTest and ReadOnlyKeyValueStoreFacadeTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ReadOnlyKeyValueStoreFacadeTest.java
Labels: streams, tests

#14405 [MINOR] QuorumController tests use testToImage
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/RecordTestUtils.java
Labels: kraft

#14402 MINOR: Push logic to resolve the transaction coordinator into the AddPartitionsToTxnManager
  core/src/main/scala/kafka/server/AddPartitionsToTxnManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/kafka/server/KafkaRequestHandlerTest.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/server/AddPartitionsToTxnManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: KIP-848

#14438 KAFKA-15487: Upgrade Jetty to 9.4.52.v20230823
  LICENSE-binary
  gradle/dependencies.gradle
Labels: dependencies

#14093 KAFKA-15248 Add BooleanConverter
  connect/runtime/src/main/java/org/apache/kafka/connect/converters/BooleanConverter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/converters/BooleanConverterConfig.java
  connect/runtime/src/main/resources/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/main/resources/META-INF/services/org.apache.kafka.connect.storage.HeaderConverter
  connect/runtime/src/test/java/org/apache/kafka/connect/converters/BooleanConverterTest.java
Labels: connect, kip

#14436 MINOR: Revert log level changes in LogCaptureAppender
  clients/src/test/java/org/apache/kafka/common/utils/LogCaptureAppender.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceConnectorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SourceTaskOffsetCommitterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: tests

#14403 KAFKA-10199: Add missing catch for lock exception
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#14437 KAFKA-10199: Fix restoration behavior for paused tasks
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
Labels: streams

#14265 KAFKA-10199: Do not process when in PARTITIONS_REVOKED
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#14226 KAFKA-15326: [8/N] Move consumer interaction out of processing methods
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PartitionGroup.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ReadOnlyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/PauseResumeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/PartitionGroupTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#14399 KAFKA-15466: Add KIP-919 support for some admin APIs
  checkstyle/import-control-core.xml
  checkstyle/import-control-server-common.xml
  clients/src/main/java/org/apache/kafka/clients/NetworkClient.java
  clients/src/main/java/org/apache/kafka/clients/NodeApiVersions.java
  clients/src/main/java/org/apache/kafka/clients/admin/AdminClientConfig.java
  clients/src/main/java/org/apache/kafka/clients/admin/FinalizedVersionRange.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AdminBootstrapAddresses.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AdminMetadataManager.java
  clients/src/main/resources/common/message/DescribeConfigsRequest.json
  clients/src/test/java/org/apache/kafka/clients/admin/AdminClientUnitTestEnv.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/internals/AdminBootstrapAddressesTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/internals/AdminMetadataManagerTest.java
  core/src/main/java/kafka/server/logger/RuntimeLoggerManager.java
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  core/src/main/scala/kafka/server/AuthHelper.scala
  core/src/main/scala/kafka/server/ConfigAdminManager.scala
  core/src/main/scala/kafka/server/ConfigHelper.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/main/scala/kafka/server/metadata/KRaftMetadataCachePublisher.scala
  core/src/test/java/kafka/server/logger/RuntimeLoggerManagerTest.java
  core/src/test/java/kafka/test/ClusterInstance.java
  core/src/test/java/kafka/test/junit/RaftClusterInvocationContext.java
  core/src/test/java/kafka/test/junit/ZkClusterInvocationContext.java
  core/src/test/java/kafka/test/server/BootstrapControllersIntegrationTest.java
  core/src/test/java/kafka/testkit/KafkaClusterTestKit.java
  core/src/test/java/kafka/testkit/TestKitNodes.java
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/integration/kafka/server/KafkaServerKRaftRegistrationTest.scala
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  core/src/test/scala/unit/kafka/admin/ConfigCommandTest.scala
  core/src/test/scala/unit/kafka/server/AuthHelperTest.scala
  core/src/test/scala/unit/kafka/server/ConfigAdminManagerTest.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  server-common/src/main/java/org/apache/kafka/server/util/CommandLineUtils.java
  server-common/src/test/java/org/apache/kafka/server/util/CommandLineUtilsTest.java
  tools/src/main/java/org/apache/kafka/tools/ClusterTool.java
  tools/src/main/java/org/apache/kafka/tools/FeatureCommand.java
  tools/src/main/java/org/apache/kafka/tools/MetadataQuorumCommand.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: kraft

#14442 KAFKA-10199: Do not unlock state directories of tasks in state updater
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#14439 KAFKA-15499: Fix the flaky DeleteSegmentsDueToLogStartOffsetBreach test.
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/utils/BrokerLocalStorage.java
Labels: tests, Tiered-Storage

#14461 MINOR: Fixing typo with CoordinatorRuntime Javadoc
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
Labels: KIP-848

#14447 MINOR: Fix incorrect versions in ConsumerGroupDescribeResponse schema
  clients/src/main/resources/common/message/ConsumerGroupDescribeResponse.json
Labels: KIP-848

#14418 MINOR: Move TopicIdPartition class to server-common
  metadata/src/main/java/org/apache/kafka/controller/BrokersToIsrs.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/BrokersToIsrsTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  server-common/src/main/java/org/apache/kafka/server/common/TopicIdPartition.java
Labels: KIP-848

#14453 MINOR: Close UnifiedLog created in tests to avoid resource leak
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
Labels: tests

#14459 KAFKA-15511: Catch CorruptIndexException instead of CorruptRecordException
  core/src/test/scala/unit/kafka/log/remote/RemoteIndexCacheTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteIndexCache.java
Labels: Tiered-Storage

#14415 MINOR: only log error when rack aware assignment is enabled
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareTaskAssignor.java
Labels: streams
