Repository apache/kafka, pull requests merged in 2023-11, with the labels that each got.

#14627 KAFKA-15661: KIP-951: protocol changes
  clients/src/main/resources/common/message/FetchRequest.json
  clients/src/main/resources/common/message/FetchResponse.json
  clients/src/main/resources/common/message/ProduceRequest.json
  clients/src/main/resources/common/message/ProduceResponse.json
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
Labels: producer, consumer

#13247 KAFKA-14595 Move ReassignPartitionsCommand to java
  bin/kafka-reassign-partitions.sh
  bin/windows/kafka-reassign-partitions.bat
  core/src/main/scala/kafka/admin/ReassignPartitionsCommand.scala
  core/src/test/scala/other/kafka/ReplicationQuotasTestRig.scala
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommand.java
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandOptions.java
  tools/src/main/java/org/apache/kafka/tools/reassign/Tuple2.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandArgsTest.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsUnitTest.java
Labels: tools

#14623 KAFKA-14133: Move StreamsMetricsImplTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImplTest.java
Labels: tests

#14607 KAFKA-14484: [1/N] Move PartitionMetadataFile to storage module
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/server/PartitionMetadataFile.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/checkpoint/PartitionMetadata.java
  storage/src/main/java/org/apache/kafka/storage/internals/checkpoint/PartitionMetadataFile.java
  storage/src/main/java/org/apache/kafka/storage/internals/checkpoint/PartitionMetadataReadBuffer.java
Labels: core

#14684 KAFKA-15614: [Minor] Renaming getter and correcting code comments
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/MetricKey.java
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/TelemetryMetricNamingConvention.java
  clients/src/main/java/org/apache/kafka/server/telemetry/ClientTelemetry.java
  clients/src/main/java/org/apache/kafka/server/telemetry/ClientTelemetryPayload.java
  clients/src/main/java/org/apache/kafka/server/telemetry/ClientTelemetryReceiver.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/TelemetryMetricNamingConventionTest.java
Labels: producer, consumer, kip, admin

#14618 KAFKA-15668: Adding Opentelmetry shadowed library (KIP-714)
  build.gradle
  gradle/dependencies.gradle
Labels: kip, dependencies

#14537 KAFKA-15598 & KAFKA-15461: Add integration tests for DescribeGroups API, DeleteGroups API, OffsetDelete API and ListGroups API
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
Labels: KIP-848

#14639 KAFKA-15562: ensure commit request manager handles errors correctly
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
Labels: ctr

#14667 KAFKA-15432:RLM Stop partitions should not be invoked for non-tiered storage topics
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/CheckpointBench.java
Labels: Tiered-Storage

#14642 KAFKA-15679: Consumer configurations for group protocol
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/GroupProtocol.java
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerConfigTest.java
Labels: KIP-848

#14621 KAFKA-15673: Adding client metrics resource types (KIP-714)
  clients/src/main/java/org/apache/kafka/clients/admin/ConfigEntry.java
  clients/src/main/java/org/apache/kafka/common/config/ConfigResource.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeConfigsResponse.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/common/config/ConfigResourceTest.java
  core/src/main/java/kafka/metrics/ClientMetricsConfigs.java
  core/src/main/java/kafka/server/ClientMetricsManager.java
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ConfigAdminManager.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/ConfigHelper.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/server/ControllerConfigurationValidator.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/ZkConfigManager.scala
  core/src/main/scala/kafka/server/metadata/DynamicConfigPublisher.scala
  core/src/test/java/kafka/metrics/ClientMetricsTestUtils.java
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  core/src/test/scala/unit/kafka/server/ControllerConfigurationValidatorTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  metadata/src/test/java/org/apache/kafka/metadata/KafkaConfigSchemaTest.java
Labels: core, kip

#14416 KAFKA 14515: Optimized Uniform Rack Aware Assignor
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AbstractUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/PartitionAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/SubscribedTopicMetadata.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/AssignmentTestUtil.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/SubscribedTopicMetadataTest.java
Labels: KIP-848

#14679 KAFKA-14133: Move StandbyTaskTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
Labels: tests

#14688 MINOR-Fix core:coordinator:testUnrecoverableErrors
  core/src/test/scala/unit/kafka/coordinator/transaction/ProducerIdManagerTest.scala
Labels: tests

#14593 KAFKA-15584: Leader election with ELR
  checkstyle/suppressions.xml
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
Labels: core

#14695 KAFKA-15780: Wait for consistent KRaft metadata when creating or deleting topics
  core/src/test/scala/integration/kafka/admin/RemoteTopicCrudTest.scala
  core/src/test/scala/integration/kafka/api/BaseProducerSendTest.scala
  core/src/test/scala/integration/kafka/api/EndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextProducerSendTest.scala
  core/src/test/scala/integration/kafka/api/ProducerCompressionTest.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/integration/kafka/server/FetchFromFollowerIntegrationTest.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestContext.java
Labels: kraft

#14674 KAFKA-15771: fix ProduceRequest#partitionSizes() to make it an atomic operation
  clients/src/main/java/org/apache/kafka/common/requests/ProduceRequest.java
Labels: producer, backport-candidate

#14594 KAFKA-15583: Enforce HWM advance only if partition is not under-min-ISR
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/test/scala/integration/kafka/api/ProducerFailureHandlingTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerQuotasTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core

#14629 KAFKA-15653: Pass requestLocal as argument to callback so we use the correct one for the thread
  core/src/main/scala/kafka/network/RequestChannel.scala
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/kafka/server/KafkaRequestHandlerTest.scala
Labels: backport-candidate

#14709 MINOR: Do not checkpoint standbys when handling corrupted tasks
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#14677 KAFKA-15765: Delete task-level commit sensor
  docs/ops.html
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/TaskMetrics.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetrics.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/TaskMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetricsTest.java
Labels: streams

#14647 KAFKA-15693: Immediately reassign lost connectors and tasks when scheduled rebalance delay is disabled
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignor.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinator.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignorTest.java
Labels: connect

#14722 MINOR; Fix KRaft metadata version system tests
  gradle/dependencies.gradle
  tests/kafkatest/version.py
  vagrant/base.sh
Labels: kraft

#14726 MINOR; Fix cluster size for migration tests
  tests/kafkatest/tests/core/zookeeper_migration_test.py
Labels: kraft

#14444 KAFKA-15661: KIP-951: Server side changes
  clients/src/main/java/org/apache/kafka/common/requests/ProduceResponse.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: kip

#14718 KAFKA-15800: Prevent DataExceptions from corrupting KafkaOffsetBackingStore
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/OffsetUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/OffsetUtilsTest.java
Labels: connect

#14708 KAFKA-15774: refactor windowed stores to use StoreFactory
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Materialized.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KeyValueStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/MaterializedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/MaterializedStoreFactory.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedCogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SlidingWindowStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SlidingWindowedCogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SlidingWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedCogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WindowStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
Labels: streams, kip

#14682 KAFKA-15311: Fix docs about reverting to ZooKeeper mode during KRaft migration
  docs/ops.html
Labels: kraft

#14704 KAFKA-15470: Allow creating connectors in a stopped state
  bin/connect-standalone.sh
  checkstyle/import-control.xml
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/ConnectStandalone.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Herder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/CreateConnectorRequest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/ConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/MemoryConfigBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/cli/ConnectStandaloneTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RestForwardingIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/StandaloneWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/entities/CreateConnectorRequestTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/MemoryConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnect.java
  docs/connect.html
Labels: connect, kip

#14637 MINOR: Fix GroupCoordinatorShardTest stubbing
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
Labels: tests, KIP-848

#14670 KAFKA-15277: Design & implement support for internal Consumer delegates
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerDelegate.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerDelegateCreator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/LegacyKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerConfigTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerTestBuilder.java
  core/src/test/scala/integration/kafka/api/BaseAsyncConsumerTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  gradle/spotbugs-exclude.xml
  streams/src/test/java/org/apache/kafka/streams/integration/TaskAssignorIntegrationTest.java
Labels: KIP-848, ctr

#14596 KAFKA-15346: add support for 'single key single timestamp' IQs with versioned state stores (KIP-960)
  streams/src/main/java/org/apache/kafka/streams/query/VersionedKeyQuery.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreQueryUtils.java
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2VersionedStoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/query/VersionedKeyQueryTest.java
Labels: streams, kip

#14759 KAFKA-15802: Validate remote segment state before fetching index
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: Tiered-Storage

#14635 KAFKA-15755: LeaveGroupResponse v0 - v2 loses its member under certain error conditions
  clients/src/main/java/org/apache/kafka/common/requests/LeaveGroupResponse.java
  clients/src/test/java/org/apache/kafka/common/requests/LeaveGroupResponseTest.java
Labels: KIP-848

#14777 [MINOR] Removing unused variables from StreamThreadTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#14791 MINOR: Do not check whether updating tasks exist in the waiting loop
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
Labels: streams

#14779 KAFKA-15833: Restrict Consumer API to be used from one thread
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
Labels: ctr

#14680 KAFKA-15174: Ensure CommitAsync propagate the exception to the user
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  core/src/test/scala/integration/kafka/api/BaseAsyncConsumerTest.scala
Labels: ctr

#14690 KAFKA-15574; [1/N]: Client state machine updates
  clients/src/main/java/org/apache/kafka/clients/Metadata.java
  clients/src/main/java/org/apache/kafka/clients/MetadataCache.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MemberState.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestState.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/Utils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/SubscriptionChangeApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/UnsubscribeApplicationEvent.java
  clients/src/main/java/org/apache/kafka/common/requests/ConsumerGroupHeartbeatRequest.java
  clients/src/test/java/org/apache/kafka/clients/MetadataCacheTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerTestBuilder.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/TopicMetadataRequestManagerTest.java
Labels: KIP-848

#14387 KAFKA-14519; [2/N] New coordinator metrics
  checkstyle/import-control.xml
  core/src/main/scala/kafka/server/BrokerServer.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/CoordinatorMetrics.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/CoordinatorMetricsShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetrics.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorShardBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/generic/GenericGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/MetricsTestUtils.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#14656 KAFKA-15705: Add integration tests for Heartbeat API and GroupLeave API
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/HeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/LeaveGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
Labels: KIP-848

#14801 MINOR: Mark ConsumerGroupHeartbeat API (v1), OffsetCommit API (v9) and OffsetFetch API (v9) as stable (KIP-848)
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/main/resources/common/message/ConsumerGroupHeartbeatRequest.json
  clients/src/main/resources/common/message/OffsetCommitRequest.json
  clients/src/main/resources/common/message/OffsetFetchRequest.json
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
Labels: KIP-848

#14810 KAFKA-15837: Throw error on use of Consumer.poll(long timeout) in AsyncKafkaConsumer
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
Labels: ctr

#14737 KAFKA-15362: Resolve offline replicas in metadata cache
  core/src/main/scala/kafka/server/metadata/KRaftMetadataCache.scala
  core/src/test/scala/unit/kafka/server/MetadataCacheTest.scala
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/metadata/BrokerRegistration.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/test/java/org/apache/kafka/image/node/ClusterImageBrokersNodeTest.java
  metadata/src/test/java/org/apache/kafka/metadata/BrokerRegistrationTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
Labels: core

#14710 KAFKA-15327: ensure the commit manager commit on close
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CoordinatorRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/AutoCommitCompletionBackgroundEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/BackgroundEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/BackgroundEventProcessor.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThreadTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerTestBuilder.java
Labels: ctr

#14648 KAFKA-15215: [KIP-954] support custom DSL store providers
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Materialized.java
  streams/src/main/java/org/apache/kafka/streams/kstream/StreamJoined.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/AbstractConfigurableStoreFactory.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KeyValueStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/MaterializedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/MaterializedStoreFactory.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/OuterStreamJoinStoreFactory.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SessionStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/SlidingWindowStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/StreamJoinedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/StreamJoinedStoreFactory.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WindowStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamStreamJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/state/BuiltInDslStoreSuppliers.java
  streams/src/main/java/org/apache/kafka/streams/state/DslKeyValueParams.java
  streams/src/main/java/org/apache/kafka/streams/state/DslSessionParams.java
  streams/src/main/java/org/apache/kafka/streams/state/DslStoreSuppliers.java
  streams/src/main/java/org/apache/kafka/streams/state/DslWindowParams.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedKeyValueStoreBuilder.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedWindowStoreBuilder.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/MaterializedInternalTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/KeyValueStoreMaterializerTest.java
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/StreamJoinedTest.scala
Labels: streams, kip

#14582 KAFKA-15578: Migrating other system tests to use the group coordinator
  tests/kafkatest/tests/client/consumer_rolling_upgrade_test.py
  tests/kafkatest/tests/client/consumer_test.py
  tests/kafkatest/tests/connect/connect_distributed_test.py
  tests/kafkatest/tests/core/consumer_group_command_test.py
  tests/kafkatest/tests/core/fetch_from_follower_test.py
  tests/kafkatest/tests/core/kraft_upgrade_test.py
  tests/kafkatest/tests/core/reassign_partitions_test.py
  tests/kafkatest/tests/core/replica_scale_test.py
  tests/kafkatest/tests/core/replication_replica_failure_test.py
  tests/kafkatest/tests/core/security_test.py
  tests/kafkatest/tests/core/snapshot_test.py
  tests/kafkatest/tests/core/transactions_test.py
  tests/kafkatest/tests/streams/streams_broker_down_resilience_test.py
  tests/kafkatest/tests/streams/streams_standby_replica_test.py
  tests/kafkatest/tests/streams/streams_static_membership_test.py
Labels: tests, KIP-848

#14807 KAFKA-15860: ControllerRegistration must be written out to the metadata image
  metadata/src/main/java/org/apache/kafka/image/ClusterImage.java
  metadata/src/main/java/org/apache/kafka/image/writer/ImageWriterOptions.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/image/ClusterImageTest.java
Labels: kraft

#14481 KAFKA-15484: General Rack Aware Assignor
  checkstyle/suppressions.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AbstractUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformAssignor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilderTest.java
Labels: KIP-848

#14781 KAFKA-15756: [1/2] Migrate existing integration tests to run old protocol in new coordinator
  core/src/test/scala/integration/kafka/api/AbstractConsumerTest.scala
  core/src/test/scala/integration/kafka/api/BaseAsyncConsumerTest.scala
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/kafka/utils/TestInfoUtils.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
Labels: KIP-848

#14800 KAFKA-15856: Add integration tests for JoinGroup API and SyncGroup API
  clients/src/main/java/org/apache/kafka/common/requests/JoinGroupResponse.java
  clients/src/test/java/org/apache/kafka/common/requests/JoinGroupResponseTest.java
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/HeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/JoinGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/LeaveGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/SyncGroupRequestTest.scala
Labels: KIP-848

#14817 KAFKA-15803: Update leader epoch in commitAsync and committed
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
Labels: ctr

#14787 KAFKA-15241: Compute tiered copied offset by keeping the respective epochs in scope
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/server/epoch/LeaderEpochFileCacheTest.scala
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManager.java
  storage/src/main/java/org/apache/kafka/storage/internals/epoch/LeaderEpochFileCache.java
Labels: Tiered-Storage

#14827 MINOR: Correcting Javadoc for ConnectAssertions
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/ConnectAssertions.java
Labels: connect

#14658 MINOR: Rename method sendBrokerHeartbeat
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerIntegrationTestUtils.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
Labels: kraft

#14751 KAFKA-15819: Fix leaked KafkaRaftManager in ZK mode during migration
  core/src/main/scala/kafka/server/KafkaServer.scala
Labels: kraft

#14766 KAFKA-15047: Roll active segment when it breaches the retention policy
  core/src/main/scala/kafka/log/LocalLog.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/log/LocalLogTest.scala
  core/src/test/scala/unit/kafka/log/LogTestUtils.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ProduceAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/RollAndOffloadActiveSegmentTest.java
Labels: Tiered-Storage

#14696 KAFKA-15022: Detect negative cycle from one source
  gradle/spotbugs-exclude.xml
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/Graph.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/GraphTest.java
Labels: streams, kip

#14632 KAFKA-15681: Add support of client-metrics in kafka-configs.sh (KIP-714)
  checkstyle/suppressions.xml
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  core/src/main/scala/kafka/server/DynamicConfig.scala
  core/src/main/scala/kafka/server/ZkConfigManager.scala
  core/src/main/scala/kafka/server/metadata/ZkConfigRepository.scala
  core/src/test/scala/unit/kafka/admin/ConfigCommandTest.scala
  core/src/test/scala/unit/kafka/server/metadata/ZkConfigRepositoryTest.scala
Labels: tools, kip

#14432 KAFKA-14516: [1/N] Static Member leave, join, re-join request using ConsumerGroupHeartbeats
  clients/src/main/java/org/apache/kafka/common/requests/ConsumerGroupHeartbeatRequest.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilderTest.java
Labels: KIP-848

#14758 KAFKA-15544: Enable integration tests for new consumer
  core/src/test/scala/integration/kafka/api/BaseAsyncConsumerTest.scala
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/kafka/utils/TestInfoUtils.scala
Labels: ctr

#14160 KAFKA-15311: Fix docs about reverting to ZooKeeper mode during KRaft migration
  docs/ops.html
Labels: kraft

#14840 MINOR: Fix the flaky TBRLMM `testInternalTopicExists` test
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerTest.java
Labels: tests

#14198 KAFKA-15022: Only relax edge when path exist
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/Graph.java
Labels: streams, kip

#14620 KAFKA-15618: Kafka metrics collector and supporting classes (KIP-714)
  checkstyle/import-control.xml
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/KafkaMetricsCollector.java
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/LastValueTracker.java
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/MetricsEmitter.java
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/SinglePointMetric.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/KafkaMetricsCollectorTest.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/LastValueTrackerTest.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/SinglePointMetricTest.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/TestEmitter.java
Labels: producer, consumer, kip

#14842 KAFKA-15887: Ensure FindCoordinatorRequest is sent before closing
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/NetworkClientDelegate.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThreadTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerTestBuilder.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/NetworkClientDelegateTest.java
Labels: ctr

#14844 KAFKA-14505; [1/N] Add support for transactional writes to CoordinatorRuntime
  core/src/main/scala/kafka/coordinator/group/CoordinatorLoaderImpl.scala
  core/src/main/scala/kafka/coordinator/group/CoordinatorPartitionWriter.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorLoaderImplTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorPlayback.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/PartitionWriter.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/InMemoryPartitionWriter.java
Labels: KIP-848

#14699 KAFKA-15778 & KAFKA-15779: Implement metrics manager (KIP-714)
  checkstyle/import-control-server.xml
  clients/src/main/java/org/apache/kafka/common/errors/TelemetryTooLargeException.java
  clients/src/main/java/org/apache/kafka/common/errors/UnknownSubscriptionIdException.java
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  clients/src/main/java/org/apache/kafka/common/requests/PushTelemetryRequest.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/SharedServer.scala
  core/src/main/scala/kafka/server/metadata/DynamicConfigPublisher.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  server/src/main/java/org/apache/kafka/server/ClientMetricsManager.java
  server/src/main/java/org/apache/kafka/server/metrics/ClientMetricsConfigs.java
  server/src/main/java/org/apache/kafka/server/metrics/ClientMetricsInstance.java
  server/src/main/java/org/apache/kafka/server/metrics/ClientMetricsInstanceMetadata.java
  server/src/main/java/org/apache/kafka/server/metrics/ClientMetricsReceiverPlugin.java
  server/src/main/java/org/apache/kafka/server/metrics/DefaultClientTelemetryPayload.java
  server/src/test/java/org/apache/kafka/server/ClientMetricsManagerTest.java
  server/src/test/java/org/apache/kafka/server/metrics/ClientMetricsInstanceMetadataTest.java
  server/src/test/java/org/apache/kafka/server/metrics/ClientMetricsInstanceTest.java
  server/src/test/java/org/apache/kafka/server/metrics/ClientMetricsReceiverPluginTest.java
  server/src/test/java/org/apache/kafka/server/metrics/ClientMetricsTestUtils.java
Labels: core, kip

#14242 KAFKA-15046: Get rid of unnecessary fsyncs inside UnifiedLog.lock to stabilize performance
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/server/checkpoints/OffsetCheckpointFile.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/log/LogSegmentTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/checkpoints/OffsetCheckpointFileWithFailureHandlerTest.scala
  core/src/test/scala/unit/kafka/server/epoch/LeaderEpochFileCacheTest.scala
  server-common/src/main/java/org/apache/kafka/server/common/CheckpointFile.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/CommittedOffsetsFile.java
  storage/src/main/java/org/apache/kafka/storage/internals/checkpoint/CheckpointFileWithFailureHandler.java
  storage/src/main/java/org/apache/kafka/storage/internals/checkpoint/InMemoryLeaderEpochCheckpoint.java
  storage/src/main/java/org/apache/kafka/storage/internals/checkpoint/LeaderEpochCheckpoint.java
  storage/src/main/java/org/apache/kafka/storage/internals/checkpoint/LeaderEpochCheckpointFile.java
  storage/src/main/java/org/apache/kafka/storage/internals/epoch/LeaderEpochFileCache.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/ProducerStateManager.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/SnapshotFile.java
Labels: storage

#14711 KAFKA-15022: add config for balance subtopology in rack aware task assignment
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams, kip

#14769 KAFKA-15816: Fix leaked sockets in streams tests
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2IntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsReporterIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/NamedTopologyIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/PurgeRepartitionTopicIntegrationTest.java
Labels: streams, tests

#14858 MINOR: DirectoryId.MIGRATING should be all zeros
  server-common/src/main/java/org/apache/kafka/common/DirectoryId.java
Labels: kraft

#14839 KAFKA-14412: Add ProcessingThread tag interface
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessingThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskExecutor.java
Labels: streams

#14860 KAFKA-15922: Add a MetadataVersion for JBOD
  clients/src/main/java/org/apache/kafka/common/requests/BrokerRegistrationRequest.java
  clients/src/main/resources/common/message/BrokerRegistrationRequest.json
  core/src/main/scala/kafka/Kafka.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/test/java/kafka/test/ClusterTestExtensionsTest.java
  core/src/test/java/kafka/test/annotation/ClusterTest.java
  core/src/test/java/kafka/testkit/KafkaClusterTestKit.java
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumFeatures.java
  metadata/src/main/resources/common/metadata/PartitionChangeRecord.json
  metadata/src/main/resources/common/metadata/PartitionRecord.json
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/ProducerIdControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTestEnv.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumFeaturesTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: kraft

#14428 KAFKA-15489: resign leadership when no fetch from majority voters
  clients/src/main/java/org/apache/kafka/common/requests/FetchSnapshotRequest.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/RaftConfig.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft
