Repository apache/kafka, pull requests merged in 2023-12, with the labels that each got.

#14869 KAFKA-15690: Fix restoring tasks on partition loss, flaky EosIntegrationTest
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PendingUpdateAction.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TasksRegistry.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TasksTest.java
Labels: streams

#14567 KAFKA-13988: Enable replicating from latest offset with MirrorMaker 2
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceTask.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceTaskTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
Labels: mirror-maker-2

#14767 KAFKA-15830: Add telemetry API handling (KIP-714)
  clients/src/main/java/org/apache/kafka/common/requests/ApiVersionsResponse.java
  clients/src/test/java/org/apache/kafka/common/requests/ApiVersionsResponseTest.java
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
  core/src/main/scala/kafka/server/ApiVersionManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/scala/integration/kafka/admin/BrokerApiVersionsCommandTest.scala
  core/src/test/scala/unit/kafka/server/AbstractApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  server/src/main/java/org/apache/kafka/server/metrics/ClientMetricsReceiverPlugin.java
Labels: core, kip

#14918 MINOR: fix bug where we weren't registering SnapshotEmitterMetrics
  core/src/main/scala/kafka/server/SharedServer.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  metadata/src/main/java/org/apache/kafka/image/publisher/SnapshotEmitter.java
Labels: kraft

#14885 KAFKA-15061; CoordinatorPartitionWriter should reuse buffer
  core/src/main/scala/kafka/coordinator/group/CoordinatorPartitionWriter.scala
Labels: KIP-848

#14826 MINOR: Add Uniform assignor to the default config
  core/src/main/scala/kafka/server/KafkaConfig.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformAssignor.java
Labels: KIP-848

#14882 KAFKA-14516: [2/N] New Group Coordinator IT for Static Member Replacement
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
Labels: KIP-848

#14811 KAFKA-15831: KIP-1000 protocol and admin client
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/ClientMetricsResourceListing.java
  clients/src/main/java/org/apache/kafka/clients/admin/ForwardingAdmin.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListClientMetricsResourcesOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListClientMetricsResourcesResult.java
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ListClientMetricsResourcesRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ListClientMetricsResourcesResponse.java
  clients/src/main/resources/common/message/ListClientMetricsResourcesRequest.json
  clients/src/main/resources/common/message/ListClientMetricsResourcesResponse.json
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/network/RequestConvertToJson.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
Labels: core, kip, admin

#14910 KAFKA-9545: Fix Flaky Test `RegexSourceIntegrationTest.testRegexMatchesTopicsAWhenDeleted`
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
Labels: streams

#14235 KAFKA-15102 (backport): Add release notes about the replication.policy.internal.topic.separator.enabled property for MirrorMaker 2
  docs/ops.html
  docs/upgrade.html
Labels: docs, mirror-maker-2

#14908 KAFKA-15662: Add support for clientInstanceIds in Kafka Stream
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  streams/src/main/java/org/apache/kafka/streams/ClientInstanceIds.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/ClientInstanceIdsImpl.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams, kip

#14750 KAFKA-15816: Fix leaked sockets in clients tests
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/common/network/NioEchoServer.java
  clients/src/test/java/org/apache/kafka/common/network/SelectorTest.java
  clients/src/test/java/org/apache/kafka/common/network/SslTransportLayerTest.java
  clients/src/test/java/org/apache/kafka/common/network/SslTransportTls12Tls13Test.java
  clients/src/test/java/org/apache/kafka/common/network/SslVersionsTransportLayerTest.java
  clients/src/test/java/org/apache/kafka/common/security/authenticator/SaslAuthenticatorTest.java
Labels: producer, consumer, tests

#14107 Kafka-14748: Relax non-null FK left-join requirement
  docs/streams/developer-guide/dsl-api.html
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/CombinedKey.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionJoinProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionReceiveProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionSendProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinIntegrationTest.java
Labels: streams

#14714 KAFKA-15022: introduce interface to control graph constructor
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TopologyMetadata.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/BalanceSubtopologyGraphConstructor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/Graph.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/MinTrafficGraphConstructor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareGraphConstructor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareGraphConstructorFactory.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareTaskAssignor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TopologyMetadataTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/GraphTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareGraphConstructorFactoryTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareGraphConstructorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/TaskAssignorConvergenceTest.java
Labels: streams, kip

#14735 KAFKA-15448: Streams Standby Update Listener (KIP-988)
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/StandbyUpdateListener.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/test/MockStandbyUpdateListener.java
Labels: streams, kip

#14552 KAFKA-15445: Add JVM Docker image
  .github/workflows/docker_build_and_test.yml
  .gitignore
  build.gradle
  docker/README.md
  docker/common.py
  docker/docker_build_test.py
  docker/docker_promote.py
  docker/docker_release.py
  docker/jvm/Dockerfile
  docker/jvm/jsa_launch
  docker/jvm/launch
  docker/requirements.txt
  docker/resources/common-scripts/bash-config
  docker/resources/common-scripts/configure
  docker/resources/common-scripts/configureDefaults
  docker/resources/common-scripts/kafka-log4j.properties.template
  docker/resources/common-scripts/kafka-propertiesSpec.json
  docker/resources/common-scripts/kafka-tools-log4j.properties.template
  docker/resources/common-scripts/run
  docker/resources/utility/go.mod
  docker/resources/utility/go.sum
  docker/resources/utility/testResources/sampleFile
  docker/resources/utility/testResources/sampleFile2
  docker/resources/utility/testResources/sampleLog4j.template
  docker/resources/utility/utility.go
  docker/resources/utility/utility_test.go
  docker/test/__init__.py
  docker/test/constants.py
  docker/test/docker_sanity_test.py
  docker/test/fixtures/file-input/server.properties
  docker/test/fixtures/jvm/combined/docker-compose.yml
  docker/test/fixtures/jvm/isolated/docker-compose.yml
  docker/test/fixtures/secrets/client-ssl.properties
  docker/test/fixtures/secrets/client.keystore.jks
  docker/test/fixtures/secrets/kafka.truststore.jks
  docker/test/fixtures/secrets/kafka01.keystore.jks
  docker/test/fixtures/secrets/kafka02.keystore.jks
  docker/test/fixtures/secrets/kafka_keystore_creds
  docker/test/fixtures/secrets/kafka_ssl_key_creds
  docker/test/fixtures/secrets/kafka_truststore_creds
  release.py
Labels: kip

#14905 MINOR: Allow local-log segment deletion when log-start-offset incremented
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
Labels: Tiered-Storage

#14878 KAFKA-15280: Implement client support for KIP-848 server-side assignors
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerConfigTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerTestBuilder.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: KIP-848

#14924 KAFKA-15972: Add support to exclude labels for telemetry metrics (KIP-714)
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryReporter.java
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/KafkaMetricsCollector.java
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/SinglePointMetric.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryEmitterTest.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/KafkaMetricsCollectorTest.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/SinglePointMetricTest.java
Labels: core, kip

#14921 KAFKA-15022: tests for HA assignor and StickyTaskAssignor
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/BalanceSubtopologyGraphConstructor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/Graph.java
  streams/src/test/java/org/apache/kafka/streams/integration/HighAvailabilityTaskAssignorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/HighAvailabilityTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/StickyTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/TaskAssignorConvergenceTest.java
Labels: streams, kip

#14931 MINOR: ConsumerRebalanceListenerInvoker class and method visibility
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerRebalanceListenerInvoker.java
Labels: KIP-848, ctr

#14687 MINOR: Add junit properties to display parameterized test names
  clients/src/test/resources/junit-platform.properties
  server-common/src/test/resources/junit-platform.properties
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskCreationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: tests

#14912 KAFKA-15932: Wait for responses in consumer operations
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/FetchCommittedOffsetsApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/NewTopicsMetadataUpdateRequestEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: ctr

#14886 MINOR: fully encapsulate user restore listener in the DelegatingRestoreListener
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: streams

#14761 KAFKA-15816: Fix leaked sockets in mirror tests
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/DedicatedMirrorIntegrationTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsWithCustomForwardingAdminIntegrationTest.java
Labels: tests, mirror-maker-2

#14947 KAFKA-15347: fix unit test
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreSegmentValueFormatterTest.java
Labels: streams

#14906 KAFKA-15527: Support ResultOrder to reverseRange and reverseAll query over kv-store in IQv2
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/query/RangeQuery.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreQueryUtils.java
Labels: streams, kip

#14922 KAFKA-15662: Add support for clientInstanceIds in Kafka Stream
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, kip

#14907 KAFKA-15629: Support ResultOrder to TimestampedRangeQuery.
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/query/TimestampedRangeQuery.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
Labels: streams, kip

#14911 KAFKA-14516: [3/3] New Group Coordinator IT for Static Member removed from Group upon Session timeout expiry
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
Labels: KIP-848

#14935 KAFKA-15662: Add support for clientInstanceIds in Kafka Stream
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
Labels: streams, kip

#14899 KAFKA-15956: MetadataShell must take the log directory lock when reading
  build.gradle
  checkstyle/import-control.xml
  metadata/src/main/java/org/apache/kafka/image/loader/MetadataBatchLoader.java
  shell/src/main/java/org/apache/kafka/shell/MetadataShell.java
  shell/src/test/java/org/apache/kafka/shell/MetadataShellIntegrationTest.java
Labels: kraft

#14956 MINOR: Remove `SubscribedTopicRegex` field from `ConsumerGroupHeartbeatRequest`
  clients/src/main/resources/common/message/ConsumerGroupHeartbeatRequest.json
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: KIP-848

#14948 KAFKA-15662: Add support for clientInstanceIds in Kafka Stream
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/internals/StreamsConfigUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/test/MockClientSupplier.java
Labels: streams, kip

#14965 MINOR: Fix rack-aware assignment tests
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/StickyTaskAssignor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/HighAvailabilityTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/StickyTaskAssignorTest.java
Labels: streams

#14958 Update upgrade-guide.html for KIP-960 and KIP-968
  docs/streams/upgrade-guide.html
Labels: streams, docs, kip

#14857 KAFKA-15574; [2/N]: Client state machine updates
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MemberState.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
Labels: KIP-848

#14967 KAFKA-15906: Emit latest MM2 offset syncs every offset.flush.interval.ms
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceTask.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceTaskTest.java
Labels: mirror-maker-2

#14400 KAFKA-15471: Allow independently stop KRaft controllers or brokers
  bin/kafka-server-stop.sh
Labels: kraft

#14936 KAFKA-15662: Add support for clientInstanceIds in Kafka Stream
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, kip

#14293 KAFKA-15372: Reconfigure dedicated MM2 connectors after leadership change
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorHerder.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMaker.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/DedicatedMirrorIntegrationTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
Labels: mirror-maker-2

#14988 KAFKA-15981: update Group size only when groups size changes
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/generic/GenericGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShardTest.java
Labels: KIP-848

#14983 MINOR: Add junit properties to display parameterized test names
  clients/src/test/resources/junit-platform.properties
  server-common/src/test/resources/junit-platform.properties
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/AdjustStreamThreadCountTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ConsistencyVectorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EmitOnChangeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalThreadShutDownOrderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/HighAvailabilityTaskAssignorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2IntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/JoinGracePeriodDurabilityIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationDedupIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamKStreamIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamRepartitionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyInnerJoinCustomPartitionerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinDistributedTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinMaterializationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableSourceTopicRestartIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsCloseOptionsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/LagFetchIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsReporterIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/NamedTopologyIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/PauseResumeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetPartitionTimeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SelfJoinUpgradeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SlidingWindowedKStreamIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskCreationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StateDirectoryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreUpgradeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamTableJoinTopologyOptimizationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamsUncaughtExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionDurabilityIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TaskAssignorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TaskMetadataIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TimeWindowedKStreamIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/VersionedKeyValueStoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableForeignKeyJoinScenarioTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/HandlingSourceTopicDeletionIntegrationTest.java
Labels: tests

#14981 KAFKA-15237: Implement write operation timeout
  core/src/main/scala/kafka/server/BrokerServer.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#14832 KAFKA-15883: Implement RemoteCopyLagBytes
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/integration/kafka/api/MetricsTest.scala
  core/src/test/scala/kafka/server/KafkaRequestHandlerTest.scala
  core/src/test/scala/unit/kafka/metrics/MetricsTest.scala
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageMetrics.java
Labels: Tiered-Storage, KIP-963

#15002 MINOR Minor Cleanup KRaft code
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaNetworkChannel.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ReplicatedLog.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchAccumulator.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchBuilder.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotReader.java
Labels: kraft, backport-candidate

#15001 MINOR: transform new coordinator error before returning to client
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-848

#15025 KAFKA-16023: Disable flaky tests
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: consumer, ctr

#15021 KAFKA-16014: add RemoteLogSizeComputationTime metric
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/kafka/server/KafkaRequestHandlerTest.scala
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageMetrics.java
Labels: Tiered-Storage

#14930 KAFKA-15913: Migrate async consumer tests to mocks
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerTestBuilder.java
Labels: tests, ctr

#14375 KAFKA-15158: Add metrics for RemoteDelete and BuildRemoteLogAuxState
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/server/ReplicaFetcherTierStateMachine.java
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageMetrics.java
Labels: kip, Tiered-Storage

#14999 MINOR: docs for rack aware assignment
  docs/streams/developer-guide/config-streams.html
  docs/streams/upgrade-guide.html
Labels: streams, docs, kip

#13919 MINOR: doc/streams/dsl-api, fix href of "KTable-KTable Foreign-Key Joins"
  docs/streams/developer-guide/dsl-api.html
Labels: streams, docs, stale

#14937 KAFKA-15696: Refactor closing consumer
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/CommitOnCloseApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/LeaveOnCloseApplicationEvent.java
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ApplicationEventProcessorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThreadTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerTestBuilder.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: consumer, ctr

#13662 KAFKA-15208: Upgrade Jackson dependencies to version 2.16.0
  LICENSE-binary
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonDeserializer.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonSerializer.java
  connect/json/src/test/java/org/apache/kafka/connect/json/JsonConverterTest.java
  gradle/dependencies.gradle
Labels: backport-candidate, dependencies

#15039 KAFKA-15448: Update upgrade guide for KIP-988
  docs/streams/upgrade-guide.html
Labels: streams, docs, kip

#14848 KAFKA-15870: Move new group coordinator metrics from Yammer to Metrics
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/CoordinatorMetrics.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/CoordinatorMetricsShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetrics.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShard.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/generic/GenericGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/MetricsTestUtils.java
Labels: KIP-848

#15026 KAFKA-16014: add RemoteLogMetadataCount metric
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/kafka/server/KafkaRequestHandlerTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageMetrics.java
Labels: Tiered-Storage, KIP-963

#15005 KAFKA-16002: Implement RemoteCopyLagSegments, RemoteDeleteLagBytes and RemoteDeleteLagSegments
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/integration/kafka/api/MetricsTest.scala
  core/src/test/scala/kafka/server/KafkaRequestHandlerTest.scala
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageMetrics.java
Labels: Tiered-Storage, KIP-963

#15015 KAFKA-16013: Throw an exception in DelayedRemoteFetch for follower fetch replicas.
  core/src/main/scala/kafka/server/DelayedRemoteFetch.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/integration/kafka/server/DelayedRemoteFetchTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: tests, Tiered-Storage

#15044 KAFKA-16017: Checkpoint restored offsets instead of written offsets
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams

#15053 KAFKA-16036; Add `group.coordinator.rebalance.protocols` and publish all new configs
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
Labels: KIP-848

#15043 KAFKA-16030: new group coordinator should check if partition goes offline during load
  core/src/main/scala/kafka/coordinator/group/CoordinatorLoaderImpl.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorLoaderImplTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/SnapshottableCoordinator.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/SnapshottableCoordinatorTest.java
Labels: KIP-848

#14557 KAFKA-15456: Commit/Fetch error handling improvements and V9 support
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/GroupState.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MemberStateListener.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/CommitApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/FetchCommittedOffsetsApplicationEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThreadTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerTestBuilder.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
Labels: KIP-848

#14985 KAFKA-14505; [3/N] Wire WriteTxnMarkers API
  core/src/main/scala/kafka/coordinator/group/CoordinatorLoaderImpl.scala
  core/src/main/scala/kafka/coordinator/group/CoordinatorPartitionWriter.scala
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorLoaderImplTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorPlayback.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/PartitionWriter.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/SnapshottableCoordinator.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/InMemoryPartitionWriter.java
Labels: KIP-848

#15059 KAFKA-16040; Rename `Generic` to `Classic`
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/GroupProtocol.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/LegacyKafkaConsumer.java
  clients/src/main/resources/common/message/OffsetCommitRequest.json
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerConfigTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
  core/src/test/scala/kafka/utils/TestInfoUtils.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/HeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/JoinGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/LeaveGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/SyncGroupRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetExpirationCondition.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetExpirationConditionImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroupState.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetrics.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShard.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/classic/ClassicGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/classic/ClassicGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsTest.java
Labels: KIP-848

#15056 KAFKA-16035: add tests for remoteLogSizeComputationTime/remoteFetchExpiresPerSec metrics
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: tests, Tiered-Storage

#15063 MINOR: Close RemoteLogManager in RemoteLogManagerTest
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: tests, Tiered-Storage

#15035 KAFKA-16026: Send Poll event to the background thread
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MemberState.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: ctr

#15023 KAFKA-16012: Ensure new leader information merged correctly with the current metadata
  clients/src/main/java/org/apache/kafka/clients/Metadata.java
  clients/src/test/java/org/apache/kafka/clients/MetadataTest.java
Labels: consumer

#15079 KAFKA-16053: Fix leaks of KDC server in tests
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
  core/src/test/scala/unit/kafka/security/authorizer/AclAuthorizerWithZkSaslTest.scala
Labels: tests, backport-candidate

#15084 KAFKA-16058: close controllerApi instance to avoid thread leaking
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
Labels: tests, backport-candidate

#15030 KAFKA-16015: Fix custom timeouts overwritten by defaults
  tools/src/main/java/org/apache/kafka/tools/LeaderElectionCommand.java
  tools/src/test/java/org/apache/kafka/tools/DeleteRecordsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/LeaderElectionCommandTest.java
Labels: tools, admin

#15089 KAFKA-16062: Upgrade mockito to 5.8.0
  gradle/dependencies.gradle
Labels: dependencies

#15090 KAFKA-16065: close DelayedFuturePurgatory
  core/src/test/scala/unit/kafka/server/DelayedOperationTest.scala
Labels: tests, backport-candidate

#15095 MINOR: Close MockitoStatic in try-with-resource
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
Labels: tests

#15091 KAFKA-16064: Improve ControllerApisTest
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
Labels: tests

#15094 KAFKA-16052: Create a real dummy replicaManager instance to save heap memory
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
Labels: tests, backport-candidate

#15100 MINOR: Fixing flaky test GroupMetadataManagerTest.testStaticMemberGetsBackAssignmentUponRejoin
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: tests, KIP-848
