Repository apache/kafka, pull requests merged in 2023-06, with the labels that each got.

#13681 KAFKA-14133: Migrate ActiveTaskCreator mock in TaskManagerTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams, tests

#13774 KAFKA-12562: Fix KafkaStreams#store old references in comments
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/CogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KGroupedTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedKStream.java
Labels: streams

#13776 KAFKA-15034: Improve performance of the ReplaceField SMT; add JMH benchmark
  build.gradle
  checkstyle/import-control-jmh-benchmarks.xml
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/ReplaceField.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/connect/ReplaceFieldBenchmark.java
Labels: connect, performance

#13666 KAFKA-14462; [13/N] CoordinatorEvent and CoordinatorEventProcessor
  checkstyle/import-control.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorEvent.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorEventProcessor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/EventAccumulator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/EventAccumulatorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessorTest.java
Labels: KIP-848

#13793 KAFKA-14462; [15/N] Make Result generic and rename it
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorResult.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorResultTest.java
Labels: KIP-848

#13467 KAFKA-14863: Hide plugins with invalid constructors during plugin discovery
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/TestPlugins.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/META-INF/services/org.apache.kafka.connect.connector.policy.ConnectorClientConfigOverridePolicy
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/NoDefaultConstructorConverter.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/NoDefaultConstructorOverridePolicy.java
Labels: connect

#13794 KAFKA-14462; [16/N] Add CoordinatorLoader and CoordinatorPlayback interfaces
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorLoader.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorPlayback.java
Labels: KIP-848

#13799 KAFKA-15048: Improve handling of unexpected quorum controller errors
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/SharedServer.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/errors/ControllerExceptions.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTestEnv.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/errors/ControllerExceptionsTest.java
Labels: kraft

#13680 MINOR: Add "versions" tag to recently added ReplicaState field on Fetch Request
  clients/src/main/resources/common/message/FetchRequest.json
Labels: core

#13808 MINOR: Re-introduce Transformation import to fix TransformationChain Javadoc
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/TransformationChain.java
Labels: connect

#13810 MINOR: Remove reference to 'offset backing store' from exception message in KafkaBasedLog
  connect/runtime/src/main/java/org/apache/kafka/connect/util/KafkaBasedLog.java
Labels: connect

#13750 MINOR: Handle the config topic read timeout edge case in DistributedHerder's stopConnector method
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
Labels: connect

#13806 MINOR: Fix flaky DistributedHerderTest cases related to zombie fencing
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
Labels: connect, tests

#13771 MINOR: Refactor DelegatingClassLoader to emit immutable PluginScanResult
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginDesc.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginScanResult.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginDescTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginUtilsTest.java
Labels: connect

#13675 KAFKA-14462; [14/N] Add PartitionWriter
  clients/src/main/java/org/apache/kafka/common/requests/ProduceResponse.java
  core/src/main/scala/kafka/coordinator/group/CoordinatorPartitionWriter.scala
  core/src/main/scala/kafka/server/ActionQueue.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordSerializer.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/PartitionWriter.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordSerializerTest.java
Labels: KIP-848

#13788 KAFKA-14791: Create a builder for PartitionRegistration
  core/src/test/scala/unit/kafka/server/ReplicaManagerConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkMigrationClientTest.scala
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionReassignmentReplicasTest.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionReassignmentRevertTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetricsTestUtils.java
  metadata/src/test/java/org/apache/kafka/image/TopicsImageTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
Labels: kraft

#13772 MINOR: Add helper util `Snapshots.lastContainedLogTimestamp`
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  raft/src/main/java/org/apache/kafka/raft/internals/IdentitySerde.java
  raft/src/main/java/org/apache/kafka/snapshot/Snapshots.java
  raft/src/test/java/org/apache/kafka/snapshot/SnapshotWriterReaderTest.java
Labels: kraft

#13809 MINOR: Fix ZkAclMigrationClientTest.testAclsMigrateAndDualWrite test
  core/src/test/scala/unit/kafka/zk/migration/ZkAclMigrationClientTest.scala
Labels: tests

#13765 KAFKA-15021; Skip leader epoch bump on ISR shrink
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/test/java/kafka/test/ClusterTestExtensionsTest.java
  core/src/test/java/kafka/test/annotation/ClusterTest.java
  core/src/test/scala/integration/kafka/api/BaseProducerSendTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: kraft

#13678 KAFKA-10337: await async commits in commitSync even if no offsets given
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
Labels: consumer

#13751 KAFKA-14539: Simplify StreamsMetadataState by replacing the Cluster metadata with partition info map
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsMetadataStateTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: streams

#13815 KAFKA-14966: Extract OffsetFetcher reusable logic
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetFetcher.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetFetcherUtils.java
Labels: ctr

#13807 KAFKA-15040: trigger onLeadershipChange under KRaft mode
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  metadata/src/main/java/org/apache/kafka/image/LocalReplicaChanges.java
  metadata/src/main/java/org/apache/kafka/image/TopicDelta.java
  metadata/src/main/java/org/apache/kafka/image/TopicsDelta.java
Labels: core

#13834 KAFKA-15076; KRaft should prefer latest snapshot
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
Labels: kraft

#13712 KAFKA-14133: Migrate Admin mock in TaskManagerTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams, tests

#13820 MINOR: Move Timer/TimingWheel to server-common
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/raft/TimingWheelExpirationService.scala
  core/src/main/scala/kafka/server/DelayedOperation.scala
  core/src/main/scala/kafka/utils/timer/Timer.scala
  core/src/main/scala/kafka/utils/timer/TimerTask.scala
  core/src/main/scala/kafka/utils/timer/TimerTaskList.scala
  core/src/test/scala/unit/kafka/utils/timer/MockTimer.scala
  core/src/test/scala/unit/kafka/utils/timer/TimerTaskListTest.scala
  core/src/test/scala/unit/kafka/utils/timer/TimerTest.scala
  server-common/src/main/java/org/apache/kafka/server/util/timer/SystemTimer.java
  server-common/src/main/java/org/apache/kafka/server/util/timer/Timer.java
  server-common/src/main/java/org/apache/kafka/server/util/timer/TimerTask.java
  server-common/src/main/java/org/apache/kafka/server/util/timer/TimerTaskEntry.java
  server-common/src/main/java/org/apache/kafka/server/util/timer/TimerTaskList.java
  server-common/src/main/java/org/apache/kafka/server/util/timer/TimingWheel.java
  server-common/src/test/java/org/apache/kafka/server/util/timer/TimerTaskListTest.java
  server-common/src/test/java/org/apache/kafka/server/util/timer/TimerTest.java
Labels: KIP-848

#13756 KAFKA-14936: Add On Disk Time Ordered Buffer (1/N)
  streams/src/main/java/org/apache/kafka/streams/state/Stores.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBKeyValueBytesStoreSupplier.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBuffer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBytesStoreSupplier.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBufferTest.java
Labels: streams, kip

#13650 KAFKA-14709: Move content in connect/mirror/README.md to the docs
  connect/mirror/README.md
  docs/ops.html
Labels: docs, mirror-maker-2

#13838 MINOR: Reduce MM2 integration test flakiness due to missing dummy offset commits
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsWithCustomForwardingAdminIntegrationTest.java
Labels: tests, mirror-maker-2

#13819 KAFKA-15059: Remove pending rebalance check when fencing zombie source connector tasks
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/DedicatedMirrorIntegrationTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
Labels: connect, tests, mirror-maker-2

#13719 MINOR:Fix illogical log in fetchOffsetAndTruncate method
  core/src/main/scala/kafka/server/AbstractFetcherThread.scala
Labels: core

#13858 MINOR: Add more information in assertion failure for non daemon threads
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: tests

#13864 Revert "MINOR: Reduce MM2 integration test flakiness due to missing dummy offset commits"
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsWithCustomForwardingAdminIntegrationTest.java
Labels: tests, mirror-maker-2

#13705 MINOR:Refactor the metric names into constants in ReplicaManager
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core

#13848 MINOR: Make offsets topic creation more reliable in tests (zk mode)
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: tests

#13840 MINOR: Upgrade Scala for Java 20/21 support
  LICENSE-binary
  bin/kafka-run-class.sh
  bin/windows/kafka-run-class.bat
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  gradle.properties
  gradle/dependencies.gradle
Labels: dependencies

#13885 MINOR: Fix typos for connect
  connect/mirror-client/src/main/java/org/apache/kafka/connect/mirror/Checkpoint.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorMakerConfigTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/TopicCreationConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerTransactionContext.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ErrorHandlingIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginDescTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginUtilsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/ConnectRestServerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
Labels: connect

#13868 MINOR: Close ReplicaManager correctly in ReplicaManagerTest
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: tests

#13187 MINOR: Log lastCaughtUpTime on ISR shrinkage
  core/src/main/scala/kafka/cluster/Partition.scala
Labels: stale

#13839 MINOR:Fill missing parameter annotations for LogCleaner methods
  core/src/main/scala/kafka/log/LogCleaner.scala
  core/src/main/scala/kafka/log/LogSegment.scala
Labels: core

#13850 KAFKA-15084: Remove lock contention from RemoteIndexCache
  LICENSE-binary
  build.gradle
  core/src/main/scala/kafka/log/remote/RemoteIndexCache.scala
  core/src/test/scala/unit/kafka/log/remote/RemoteIndexCacheTest.scala
  gradle/dependencies.gradle
  server-common/src/main/java/org/apache/kafka/server/util/ShutdownableThread.java
Labels: core, KIP-405

#13890 KAFKA-15109 Don't skip leader epoch bump while in migration mode
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
Labels: kraft

#13816 MINOR: Optimize runtime of MM2 integration tests by batching transactions
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/TestUtils.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationTransactionsTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsWithCustomForwardingAdminIntegrationTest.java
Labels: tests, mirror-maker-2

#13896 MINOR: Fix generated client ids for Connect
  connect/runtime/src/main/java/org/apache/kafka/connect/util/ConnectUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/ConnectUtilsTest.java
Labels: connect

#13812 KAFKA-14462; [18/N] Add GroupCoordinatorService
  checkstyle/import-control.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/Coordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorBuilderSupplier.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorLoader.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinatorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/TestUtil.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#13818 KAFKA-14784: Connect offset reset REST API
  checkstyle/suppressions.xml
  connect/api/src/main/java/org/apache/kafka/connect/sink/SinkConnector.java
  connect/api/src/main/java/org/apache/kafka/connect/source/SourceConnector.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Herder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConnectorOffsets.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/SinkUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/OffsetsApiIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
Labels: connect, kip

#13912 MINOR: Silence error logs for faulty plugins in integration tests
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
Labels: connect

#13910 KAFKA-15109 Ensure the leader epoch bump occurs for older MetadataVersions
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
Labels: kraft

#13903 MINOR: Bump requests from 2.24.0 to 2.31.0 in /tests
  tests/setup.py
Labels: dependencies

#13902 MINOR: fix flaky ZkMigrationIntegrationTest.testNewAndChangedTopicsIn…
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
Labels: tests, kraft

#13922 [MINOR] remove the currentStream.close() statement causing exit code issue
  tools/src/test/java/org/apache/kafka/tools/ToolsTestUtils.java
Labels: tests

#13845 KAFKA-15078; KRaft leader replys with snapshot for offset 0
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
Labels: kraft

#13880 KAFKA-14462; [19/N] Add CoordinatorLoader implementation
  core/src/main/scala/kafka/coordinator/group/CoordinatorLoaderImpl.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorLoaderImplTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordSerde.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordSerializer.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorLoader.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordSerdeTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordSerializerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#13855 KAFKA-14936: Add Grace period logic to Stream Table Join (2/N)
  streams/src/main/java/org/apache/kafka/streams/kstream/Joined.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinProcessor.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryTimeOrderedKeyValueChangeBuffer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBuffer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBytesStoreSupplier.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimeOrderedKeyValueBuffer.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamTableJoinWithGraceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBufferTest.java
Labels: streams, kip

#13915 KAFKA-14930: Document the new PATCH and DELETE offsets REST APIs for Connect
  docs/connect.html
Labels: docs, connect, kip

#13933 MINOR: Update anchor link for exactly-once source connectors
  docs/connect.html
Labels: docs, connect

#13934 MINOR: Replace synchronization with atomic update in Connect's StateTracker::changeState method
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/StateTracker.java
Labels: connect

#12948 MINOR: Add JDK 20 CI build and remove some branch builds
  Jenkinsfile
  build.gradle
  clients/src/main/java/org/apache/kafka/common/utils/ChunkedBytesStream.java
  clients/src/test/java/org/apache/kafka/common/network/SslTransportLayerTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/OffsetSyncStoreTest.java
  core/src/test/scala/kafka/server/KafkaRequestHandlerTest.scala
  gradle/dependencies.gradle
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingInMemoryKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingPersistentWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedCachingPersistentWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedWindowStoreTest.java
Labels: dependencies

#13923 KAFKA-15131: Improve RemoteStorageManager exception handling documentation
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageManager.java
Labels: KIP-405

#13939 [MINOR] Correcting few WARN log lines in DistributedHerder#handleRebalance
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
Labels: connect
