Repository apache/kafka, pull requests merged in 2023-01, with the labels that each got.

#13052 KAFKA-14545: Make MirrorCheckpointTask.checkpoint handle null offsetAndMetadata more gracefully
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointTaskTest.java
Labels: mirror-maker-2

#13064 MINOR: bump streams quickstart pom versions and add to list in gradle.properties
  gradle.properties
  streams/quickstart/java/pom.xml
  streams/quickstart/java/src/main/resources/archetype-resources/pom.xml
  streams/quickstart/pom.xml
Labels: streams

#13077 KAFKA-14279; Add 3.3.x streams system tests
  build.gradle
  gradle/dependencies.gradle
  settings.gradle
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/upgrade-system-tests-33/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  streams/upgrade-system-tests-33/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/upgrade-system-tests-33/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/upgrade-system-tests-33/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-33/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_application_upgrade_test.py
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tests

#12870 KAFKA-14367; Add `OffsetFetch` to the new `GroupCoordinator` interface
  clients/src/main/java/org/apache/kafka/common/requests/OffsetFetchRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/OffsetFetchResponse.java
  clients/src/main/resources/common/message/OffsetFetchResponse.json
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
Labels: KIP-848

#12886 KAFKA-14367; Add `OffsetCommit` to the new `GroupCoordinator` interface
  clients/src/main/java/org/apache/kafka/common/requests/OffsetCommitRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/OffsetCommitResponse.java
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
Labels: KIP-848

#12901 KAFKA-14367; Add `TxnOffsetCommit` to the new `GroupCoordinator` interface
  clients/src/main/java/org/apache/kafka/common/requests/TxnOffsetCommitRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/TxnOffsetCommitResponse.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
Labels: KIP-848

#13106 KAFKA-13709 (follow-up): Fix wording around exactly-once in Connect
  connect/api/src/main/java/org/apache/kafka/connect/source/ExactlyOnceSupport.java
  connect/api/src/main/java/org/apache/kafka/connect/source/SourceConnector.java
  connect/file/src/main/java/org/apache/kafka/connect/file/FileStreamSourceConnector.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SourceConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExactlyOnceSourceIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  docs/connect.html
Labels: docs, connect

#12902 KAFKA-14367; Add `OffsetDelete` to the new `GroupCoordinator` interface
  clients/src/main/java/org/apache/kafka/common/requests/OffsetDeleteResponse.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
Labels: KIP-848

#12818 KAFKA-14133: Replace EasyMock with Mockito in streams tests
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsAssignmentScaleTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/WriteConsistencyVectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/AssignmentTestUtils.java
Labels: streams, tests

#8431 MINOR: Rename description of flatMapValues transformation
  docs/streams/developer-guide/dsl-api.html
Labels: streams, docs

#12821 KAFKA-14132: Replace PowerMock and EasyMock with Mockito in streams tests
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RepartitionTopicsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateManagerUtilTest.java
Labels: streams, tests

#13129 KAFKA-14638: Elaborate when transaction.timeout.ms resets
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
Labels: docs, core

#13112 KAFKA-14367; Add internal APIs to the new `GroupCoordinator` interface
  build.gradle
  checkstyle/import-control-jmh-benchmarks.xml
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinator.scala
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/server/AutoTopicCreationManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaBroker.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/RequestHandlerHelper.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/integration/kafka/server/MultipleListenersWithSameSecurityProtocolBaseTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  core/src/test/scala/unit/kafka/server/AutoTopicCreationManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/MetadataRequestBenchmark.java
Labels: KIP-848

#13132 MINOR: fix warnings in Streams javadocs
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/TopologyDescription.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Produced.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Repartitioned.java
  streams/src/main/java/org/apache/kafka/streams/processor/StreamPartitioner.java
  streams/src/main/java/org/apache/kafka/streams/query/Position.java
  streams/src/main/java/org/apache/kafka/streams/query/QueryResult.java
Labels: streams, docs

#13121 MINOR: Remove some connect tests from Java 17 block list
  build.gradle
Labels: connect, tests

#13141 MINOR: fix flaky integrations tests by using 60s default timeout for startup
  streams/src/test/java/org/apache/kafka/streams/integration/ConsistencyVectorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EmitOnChangeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/InternalTopicIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyInnerJoinCustomPartitionerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsCloseOptionsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/LagFetchIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/NamedTopologyIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RangeQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamsUncaughtExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TaskMetadataIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
  streams/src/test/java/org/apache/kafka/test/StreamsTestUtils.java
Labels: streams, tests

#13144 KAFKA-14463 Invoke of ConnectorClientConfigOverridePolicy#close
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMaker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/connector/policy/BaseConnectorClientConfigOverridePolicyTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/SampleConnectorClientConfigOverridePolicy.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
Labels: connect

#13148 KAFKA-14645: Use plugin classloader when retrieving connector plugin config definitions
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
Labels: connect

#13175 KAFAK-14660: Fix divide-by-zero vulnerability
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/StickyTaskAssignor.java
Labels: streams

#13142 KAFKA-14491: [2/N] Refactor RocksDB store open iterator management
  streams/src/main/java/org/apache/kafka/streams/state/internals/ManagedKeyValueIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBRangeIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimestampedStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDbIterator.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBRangeIteratorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
Labels: streams, kip

#13164 MINOR: Fix scaladoc warnings
  build.gradle
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Branched.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/BranchedKStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Consumed.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Grouped.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Joined.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KTable.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Materialized.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Produced.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/Repartitioned.scala
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/StreamJoined.scala
Labels: streams, docs
