Repository apache/kafka, pull requests merged in 2023-05, with the labels that each got.

#13637 KAFKA-14462; [10/N] Add TargetAssignmentBuilder
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilderTest.java
Labels: KIP-848

#13653 KAFKA-14946: fix NPE when merging the deltatable
  server-common/src/main/java/org/apache/kafka/timeline/SnapshottableHashTable.java
  server-common/src/test/java/org/apache/kafka/timeline/SnapshottableHashTableTest.java
Labels: kraft

#13668 KAFKA-14963; Use equals method with Uuid
  metadata/src/main/java/org/apache/kafka/controller/ControllerMetricsManager.java
  metadata/src/test/java/org/apache/kafka/controller/ControllerMetricsManagerTest.java
Labels: kraft

#13551 MINOR: Allow tagged fields with version subset of flexible version range
  clients/src/test/java/org/apache/kafka/common/message/SimpleExampleMessageTest.java
  clients/src/test/resources/common/message/SimpleExampleMessage.json
  generator/src/main/java/org/apache/kafka/message/MessageDataGenerator.java
Labels: kraft

#13461 KAFKA-14840: Support for snapshots during ZK migration
  checkstyle/suppressions.xml
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/zk/ZkMigrationClient.scala
  core/src/main/scala/kafka/zk/migration/ZkAclMigrationClient.scala
  core/src/main/scala/kafka/zk/migration/ZkConfigMigrationClient.scala
  core/src/main/scala/kafka/zk/migration/ZkTopicMigrationClient.scala
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  core/src/test/scala/unit/kafka/zk/ZkMigrationClientTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkAclMigrationClientTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkConfigMigrationClientTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkMigrationClientTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkMigrationTestHarness.scala
  metadata/src/main/java/org/apache/kafka/image/AclsDelta.java
  metadata/src/main/java/org/apache/kafka/image/ConfigurationsImage.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/AclMigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/ConfigMigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationOperation.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationZkWriter.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/TopicMigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/ZkMigrationLeadershipState.java
  metadata/src/test/java/org/apache/kafka/image/TopicsImageTest.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/CapturingAclMigrationClient.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/CapturingConfigMigrationClient.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/CapturingMigrationClient.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/CapturingTopicMigrationClient.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
  tests/kafkatest/tests/core/zookeeper_migration_test.py
Labels: kraft

#13594 KAFKA-14913: Using ThreadUtils.shutdownExecutorServiceQuietly to close executors in Connect Runtime
  clients/src/main/java/org/apache/kafka/common/utils/ThreadUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SourceTaskOffsetCommitter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/MemoryOffsetBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SourceTaskOffsetCommitterTest.java
Labels: connect

#13638 KAFKA-14462; [11/N] Add CurrentAssignmentBuilder
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/CurrentAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/CurrentAssignmentBuilderTest.java
Labels: KIP-848

#13654 HOTFIX: fix broken Streams upgrade system test
  streams/upgrade-system-tests-24/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-25/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-26/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-27/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-28/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-30/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-31/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-32/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/upgrade-system-tests-33/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_upgrade_test.py
  tests/kafkatest/version.py
Labels: streams, tests

#13644 KAFKA-14500; [1/N] Rewrite MemberMetadata in Java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/Protocol.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/generic/GenericGroupMemberTest.java
Labels: KIP-848

#13699 KAFKA-14978 ExactlyOnceWorkerSourceTask should remove parent metrics …
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTaskTest.java
Labels: connect

#13663 KAFKA-14500; [2/N] Rewrite GroupMetadata in Java
  checkstyle/import-control.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroupState.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/generic/GenericGroupTest.java
Labels: KIP-848

#13701 KAFKA-14978 ExactlyOnceWorkerSourceTask should remove parent metrics …
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTaskTest.java
Labels: connect

#13723 KAFKA-14980: Fix MirrorSourceConnector source consumer configuration
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorConnectorConfigTest.java
Labels: mirror-maker-2, backport-candidate

#13734 KAFKA-14862 (HOTFIX): Fix ConcurrentModificationException
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
Labels: streams

#13728 Add default configs for internal topics to docs
  docs/streams/developer-guide/manage-topics.html
Labels: streams, docs

#13732 KAFKA-15007: Always update the MetadataPropagator with correct MV.
  core/src/main/scala/kafka/migration/MigrationPropagator.scala
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/LegacyPropagator.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
Labels: kraft

#13704 KAFKA-14500; [3/N] add GroupMetadataKey/Value record helpers
  checkstyle/suppressions.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordHelpers.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordHelpersTest.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
Labels: KIP-848

#13708 KAFKA-14500; [4/N] Add Timer interface
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/Timer.java
Labels: KIP-848

#13741 KAFKA-15009: Handle errors while migrating ACL metadata from snapshot to Zk during DUAL_WRITE mode.
  core/src/test/scala/unit/kafka/zk/migration/ZkAclMigrationClientTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationZkWriter.java
Labels: kraft

#11565 KAFKA-13504: Retry connect internal topics' creation in case of InvalidReplicationFactorException
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaStatusBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaTopicBasedBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/TopicAdmin.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaStatusBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TopicAdminTest.java
Labels: connect

#13752 MINOR: fix typo in Connect Config documentation
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
Labels: connect

#13729 KAFKA-14970: Dual write mode testing for SCRAM and Quota
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationZkWriter.java
Labels: kraft

#13664 KAFKA-14961: harden DefaultBackgroundThreadTest.testStartupAndTearDown test
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/DefaultBackgroundThreadTest.java
Labels: ctr

#13455 KAFKA-14841 Handle callbacks to ConsumerRebalanceListener in MockConsumer
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/MockConsumerTest.java
Labels: consumer, tests

#13611 MINOR: remove unused variable from QuorumMetaLogListener#handleCommit method
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
Labels: kraft

#13356 KAFKA-14789: Prevent mis-attributing classpath plugins, allow discovery of classpath RestExtension and ConfigProvider
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoaderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/TestPlugins.java
  connect/runtime/src/test/resources/test-plugins/subclass-of-classpath/META-INF/services/org.apache.kafka.connect.connector.policy.ConnectorClientConfigOverridePolicy
  connect/runtime/src/test/resources/test-plugins/subclass-of-classpath/test/plugins/SubclassOfClasspathConverter.java
  connect/runtime/src/test/resources/test-plugins/subclass-of-classpath/test/plugins/SubclassOfClasspathOverridePolicy.java
Labels: connect

#13334 MINOR: Move plugin path parsing from DelegatingClassLoader to PluginUtils
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoaderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/SynchronizationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/TestPlugins.java
Labels: connect

#13742 KAFKA-14996: Handle overly large user operations on the kcontroller
  checkstyle/import-control-metadata.xml
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  metadata/src/main/java/org/apache/kafka/controller/AclControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ClientQuotaControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ClientQuotaControlManagerTest.java
  server-common/src/main/java/org/apache/kafka/server/mutable/BoundedList.java
  server-common/src/main/java/org/apache/kafka/server/mutable/BoundedListTooLongException.java
  server-common/src/test/java/org/apache/kafka/server/mutable/BoundedListTest.java
Labels: kraft

#13767 KAFKA-15004: Fix configuration dual-write during migration
  core/src/main/scala/kafka/zk/ZkMigrationClient.scala
  core/src/main/scala/kafka/zk/migration/ZkConfigMigrationClient.scala
  core/src/main/scala/kafka/zk/migration/ZkTopicMigrationClient.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkConfigMigrationClientTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkMigrationClientTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkMigrationTestHarness.scala
  metadata/src/main/java/org/apache/kafka/metadata/migration/ConfigMigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationZkWriter.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/TopicMigrationClient.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/CapturingConfigMigrationClient.java
Labels: kraft

#13738 KAFKA-14982: Improve the kafka-metadata-quorum output
  tools/src/main/java/org/apache/kafka/tools/MetadataQuorumCommand.java
  tools/src/test/java/org/apache/kafka/tools/MetadataQuorumCommandErrorTest.java
  tools/src/test/java/org/apache/kafka/tools/MetadataQuorumCommandTest.java
Labels: tools, kip

#13639 KAFKA-14462; [12/N] Add GroupMetadataManager and ConsumerGroup
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/CurrentAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/CurrentAssignmentBuilderTest.java
Labels: KIP-848

#13785 MINOR: Clean up RemoteLogManager
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
Labels: core

#13781 KAFKA-8713: JsonConverter replace.null.with.default should apply to Struct fields
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/json/src/test/java/org/apache/kafka/connect/json/JsonConverterTest.java
Labels: connect

#13757 KAFKA-15017 Fix snapshot load in dual write mode for Quotas and SCRAM
  core/src/test/scala/unit/kafka/zk/migration/ZkConfigMigrationClientTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationZkWriter.java
Labels: kraft

#13780 KAFKA-15039: Reduce logging level to trace in PartitionChangeBuilder.…
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
Labels: kraft
