Repository apache/kafka, pull requests merged in 2023-03, with the labels that each got.

#13287 MINOR: Refactor task change logic to AbstractHerder, reuse for standalone mode.
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/ClusterConfigState.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
Labels: connect

#13322 KAFKA-14462; [1/N] Add new server configurations (KIP-848)
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
Labels: KIP-848

#13182 KAFKA-14649: Isolate failures during plugin path scanning to single plugin classes
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/TestPlugins.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/META-INF/services/org.apache.kafka.connect.rest.ConnectRestExtension
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/CoLocatedPlugin.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/DefaultConstructorPrivateConnector.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/DefaultConstructorThrowsConnector.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/MissingSuperclassConverter.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/NoDefaultConstructorConnector.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/NonExistentInterface.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/OuterClass.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/StaticInitializerThrowsConnector.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/StaticInitializerThrowsRestExtension.java
  connect/runtime/src/test/resources/test-plugins/bad-packaging/test/plugins/VersionMethodThrowsConnector.java
Labels: connect

#13264 KAFKA-14491: [12/N] Relax requirement that KTable stores must be TimestampedKVStores
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamReduce.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableAggregate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableFilter.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableJoinMerger.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableMapValues.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableMaterializedValueGetterSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTablePassThrough.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableReduce.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableSource.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableSourceValueGetterSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableTransformValues.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/KTableKTableJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamToTableNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyValueStoreWrapper.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/KeyValueStoreWrapperTest.java
Labels: streams, kip

#13274 KAFKA-14491: [13/N] Add versioned store builder and materializer
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/CogroupedKStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KGroupedTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KeyValueStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamToTableNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/TableSourceNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractReadOnlyDecorator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractReadWriteDecorator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/VersionedKeyValueStoreBuilder.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/KeyValueStoreMaterializerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TimestampedKeyValueStoreMaterializerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimestampedKeyValueStoreBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/VersionedKeyValueStoreBuilderTest.java
Labels: streams, kip

#13329 KAFKA-14462; [2/N] Add ConsumerGroupHeartbeart to GroupCoordinator interface
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  server-common/src/main/java/org/apache/kafka/server/util/FutureUtils.java
Labels: KIP-848

#13357 KAFKA-14462; [3/N] Add `onNewMetadataImage` to `GroupCoordinator` interface
  build.gradle
  checkstyle/import-control.xml
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
Labels: KIP-848

#13351 KAFKA-14781: Downgrade MM2 log message severity when no ACL authorizer is configured on source broker
  build.gradle
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConnector.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceConnectorTest.java
Labels: mirror-maker-2

#13379 KAFKA-14799: Ignore source task requests to abort empty transactions
  connect/api/src/main/java/org/apache/kafka/connect/source/TransactionContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTaskTest.java
Labels: connect

#13396 KAFKA-13884; Only voters flush on Fetch response
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ReplicatedLog.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/MockLog.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft

#13384 KAFKA-14801: Handle sensitive configs during ZK migration
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/zk/ZkMigrationClient.scala
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  core/src/test/scala/unit/kafka/zk/ZkMigrationClientTest.scala
Labels: kraft

#13386 KAFKA-14809 Fix logging conditional on WorkerSourceTask
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
Labels: connect

#13394 MINOR: Remove unused MetadataSnapshotter.scala file
  core/src/main/scala/kafka/server/metadata/MetadataSnapshotter.scala
Labels: kraft

#13372 MINOR: Improved error handling in ZK migration
  core/src/main/scala/kafka/zk/ZkMigrationClient.scala
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationClientAuthException.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationClientException.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
Labels: kraft

#13390 MINOR: Standardize KRaft logging, thread names, and terminology
  core/src/main/scala/kafka/Kafka.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/AlterPartitionManager.scala
  core/src/main/scala/kafka/server/BrokerLifecycleManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/BrokerToControllerChannelManager.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaRaftServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/SharedServer.scala
  core/src/test/java/kafka/test/junit/RaftClusterInvocationContext.java
  core/src/test/java/kafka/testkit/KafkaClusterTestKit.java
  core/src/test/java/kafka/testkit/TestKitNodes.java
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/BrokerLifecycleManagerTest.scala
  core/src/test/scala/unit/kafka/server/BrokerRegistrationRequestTest.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/image/loader/MetadataLoader.java
  metadata/src/main/java/org/apache/kafka/image/publisher/SnapshotGenerator.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  server-common/src/main/java/org/apache/kafka/queue/KafkaEventQueue.java
  tests/kafkatest/sanity_checks/test_bounce.py
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/services/kafka/quorum.py
  tests/kafkatest/tests/core/kraft_upgrade_test.py
  tests/kafkatest/tests/core/snapshot_test.py
Labels: kraft

#13415 KAFKA-14816: Only load SSL properties when issuing cross-worker requests to HTTPS URLs
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestClient.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/RestClientTest.java
Labels: connect

#13402 MINOR: Use PartitionAssignment in ReplicationControlManager and PartitionReassignmentReplicas
  metadata/src/main/java/org/apache/kafka/controller/PartitionReassignmentReplicas.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionReassignmentReplicasTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kraft

#13365 KAFKA-14491: [17/N] Refactor segments cleanup logic
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyValueSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedSegments.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegmentsTest.java
Labels: streams, kip

#13367 KAFKA-14797: Emit offset sync when offset translation lag would exceed max.offset.lag
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceTask.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceTaskTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/IdentityReplicationIntegrationTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
Labels: mirror-maker-2

#13419 KAFKA-8713: Allow using null for field in JsonConverter (KIP-581)
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverterConfig.java
  connect/json/src/test/java/org/apache/kafka/connect/json/JsonConverterTest.java
Labels: connect, kip

#13420 KAFKA-14740: Add source tag to MirrorSourceMetrics - KIP-911
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceMetrics.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceMetricsTest.java
Labels: kip, mirror-maker-2

#13430 MINOR; Increase log level of some rare events
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
Labels: kraft

#13292 KAFKA-14491: [14/N] Set changelog topic configs for versioned stores
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/UnwindowedUnversionedChangelogTopicConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/VersionedChangelogTopicConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/WindowedChangelogTopicConfig.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/VersionedKeyValueStoreBuilder.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ChangelogTopicsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
Labels: streams, kip

#13409 KAFKA-14491: [18/N] Update versioned store to check latest value on timestamped get
  streams/src/main/java/org/apache/kafka/streams/state/VersionedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreTest.java
Labels: streams, kip

#13340 KAFKA-14491: [15/N] Add integration tests for versioned stores
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateManagerUtil.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/WrappedStateStore.java
  streams/src/test/java/org/apache/kafka/streams/integration/VersionedKeyValueStoreIntegrationTest.java
Labels: streams, kip

#13439 MINOR: Rename remote_kraft to isolated_kraft in kafkatests
  tests/kafkatest/sanity_checks/test_verifiable_producer.py
  tests/kafkatest/tests/connect/connect_test.py
  tests/kafkatest/tests/core/authorizer_test.py
  tests/kafkatest/tests/core/round_trip_fault_test.py
  tests/kafkatest/tests/core/security_test.py
  tests/kafkatest/tests/streams/streams_broker_bounce_test.py
  tests/kafkatest/tests/streams/streams_broker_down_resilience_test.py
  tests/kafkatest/tests/streams/streams_eos_test.py
  tests/kafkatest/tests/streams/streams_named_repartition_topic_test.py
  tests/kafkatest/tests/streams/streams_optimized_test.py
  tests/kafkatest/tests/streams/streams_relational_smoke_test.py
  tests/kafkatest/tests/streams/streams_shutdown_deadlock_test.py
  tests/kafkatest/tests/streams/streams_standby_replica_test.py
  tests/kafkatest/tests/streams/streams_static_membership_test.py
Labels: kraft

#13428 MINOR: Refactor Mirror integration tests to reduce duplication
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/IdentityReplicationIntegrationTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsWithCustomForwardingAdminIntegrationTest.java
Labels: mirror-maker-2

#13382 KAFKA-14722: Make BooleanSerde public
  clients/src/main/java/org/apache/kafka/common/serialization/BooleanDeserializer.java
  clients/src/main/java/org/apache/kafka/common/serialization/BooleanSerializer.java
  clients/src/main/java/org/apache/kafka/common/serialization/Serdes.java
  clients/src/test/java/org/apache/kafka/common/serialization/SerializationTest.java
  docs/streams/developer-guide/datatypes.html
  gradle/spotbugs-exclude.xml
  streams/src/main/java/org/apache/kafka/streams/state/internals/NullableValueAndTimestampDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/NullableValueAndTimestampSerde.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/NullableValueAndTimestampSerializer.java
Labels: streams, kip

#13438 KAFKA-14835: Create ControllerMetadataMetricsPublisher
  checkstyle/import-control.xml
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/SharedServer.scala
  metadata/src/main/java/org/apache/kafka/controller/ControllerMetrics.java
  metadata/src/main/java/org/apache/kafka/controller/ControllerMetricsManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumControllerMetrics.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetadataMetrics.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetadataMetricsPublisher.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetricsChanges.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/QuorumControllerMetrics.java
  metadata/src/test/java/org/apache/kafka/controller/ControllerMetricsManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/MockControllerMetrics.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerMetricsTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetadataMetricsPublisherTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetadataMetricsTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetricsChangesTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetricsTestUtils.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/QuorumControllerMetricsTest.java
Labels: kraft

#13368 KAFKA-14796 Migrate ACLs from AclAuthorizor to KRaft
  checkstyle/import-control.xml
  core/src/main/scala/kafka/security/authorizer/AclAuthorizer.scala
  core/src/main/scala/kafka/zk/ZkMigrationClient.scala
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  core/src/test/scala/unit/kafka/zk/ZkMigrationClientTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationClient.java
  metadata/src/main/resources/common/metadata/AccessControlRecord.json
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
Labels: kraft

#13127 KAFKA-14586: Moving StreamResetter to tools
  bin/kafka-streams-application-reset.sh
  bin/windows/kafka-streams-application-reset.bat
  build.gradle
  checkstyle/import-control.xml
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/tools/StreamsResetterTest.java
  tests/kafkatest/services/streams.py
  tools/src/main/java/org/apache/kafka/tools/StreamsResetter.java
Labels: streams

#13446 KAFKA-14837, KAFKA-14842: Ignore groups that do not have offsets for filtered topics in MirrorCheckpointConnector
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnectorTest.java
Labels: mirror-maker-2

#13445 [KAFKA-14843] fix(connect): include base connector config to return
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SampleSinkConnector.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SampleSourceConnector.java
Labels: connect

#13440 KAFKA-14829: Consolidate reassignment logic into PartitionReassignmentReplicas
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/PartitionReassignmentReplicas.java
  metadata/src/main/java/org/apache/kafka/controller/PartitionReassignmentRevert.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionReassignmentReplicasTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
Labels: kraft

#13462 KAFKA-14857: Fix some MetadataLoader bugs
  core/src/main/scala/kafka/server/BrokerLifecycleManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  metadata/src/main/java/org/apache/kafka/image/loader/MetadataLoader.java
  metadata/src/test/java/org/apache/kafka/image/loader/MetadataLoaderTest.java
  metadata/src/test/java/org/apache/kafka/image/publisher/SnapshotGeneratorTest.java
  server-common/src/main/java/org/apache/kafka/queue/KafkaEventQueue.java
Labels: kraft

#13468 MINOR: Create only one FeatureControlManager instance in ReplicationControlManagerTest
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kraft

#13479 MINOR: Deflake some tests in TopicCommandIntegrationTest
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: kraft

#13458 KAFKA-14838: Add flow/connector/task/role information to MM2 Kafka cl…
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTaskConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorHeartbeatConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMaker.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMakerConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceTaskConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/Scheduler.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointConfigTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorConnectorConfigTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorMakerConfigTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceConfigTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceMetricsTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/TestUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
Labels: mirror-maker-2
