Repository apache/kafka, pull requests merged in 2023-07, with the labels that each got.

#13760 KAFKA-8982: Add retry of fetching metadata to Admin.deleteRecords
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DeleteRecordsHandler.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/internals/DeleteRecordsHandlerTest.java
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: admin

#13924 KAFKA-15129;[1/N] Remove metrics in LogCleanerManager when LogCleaner shutdown
  core/src/main/scala/kafka/log/LogCleaner.scala
  core/src/main/scala/kafka/log/LogCleanerManager.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
Labels: core

#13925 KAFKA-10199: Consider tasks in state updater when computing offset sums
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#13950 KAFKA-15140: Improve TopicCommandIntegrationTest to be less flaky
  core/src/test/scala/integration/kafka/admin/TopicCommandIntegrationTest.scala
Labels: tests

#13901 KAFKA-14462; [20/N] Refresh subscription metadata on new metadata image
  checkstyle/suppressions.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/Coordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#13954 MINOR: Move MockTimer to server-common
  checkstyle/import-control-server-common.xml
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/timer/MockTimer.scala
  server-common/src/test/java/org/apache/kafka/server/util/timer/MockTimer.java
Labels: KIP-848

#13967 MINOR: Update connector status metric description to include 'stopped' as a potential value
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectMetricsRegistry.java
Labels: connect

#13961 KAFKA-14462; [21/N] Add CoordinatorTimer implementation in CoordinatorRuntime
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorResult.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorTimer.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorResultTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#13940 MINOR: some minor shell fixes and improvements
  shell/src/main/java/org/apache/kafka/shell/command/FindCommandHandler.java
  shell/src/main/java/org/apache/kafka/shell/command/LsCommandHandler.java
  shell/src/main/java/org/apache/kafka/shell/state/MetadataShellPublisher.java
  shell/src/test/java/org/apache/kafka/shell/glob/GlobComponentTest.java
  shell/src/test/resources/log4j.properties
Labels: kraft

#13936 MINOR: Refactor & cleanup for RemoteIndexCache
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/log/remote/RemoteIndexCache.scala
  core/src/test/scala/unit/kafka/log/remote/RemoteIndexCacheTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogSegmentId.java
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogSegmentMetadata.java
Labels: KIP-405

#13970 KAFKA-15157: Print startup time for RemoteIndexCache
  core/src/main/scala/kafka/log/remote/RemoteIndexCache.scala
Labels: KIP-405

#13976 MINOR: Check for thread leak at the end of @AfterEach, not at beginning
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: tests

#13851 KAFKA-15022: [1/N] initial implementation of rack aware assignor
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RackAwareTaskAssignor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareTaskAssignorTest.java
Labels: streams, kip

#13284 KAFKA-14718: Fix flaky DedicatedMirrorIntegrationTest
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMaker.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/DedicatedMirrorIntegrationTest.java
Labels: tests, mirror-maker-2

#13955 KAFKA-15145: Don't re-process records filtered out by SMTs on Kafka client retriable exceptions in AbstractWorkerSourceTask
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTaskTest.java
Labels: connect

#13946 KAFKA-15139:Optimize the performance of `Set.removeAll(List)` in `MirrorCheckpointConnector`
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnector.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnectorTest.java
Labels: mirror-maker-2

#13982 KAFKA-15159: upgrade minor dependencies
  LICENSE-binary
  gradle/dependencies.gradle
Labels: backport-candidate, dependencies

#13986 MINOR: Add upgrade docs for 3.5.1
  docs/upgrade.html
Labels: docs

#13453 KAFKA-12525: Ignoring stale status statuses when reading from Connect status topic
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaStatusBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaStatusBackingStoreTest.java
Labels: connect

#13275 KAFKA-14522 Rewrite/Move of RemoteIndexCache to storage module.
  build.gradle
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/log/LocalLog.scala
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/log/remote/RemoteIndexCache.scala
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
  core/src/test/scala/unit/kafka/log/remote/RemoteIndexCacheTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteIndexCache.java
Labels: KIP-405

#13937 Add Streams API broker compatibility table
  docs/streams/upgrade-guide.html
Labels: streams, docs

#13963 KAFKA-14462; [22/N] Implement session and revocation timeouts
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorResult.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/MockCoordinatorTimer.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinatorTest.java
Labels: KIP-848

#13973 KAFKA-15148: Some integration tests are running as unit tests
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/StartAndStopCounterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/StartAndStopLatchTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableEfficientRangeQueryTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyInnerJoinMultiIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinDistributedTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/LagFetchIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsReporterIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/NamedTopologyIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/PurgeRepartitionTopicIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskCreationIntegrationTest.java
Labels: tests

#13646 KAFKA-14938: Fixing flaky test testConnectorBoundary
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExactlyOnceSourceIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/MonitorableSourceConnector.java
Labels: connect, tests

#13992 MINOR:Avoid slow Set.removeAll(List) in MirrorSourceConnector
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConnector.java
Labels: mirror-maker-2

#13957 Kafka Streams Threading: Exception handling
  streams/src/main/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskExecutor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/tasks/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskExecutorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskManagerTest.java
Labels: streams

#13703 MINOR: Standardize controller log4j output for replaying records
  metadata/src/main/java/org/apache/kafka/controller/AclControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ClientQuotaControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ProducerIdControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/ScramControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/AclControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ClientQuotaControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/MockAclControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ProducerIdControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kraft

#13956 MINOR: Remove thread leak from ConsumerBounceTest
  core/src/test/scala/integration/kafka/api/ConsumerBounceTest.scala
Labels: tests

#13997 KAFKA-15180: Generalize integration tests to change use of KafkaConsumer to Consumer
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/BaseProducerSendTest.scala
  core/src/test/scala/integration/kafka/api/BaseQuotaTest.scala
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/api/MetricsTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/ProducerIdExpirationTest.scala
  core/src/test/scala/integration/kafka/api/SaslClientsWithInvalidCredentialsTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsBounceTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsExpirationTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsWithMaxInFlightOneTest.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/integration/kafka/server/MultipleListenersWithSameSecurityProtocolBaseTest.scala
  core/src/test/scala/kafka/tools/LogCompactionTester.scala
  core/src/test/scala/unit/kafka/admin/ConsumerGroupCommandTest.scala
  core/src/test/scala/unit/kafka/admin/DeleteOffsetsConsumerGroupCommandIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/LogDirFailureTest.scala
  core/src/test/scala/unit/kafka/server/ServerShutdownTest.scala
  core/src/test/scala/unit/kafka/server/epoch/EpochDrivenReplicationProtocolAcceptanceTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: consumer, ctr

#13991 KAFKA-14462; [23/23] Wire GroupCoordinatorService in BrokerServer
  checkstyle/import-control-server-common.xml
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/util/SystemTimerReaper.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/util/SystemTimerReaperTest.java
Labels: KIP-848

#14008 MINOR Improve logging during the ZK to KRaft migration
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/test/scala/integration/kafka/server/KafkaServerKRaftRegistrationTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationManifest.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
Labels: kraft

#13941 KAFKA-15123: Add tests for ChunkedBytesStream
  clients/src/test/java/org/apache/kafka/common/utils/ChunkedBytesStreamTest.java
Labels: tests

#14009 MINOR: Add dual write offset metric
  core/src/main/scala/kafka/server/ControllerServer.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/QuorumControllerMetrics.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/QuorumControllerMetricsTest.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
Labels: kraft

#13837 KAFKA-9564: Local Tiered Storage implementation for Remote Storage Manager
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorage.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageCondition.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageEvent.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageHistory.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageListener.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageSnapshot.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageTraverser.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogSegmentFileset.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteTopicPartitionDirectory.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteTopicPartitionDirectoryTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/Transferer.java
Labels: KIP-405

#13158 KAFKA-14647: Moving TopicFilter to server-common/utils
  checkstyle/import-control-server-common.xml
  core/src/main/scala/kafka/admin/TopicCommand.scala
  core/src/main/scala/kafka/tools/ConsoleConsumer.scala
  core/src/main/scala/kafka/tools/GetOffsetShell.scala
  core/src/main/scala/kafka/tools/MirrorMaker.scala
  core/src/main/scala/kafka/tools/ReplicaVerificationTool.scala
  core/src/main/scala/kafka/utils/TopicFilter.scala
  core/src/test/scala/unit/kafka/utils/TopicFilterTest.scala
  server-common/src/main/java/org/apache/kafka/server/util/PartitionFilter.java
  server-common/src/main/java/org/apache/kafka/server/util/TopicFilter.java
  server-common/src/main/java/org/apache/kafka/server/util/TopicPartitionFilter.java
  server-common/src/test/java/org/apache/kafka/server/util/TopicFilterTest.java
Labels: tools

#13585 KAFKA-14737: Move kafka.utils.json to server-common
  build.gradle
  checkstyle/import-control-server-common.xml
  server-common/src/main/java/org/apache/kafka/server/util/Json.java
  server-common/src/main/java/org/apache/kafka/server/util/json/DecodeJson.java
  server-common/src/main/java/org/apache/kafka/server/util/json/JsonArray.java
  server-common/src/main/java/org/apache/kafka/server/util/json/JsonObject.java
  server-common/src/main/java/org/apache/kafka/server/util/json/JsonValue.java
  server-common/src/test/java/org/apache/kafka/server/util/JsonTest.java
Labels: tools

#13945 KAFKA-15121: Implement the alterOffsets method in the FileStreamSourceConnector and the FileStreamSinkConnector
  connect/file/src/main/java/org/apache/kafka/connect/file/FileStreamSinkConnector.java
  connect/file/src/main/java/org/apache/kafka/connect/file/FileStreamSourceConnector.java
  connect/file/src/test/java/org/apache/kafka/connect/file/FileStreamSourceConnectorTest.java
Labels: connect

#13944 KAFKA-14953: Add tiered storage related metrics
  build.gradle
  checkstyle/import-control-core.xml
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/log/remote/RemoteLogReader.java
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/java/kafka/log/remote/RemoteLogReaderTest.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteStorageThreadPool.java
Labels: KIP-405

#13658 KAFKA-14669: Use the generated docs for MirrorMaker configs in the doc
  build.gradle
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorHeartbeatConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConfig.java
  docs/configuration.html
  docs/ops.html
Labels: docs, mirror-maker-2

#13948 KAFKA-15091: Fix misleading Javadoc for SourceTask::commit
  connect/api/src/main/java/org/apache/kafka/connect/source/SourceTask.java
Labels: connect

#14031 Docs: Include ZK Deprecation notice and information
  docs/ops.html
Labels: docs

#13870 KAFKA-14500; [5/N] Implement JoinGroup protocol in new GroupCoordinator
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/common/requests/JoinGroupRequest.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/Protocol.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorResult.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorTimer.java
  group-coordinator/src/main/resources/common/message/GroupMetadataValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/MockCoordinatorTimer.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinatorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/generic/GenericGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/generic/GenericGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#14032 MINOR: Upgrade Gradle wrapper version to 8.2.1
  gradle/dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies

#14039 KAFKA-15211: Mock InvalidParameterException in DistributedConfigTest
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedConfigTest.java
Labels: connect, tests

#14036 MINOR: Fix Javadocs for SourceTaskContext::transactionContext and SinkTaskContext::errantRecordReporter to use NoSuchMethodError instead of NoSuchMethodException
  connect/api/src/main/java/org/apache/kafka/connect/sink/SinkTaskContext.java
  connect/api/src/main/java/org/apache/kafka/connect/source/SourceTaskContext.java
Labels: docs, connect

#13949 KAFKA-15141: init logger statically on hot codepaths
  core/src/main/scala/kafka/server/DelayedProduce.scala
  core/src/main/scala/kafka/server/FetchSession.scala
Labels: performance

#13977 KAFKA-15162: Reflectively find plugins in parent ClassLoaders that aren't on the classpath
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginsTest.java
  connect/runtime/src/test/resources/test-plugins/read-version-from-resource-v1/test/plugins/ReadVersionFromResource.java
  connect/runtime/src/test/resources/test-plugins/read-version-from-resource-v2/test/plugins/ReadVersionFromResource.java
Labels: connect

#14029 KAFKA-10579: Upgrade reflections from 0.9.12 to 0.10.2
  LICENSE-binary
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/ReflectionScanner.java
  gradle/dependencies.gradle
Labels: connect, dependencies

#13971 KAFKA-15150: Add ServiceLoaderScanner implementation
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginScanner.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginSource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/ReflectionScanner.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/ServiceLoaderScanner.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginScannerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/TestPlugins.java
  connect/runtime/src/test/resources/test-plugins/aliased-static-field/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/always-throw-exception/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/bad-packaging/META-INF/services/org.apache.kafka.connect.sink.SinkConnector
  connect/runtime/src/test/resources/test-plugins/bad-packaging/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/multiple-plugins-in-jar/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/read-version-from-resource-v1/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/read-version-from-resource-v2/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/sampling-configurable/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/sampling-connector/META-INF/services/org.apache.kafka.connect.sink.SinkConnector
  connect/runtime/src/test/resources/test-plugins/sampling-converter/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/sampling-header-converter/META-INF/services/org.apache.kafka.connect.storage.HeaderConverter
  connect/runtime/src/test/resources/test-plugins/service-loader/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/subclass-of-classpath/META-INF/services/org.apache.kafka.connect.storage.Converter
Labels: connect, kip

#14044 KAFKA-15216: InternalSinkRecord::newRecord should not ignore new headers
  connect/api/src/main/java/org/apache/kafka/connect/sink/SinkRecord.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/InternalSinkRecord.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/InternalSinkRecordTest.java
Labels: connect

#14041 KAFKA-14469: Add MirrorMaker 2 configs to table of contents in docs page
  docs/toc.html
Labels: docs, mirror-maker-2

#13874 KAFKA-14133: Migrate various mocks in TaskManagerTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams, tests

#13996 KAFKA-15022: [2/N] introduce graph to compute min cost
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/Graph.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareTaskAssignor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/GraphTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/RackAwareTaskAssignorTest.java
Labels: streams, kip

#13999 KAFKA-15176: add tests for tiered storage metrics
  checkstyle/suppressions.xml
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/CheckpointBench.java
Labels: KIP-405

#13278 KAFKA-14591 DeleteRecordsCommand moved to tools
  bin/kafka-delete-records.sh
  bin/windows/kafka-delete-records.bat
  core/src/main/scala/kafka/admin/AdminUtils.scala
  core/src/main/scala/kafka/admin/DeleteRecordsCommand.scala
  core/src/main/scala/kafka/admin/LeaderElectionCommand.scala
  core/src/main/scala/kafka/admin/ReassignPartitionsCommand.scala
  core/src/main/scala/kafka/admin/TopicCommand.scala
  core/src/main/scala/kafka/controller/KafkaController.scala
  core/src/main/scala/kafka/server/ZkAdminManager.scala
  core/src/main/scala/kafka/zk/AdminZkClient.scala
  core/src/test/scala/unit/kafka/admin/AddPartitionsTest.scala
  core/src/test/scala/unit/kafka/admin/LeaderElectionCommandErrorTest.scala
  core/src/test/scala/unit/kafka/admin/LeaderElectionCommandTest.scala
  core/src/test/scala/unit/kafka/admin/ReassignPartitionsUnitTest.scala
  core/src/test/scala/unit/kafka/admin/TopicCommandTest.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigTest.scala
  core/src/test/scala/unit/kafka/zk/AdminZkClientTest.scala
  server-common/src/main/java/org/apache/kafka/server/common/AdminCommandFailedException.java
  server-common/src/main/java/org/apache/kafka/server/common/AdminOperationException.java
  tools/src/main/java/org/apache/kafka/tools/DeleteRecordsCommand.java
  tools/src/test/java/org/apache/kafka/tools/DeleteRecordsCommandTest.java
Labels: tools

#14024 KAFKA-13431: Expose the original pre-transform topic partition and offset in sink records
  checkstyle/import-control.xml
  connect/api/src/main/java/org/apache/kafka/connect/sink/SinkRecord.java
  connect/api/src/main/java/org/apache/kafka/connect/sink/SinkTask.java
  connect/api/src/test/java/org/apache/kafka/connect/sink/SinkRecordTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/InternalSinkRecord.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/InternalSinkRecordTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskThreadedTest.java
Labels: connect, kip

#14046 KAFKA-14499: [1/N] Introduce OffsetCommit API version 9 and add new StaleMemberEpochException error
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/common/errors/StaleMemberEpochException.java
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ConsumerGroupHeartbeatRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/OffsetCommitRequest.java
  clients/src/main/resources/common/message/OffsetCommitRequest.json
  clients/src/main/resources/common/message/OffsetCommitResponse.json
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/common/message/MessageTest.java
  clients/src/test/java/org/apache/kafka/common/requests/OffsetCommitRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
Labels: KIP-848

#14047 KAFKA-14499: [2/N] Add OffsetCommit record & related
  checkstyle/import-control.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetAndMetadata.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordHelpers.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetAndMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordHelpersTest.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
Labels: KIP-848

#14066 KAFKA-15232: Move ToolsUtils to tools
  tools/src/main/java/org/apache/kafka/tools/ConsumerPerformance.java
  tools/src/main/java/org/apache/kafka/tools/MetadataQuorumCommand.java
  tools/src/main/java/org/apache/kafka/tools/ProducerPerformance.java
  tools/src/main/java/org/apache/kafka/tools/ToolsUtils.java
  tools/src/main/java/org/apache/kafka/tools/TransactionsCommand.java
Labels: tools

#14045 MINOR: refactor(storage): topic-based RLMM consumer-manager/task related improvements
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/ConsumerManager.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/ConsumerTask.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManager.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerConfig.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogSegmentLifecycleTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerConfigTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerRestartTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerTest.java
Labels: KIP-405

#14057 KAFKA-15194-Prepend-Offset-as-Filename
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogFileUtils.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorage.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogSegmentFileset.java
Labels: KIP-405

#14004 KAFKA-15168: Handle overlapping remote log segments in RemoteLogMetadata cache
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogLeaderEpochState.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogLeaderEpochStateTest.java
Labels: KIP-405

#14010 KAFKA-15183: Add more controller, loader, snapshot emitter metrics
  README.md
  checkstyle/import-control-metadata.xml
  core/src/main/scala/kafka/server/SharedServer.scala
  core/src/main/scala/kafka/server/metadata/BrokerServerMetrics.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/QuorumControllerMetrics.java
  metadata/src/main/java/org/apache/kafka/image/loader/MetadataLoader.java
  metadata/src/main/java/org/apache/kafka/image/loader/MetadataLoaderMetrics.java
  metadata/src/main/java/org/apache/kafka/image/loader/metrics/MetadataLoaderMetrics.java
  metadata/src/main/java/org/apache/kafka/image/publisher/SnapshotEmitter.java
  metadata/src/main/java/org/apache/kafka/image/publisher/metrics/SnapshotEmitterMetrics.java
  metadata/src/main/java/org/apache/kafka/image/writer/RaftSnapshotWriter.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerIntegrationTestUtils.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerMetricsIntegrationTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/QuorumControllerMetricsTest.java
  metadata/src/test/java/org/apache/kafka/image/FakeSnapshotWriter.java
  metadata/src/test/java/org/apache/kafka/image/loader/MetadataLoaderTest.java
  metadata/src/test/java/org/apache/kafka/image/loader/metrics/MetadataLoaderMetricsTest.java
  metadata/src/test/java/org/apache/kafka/image/publisher/SnapshotEmitterTest.java
  metadata/src/test/java/org/apache/kafka/image/publisher/metrics/SnapshotEmitterMetricsTest.java
  metadata/src/test/java/org/apache/kafka/image/writer/RaftSnapshotWriterTest.java
  raft/src/main/java/org/apache/kafka/snapshot/FileRawSnapshotWriter.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotWriter.java
  raft/src/main/java/org/apache/kafka/snapshot/SnapshotWriter.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/snapshot/MockRawSnapshotWriter.java
Labels: kraft

#14081 MINOR: Downgrade log level for conflicting Connect plugin aliases
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginUtils.java
Labels: connect

#14079 KAFKA-15238: Move DLQ reporter setup from the DistributedHerder's tick thread to the sink task thread
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskThreadedTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
Labels: connect

#14062 MINOR: Add a Builder for KRaftMigrationDriver
  core/src/main/scala/kafka/server/ControllerServer.scala
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
Labels: kraft

#14085 MINOR: fix docs markup
  docs/ops.html
  docs/toc.html
Labels: docs

#14072 MINOR: Upgrade the minor version of snappy dependency to 1.1.10.3
  LICENSE-binary
  gradle/dependencies.gradle
Labels: dependencies

#14059 KAFKA-14583: Move ReplicaVerificationTool to tools
  bin/kafka-replica-verification.sh
  bin/windows/kafka-replica-verification.bat
  checkstyle/suppressions.xml
  core/src/main/scala/kafka/tools/ReplicaVerificationTool.scala
  core/src/test/scala/kafka/tools/ReplicaVerificationToolTest.scala
  tests/kafkatest/services/replica_verification_tool.py
  tools/src/main/java/org/apache/kafka/tools/ReplicaVerificationTool.java
  tools/src/test/java/org/apache/kafka/tools/ReplicaVerificationToolTest.java
Labels: tools

#14028 KAFKA-15196 Additional ZK migration metrics
  core/src/main/scala/kafka/controller/KafkaController.scala
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetadataMetrics.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetadataMetricsPublisher.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetricsChanges.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/QuorumControllerMetrics.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationZkWriter.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/ZkMigrationState.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetadataMetricsTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetricsChangesTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/QuorumControllerMetricsTest.java
Labels: kraft

#14017 KAFKA-14500; [6/6] Implement SyncGroup protocol in new GroupCoordinator
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroupMember.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordHelpersTest.java
Labels: KIP-848

#14067 KAFKA-14499: [3/N] Implement OffsetCommit API
  clients/src/main/java/org/apache/kafka/common/requests/OffsetCommitRequest.java
  clients/src/main/resources/common/message/OffsetCommitResponse.json
  core/src/main/scala/kafka/server/BrokerServer.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetAndMetadata.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Utils.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/generic/GenericGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetAndMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinatorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/generic/GenericGroupTest.java
Labels: KIP-848

#14084 [MINOR] Add latest versions to kraft upgrade kafkatest
  tests/kafkatest/tests/core/kraft_upgrade_test.py
  tests/kafkatest/version.py
Labels: kraft

#13643 KAFKA-15213: provide the exact offset to QuorumController.replay
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/errors/ControllerExceptions.java
  metadata/src/main/java/org/apache/kafka/controller/errors/EventHandlerExceptionInfo.java
  metadata/src/main/java/org/apache/kafka/metadata/util/BatchFileWriter.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerIntegrationTestUtils.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerMetricsIntegrationTest.java
  metadata/src/test/java/org/apache/kafka/controller/errors/ControllerExceptionsTest.java
  metadata/src/test/java/org/apache/kafka/controller/errors/EventHandlerExceptionInfoTest.java
  metadata/src/test/java/org/apache/kafka/image/publisher/SnapshotEmitterTest.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManager.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManagerTestEnv.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/RaftClient.java
  raft/src/main/java/org/apache/kafka/raft/errors/UnexpectedBaseOffsetException.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchAccumulator.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotWriter.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/BatchAccumulatorTest.java
Labels: kraft

#14049 KAFKA-14038: Optimise calculation of size for log in remote tier
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogMetadataManager.java
  storage/api/src/test/java/org/apache/kafka/server/log/remote/storage/NoOpRemoteLogMetadataManager.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/ClassLoaderAwareRemoteLogMetadataManager.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManager.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerWrapperWithHarness.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/InmemoryRemoteLogMetadataManager.java
Labels: kip, KIP-405

#13671 KAFKA-14967: fix NPE in MockAdminClient CreateTopicsResult
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
Labels: tests

#14090 KAFKA-14048; CoordinatorContext should be protected by a lock
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
Labels: KIP-848

#14056 KAFKA-14501: Implement Heartbeat protocol in new GroupCoordinator
  checkstyle/suppressions.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ReplicatedGroupCoordinator.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-848

#14086 MINOR: Test assign() and assignment() in the integration test
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/NetworkClientDelegate.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/PrototypeAsyncConsumer.java
  core/src/test/scala/integration/kafka/api/BaseAsyncConsumerTest.scala
Labels: KIP-848, ctr

#14115 KAFKA-15263 Check KRaftMigrationDriver state in each event
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
Labels: kraft

#14117 MINOR: Code cleanups in group-coordinator module
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorShardBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorShardBuilderSupplier.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#14091 MINOR: Remove duplicate instantiation of MockConnectMetrics in AbstractWorkerSourceTaskTest
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTaskTest.java
Labels: connect, tests
