Repository apache/kafka, pull requests merged in 2023-02, with the labels that each got.

#13126 KAFKA-14491: [1/N] Add segment value format for RocksDB versioned store
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreSegmentValueFormatter.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreSegmentValueFormatterTest.java
Labels: streams, kip

#12984 KAFKA-14455: Kafka Connect create and update REST APIs should surface failures while writing to the config topic
  clients/src/main/java/org/apache/kafka/common/utils/Timer.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/KafkaBasedLog.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
Labels: connect

#12777 Replace EasyMock and PowerMock with Mockito - TimeOrderedWindowStoreTest
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedWindowStoreTest.java
Labels: streams, tests

#13186 KAFKA-14491: [4/N] Improvements to segment value format for RocksDB versioned store
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreSegmentValueFormatter.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreSegmentValueFormatterTest.java
Labels: streams, kip

#13143 KAFKA-14491: [3/N] Add logical key value segments
  streams/src/main/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegment.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegments.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegmentTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegmentsTest.java
Labels: streams, kip

#13181 KAFKA-14610: Publish Mirror Maker 2 offset syncs in task commit() method
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceTask.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceTaskTest.java
Labels: mirror-maker-2

#13200 KAFKA-14678: Move `__consumer_offsets` records from `core` to `group-coordinator`
  build.gradle
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  group-coordinator/src/main/resources/common/message/GroupMetadataKey.json
  group-coordinator/src/main/resources/common/message/GroupMetadataValue.json
  group-coordinator/src/main/resources/common/message/OffsetCommitKey.json
  group-coordinator/src/main/resources/common/message/OffsetCommitValue.json
Labels: KIP-848

#13209 MINOR: remove unnecessary helper method
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextUtils.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractDualSchemaRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
Labels: streams

#13179 KAFKA-10575: Add onRestoreSuspsnded to StateRestoreListener
  streams/src/main/java/org/apache/kafka/streams/processor/StateRestoreListener.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  streams/src/test/java/org/apache/kafka/test/MockStateRestoreListener.java
Labels: streams, kip

#13203 KAFKA-14048: Add new `__consumer_offsets` records from KIP-848
  group-coordinator/src/main/resources/common/message/ConsumerGroupCurrentMemberAssignmentKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupCurrentMemberAssignmentValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupMemberMetadataKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupMemberMetadataValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupMetadataKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupMetadataValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupPartitionMetadataKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupPartitionMetadataValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupTargetAssignmentMemberKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupTargetAssignmentMemberValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupTargetAssignmentMetadataKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupTargetAssignmentMetadataValue.json
Labels: KIP-848

#12972 KAFKA-14391; Add ConsumerGroupHeartbeat API
  clients/src/main/java/org/apache/kafka/common/errors/FencedMemberEpochException.java
  clients/src/main/java/org/apache/kafka/common/errors/UnreleasedInstanceIdException.java
  clients/src/main/java/org/apache/kafka/common/errors/UnsupportedAssignorException.java
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ApiVersionsResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ConsumerGroupHeartbeatRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ConsumerGroupHeartbeatResponse.java
  clients/src/main/resources/common/message/ConsumerGroupHeartbeatRequest.json
  clients/src/main/resources/common/message/ConsumerGroupHeartbeatResponse.json
  clients/src/test/java/org/apache/kafka/common/message/ApiMessageTypeTest.java
  clients/src/test/java/org/apache/kafka/common/protocol/ProtoUtilsTest.java
  clients/src/test/java/org/apache/kafka/common/requests/ApiVersionsResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/network/RequestConvertToJson.scala
  core/src/main/scala/kafka/network/SocketServer.scala
  core/src/main/scala/kafka/server/ApiVersionManager.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/tools/TestRaftServer.scala
  core/src/test/scala/integration/kafka/admin/BrokerApiVersionsCommandTest.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/AbstractApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ApiVersionManagerTest.scala
  core/src/test/scala/unit/kafka/server/ApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  generator/src/main/java/org/apache/kafka/message/ApiMessageTypeGenerator.java
  generator/src/main/java/org/apache/kafka/message/MessageSpec.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/MetadataRequestBenchmark.java
Labels: KIP-848

#13137 KAFKA-15086, KAFKA-9981: Intra-cluster communication for Mirror Maker 2
  build.gradle
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMaker.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMakerConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/rest/MirrorRestServer.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/rest/resources/InternalMirrorResource.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/DedicatedMirrorIntegrationTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/AbstractConnectCli.java
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/ConnectDistributed.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Connect.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/ConnectRestServer.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/HerderRequestHandler.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestClient.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestServer.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestServerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/InternalClusterResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/InternalConnectResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/util/SSLUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RestExtensionIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RestForwardingIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/ConnectRestServerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/RestServerConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/InternalConnectResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/util/SSLUtilsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
Labels: kip, mirror-maker-2

#13167 KAFKA-14650: Synchronize access to tasks inside task manager
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/KafkaStreamsNamedTopologyWrapper.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProvider.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
Labels: streams

#13188 KAFKA-14491: [5/N] Basic operations for RocksDB versioned store
  streams/src/main/java/org/apache/kafka/streams/state/VersionedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/VersionedRecord.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegment.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegmentsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreTest.java
Labels: streams, kip

#12366 KAFKA-14021: Implement new KIP-618 APIs in MirrorSourceConnector
  clients/src/main/java/org/apache/kafka/common/config/AbstractConfig.java
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  clients/src/test/java/org/apache/kafka/common/utils/UtilsTest.java
  connect/mirror/README.md
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMakerConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConnector.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceConnectorTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/DedicatedMirrorIntegrationTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/IdentityReplicationIntegrationTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationExactlyOnceTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
Labels: connect

#13189 KAFKA-14491: [6/N] Support restoring RocksDB versioned store from changelog
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreRestoreWriteBuffer.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreTest.java
Labels: streams, kip

#13163 KAFKA-14653: MirrorMakerConfig using raw properties instead of post-r…
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMakerConfig.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorMakerConfigTest.java
Labels: mirror-maker-2

#13243 KAFKA-14491: [7/N] Enforce strict grace period for versioned stores
  streams/src/main/java/org/apache/kafka/streams/state/VersionedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreTest.java
Labels: streams, kip

#13249 KAFKA-14491: [8/N] Add serdes for ValueAndTimestamp with null value
  gradle/spotbugs-exclude.xml
  streams/src/main/java/org/apache/kafka/streams/state/ValueAndTimestamp.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/NullableValueAndTimestampDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/NullableValueAndTimestampSerde.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/NullableValueAndTimestampSerializer.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/NullableValueAndTimestampSerdeTest.java
Labels: streams, kip

#13208 KAFKA-5756: Wait for concurrent offset flush to complete before starting next flush
  checkstyle/suppressions.xml
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/OffsetStorageWriter.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/OffsetStorageWriterTest.java
Labels: connect

#13262 KAFKA-14727: Enable periodic offset commits for EOS source tasks
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/OffsetStorageWriter.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTaskTest.java
Labels: connect

#13248 KAFKA-14717 KafkaStreams can' get running if the rebalance happens be…
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsWrapper.java
  streams/src/test/java/org/apache/kafka/streams/integration/AdjustStreamThreadCountTest.java
Labels: streams

#13250 KAFKA-14491: [9/N] Add versioned bytes store and supplier
  streams/src/main/java/org/apache/kafka/streams/state/VersionedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/VersionedBytesStoreSupplier.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDbVersionedKeyValueBytesStoreSupplier.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/VersionedKeyValueToBytesStoreAdapter.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDbVersionedKeyValueBytesStoreSupplierTest.java
Labels: streams, kip

#13178 KAFKA-12468, KAFKA-13659, KAFKA-12566: Fix MM2 causing negative downstream lag
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/OffsetSyncStore.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointTaskTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/OffsetSyncStoreTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/IdentityReplicationIntegrationTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationExactlyOnceTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationTransactionsTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/KafkaBasedLog.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/TopicAdmin.java
Labels: mirror-maker-2

#13196 KAFKA-14673; Add high watermark listener to Partition/Log layers
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/log/LogTestUtils.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogOffsetsListener.java
Labels: KIP-848

#13251 KAFKA-14491: [10/N] Add changelogging wrapper for versioned stores
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingVersionedKeyValueBytesStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingVersionedKeyValueBytesStoreTest.java
Labels: streams, kip

#13161 Kafka 14128
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
Labels: streams

#13074 MINOR: upgrade.from is revealed for Upgrade doc
  docs/upgrade.html
Labels: streams, docs

#13228 KAFKA-10199: Add task updater metrics, part 1
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/MockChangelogReader.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#13252 KAFKA-14491: [11/N] Add metered wrapper for versioned stores
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStoreTest.java
Labels: streams, kip

#13191 KAFKA-14060: Replace EasyMock and PowerMock with Mockito in AbstractWorkerSourceTaskTest
  build.gradle
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTaskTest.java
Labels: connect, tests

#13291 KAFKA-14742: Throttle connectors in ExactlyOnceSourceIntegrationTest to fix flakey OOMEs
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExactlyOnceSourceIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/MonitorableSourceConnector.java
Labels: connect, tests

#13276 KAFKA-14732: Use an exponential backoff retry mechanism while reconfiguring connector tasks
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
Labels: connect

#13184 KAFKA-14671: Refactor PredicatedTransformation to not implement Transformation
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/TransformationChain.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/TransformationStage.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResource.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectorConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/TransformationStageTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TopicCreationTest.java
Labels: connect

#13286 MINOR: reformat ClusterConfigState constructions in Abstract & DistributedHerder
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
Labels: connect
