Repository apache/kafka, pull requests merged in 2024-07, with the labels that each got.

#16371 MINOR: Refactor GroupMetadataManager#consumerGroupHeartbeat and GroupMetadataManager#classicGroupJoinToConsumerGroup
  clients/src/main/java/org/apache/kafka/common/requests/JoinGroupRequest.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-848

#15224 KAFKA-15727: Added KRaft support in AlterUserScramCredentialsRequestNotAuthorizedTest
  core/src/test/scala/unit/kafka/server/AlterUserScramCredentialsRequestNotAuthorizedTest.scala
  core/src/test/scala/unit/kafka/server/AlterUserScramCredentialsRequestTest.scala
Labels: stale

#16482 KAFKA-17050: Revert `group.version`
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/server/AbstractApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/BrokerFeaturesTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupDescribeRequestsTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerProtocolMigrationTest.scala
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
  server-common/src/main/java/org/apache/kafka/server/common/Features.java
  tests/kafkatest/services/kafka/config_property.py
  tests/kafkatest/services/kafka/kafka.py
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTestUtils.java
Labels: KIP-848

#16400 Revert "KAFKA-16154" and mark MV 3.8-IV0 as the latest production
  clients/src/main/java/org/apache/kafka/common/requests/ListOffsetsRequest.java
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/java/kafka/test/ClusterTestExtensionsTest.java
  core/src/test/java/kafka/test/annotation/ClusterTest.java
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/ApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ReplicationQuotasTest.scala
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/main/java/org/apache/kafka/server/common/TestFeatureVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/FeaturesTest.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: Blocker

#16087 KAFKA-15265: Remote fetch throttle metrics
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/log/remote/quota/RLMQuotaManager.java
  core/src/main/java/kafka/log/remote/quota/RLMQuotaMetrics.java
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/java/kafka/log/remote/quota/RLMQuotaManagerTest.java
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: kip, tiered-storage

#16503 KAFKA-16991: Flaky PurgeRepartitionTopicIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/PurgeRepartitionTopicIntegrationTest.java
Labels: streams, tests

#15302 KAFKA-15917: Wait for zombie sink tasks' consumers to commit offsets before trying to modify their offsets in integration tests
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConnectorOffset.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConnectorOffsets.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/OffsetsApiIntegrationTest.java
Labels: connect, tests

#16477 KAFKA-10816: Add health check endpoint for Kafka Connect
  clients/src/main/java/org/apache/kafka/common/utils/Time.java
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/AbstractConnectCli.java
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/ConnectDistributed.java
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/ConnectStandalone.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Connect.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Herder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/HerderRequestHandler.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestRequestTimeout.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestServer.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/WorkerStatus.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/RootResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/HealthCheckThread.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/Stage.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/BlockingConnectorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/InternalTopicsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/SourceConnectorsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/StandaloneWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/InternalConnectResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/RootResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/ConnectAssertions.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnect.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectStandalone.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/WorkerHandle.java
Labels: connect, kip

#16454 KAFKA-16529; Implement raft response handling
  clients/src/main/java/org/apache/kafka/common/protocol/Writable.java
  clients/src/main/java/org/apache/kafka/common/record/UnalignedMemoryRecords.java
  clients/src/main/java/org/apache/kafka/common/requests/FetchSnapshotRequest.java
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/Endpoints.java
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/ResignedState.java
  raft/src/main/java/org/apache/kafka/raft/UnattachedState.java
  raft/src/test/java/org/apache/kafka/raft/CandidateStateTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaNetworkChannelTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftEventSimulationTest.java
  raft/src/test/java/org/apache/kafka/raft/ResignedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateTest.java
  tools/src/test/java/org/apache/kafka/tools/MetadataQuorumCommandTest.java
Labels: kraft, KIP-853

#16473 MINOR; Update the properties files for controller with advertised.listeners
  config/kraft/controller.properties
  config/kraft/server.properties
Labels: kraft, KIP-853

#16086 KAFKA-17069: Remote copy throttle metrics
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: kip, tiered-storage

#16498 KAFKA-17058; Extend CoordinatorRuntime to support non-atomic writes
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorResult.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#16504 KAFKA-16944: Rewrite Range Assignor
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/MemberSubscription.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/RangeAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/RangeSet.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/MemberSubscriptionAndAssignmentImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/GroupSpecImplTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/RangeAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/RangeSetTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilderTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: KIP-848

#16521 MINOR; Add property methods to LogOffsetMetadata
  core/src/test/java/kafka/test/ClusterInstance.java
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/LogOffsetMetadata.java
  raft/src/main/java/org/apache/kafka/raft/ReplicatedLog.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachine.java
  raft/src/main/java/org/apache/kafka/raft/internals/KafkaRaftMetrics.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/MockLog.java
  raft/src/test/java/org/apache/kafka/raft/MockLogTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftEventSimulationTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachineTest.java
Labels: kraft, KIP-853

#11438 KAFKA-13403 Fix KafkaServer crashes when deleting topics due to the race in log deletion
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  clients/src/test/java/org/apache/kafka/common/utils/UtilsTest.java
Labels: storage

#15756 KAFKA-15838: KIP-1040: Add replace.null.with.default to InsertField, ExtractField, HeaderFrom, Cast, SetSchemaMetadata, TimestampConverter, MaskField transforms
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/Cast.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/ExtractField.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/HeaderFrom.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/InsertField.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/MaskField.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/SetSchemaMetadata.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/TimestampConverter.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/field/SingleFieldPath.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/CastTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/ExtractFieldTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/HeaderFromTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/InsertFieldTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/MaskFieldTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/SetSchemaMetadataTest.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/TimestampConverterTest.java
Labels: connect

#16525 MINOR: Fix retry logic in DedicatedMirrorIntegrationTest::awaitTaskConfigurations
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/DedicatedMirrorIntegrationTest.java
Labels: tests, mirror-maker-2

#15999 KAFKA-16254: Allow MM2 to fully disable offset sync feature
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/OffsetSyncWriter.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointConfigTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnectorTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceTaskTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/OffsetSyncWriterTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/DedicatedMirrorIntegrationTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
Labels: kip, mirror-maker-2

#15475 KAFKA-16345: Optionally URL-encode clientID and clientSecret in authorization header
  clients/src/main/java/org/apache/kafka/common/config/SaslConfigs.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/AccessTokenRetrieverFactory.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/HttpAccessTokenRetriever.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/secured/HttpAccessTokenRetrieverTest.java
Labels: kip

#16556 MINOR: Generate javadocs on all source files for streams:test-utils
  build.gradle
Labels: streams, docs

#16132 KAFKA-16851: Add remote.log.disable.policy
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
  core/src/test/scala/integration/kafka/admin/RemoteTopicCrudTest.scala
  core/src/test/scala/unit/kafka/log/LogConfigTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogConfig.java
Labels: tiered-storage

#16475 KAFKA-16228: Add remote log metadata flag to the dump log tool
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
Labels: tools, tiered-storage

#16561 KAFKA-17085: Handle tasks in state updater before tasks in task registry
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#16565 KAFKA-17111: Explicitly Register Afterburner Module in JsonSerializer and JsonDeserializer
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonDeserializer.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonSerializer.java
Labels: Blocker

#16570 KAFKA-17098: Re-add task to state updater if transit to RUNNING fails
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#16518 KAFKA-16532; Support for first leader bootstrapping the voter set
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchAccumulator.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchBuilder.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachine.java
  raft/src/main/java/org/apache/kafka/raft/internals/TreeMapLogHistory.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSetHistory.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotWriter.java
  raft/src/main/java/org/apache/kafka/snapshot/Snapshots.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/MockNetworkChannel.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/internals/BatchAccumulatorTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/BatchBuilderTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsIteratorTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/TreeMapLogHistoryTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/VoterSetHistoryTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/VoterSetTest.java
  raft/src/test/java/org/apache/kafka/snapshot/SnapshotWriterReaderTest.java
Labels: kraft, KIP-853

#16490 MINOR: Add more debug logging to EOSUncleanShutdownIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/EOSUncleanShutdownIntegrationTest.java
Labels: streams, tests

#14372 KAFKA-14401: Fail kafka log read end requests if underneath work thread is dead
  connect/runtime/src/main/java/org/apache/kafka/connect/util/KafkaBasedLog.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/KafkaBasedLogTest.java
Labels: connect

#16230 KAFKA-16772: Introduce kraft.version to support KIP-853
  clients/src/main/java/org/apache/kafka/clients/admin/SupportedVersionRange.java
  clients/src/main/java/org/apache/kafka/common/requests/ApiVersionsResponse.java
  core/src/main/scala/kafka/server/BrokerFeatures.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/MetadataCache.scala
  core/src/main/scala/kafka/server/metadata/KRaftMetadataCache.scala
  core/src/test/java/kafka/server/handlers/DescribeTopicPartitionsRequestHandlerTest.java
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/MetadataCacheTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/KRaftMetadataRequestBenchmark.java
  metadata/src/test/java/org/apache/kafka/image/publisher/SnapshotEmitterTest.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManager.java
  raft/src/main/java/org/apache/kafka/raft/FileQuorumStateStore.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumStateStore.java
  raft/src/main/java/org/apache/kafka/raft/RaftClient.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachine.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotWriter.java
  raft/src/test/java/org/apache/kafka/raft/FileQuorumStateStoreTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/MockQuorumStateStore.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachineTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsIteratorTest.java
  raft/src/test/java/org/apache/kafka/snapshot/RecordsSnapshotWriterTest.java
  server-common/src/main/java/org/apache/kafka/server/common/Features.java
  server-common/src/main/java/org/apache/kafka/server/common/KRaftVersion.java
  server-common/src/main/java/org/apache/kafka/server/common/TestFeatureVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/FeaturesTest.java
  server-common/src/test/java/org/apache/kafka/server/common/KRaftVersionTest.java
Labels: kraft, KIP-853

#16598 KAFKA-16383: Ensure tasks have already polled their consumers before producing verified records in MirrorConnectorsIntegrationBaseTest::testReplicateFromLatest
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
Labels: tests, mirror-maker-2

#16502 KAFKA-16853: Split RemoteLogManagerScheduledThreadPool
  checkstyle/suppressions.xml
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: tiered-storage

#16581 KAFKA-17105: Prevent redundant restarts for newly-created connectors
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
Labels: connect, tests

#16608 KAFKA-17150: Use Utils.loadClass instead of Class.forName to resolve aliases correctly
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerPartitionAssignor.java
  clients/src/main/java/org/apache/kafka/common/config/ConfigDef.java
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/SynchronizationTest.java
  core/src/main/scala/kafka/utils/CoreUtils.scala
Labels: backport-candidate, Blocker

#16093 KAFKA-16448: Catch and handle processing exceptions
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/DefaultErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/FailedProcessingException.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/CorruptedRecord.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateUpdateTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorAdapter.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorRecordContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StampedRecord.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
Labels: streams, kip

#16621 MINOR: Add integration test for plugin aliases
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
Labels: connect, tests

#16636 MINOR: Clarify ACL requirements for Connect workers when exactly.once.source.support is set to preparing
  docs/connect.html
Labels: docs, connect

#16509 KAFKA-16584 Make log processing summary configurable or debug
  docs/streams/developer-guide/config-streams.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
Labels: streams, kip

#16638 KAFKA-17163:revisit testSubscriptionOnInvalidTopic and testPollAuthenticationFailure
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
Labels: consumer, KIP-848

#16200 KAFKA-15999: Migrate HeartbeatRequestManagerTest away from ConsumerTestBuilder
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
Labels: consumer, tests, KIP-848

#16373 KAFKA-16558: Implemented HeartbeatRequestState toStringBase() and added a test for it
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
Labels: consumer, KIP-848

#16663 KAFKA-16448: Fix processing exception handler
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/DefaultErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/FailedProcessingException.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
Labels: streams, kip

#16692 KAFKA-17204: KafkaStreamsCloseOptionsIntegrationTest.before leaks AdminClient
  streams/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsCloseOptionsIntegrationTest.java
Labels: streams, tests

#16670 KAKFA-16537; Implement remove voter RPC
  clients/src/main/java/org/apache/kafka/common/errors/VoterNotFoundException.java
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  core/src/main/scala/kafka/server/ControllerApis.scala
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  raft/src/main/java/org/apache/kafka/raft/internals/AddVoterHandler.java
  raft/src/main/java/org/apache/kafka/raft/internals/RemoveVoterHandler.java
  raft/src/main/java/org/apache/kafka/raft/internals/RemoveVoterHandlerState.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSet.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/internals/VoterSetTest.java
Labels: kraft, KIP-853

#16668 KAFKA-16915: LeaderChangeMessage supports VoterDirectoryId
  clients/src/main/resources/common/message/LeaderChangeMessage.json
  clients/src/test/java/org/apache/kafka/common/record/ControlRecordUtilsTest.java
Labels: kraft, KIP-853

#16683 KAFKA-17060: Rename LegacyKafkaConsumer to ClassicKafkaConsumer
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerDelegateCreator.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TaskAssignorIntegrationTest.java
Labels: consumer, KIP-848, ctr

#16599 KAFKA-14569: Migrate Connect's integration test EmbeddedKafkaCluster from ZK to KRaft mode
  build.gradle
  checkstyle/import-control.xml
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationSSLTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsWithCustomForwardingAdminIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/BlockingConnectorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorClientPolicyIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorRestartApiIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorTopicsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorValidationIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExactlyOnceSourceIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExampleConnectIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/InternalTopicsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/OffsetsApiIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RebalanceSourceConnectorsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RestExtensionIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/SessionedProtocolIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/SinkConnectorsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/SourceConnectorsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/TransformationIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnect.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectStandalone.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
  core/src/test/java/kafka/testkit/KafkaClusterTestKit.java
Labels: connect, tests, kraft, mirror-maker-2

#16637 KAFKA-16953: Properly implement the sending of DescribeQuorumResponse
  raft/src/main/java/org/apache/kafka/raft/Endpoints.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSet.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft, KIP-853

#16701 MINOR: update CachingPersistentWindowStoreTest
  streams/src/test/java/org/apache/kafka/streams/state/internals/CachingPersistentWindowStoreTest.java
Labels: streams, tests

#16433 KAFKA-16448: Add ErrorHandlerContext in production exception handler
  streams/src/main/java/org/apache/kafka/streams/errors/DefaultProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/DefaultErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/CorruptedRecord.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateUpdateTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorAdapter.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorRecordContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StampedRecord.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/errors/AlwaysContinueProductionExceptionHandler.java
  streams/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
Labels: streams, kip

#16714 MINOR: Add 3.8.0 to system tests
  gradle/dependencies.gradle
  tests/docker/Dockerfile
  vagrant/base.sh
Labels: backport-candidate

#16650 MINOR: docs(config providers): adds a description of configuration providers
  docs/configuration.html
  docs/toc.html
Labels: docs

#16728 KAFKA-17214: Add 3.8.0 version to streams system tests
  build.gradle
  settings.gradle
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/UpgradeFromValues.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/upgrade-system-tests-38/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  streams/upgrade-system-tests-38/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/upgrade-system-tests-38/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/upgrade-system-tests-38/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-38/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_application_upgrade_test.py
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, backport-candidate

#16726 KAFKA-17214: Add 3.8.0 version to core and client system tests
  tests/kafkatest/tests/client/client_compatibility_features_test.py
  tests/kafkatest/tests/client/client_compatibility_produce_consume_test.py
  tests/kafkatest/tests/core/compatibility_test_new_broker_test.py
  tests/kafkatest/tests/core/downgrade_test.py
  tests/kafkatest/tests/core/upgrade_test.py
Labels: core, backport-candidate

#16696 MINOR: update AdjustStreamThreadCountTest
  streams/src/test/java/org/apache/kafka/streams/integration/AdjustStreamThreadCountTest.java
Labels: streams, tests

#16725 MINOR: simplify code which calles `Punctuator.punctuate()`
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
Labels: streams

#16675 KAFKA-16448: Handle fatal user exception during processing error
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
Labels: streams, kip

#16733 MINOR: Unify Log4j levels across Connect runtime and MirrorMaker 2 integration tests
  connect/mirror/src/test/resources/log4j.properties
  connect/runtime/src/test/resources/log4j.properties
Labels: connect, tests, mirror-maker-2

#16334 KAFKA-16899 MembershipManagerImpl: rebalanceTimeoutMs variable name changed to commitTimeoutDuringReconciliation
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
Labels: consumer, KIP-848, ctr

#16738 Revert "KAFKA-16508: Streams custom handler should handle the timeout exceptions (#16450)"
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/test/java/org/apache/kafka/streams/integration/CustomHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams

#16697 MINOR: update EosIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
Labels: streams, tests

#16698 MINOR: update EosV2UpgradeIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/EosV2UpgradeIntegrationTest.java
Labels: streams, tests

#16699 MINOR: update KStreamAggregationIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
Labels: streams, tests

#16700 MINOR: update StandbyTaskCreationIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskCreationIntegrationTest.java
Labels: streams, tests

#16740 MINOR: update SuppressionDurabilityIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionDurabilityIntegrationTest.java
Labels: streams

#16736 KAFKA-16448: Unify class cast exception handling for both key and value
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
Labels: streams

#16678 KAFKA-17192 Fix MirrorMaker2 worker config does not pass config.provi…
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMakerConfig.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorMakerConfigTest.java
Labels: mirror-maker-2, backport-candidate

#16300 KAFKA-16448: Handle processing exceptions in punctuate
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams, kip
