Repository apache/kafka, pull requests merged in 2024-11, with the labels that each got.

#17656 KAFKA-17912: Align string representations of SharePartitionKey
  clients/src/main/resources/common/message/FindCoordinatorRequest.json
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
Labels: KIP-932, clients, ci-approved, small

#17654 KAFKA-17767 Load test catalog data [3/n]
  .github/actions/setup-python/action.yml
  .github/scripts/format-test-catalog.py
  .github/workflows/build.yml
Labels: build

#17528 KAFKA-17803: LogSegment#read should return the base offset of the batch that contains startOffset rather than startOffset
  clients/src/main/java/org/apache/kafka/common/record/FileRecords.java
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogSegment.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/LogSegmentTest.java
Labels: core, kraft, storage, clients, ci-approved

#17617 MINOR: Add logging to deleteTopic and deleteTopics functions
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
Labels: kraft, small

#17626 KAFKA-17546: Admin.listGroups and kafka-groups.sh
  bin/kafka-groups.sh
  bin/windows/kafka-groups.bat
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/ForwardingAdmin.java
  clients/src/main/java/org/apache/kafka/clients/admin/GroupListing.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListGroupsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListGroupsResult.java
  clients/src/test/java/org/apache/kafka/clients/admin/AdminClientTestUtils.java
  clients/src/test/java/org/apache/kafka/clients/admin/GroupListingTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/TestingMetricsInterceptingAdminClient.java
  tools/src/main/java/org/apache/kafka/tools/GroupsCommand.java
  tools/src/test/java/org/apache/kafka/tools/GroupsCommandTest.java
Labels: streams, tools, clients, ci-approved

#17662 MINOR: fix the class name of UnattachedStateWithVoteTest to match the file name
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateWithVoteTest.java
Labels: tests, kraft, small

#17664 MINOR: Update clientInstanceIds from EOS_V2 refactor
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
Labels: streams, small

#17613 KAFKA-17814 Use `final` declaration to replace the suppression `this-escape`
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/ConsumerRebalanceMetricsManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/ShareRebalanceMetricsManager.java
  clients/src/main/java/org/apache/kafka/common/metrics/Metrics.java
  clients/src/main/java/org/apache/kafka/common/protocol/types/Schema.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/OAuthBearerSaslClientProvider.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/OAuthBearerSaslServerProvider.java
  clients/src/main/java/org/apache/kafka/common/security/plain/internals/PlainSaslServerProvider.java
  clients/src/main/java/org/apache/kafka/common/security/scram/internals/ScramSaslClientProvider.java
  clients/src/main/java/org/apache/kafka/common/security/scram/internals/ScramSaslServerProvider.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  clients/src/test/java/org/apache/kafka/common/network/NioEchoServer.java
  clients/src/test/java/org/apache/kafka/common/network/PlaintextSender.java
  clients/src/test/java/org/apache/kafka/common/network/SslSender.java
  clients/src/test/java/org/apache/kafka/common/security/ssl/DefaultSslEngineFactoryTest.java
  clients/src/test/java/org/apache/kafka/common/security/ssl/mock/TestProvider.java
  clients/src/test/java/org/apache/kafka/common/utils/MockScheduler.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverterConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMakerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SourceConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
  raft/src/test/java/org/apache/kafka/raft/MockExpirationService.java
  server-common/src/main/java/org/apache/kafka/server/fault/FaultHandlerException.java
  server-common/src/main/java/org/apache/kafka/server/util/timer/TimerTaskEntry.java
  server-common/src/main/java/org/apache/kafka/timeline/TimelineInteger.java
  server-common/src/main/java/org/apache/kafka/timeline/TimelineLong.java
  server-common/src/main/java/org/apache/kafka/timeline/TimelineObject.java
  server-common/src/test/java/org/apache/kafka/server/util/MockTime.java
  storage/src/main/java/org/apache/kafka/storage/internals/epoch/LeaderEpochFileCache.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/OffsetIndex.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteStorageThreadPool.java
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/MaterializedInternal.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimestampedWindowStoreBuilderTest.java
  streams/src/test/java/org/apache/kafka/test/MockRestoreConsumer.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/ConfigurableProducerSpec.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/ConnectionStressSpec.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/ConsumeBenchSpec.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/ProduceBenchSpec.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/RoundTripWorkloadSpec.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/SustainedConnectionSpec.java
Labels: streams, core, consumer, tools, connect, kraft, mirror-maker-2, storage, clients, ci-approved

#17674 KAFKA-17795: Fix the file path of suppressions.xml to run build on windows
  checkstyle/suppressions.xml
Labels: small

#17665 KAFKA-17909: Clean-up rpc#listeners
  clients/src/main/resources/common/message/ConsumerGroupDescribeRequest.json
  clients/src/main/resources/common/message/ConsumerGroupHeartbeatRequest.json
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core, clients, ci-approved, small

#17618 KAFKA-17882: improve the document about "default value" of tagged structure field
  clients/src/main/resources/common/message/README.md
Labels: docs, clients, small

#17652 KAFKA-17908: Tweak log messages in group metadata manager
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: ci-approved, small

#17645 KAFKA-17463: Fixing test share groups test
  share/src/main/java/org/apache/kafka/server/share/persister/PersisterStateManager.java
  share/src/test/java/org/apache/kafka/server/share/persister/PersisterStateManagerTest.java
Labels: KIP-932, small

#17651 KAFKA-17593; [2/N] Update request validation & validate regex
  checkstyle/import-control-group-coordinator.xml
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: core, KIP-848

#17653 KAFKA-17593; [3/N] Track the number of subscribed members per regular expression in ConsumerGroup
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupTest.java
Labels: KIP-848

#17672 KAFKA-17906: Remove redundant sourceSets from build.gradle
  build.gradle
Labels: build, ci-approved, small

#17638 KAFKA-17625: Removing explicit ZK test parameterizations
  tests/kafkatest/services/kafka/quorum.py
  tests/kafkatest/tests/client/consumer_rolling_upgrade_test.py
  tests/kafkatest/tests/client/consumer_test.py
  tests/kafkatest/tests/client/message_format_change_test.py
  tests/kafkatest/tests/connect/connect_distributed_test.py
  tests/kafkatest/tests/connect/connect_test.py
  tests/kafkatest/tests/core/consume_bench_test.py
  tests/kafkatest/tests/core/consumer_group_command_test.py
  tests/kafkatest/tests/core/controller_mutation_quota_test.py
  tests/kafkatest/tests/core/fetch_from_follower_test.py
  tests/kafkatest/tests/core/log_dir_failure_test.py
  tests/kafkatest/tests/core/reassign_partitions_test.py
  tests/kafkatest/tests/core/replica_scale_test.py
  tests/kafkatest/tests/core/replication_replica_failure_test.py
  tests/kafkatest/tests/core/security_test.py
  tests/kafkatest/tests/core/transactions_test.py
  tests/kafkatest/tests/streams/streams_broker_bounce_test.py
Labels: tools, tests, ci-approved

#17582 KAFKA-16964: Integration tests for adding and removing voters
  core/src/main/scala/kafka/network/SocketServer.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaRaftServer.scala
  core/src/main/scala/kafka/server/SharedServer.scala
  core/src/main/scala/kafka/server/metadata/KRaftMetadataCache.scala
  core/src/test/java/kafka/server/ReconfigurableQuorumIntegrationTest.java
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/ApiVersionsRequestTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/bootstrap/BootstrapMetadata.java
  metadata/src/main/java/org/apache/kafka/metadata/storage/Formatter.java
  metadata/src/test/java/org/apache/kafka/metadata/bootstrap/BootstrapMetadataTest.java
  server/src/main/java/org/apache/kafka/server/ServerSocketFactory.java
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/src/main/java/org/apache/kafka/common/test/PreboundSocketFactoryManager.java
  test-common/src/main/java/org/apache/kafka/common/test/TestKitNode.java
  test-common/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTestUtils.java
Labels: core, tools, kraft, ci-approved

#17594 KAFKA-17857 Move AbstractResetIntegrationTest and subclasses to tools
  build.gradle
  checkstyle/import-control.xml
  tools/src/test/java/org/apache/kafka/tools/AbstractResetIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/ResetIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/ResetIntegrationWithSslTest.java
Labels: streams, tools, build, small

#17537 KAFKA-17819 : Handle piggyback acknowledgements when subscription changes in ShareConsumeRequestManager.
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareFetchRequest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core, consumer, KIP-932, clients, ci-approved

#17619 KAFKA-17877: Only call once maybeSendResponseCallback for each marker
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core, KIP-848, transactions, small

#17559 KAFKA-16816: Remove unneeded FencedInstanceId support on commit path for new consumer
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
Labels: consumer, KIP-848, ctr, clients, ci-approved

#17693 MINOR: Fix typo in comments of EndToEndAuthorizationTest
  core/src/test/scala/integration/kafka/api/EndToEndAuthorizationTest.scala
Labels: core, tests, ci-approved, small

#17275 KAFKA-17609:[1/4] Changes needed to convert system tests to use KRaft and remove ZK
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/base_streams_test.py
  tests/kafkatest/tests/streams/streams_application_upgrade_test.py
  tests/kafkatest/tests/streams/streams_broker_bounce_test.py
  tests/kafkatest/tests/streams/streams_broker_down_resilience_test.py
Labels: streams, tools, tests, small

#17021 KAFKA-17248 - KIP 1076 implementation
  build.gradle
  checkstyle/import-control.xml
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/Producer.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsTelemetryIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/TestingMetricsInterceptingAdminClient.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams, core, producer, consumer, kip, KIP-1076, build, clients

#17688 KAFKA-17941: Fix TransactionStateManager handling of empty batch when loading transaction metadata
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
Labels: core, transactions, small

#17689 KAFKA-17916: removing ZK from connect ducktape tests
  tests/kafkatest/tests/connect/connect_distributed_test.py
  tests/kafkatest/tests/connect/connect_plugin_discovery_test.py
  tests/kafkatest/tests/connect/connect_rest_test.py
  tests/kafkatest/tests/connect/connect_test.py
Labels: tools, tests, small

#17682 KAFKA-17936: Refactor SslTransportLayerTest#testDsaKeyPair to avoid skip test
  clients/src/test/java/org/apache/kafka/common/network/SslTransportLayerTest.java
Labels: tests, clients, ci-approved, small

#17678 MINOR: Add an instruction to run test with specific times
  README.md
Labels: docs, small

#17679 KAFKA-17931 Revise the `specifying-test-retries` section in README
  README.md
Labels: docs, ci-approved, small

#17198 KAFKA-16339: [1/4 KStream#transform] Remove Deprecated "transformer" methods and classes
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KStreamTransformIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Transformer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TransformerSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueTransformerSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueTransformerWithKeySupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TransformerSupplierAdapter.java
  streams/src/main/java/org/apache/kafka/streams/processor/ConnectedStoreProvider.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TransformerSupplierAdapterTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/TopologyTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KStreamTest.scala
Labels: streams, ci-approved

#16988 KAFKA-12827 Remove Deprecated method KafkaStreams#setUncaughtExceptionHandler
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/StreamsUncaughtExceptionHandlerIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: streams, core, consumer, tools, connect, kraft, mirror-maker-2, storage, KIP-932, build, clients, ci-approved

#17697 KAFKA-17924: Remove `bufferpool-wait-time-total`, `io-waittime-total`, and `iotime-total`
  clients/src/main/java/org/apache/kafka/clients/producer/internals/BufferPool.java
  clients/src/main/java/org/apache/kafka/common/network/Selector.java
  clients/src/test/java/org/apache/kafka/common/network/SelectorTest.java
  docs/ops.html
  docs/upgrade.html
Labels: producer, clients, ci-approved, small

#17701 MINOR: doc link fix for producer design
  docs/design.html
Labels: docs, small

#17655 KAFKA-17911: Fix handling of env variables in KafkaDockerWrapper
  core/src/main/scala/kafka/docker/KafkaDockerWrapper.scala
  core/src/test/scala/unit/kafka/docker/KafkaDockerWrapperTest.scala
Labels: core, small

#17695 Initialize topologies as part of heartbeat
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsAssignmentInterface.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupInitializeRequestManager.java
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupHeartbeatResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupInitializeRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupInitializeResponse.java
  clients/src/main/resources/common/message/StreamsGroupDescribeRequest.json
  clients/src/main/resources/common/message/StreamsGroupDescribeResponse.json
  clients/src/main/resources/common/message/StreamsGroupHeartbeatRequest.json
  clients/src/main/resources/common/message/StreamsGroupHeartbeatResponse.json
  clients/src/main/resources/common/message/StreamsGroupInitializeRequest.json
  clients/src/main/resources/common/message/StreamsGroupInitializeResponse.json
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupInitializeRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/CoordinatorStreamsRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsConfiguredTopology.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroupHeartbeatResult.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsTopology.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/TargetAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/InternalTopicManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/CoordinatorStreamsRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsConfiguredTopologyTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsTopologyTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/InternalTopicManagerTest.java
  server/src/main/java/org/apache/kafka/network/RequestConvertToJson.java
  streams/src/test/resources/log4j.properties
Labels: streams, core, consumer, clients

#17686 KAFKA-17635: Ensure only committed offsets are returned for purging
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams, small

#17707 MINOR: update .asf.yaml contributors
  .asf.yaml
Labels: small

#17708 Update docker_scan.yml for 3.9.0
  .github/workflows/docker_scan.yml
Labels: build, small

#17691 KIP-16331: Remove EOS-v1 from StreamsConfigUtils
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/StreamsConfigUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TopologyMetadata.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/testutil/DummyStreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#17447 MINOR: fix docs upgrade instructions fro 3.9 and 3.8
  docs/upgrade.html
Labels: docs

#17150 KAFKA-17480: New consumer commit all consumed should retrieve offsets in background thread
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/AsyncCommitEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/CommitEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/SyncCommitEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
Labels: consumer, KIP-848, ctr, clients

#17630 KAFKA-17248 - KIP 1076 Add process-id to get carried to telemetry results
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsTelemetryIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/MockStreamsMetrics.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SourceNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateDirectoryTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImplTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractDualSchemaRocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingKeyValueBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/GlobalStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/KeyValueSegmentTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBufferTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimestampedSegmentTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderGaugesTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/api/MockProcessorContext.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
Labels: streams, producer, consumer, clients

#17567 KAFKA-17576: Fix all references to kraft/server.properties to use reconfig-server.properties
  README.md
  docker/docker_official_images/3.7.0/jvm/Dockerfile
  docker/docker_official_images/3.7.0/jvm/jsa_launch
  docker/jvm/Dockerfile
  docker/jvm/jsa_launch
  docker/native/Dockerfile
  docs/streams/quickstart.html
  trogdor/README.md
Labels: tools, docker, ci-approved, small

#17657 KAFKA-17913: Fix KRaft controller count recommendations
  docs/ops.html
Labels: docs, ci-approved, small

#17245 KAFKA-16339: [2/4 KStream#flatTransform] Remove Deprecated "transformer" methods and classes
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/ConnectedStoreProvider.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/KStreamTest.scala
Labels: streams, ci-approved

#17694 KAFKA-17593; [4/N] Introduce ConsumerGroupRegularExpression record & related bookkeeping in ConsumerGroup
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/ModernGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ResolvedRegularExpression.java
  group-coordinator/src/main/resources/common/message/ConsumerGroupRegularExpressionKey.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupRegularExpressionValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ResolvedRegularExpressionTest.java
Labels: KIP-848

#17659 KAFKA-16780: Txn consumer exerts pressure on remote storage when collecting aborted txns
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogMetadataManager.java
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogSegmentMetadata.java
  storage/api/src/test/java/org/apache/kafka/server/log/remote/storage/NoOpRemoteLogMetadataManager.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/ClassLoaderAwareRemoteLogMetadataManager.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataCache.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogSegmentMetadataSnapshot.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/RemotePartitionMetadataStore.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManager.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/serialization/RemoteLogSegmentMetadataSnapshotTransform.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/serialization/RemoteLogSegmentMetadataTransform.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/TransactionIndex.java
  storage/src/main/resources/message/RemoteLogSegmentMetadataRecord.json
  storage/src/main/resources/message/RemoteLogSegmentMetadataSnapshotRecord.json
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataFormatterTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/serialization/RemoteLogSegmentMetadataSnapshotTransformTest.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/TransactionIndexTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestBuilder.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestHarness.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ConsumeAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/OffloadAndTxnConsumeFromLeaderTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/specs/FetchableSpec.java
  storage/src/test/java/org/apache/kafka/tiered/storage/specs/RemoteFetchCount.java
  storage/src/test/java/org/apache/kafka/tiered/storage/specs/RemoteFetchSpec.java
Labels: core, kip, storage, tiered-storage

#17660 KAFKA-17914: Update string ref with SharePartitionKey.
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/metadata/ShareCoordinatorMetadataCacheHelperImpl.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinator.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
  share/src/main/java/org/apache/kafka/server/share/SharePartitionKey.java
  share/src/main/java/org/apache/kafka/server/share/persister/PersisterStateManager.java
  share/src/main/java/org/apache/kafka/server/share/persister/ShareCoordinatorMetadataCacheHelper.java
  share/src/test/java/org/apache/kafka/server/share/persister/DefaultStatePersisterTest.java
  share/src/test/java/org/apache/kafka/server/share/persister/PersisterStateManagerTest.java
Labels: core, KIP-932, ci-approved

#17719 KAFKA-17926: Improve the documentation explaining why max.in.flight.requests.per.connection should not exceed 5
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
Labels: producer, clients, small

#17718 MINOR: Cleanup GroupCoordinatorRecordHelpers
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
Labels: KIP-848, small

#17702 MINOR: fix time discrepancy between TestInputTopic and TopologyTestDriver that creates it
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams, small

#17676 KAFKA-17801: RemoteLogManager may compute inaccurate upperBoundOffset for aborted txns
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: core, tiered-storage

#17726 MINOR: log fix in SnapshottableCoordinator
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/SnapshottableCoordinator.java
Labels: KIP-848, small

#17249 KAFKA-17570: Rewrite StressTestLog by Java
  core/src/test/scala/other/kafka/StressTestLog.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/log/StressTestLog.java
Labels: core, performance, ci-approved

#17729 MINOR: Delete unused member from KafkaAdminClient
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
Labels: clients, ci-approved, small

#17722 KAFKA-17970: Moving some share purgatory classes from core to share module
  checkstyle/import-control-share.xml
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  share/src/main/java/org/apache/kafka/server/share/fetch/DelayedShareFetchGroupKey.java
  share/src/main/java/org/apache/kafka/server/share/fetch/DelayedShareFetchKey.java
  share/src/main/java/org/apache/kafka/server/share/fetch/DelayedShareFetchPartitionKey.java
  share/src/test/java/org/apache/kafka/server/share/fetch/DelayedShareFetchKeyTest.java
Labels: core, KIP-932, small

#17579 KAFKA-17837: Rewrite DeleteTopicTest
  build.gradle
  checkstyle/import-control-core.xml
  checkstyle/import-control-test-common.xml
  core/src/test/java/kafka/admin/DeleteTopicTest.java
  core/src/test/scala/unit/kafka/admin/DeleteTopicTest.scala
  test-common/src/main/java/org/apache/kafka/common/test/TestUtils.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterInstance.java
  test-common/test-common-api/src/test/java/org/apache/kafka/common/test/api/ClusterTestExtensionsTest.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
Labels: core, tools, build, ci-approved

#17730 KAFKA-15549: Bump swagger dependency version
  LICENSE-binary
  gradle.properties
Labels: ci-approved, small

#17710 KAFKA-17872: Update consumed offsets on records with invalid timestamp
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#17724 KAFKA-17779: Refactor Flaky RLM Test
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: core, tests, small

#17673 KAFKA-17923: Remove old kafka version from e2e
  tests/docker/Dockerfile
  tests/kafkatest/directory_layout/kafka_path.py
  tests/kafkatest/sanity_checks/test_console_consumer.py
  tests/kafkatest/sanity_checks/test_performance_services.py
  tests/kafkatest/sanity_checks/test_verifiable_producer.py
  tests/kafkatest/services/console_consumer.py
  tests/kafkatest/services/kafka/templates/kafka.properties
  tests/kafkatest/services/kafka/util.py
  tests/kafkatest/services/monitor/jmx.py
  tests/kafkatest/services/performance/consumer_performance.py
  tests/kafkatest/services/performance/end_to_end_latency.py
  tests/kafkatest/services/performance/producer_performance.py
  tests/kafkatest/services/verifiable_client.py
  tests/kafkatest/services/verifiable_consumer.py
  tests/kafkatest/tests/client/client_compatibility_features_test.py
  tests/kafkatest/tests/client/client_compatibility_produce_consume_test.py
  tests/kafkatest/tests/client/quota_test.py
  tests/kafkatest/tests/connect/connect_distributed_test.py
  tests/kafkatest/tests/core/compatibility_test_new_broker_test.py
  tests/kafkatest/tests/streams/streams_cooperative_rebalance_upgrade_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
  tests/kafkatest/version.py
  tests/unit/directory_layout/check_project_paths.py
  tests/unit/version/check_version.py
  vagrant/base.sh
Labels: tools, tests

#17734 KAFKA-17974: Upgrade gradle from 8.10 to 8.10.2
  gradle/dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build, ci-approved, small

#17745 MINOR: Remove some obsolete JUnit tests
  core/src/test/scala/integration/kafka/server/FetchRequestBetweenDifferentIbpTest.scala
  core/src/test/scala/integration/kafka/server/FetchRequestTestDowngrade.scala
  core/src/test/scala/integration/kafka/server/MetadataRequestBetweenDifferentIbpTest.scala
  core/src/test/scala/unit/kafka/server/FetchRequestWithLegacyMessageFormatTest.scala
  core/src/test/scala/unit/kafka/server/KafkaMetricReporterClusterIdTest.scala
Labels: core, tests

#17738 MINOR: fix KafkaRaftManager typo
  core/src/main/scala/kafka/raft/RaftManager.scala
Labels: core, ci-approved, small

#17243 KAFKA-17583 Improve the ConfigCommand documentation to show how to set `key=[val1,val2]`
  core/src/main/scala/kafka/admin/ConfigCommand.scala
Labels: core, producer, consumer, tools, connect, kraft, mirror-maker-2, storage, build, clients, ci-approved, small

#17573 KAFKA-16726: Added share.auto.offset.reset dynamic config for share groups
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupConfigTest.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share/src/main/java/org/apache/kafka/server/share/persister/NoOpShareStatePersister.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionFactory.java
Labels: core, KIP-932, ci-approved

#17507 KAFKA-17787: Removed --zookeeper option and logic from ConfigCommand
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  core/src/test/java/kafka/admin/ConfigCommandTest.java
Labels: core, tools, ci-approved

#15318 KAFKA-15722: KRaft support in RackAwareAutoTopicCreationTest
  core/src/test/scala/integration/kafka/api/RackAwareAutoTopicCreationTest.scala
Labels: core, tests, stale, small

#17757 MINOR: remove AlterUserScramCredentialsRequestTest.testAlterNotController
  core/src/test/scala/unit/kafka/server/AlterUserScramCredentialsRequestTest.scala
Labels: core, tests, small

#17754 KAFKA-17975 Remove ControllerQuorumVotersFutureManager
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
Labels: tests, small

#17749 KAFKA-17314 Fix the typo: `maxlifeTimeMs`
  clients/src/main/java/org/apache/kafka/clients/admin/CreateDelegationTokenOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  core/src/test/scala/integration/kafka/api/SaslSslAdminIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsTest.scala
  tools/src/main/java/org/apache/kafka/tools/DelegationTokenCommand.java
Labels: core, tools, clients, ci-approved, small

#17764 MINOR: convert AlterReplicaLogDirsRequestTest to KRaft
  core/src/main/scala/kafka/server/KafkaBroker.scala
  core/src/test/scala/unit/kafka/server/AlterReplicaLogDirsRequestTest.scala
Labels: core, small

#17755 MINOR: Refactor GroupCoordinator's Assertions
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/Assertions.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
Labels: tests, KIP-848

#17620 KAFKA-17632: Fix RoundRobinPartitioner for even partition counts
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/Partitioner.java
  clients/src/main/java/org/apache/kafka/clients/producer/RoundRobinPartitioner.java
  clients/src/test/java/org/apache/kafka/clients/producer/RoundRobinPartitionerTest.java
Labels: producer, clients, small

#17778 KAFKA-17978: Fix invalid topology on Task assignment
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
Labels: streams, small

#17714 KAFKA-17744: improve state updater logs when restorating state
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
Labels: streams, small

#17758 KAFKA-17985: Set share.auto.offset.reset to earliest in ShareRoundTripWorker
  build.gradle
  checkstyle/import-control.xml
  trogdor/src/main/java/org/apache/kafka/trogdor/common/WorkerUtils.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/ShareRoundTripWorker.java
Labels: tools, KIP-932, build, ci-approved, small

#17735 KAFKA-16780: Document the new RLMM#nextSegmentWithTxnIndex API in upgrade notes
  docs/upgrade.html
Labels: docs, small

#17759 MINOR: Convert FetchRequestDownConversionConfigTest.scala to KRaft
  core/src/test/scala/unit/kafka/server/FetchRequestDownConversionConfigTest.scala
Labels: core, tests, small

#17760 MINOR: convert ConsumerTopicCreationTest to KRaft
  core/src/test/scala/integration/kafka/api/ConsumerTopicCreationTest.scala
Labels: core, tests, small

#17716 KAFKA-17635: Only purge committed offsets
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams

#17762 MINOR: convert AddPartitionsToTxnRequestServerTest to KRaft
  core/src/test/scala/unit/kafka/server/AddPartitionsToTxnRequestServerTest.scala
Labels: core, tests, small

#17746 MINOR: convert DescribeLogDirsRequestTest to KRaft
  core/src/test/scala/unit/kafka/server/DescribeLogDirsRequestTest.scala
Labels: core, tests, small

#17772 KAFKA-17991: Added timed calls for future.get in persister.
  share/src/main/java/org/apache/kafka/server/share/persister/DefaultStatePersister.java
  share/src/test/java/org/apache/kafka/server/share/persister/DefaultStatePersisterTest.java
Labels: KIP-932, ci-approved

#17779 MINOR Quarantine some flaky tests
  checkstyle/import-control-storage.xml
  core/src/test/java/kafka/server/ReconfigurableQuorumIntegrationTest.java
  core/src/test/scala/integration/kafka/network/DynamicConnectionQuotaTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/OffloadAndTxnConsumeFromLeaderTest.java
Labels: core, tests, storage, small

#17666 KAFKA-17922: add helper to ClusterInstance to create client component
  core/src/test/java/kafka/admin/AdminFenceProducersTest.java
  core/src/test/java/kafka/admin/ClientTelemetryTest.java
  core/src/test/java/kafka/admin/ConfigCommandIntegrationTest.java
  core/src/test/java/kafka/admin/DeleteTopicTest.java
  core/src/test/java/kafka/server/LogManagerIntegrationTest.java
  core/src/test/scala/integration/kafka/api/GroupCoordinatorIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/MetadataVersionIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/ClientQuotasRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupDescribeRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupDescribeRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/epoch/LeaderEpochIntegrationTest.scala
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerRestartTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerTest.java
  test-common/src/main/java/org/apache/kafka/common/test/TestUtils.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterInstance.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/RaftClusterInvocationContext.java
  test-common/test-common-api/src/test/java/org/apache/kafka/common/test/api/ClusterTestExtensionsTest.java
  tools/src/test/java/org/apache/kafka/tools/DeleteRecordsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/GetOffsetShellTest.java
  tools/src/test/java/org/apache/kafka/tools/LeaderElectionCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ResetConsumerGroupOffsetTest.java
Labels: core, tools, tests, storage, ci-approved

#16705 KAFKA-17109: Reduce log message load for failed locking
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
Labels: streams, small

#17768 KAFKA-17987: Remove assorted ZK-related files
  bin/zookeeper-security-migration.sh
  bin/zookeeper-server-start.sh
  bin/zookeeper-server-stop.sh
  bin/zookeeper-shell.sh
  config/kraft/broker.properties
  config/kraft/controller.properties
  config/kraft/reconfig-server.properties
  config/kraft/server.properties
  config/log4j.properties
  config/server.properties
  config/zookeeper.properties
  core/src/test/resources/log4j.properties
  group-coordinator/src/test/resources/log4j.properties
  metadata/src/test/resources/log4j.properties
  streams/integration-tests/src/test/resources/log4j.properties
  streams/src/test/resources/log4j.properties
Labels: streams, core, kraft

#17790 KAFKA-18004: Use 3.8 to run zk service for e2e
  tests/kafkatest/services/zookeeper.py
Labels: tests, small

#17720 KAFKA-17885: Enable clients to rebootstrap based on timeout or error code (KIP-1102)
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/clients/ClientUtils.java
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
  clients/src/main/java/org/apache/kafka/clients/KafkaClient.java
  clients/src/main/java/org/apache/kafka/clients/NetworkClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/AdminClientConfig.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AdminMetadataManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
  clients/src/main/java/org/apache/kafka/common/errors/RebootstrapRequiredException.java
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  clients/src/main/java/org/apache/kafka/common/requests/MetadataRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/MetadataResponse.java
  clients/src/main/resources/common/message/MetadataRequest.json
  clients/src/main/resources/common/message/MetadataResponse.json
  clients/src/test/java/org/apache/kafka/clients/MockClient.java
  clients/src/test/java/org/apache/kafka/clients/NetworkClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/AdminClientConfigTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/internals/AdminMetadataManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerConfigTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/ProducerConfigTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMember.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  core/src/test/scala/integration/kafka/api/AdminClientRebootstrapTest.scala
  core/src/test/scala/integration/kafka/api/ConsumerRebootstrapTest.scala
  core/src/test/scala/integration/kafka/api/ProducerRebootstrapTest.scala
  core/src/test/scala/integration/kafka/api/RebootstrapTest.scala
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams, core, producer, consumer, connect, clients

#17785 MINOR: remove LogDirFailureTest.testZkBrokerWithOldInterBrokerProtocolShouldHaltOnLogDirFailure
  core/src/test/scala/unit/kafka/server/LogDirFailureTest.scala
Labels: core, tests, small

#17750 KAFKA-17593; [5/N] Include resolved regular expressions into target assignment computation
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/UnionSet.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/UnionSetTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupBuilder.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: performance, KIP-848

#17799 MINOR: Update javadoc on split to mention first matching
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
Labels: streams, small

#17788 MINOR Fix a few test names
  clients/src/test/java/org/apache/kafka/clients/consumer/RangeAssignorTest.java
  clients/src/test/java/org/apache/kafka/common/metrics/stats/SampledStatTest.java
  clients/src/test/java/org/apache/kafka/common/network/SslVersionsTransportLayerTest.java
  clients/src/test/java/org/apache/kafka/common/record/LazyDownConversionRecordsTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataCacheTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsTelemetryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/internals/metrics/StreamsClientMetricsDelegatingReporterTest.java
  streams/src/test/java/org/apache/kafka/streams/internals/metrics/StreamsThreadMetricsDelegatingReporterTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamNewProcessorApiTest.java
  streams/src/test/java/org/apache/kafka/streams/query/StateQueryResultTest.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/test/MockProcessorContextStateStoreTest.java
Labels: streams, consumer, tests, storage, clients, small

#16686 KAFKA-16985: Ensure consumer attempts to send leave request on close even if interrupted
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MemberStateListener.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/SubscriptionState.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/LeaveGroupOnCloseEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: core, consumer, KIP-848, ctr, clients, ci-approved

#17782 KAFKA-17988: Fix flaky ReconfigurableQuorumIntegrationTest.testRemoveAndAddSameController
  core/src/test/java/kafka/server/ReconfigurableQuorumIntegrationTest.java
Labels: core, tests, ci-approved, small

#17806 KAFKA-18009: Remove extra public constructor for KafkaShareConsumer
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaShareConsumer.java
Labels: consumer, KIP-932, clients, ci-approved

#17802 KAFKA-17992: Remove `getUnderlying` and `isKRaftTest` from ClusterInstance
  core/src/test/java/kafka/admin/ConfigCommandIntegrationTest.java
  core/src/test/java/kafka/server/LogManagerIntegrationTest.java
  core/src/test/scala/unit/kafka/server/AbstractApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/BrokerRegistrationRequestTest.scala
  core/src/test/scala/unit/kafka/server/ReplicationQuotasTest.scala
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterInstance.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/RaftClusterInvocationContext.java
  tools/src/test/java/org/apache/kafka/tools/BrokerApiVersionsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/ClusterToolTest.java
  tools/src/test/java/org/apache/kafka/tools/GetOffsetShellTest.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerTest.java
Labels: core, tools, tests, ci-approved

#17794 KAFKA-17995: Large value for retention.ms could prevent remote data cleanup in Tiered Storage
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: core, backport-candidate, tiered-storage, small

#17625 KAFKA-17888 Upgrade ZooKeeper version from 3.4.9 to 3.5.7 to avoid ZOOKEEPER-3779, which can't run under JDK 11.
  tests/docker/Dockerfile
  tests/docker/ducker-ak
Labels: tests, ci-approved, small

#17709 KAFKA-17510: Exception handling and purgatory completion on initialization delay
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
  share/src/main/java/org/apache/kafka/server/share/fetch/ShareFetch.java
  share/src/main/java/org/apache/kafka/server/share/fetch/ShareFetchData.java
  share/src/test/java/org/apache/kafka/server/share/fetch/ShareFetchTest.java
Labels: core, KIP-932

#17797 KAFKA-18006: Add 3.9.0 to end-to-end test (core, client)
  tests/docker/Dockerfile
  tests/kafkatest/services/zookeeper.py
  tests/kafkatest/tests/client/client_compatibility_features_test.py
  tests/kafkatest/tests/client/client_compatibility_produce_consume_test.py
  tests/kafkatest/tests/client/consumer_protocol_migration_test.py
  tests/kafkatest/tests/core/compatibility_test_new_broker_test.py
  tests/kafkatest/tests/core/downgrade_test.py
  tests/kafkatest/tests/core/kraft_upgrade_test.py
  tests/kafkatest/tests/core/transactions_mixed_versions_test.py
  tests/kafkatest/tests/core/transactions_upgrade_test.py
  tests/kafkatest/version.py
  vagrant/base.sh
Labels: tools, tests, build, ci-approved, small

#17780 MINOR: convert ProduceRequestTest to KRaft
  core/src/test/scala/unit/kafka/server/ProduceRequestTest.scala
Labels: core, tests, small

#17786 MINOR: convert GssapiAuthenticationTest to KRaft
  core/src/test/scala/integration/kafka/server/GssapiAuthenticationTest.scala
Labels: core, tests, small

#17803 MINOR: convert SaslClientsWithInvalidCredentialsTest.scala to KRaft
  core/src/test/scala/integration/kafka/api/SaslClientsWithInvalidCredentialsTest.scala
  core/src/test/scala/integration/kafka/server/MultipleListenersWithSameSecurityProtocolBaseTest.scala
Labels: core, tests, small

#17798 KAFKA-17977: Remove new_consumer from E2E
  tests/kafkatest/services/console_consumer.py
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/tests/core/compatibility_test_new_broker_test.py
  tests/kafkatest/tests/core/kraft_upgrade_test.py
  tests/kafkatest/tests/core/quorum_reconfiguration_test.py
Labels: tests, small

#17809 MINOR: update the test.api README.md
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/README.md
Labels: docs, tests, ci-approved, small

#17817 KAFKA-17994: Checked exceptions are not handled
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
Labels: streams, small

#17800 KAFKA-18006: Add 3.9.0 to end-to-end test (streams)
  build.gradle
  gradle/dependencies.gradle
  settings.gradle
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/UpgradeFromValues.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/upgrade-system-tests-39/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  streams/upgrade-system-tests-39/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/upgrade-system-tests-39/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/upgrade-system-tests-39/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-39/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_application_upgrade_test.py
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tools, build, ci-approved

#17516 KAFKA-17648: AsyncKafkaConsumer#unsubscribe swallow TopicAuthorizationException and GroupAuthorizationException
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  core/src/test/scala/integration/kafka/api/GroupAuthorizerIntegrationTest.scala
Labels: core, consumer, KIP-848, ctr, clients

#17739 KAFKA-17948: Potential issue during tryComplete and onComplete simultaneous calls to access global variables
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  server-common/src/main/java/org/apache/kafka/server/purgatory/DelayedOperation.java
Labels: core, KIP-932, ci-approved

#17789 KAFKA-17904: Flaky testMultiConsumerSessionTimeoutOnClose
  core/src/test/scala/integration/kafka/api/PlaintextConsumerPollTest.scala
Labels: core, tests, small

#17777 KAFKA-16460: New consumer times out consuming records in multiple consumer_test.py system tests
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareMembershipManagerTest.java
Labels: consumer, KIP-848, ctr, clients, small

#17773 KAFKA-18001: Support UpdateRaftVoterRequest in KafkaNetworkChannel
  checkstyle/suppressions.xml
  raft/src/main/java/org/apache/kafka/raft/KafkaNetworkChannel.java
  raft/src/test/java/org/apache/kafka/raft/KafkaNetworkChannelTest.java
Labels: kraft, small

#17825 KAFKA-18022: fetchOffsetMetadata handling for minBytes estimation in both common/uncommon cases of share fetch
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
Labels: core, KIP-932, ci-approved, small

#17838 KAFKA-18029: Fix quorum_reconfiguration_test.py (trunk)
  tests/kafkatest/services/kafka/kafka.py
Labels: tests, small

#17811 KAFKA-17987: Remove ZooKeeper related windows scripts
  bin/windows/zookeeper-server-start.bat
  bin/windows/zookeeper-server-stop.bat
  bin/windows/zookeeper-shell.bat
Labels: small

#17805 KAFKA-18017: Fix call order for HB error and group manager
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
Labels: consumer, KIP-848, clients, small

#17822 KAFKA-18019: Make INVALID_PRODUCER_ID_MAPPING a fatal error
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
  core/src/test/scala/integration/kafka/api/ProducerIdExpirationTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsExpirationTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
Labels: core, producer, clients

#17814 KAFKA-17990: Flaky test improvements
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core, tests, KIP-932, ci-approved

#17717 KAFKA-17927: Disallow users to configure `max.in.flight.requests.perconnection` bigger than 5
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/ProducerConfigTest.java
  docs/upgrade.html
Labels: producer, clients, ci-approved, small

#17367 KAFKA-17663: Add metadata caching in PartitionLeaderStrategy
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AbortTransactionHandler.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AdminApiDriver.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AdminApiFuture.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DeleteRecordsHandler.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeProducersHandler.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/ListOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/PartitionLeaderStrategy.java
  clients/src/test/java/org/apache/kafka/clients/admin/internals/PartitionLeaderStrategyIntegrationTest.java
Labels: clients, ci-approved

#17712 KAFKA-17910: Create integration tests for Admin.listGroups and Admin.describeClassicGroups
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  tools/src/test/java/org/apache/kafka/tools/GroupsCommandTest.java
Labels: core, tools, tests

#17829 MINOR: Various cleanups in CoordinatorRuntimeTest
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
Labels: tests

#17840 KAFKA-18003: add test to make sure `Admin#deleteRecords` can handle the corrupted records
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: core, tests, small

#17837 MINOR: Fix incorrect scala example in README of test-common
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/README.md
Labels: docs, tests, ci-approved, small

#17774 KAFKA-14934: KafkaClusterTestKit makes FaultHandler accessible
  core/src/test/java/kafka/server/LogManagerIntegrationTest.java
  core/src/test/scala/unit/kafka/server/AllocateProducerIdsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupHeartbeatRequestTest.scala
  test-common/src/test/java/org/apache/kafka/common/test/KafkaClusterTestKitTest.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterInstance.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/RaftClusterInvocationContext.java
Labels: core, tests, ci-approved

#17835 MINOR: Delete unused `logging` argument for SocketServer#closeSocket
  core/src/main/scala/kafka/network/SocketServer.scala
Labels: core, ci-approved, small

#17824 KAFKA-18016: Modified handling of piggyback acknowledgements in ShareConsumeRequestManager.
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
Labels: consumer, KIP-932, clients, ci-approved, small

#17820 KAFKA-17561: KIP-1091 add operator metrics
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsTelemetryIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/internals/metrics/ClientMetrics.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetrics.java
  streams/src/test/java/org/apache/kafka/streams/internals/metrics/ClientMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetricsTest.java
Labels: streams, kip

#17819 MINOR: remove deadcode, fix comments in the quorum controller.
  metadata/src/main/java/org/apache/kafka/controller/BrokerHeartbeatManager.java
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kraft, small

#17845 Quarantine flaky tests, Nov 18
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
Labels: core, tests, small

#17713 KAFKA-17954: Error getting oldest-iterator-open-since-ms from JMX
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
Labels: streams, ci-approved, small

#17725 KAFKA-17767 Automatically quarantine new tests [5/n]
  .github/actions/run-gradle/action.yml
  .github/scripts/junit.py
  .github/workflows/build.yml
  .github/workflows/ci-complete.yml
  build.gradle
  clients/src/test/java/org/apache/kafka/common/UuidTest.java
  settings.gradle
  test-common/src/main/resources/log4j.properties
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/junit/AutoQuarantinedTestFilter.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/junit/QuarantinedPostDiscoveryFilter.java
  test-common/test-common-runtime/src/main/resources/META-INF/services/org.junit.platform.launcher.PostDiscoveryFilter
  test-common/test-common-runtime/src/main/resources/junit-platform.properties
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/junit/AutoQuarantinedTestFilterTest.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/junit/QuarantinedPostDiscoveryFilterTest.java
Labels: build, clients

#17827 MINOR: Various cleanups in connect:runtime tests
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorClientPolicyIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorRestartApiIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ErrorHandlingIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/StartAndStopCounter.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/TransformationIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SourceConnectorConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/SubmittedRecordsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskThreadedTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperatorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginUtilsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/SynchronizationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/ConnectRestServerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/RestClientTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/KafkaBasedLogTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/SharedTopicAdminTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TestBackgroundThreadExceptionHandler.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TestFuture.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TopicAdminTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnect.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectClusterAssertions.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/WorkerHandle.java
Labels: connect, tests

#17828 MINOR: Various cleanups in coordinator modules
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/EventAccumulatorTest.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/InMemoryPartitionWriter.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/RangeSet.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/UnionSet.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/MetadataImageBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/UnionSetTest.java
  transaction-coordinator/src/test/java/org/apache/kafka/coordinator/transaction/TransactionLogConfigTest.java
Labels: transactions

#17711 KAFKA-17850: fix leaking internal exception in state manager
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
  streams/src/test/java/org/apache/kafka/test/MockCachedKeyValueStore.java
Labels: streams

#17863 MINOR Fix artifact name
  .github/scripts/junit.py
  .github/workflows/ci-complete.yml
Labels: build, small

#17823 KAFKA-17593; [7/N] Introduce CoordinatorExecutor
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorExecutor.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorExecutorImpl.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorShardBuilder.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorExecutorImplTest.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
Labels: KIP-848, KIP-932

#17763 KAFKA-17949: Introduce GroupState and replace ShareGroupState
  clients/src/main/java/org/apache/kafka/clients/admin/ConsumerGroupDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/ConsumerGroupListing.java
  clients/src/main/java/org/apache/kafka/clients/admin/GroupListing.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListConsumerGroupsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListGroupsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/ShareGroupDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/ShareGroupListing.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeConsumerGroupsHandler.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeShareGroupsHandler.java
  clients/src/main/java/org/apache/kafka/common/ConsumerGroupState.java
  clients/src/main/java/org/apache/kafka/common/GroupState.java
  clients/src/main/java/org/apache/kafka/common/ShareGroupState.java
  clients/src/test/java/org/apache/kafka/clients/admin/GroupListingTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupDescribeRequestTest.scala
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsTest.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/GroupInformation.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommand.java
  tools/src/test/java/org/apache/kafka/tools/GroupsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupServiceTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DeleteConsumerGroupsTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DescribeConsumerGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ListConsumerGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ResetConsumerGroupOffsetTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandTest.java
Labels: core, tools, connect, mirror-maker-2, KIP-932, clients, ci-approved

#17834 MINOR: Fix the leak "unknown" `group.coordinator.rebalance.protocols` on document
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
Labels: ci-approved, small

#17860 MINOR: Bump Netty to 4.1.115.Final
  LICENSE-binary
  gradle/dependencies.gradle
Labels: build, small

#17848 MINOR: Fixing typos in property definition: Adding an apostrophe and capitalizing ISR.
  server/src/main/java/org/apache/kafka/server/config/ReplicationConfigs.java
Labels: core, small

#17866 MINOR Fix test-catalog generation
  .github/scripts/junit.py
Labels: build, small

#17861 MINOR: Use JDK 17 in Vagrant after dropping JDK 8
  Vagrantfile
  vagrant/base.sh
Labels: tools, small

#17854 MINOR Increase operations for stale PR workflow
  .github/workflows/stale.yml
Labels: build, small

#17869 KAFKA-18041: Update key for storing global consumer instance id for consistency
  docs/streams/upgrade-guide.html
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsTelemetryIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: streams, small

#17884 KAFKA-16041: Replace Afterburn module with Blackbird
  LICENSE-binary
  build.gradle
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonDeserializer.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonSerializer.java
  gradle/dependencies.gradle
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/connect/JsonConverterBenchmark.java
Labels: connect, performance, build, ci-approved, small

#17412 KAFKA-15387: Remove Connect's deprecated task configurations endpoint
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Herder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
  docs/connect.html
Labels: connect, ci-approved
