Repository apache/kafka, pull requests merged in 2024-01, with the labels that each got.

#14764 KAFKA-15816: Fix leaked sockets in runtime tests
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorTopicsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExactlyOnceSourceIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMemberTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
Labels: connect, tests

#14929 KAFKA-14133: Migrate stateManager mock in StoreChangelogReaderTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
Labels: streams, tests

#15093 KAFKA-16059: Fix thread leak KafkaAPIsTest
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: tests, backport-candidate

#15102 MINOR: avoid unnecessary UnsupportedOperationException
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#15096 KAFKA-9545: Fix IllegalStateException in updateLags
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams

#15104 KAFKA-16063: Prevent memory leak by Disabling shutdownhook
  core/src/test/scala/kafka/security/minikdc/MiniKdc.scala
Labels: tests, backport-candidate

#15073 KAFKA-16046: also fix stores for outer join
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KeyValueStoreMaterializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/OuterStreamJoinStoreFactory.java
  streams/src/main/java/org/apache/kafka/streams/state/BuiltInDslStoreSuppliers.java
  streams/src/main/java/org/apache/kafka/streams/state/DslKeyValueParams.java
  streams/src/main/java/org/apache/kafka/streams/state/DslWindowParams.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamOuterJoinTest.java
Labels: streams

#14771 KAFKA-15816: Fix leaked sockets in trogdor tests
  trogdor/src/test/java/org/apache/kafka/trogdor/agent/AgentTest.java
Labels: tests

#15086 KAFKA-15742: KRaft support in GroupCoordinatorIntegrationTest
  core/src/test/scala/integration/kafka/api/GroupCoordinatorIntegrationTest.scala
Labels: tests, kraft

#15045 MINOR: improve logging for state management
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
Labels: streams

#15116 KAFKA-14133: Migrate storeMetadata mock in StoreChangelogReaderTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
Labels: streams, tests

#14955 MINOR: Prevent java.lang.UnsupportedOperationException in MockAdminClient
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
Labels: tests

#15122 KAFKA-16079: fix threads leak threads in LocalLeaderEndPointTest and other tests
  core/src/test/scala/kafka/server/LocalLeaderEndPointTest.scala
  core/src/test/scala/unit/kafka/server/FinalizedFeatureChangeListenerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerConcurrencyTest.scala
Labels: tests, backport-candidate

#15128 MINOR: Small cleanups in Connect
  connect/basic-auth-extension/src/main/java/org/apache/kafka/connect/rest/basic/auth/extension/BasicAuthSecurityRestExtension.java
  connect/basic-auth-extension/src/main/java/org/apache/kafka/connect/rest/basic/auth/extension/JaasBasicAuthFilter.java
  connect/basic-auth-extension/src/main/java/org/apache/kafka/connect/rest/basic/auth/extension/PropertyFileLoginModule.java
  connect/basic-auth-extension/src/test/java/org/apache/kafka/connect/rest/basic/auth/extension/JaasBasicAuthFilterTest.java
  connect/file/src/test/java/org/apache/kafka/connect/file/FileStreamSinkTaskTest.java
Labels: connect

#14725 Minor: Add KIP-923 to upgrade-guide.html and dsl-api.html
  docs/streams/developer-guide/dsl-api.html
  docs/streams/upgrade-guide.html
Labels: streams, docs

#15135 KAFKA-16086: Fix memory leak in RocksDBStore
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
Labels: streams, backport-candidate

#15119 MINOR: Move Raft io thread implementation to Java
  build.gradle
  checkstyle/import-control.xml
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/test/scala/unit/kafka/raft/RaftManagerTest.scala
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClientDriver.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientDriverTest.java
Labels: kraft

#15117 KAFKA-16077: Streams with state updater fails to close task upon fencing
  streams/src/main/java/org/apache/kafka/streams/processor/internals/PendingUpdateAction.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Tasks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TasksRegistry.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TasksTest.java
Labels: streams, backport-candidate

#15088 KAFKA-16025: Fix orphaned locks when rebalancing and store cleanup race on unassigned task directories
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#15138 MINOR: Add public documentation for metrics introduced in KIP-963
  docs/ops.html
  docs/upgrade.html
Labels: docs

#15143 MINOR: remove classic group preparing rebalance sensor
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetrics.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsTest.java
Labels: KIP-848

#14966 KAFKA-15988: Reuse embedded clusters across test cases in Connect OffsetsApiIntegrationTest suite
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorRestartApiIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/OffsetsApiIntegrationTest.java
Labels: connect, tests

#15153 KAFKA-16094: BrokerRegistrationRequest.logDirs field must be ignorable
  clients/src/main/resources/common/message/BrokerRegistrationRequest.json
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
Labels: kraft

#15157 MINOR: bump dev version for system tests to 3.8
  tests/kafkatest/version.py
Labels: tests

#15077 KAFKA-16074: close leaking threads in replica manager tests
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: tests, backport-candidate

#15112 KAFKA-14133: Migrate consumer mock in TaskManagerTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams, tests

#15134 MINOR: Address occasional UnnecessaryStubbingException in StreamThreadTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, tests

#15028 KAFKA-15747: KRaft support in DynamicConnectionQuotaTest
  core/src/test/scala/integration/kafka/network/DynamicConnectionQuotaTest.scala
Labels: tests

#15168 KAFKA-16098: Verify pending recycle action when standby is re-assigned
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#15170 MINOR: fix custom retry backoff in new group coordinator
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#15142 KAFKA-14505; [4/N] Wire transaction verification
  build.gradle
  checkstyle/import-control.xml
  core/src/main/scala/kafka/coordinator/group/CoordinatorPartitionWriter.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/PartitionWriter.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/InMemoryPartitionWriter.java
  tests/kafkatest/tests/core/transactions_test.py
Labels: KIP-848

#15173 MINOR: Disalow using a group id with only whitespaces in the new consumer group protocol
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-848

#14595 MINOR: Enable kraft test in kafka.api
  core/src/test/scala/integration/kafka/api/ProducerFailureHandlingTest.scala
  core/src/test/scala/integration/kafka/api/ProducerSendWhileDeletionTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsBounceTest.scala
Labels: tests, kraft

#15155 KAFKA-14505; [5/N] Add `UNSTABLE_OFFSET_COMMIT` error support
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
Labels: KIP-848

#14754 KAFKA-15816: Fix leaked sockets in core tests
  core/src/test/scala/integration/kafka/server/GssapiAuthenticationTest.scala
  core/src/test/scala/integration/kafka/tools/MirrorMakerIntegrationTest.scala
  core/src/test/scala/kafka/security/minikdc/MiniKdc.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/epoch/EpochDrivenReplicationProtocolAcceptanceTest.scala
  core/src/test/scala/unit/kafka/server/epoch/LeaderEpochIntegrationTest.scala
Labels: core, tests

#15182 KAFKA-16118; Coordinator unloading fails when replica is deleted
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#15080 KAFKA-16051: Fixed deadlock in StandaloneHerder
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
Labels: connect

#15179 MINOR: Add isRemoteLogEnabled parameter to the Log Loader Javadoc
  core/src/main/scala/kafka/log/LogLoader.scala
Labels: tiered-storage

#15060 KAFKA-15388: Handling remote segment read in case of log compaction
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: backport-candidate, tiered-storage

#15185 KAFKA-15834: Remove NamedTopologyIntegrationTest which leaks clients
  streams/src/test/java/org/apache/kafka/streams/integration/NamedTopologyIntegrationTest.java
Labels: streams, tests

#15199 KAFKA-16139: Fix StreamsUpgradeTest
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/UpgradeFromValues.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
Labels: streams

#15207 KAFKA-16139: Fix StreamsUpgradeTest
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/UpgradeFromValues.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
Labels: streams

#15148 KAFKA-15807: Added support for compression of metrics (KIP-714)
  checkstyle/import-control.xml
  clients/src/main/java/org/apache/kafka/common/requests/PushTelemetryRequest.java
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryReporter.java
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryUtils.java
  clients/src/test/java/org/apache/kafka/common/requests/PushTelemetryRequestTest.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryReporterTest.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryUtilsTest.java
Labels: core

#14212 MINOR: Add test case for follower fetch
  core/src/test/scala/unit/kafka/server/ReplicaFetcherTierStateMachineTest.scala
Labels: tests, tiered-storage

#15208 MINOR: code cleanup
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams

#15017 MINOR: log new coordinator partition load schedule time
  core/src/main/scala/kafka/coordinator/group/CoordinatorLoaderImpl.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorLoader.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#12290 MINOR: Stop leaking threads in BlockingConnectorTest
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/BlockingConnectorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/OffsetsApiIntegrationTest.java
Labels: connect

#13294 KAFKA-5863: Avoid NPE when RestClient calls expecting no-content receive content.
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/HerderRequestHandler.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestClient.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/RestClientTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
Labels: connect

#15154 KAFKA-16087: Avoid data race which drops wrong record when errors.tolerance=all and asynchronous error occurs
  clients/src/main/java/org/apache/kafka/common/utils/ThreadUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/InternalSinkRecord.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/TransformationChain.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/DeadLetterQueueReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/ErrorReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/LogReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/ProcessingContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperator.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/WorkerErrantRecordReporter.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ErrantRecordSinkConnector.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ErrorHandlingIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/InternalSinkRecordTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskThreadedTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/ErrorReporterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/ProcessingContextTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperatorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/WorkerErrantRecordReporterTest.java
Labels: connect

#15210 KAFKA-16113: Add committed and commit sensor to record metrics
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorMetrics.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerRebalanceListenerInvoker.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/AbstractConsumerMetrics.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/RebalanceCallbackMetrics.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerTestBuilder.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
Labels: consumer, ctr

#15217 KAFKA-16141: Fix StreamsStandbyTask system test
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyValueToTimestampedKeyValueByteStoreAdapter.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreQueryUtils.java
Labels: streams

#14763 KAFKA-15827: Prevent KafkaBasedLog subclasses from leaking passed-in clients
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/OffsetSyncStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/KafkaBasedLog.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/KafkaBasedLogTest.java
Labels: connect, mirror-maker-2

#15212 KAFKA-16147; Partition is assigned to two members at the same time
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
Labels: KIP-848

#15233 KAFKA-16166: Generify RetryWithToleranceOperator and ErrorReporter classes
  checkstyle/suppressions.xml
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/TransformationChain.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerMetricsGroup.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSourceTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/DeadLetterQueueReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/ErrorReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/LogReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/ProcessingContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperator.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/WorkerErrantRecordReporter.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ExactlyOnceWorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskThreadedTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/ErrorReporterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperatorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/errors/WorkerErrantRecordReporterTest.java
Labels: connect

#15139 KAFKA-15468 [1/2]: Prevent transaction coordinator reloads on already loaded leaders
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  metadata/src/main/java/org/apache/kafka/image/LocalReplicaChanges.java
  metadata/src/main/java/org/apache/kafka/image/TopicDelta.java
  metadata/src/main/java/org/apache/kafka/image/TopicsDelta.java
  metadata/src/test/java/org/apache/kafka/image/TopicsImageTest.java
Labels: kraft

#15147 KAFKA-7957: Enable testMetricsReporterUpdate
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
Labels: tests

#15205 MINOR: populate TopicName in ConsumerGroupDescribe
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
Labels: KIP-848

#15255 MINOR: Mark ConsumerGroupDescribe API as stable
  clients/src/main/resources/common/message/ConsumerGroupDescribeRequest.json
  clients/src/main/resources/common/message/ConsumerGroupDescribeResponse.json
Labels: KIP-848

#15259 KAFKA-15462: Add groupType enum for KIP-848
  clients/src/main/java/org/apache/kafka/common/GroupType.java
Labels: KIP-848

#15221 KAFKA-14505; [8/8] Update offset delete paths
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
Labels: KIP-848

#15267 KAFKA-16196: Handle invalid whole value casts in the Cast transform gracefully
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/Cast.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/CastTest.java
Labels: connect

#15151 KAFKA-15594: Add version 3.6 to Kafka Streams system tests
  build.gradle
  settings.gradle
  streams/upgrade-system-tests-36/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  streams/upgrade-system-tests-36/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/upgrade-system-tests-36/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/upgrade-system-tests-36/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-36/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_application_upgrade_test.py
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tests

#15133 KAFKA-16085: Add metric value consolidated for topics on a broker for tiered storage.
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/kafka/server/KafkaRequestHandlerTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: tiered-storage

#15269 MINOR: Re-add Uniform assignor to the default ones
  server/src/main/java/org/apache/kafka/server/config/Defaults.java
Labels: KIP-848

#15211 KAFKA-16095: Update list group state type filter to include the states for the new consumer group type
  clients/src/main/java/org/apache/kafka/common/ConsumerGroupState.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinator.scala
  core/src/main/scala/kafka/coordinator/group/GroupMetadata.scala
  core/src/test/scala/unit/kafka/admin/ListConsumerGroupTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroupState.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/classic/ClassicGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsTest.java
Labels: KIP-848

#15000 KAFKA-15942: Implement ConsumerInterceptors in the async consumer
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerInterceptors.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetCommitCallbackInvoker.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerTestBuilder.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetCommitCallbackInvokerTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: consumer, ctr

#15193 KAFKA-16101: KRaft migration documentation is incorrect
  docs/ops.html
Labels: kraft

#14846 KAFKA-15720: KRaft support in DeleteTopicTest
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/admin/DeleteTopicTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: tests

#15196 MINOR: Uniformize error handling/transformation in GroupCoordinatorService
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  server-common/src/main/java/org/apache/kafka/server/util/FutureUtils.java
Labels: KIP-848

#15176 KAFKA-14505; [6/N] Avoid recheduling callback in request thread
  core/src/main/scala/kafka/coordinator/group/CoordinatorPartitionWriter.scala
  core/src/main/scala/kafka/coordinator/group/GroupCoordinator.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: KIP-848

#14693 KAFKA-15711: KRaft support in LogRecoveryTest
  core/src/test/scala/unit/kafka/server/LogRecoveryTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: tests
