Repository apache/kafka, pull requests merged in 2024-09, with the labels that each got.

#17023 KAFKA-12826 Remove Deprecated Class Serdes (Streams)
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/Serdes.scala
Labels: streams

#17049 MINOR: fix JavaDocs of Kafka Streams context classes
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/ProcessingContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/ProcessorContext.java
Labels: streams, docs

#17028 KAFKA-17437: Upgrade commons-validator from 1.7 to 1.9.0
  LICENSE-binary
  gradle/dependencies.gradle
Labels: dependencies

#17050 MINOR: remove get prefix for internal DSL methods
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinLeftSide.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinRightSide.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableKTableJoinMerger.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/CombinedKey.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignTableJoinProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ResponseJoinProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionJoinProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionReceiveProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapper.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapper.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/BaseRepartitionNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/KTableKTableJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamStreamJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/BufferConfigInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/EagerBufferConfigImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/suppress/StrictBufferConfigImpl.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/CombinedKeySchemaTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionJoinProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerdeTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerdeTest.java
Labels: streams

#16956 KAFKA-17442: Handled persister errors with write async calls (KIP-932)
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
Labels: KIP-932

#17061 KAFKA-17450: Reduced the handlers for handling ShareAcknowledgeResponse.
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
Labels: KIP-932

#17045 KAFKA-15859: Introduce remote.list.offsets.request.timeout.ms dynamic config
  checkstyle/suppressions.xml
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
Labels: tiered-storage

#17039 KAFKA-17425: Improve coexistence of consumer and share groups
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupTest.java
Labels: KIP-848, KIP-932

#16951 Back-port KAFKA-16230 to 3.7 branch
  tests/kafkatest/services/verifiable_consumer.py
  tools/src/main/java/org/apache/kafka/tools/VerifiableConsumer.java
Labels: consumer, KIP-848, backport-candidate

#16970 KAFKA-16993: Flaky test shouldInvokeUserDefinedGlobalStateRestoreListener
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
Labels: streams, tests

#17077 MINOR increase develocity expiry to 4 hours
  .github/actions/setup-gradle/action.yml
Labels: build

#17066 KAFKA-17479 Allow ":jar" tasks to be cached [1/n]
  .github/actions/setup-gradle/action.yml
  .github/scripts/junit.py
  .github/workflows/build.yml
  .github/workflows/ci.yml
  build.gradle
Labels: build

#17057 MINOR: Set `group.coordinator.rebalance.protocols` to `classic,consumer` by default
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/java/kafka/admin/ConfigCommandIntegrationTest.java
  core/src/test/java/kafka/test/ClusterInstance.java
  core/src/test/java/kafka/test/ClusterTestExtensionsTest.java
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerAssignorsTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/kafka/utils/TestInfoUtils.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupDescribeRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerProtocolMigrationTest.scala
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigChangeTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/HeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/JoinGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/LeaveGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupDescribeRequestTest.scala
  core/src/test/scala/unit/kafka/server/SyncGroupRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTestUtils.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ListConsumerGroupTest.java
Labels: KIP-848

#17054 KAFKA-16448 Add timestamp to error handler context
  streams/src/main/java/org/apache/kafka/streams/errors/ErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/DefaultErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordDeserializerTest.java
Labels: streams, kip

#17098 KAFKA-17479 Relocate junit XML files [2/n]
  .github/scripts/junit.py
  .github/workflows/build.yml
  build.gradle
Labels: build

#17096 KAFKA-17483: Complete pending share fetch requests on broker close
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
Labels: KIP-932

#17118 KAFKA-15648 Fix flaky QuorumControllerTest#testBootstrapZkMigrationRecord
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManager.java
Labels: tests

#17106 KAFKA-17479 Fix ignoreFailures logic in CI workflow [3/n]
  .github/workflows/build.yml
  build.gradle
Labels: build

#17081 KAFKA-16963: System test for adding and removing voters
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  tests/kafkatest/services/kafka/config_property.py
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/services/kafka/templates/kafka.properties
  tests/kafkatest/tests/core/quorum_reconfiguration_test.py
Labels: kraft, KIP-853

#17004 KAFKA-15793 Fix ZkMigrationIntegrationTest#testMigrateTopicDeletions
  .github/workflows/deflake.yml
  core/src/test/resources/log4j.properties
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
Labels: tests

#16918 MINOR: Improve error message when Connect's EmbeddedKafkaCluster::verifyClusterReadiness method fails
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
Labels: connect, tests

#17121 KAFKA-17479 Fail the whole pipeline if junit step times out [4/n]
  .github/scripts/junit.py
  .github/workflows/build.yml
Labels: build

#17104 KAFKA-17486: Flaky test RestoreIntegrationTest.shouldInvokeUserDefinedGlobalStateRestoreListener
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
Labels: streams, tests

#16505 KAFKA-14460: Skip removed entries from in-memory KeyValueIterator
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/DelegatingPeekingKeyValueIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStore.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/InMemoryKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ListValueStoreTest.java
Labels: streams

#17005 KAFKA-16863 : Deprecate default exception handlers
  docs/streams/developer-guide/config-streams.html
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams, kip

#17113 MINOR: Clean up logic to enable/disable new group coordinator in system tests
  tests/kafkatest/services/kafka/config.py
  tests/kafkatest/services/kafka/kafka.py
Labels: KIP-848

#17100 MINOR: Simplify the test for `ListOffsetsRequestTest#testListOffsetsRequestOldestVersion`
  clients/src/test/java/org/apache/kafka/common/requests/ListOffsetsRequestTest.java
  core/src/test/scala/unit/kafka/server/ListOffsetsRequestTest.scala
Labels: tests

#16127 KAFKA-17477:Topic command integration test migrate to new test infra
  tools/src/test/java/org/apache/kafka/tools/TopicCommandIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
Labels: tools, tests

#17123 MINOR Allow PRs to publish build scan
  .github/workflows/build.yml
  .github/workflows/ci-complete.yml
  .github/workflows/ci.yml
Labels: build

#17097 KAFKA-17482: Make share partition initialization async (KIP-932)
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
Labels: KIP-932

#17105 MINOR Enable the GitHub build by default
  .github/workflows/build.yml
  .github/workflows/ci.yml
  approve-workflows.py
Labels: build

#17140 MINOR Add status check for gradle scan
  .github/actions/gh-api-update-status/action.yml
  .github/workflows/build.yml
  .github/workflows/ci-complete.yml
Labels: build

#17109 KAFKA-17470: CommitRequestManager should record failed request only once even if multiple errors in response
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
Labels: consumer, KIP-848

#17142 MINOR Explicitly grant statuses: write permission
  .github/workflows/ci-complete.yml
Labels: build

#17044 KAFKA-14772: Add ConsumerGroupHeartbeat and ConsumerGroupDescribe API to AuthorizerIntegrationTest
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
Labels: KIP-848

#17144 MINOR Revert logging change
  core/src/test/resources/log4j.properties
Labels: build

#17152 MINOR Fix trunk build scan
  .github/workflows/build.yml
  .github/workflows/ci.yml
Labels: build

#16898 KAFKA-17306; Soften the validation when replaying tombstones
  core/src/main/scala/kafka/coordinator/group/CoordinatorLoaderImpl.scala
  core/src/test/scala/integration/kafka/api/GroupCoordinatorIntegrationTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/ModernGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-848

#17108 KAFKA-16331: Remove EOSv1 from Kafka Streams system tests
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/tests/BrokerCompatibilityTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsEosTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
  tests/kafkatest/tests/streams/streams_eos_test.py
  tests/kafkatest/tests/streams/streams_smoke_test.py
Labels: streams, tests

#17156 MINOR: Change ForeachProcessor as Java doc deprecated not a comment
  streams/src/main/java/org/apache/kafka/streams/kstream/ForeachProcessor.java
Labels: streams

#17153 KAFKA-15793 Disable testMigrateTopicDeletions for 4.0
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
Labels: tests

#17158 MINOR Handle new Gradle exit code behavior in deflake.yml
  .github/workflows/deflake.yml
Labels: build

#16916 KAFKA-17290: Added Integration tests for ShareFetch and ShareAcknowledge APIs
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
Labels: KIP-932

#17147 KAFKA-17506 KRaftMigrationDriver initialization race
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
Labels: kraft

#17046 KAFKA-17347: Add missing client-metrics option to kafka-configs.sh
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  core/src/test/java/kafka/admin/ConfigCommandIntegrationTest.java
  core/src/test/java/kafka/admin/ConfigCommandTest.java
Labels: kip

#17075 KAFKA-17448: New consumer seek should update positions in background thread
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/SeekUnvalidatedEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
Labels: consumer, KIP-848, ctr

#16969 KAFKA-17400: Added share fetch purgatory for delaying share fetch requests
  checkstyle/suppressions.xml
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/DelayedShareFetchKey.java
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/java/kafka/server/share/DelayedShareFetchKeyTest.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  server/src/main/java/org/apache/kafka/server/config/ShareGroupConfig.java
Labels: KIP-932

#17166 KAFKA-15073 Close stale PRs [2/n]
  .github/workflows/stale.yml
Labels: build

#17126 KAFKA-16332 Remove Deprecated builder methods for Time/Session/Join/SlidingWindows
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SlidingWindows.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindows.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/InternalTopicIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationDedupIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/SessionWindowsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/SlidingWindowsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/TimeWindowsTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SessionWindowedCogroupedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SlidingWindowedCogroupedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SuppressScenarioTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SuppressTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TimeWindowTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TimeWindowedCogroupedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: streams

#17145 KAFKA-8666: Improve Documentation on usage of Materialized config object
  streams/src/main/java/org/apache/kafka/streams/kstream/Materialized.java
Labels: streams, docs

#17059 KAFKA-12829: Remove deprecated StreamsBuilder#addGlobalStore of old Processor API
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamsUncaughtExceptionHandlerIntegrationTest.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/StreamsBuilder.scala
Labels: streams

#17162 MINOR Move some things into committer-tools
  committer-tools/README.md
  committer-tools/approve-workflows.py
  committer-tools/find-unfinished-test.py
  committer-tools/kafka-merge-pr.py
  committer-tools/reviewers.py
Labels: tools

#17164 KAFKA-17253: Deprecate Leaking Getter Methods in Joined Helper Class
  streams/src/main/java/org/apache/kafka/streams/kstream/Joined.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/JoinedInternal.java
Labels: streams

#17171 KAFKA-17427: Deprecate leaking *_DOC variables in StreamsConfig
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams, kip

#17178 Refactored share module classes and minor fix
  checkstyle/import-control-share.xml
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  share/src/main/java/org/apache/kafka/server/share/context/FinalContext.java
  share/src/main/java/org/apache/kafka/server/share/context/ShareFetchContext.java
  share/src/main/java/org/apache/kafka/server/share/context/ShareSessionContext.java
  share/src/main/java/org/apache/kafka/server/share/session/LastUsedKey.java
  share/src/main/java/org/apache/kafka/server/share/session/ShareSession.java
  share/src/main/java/org/apache/kafka/server/share/session/ShareSessionCache.java
  share/src/main/java/org/apache/kafka/server/share/session/ShareSessionKey.java
  share/src/test/java/org/apache/kafka/server/share/session/ShareSessionCacheTest.java
  share/src/test/java/org/apache/kafka/server/share/session/ShareSessionTest.java
Labels: KIP-932

#17180 KAFKA-17524: Add timeout to StreamThreadTest
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, tests

#17181 MINOR Add a thread dump on build timeout
  .github/scripts/junit.py
  .github/scripts/thread-dump.sh
  .github/workflows/build.yml
Labels: build

#17194 MINOR: Update to 4.1.0 of `setup-gradle` action
  .github/actions/setup-gradle/action.yml
Labels: build

#17169 KAFKA-17527: Fix NPE for null RecordContext
  streams/src/main/java/org/apache/kafka/streams/errors/ErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/DefaultErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams

#17192 KAFKA-17543: Enforce that broker.id.generation.enable is not used when migrating to KRaft
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaServerTest.scala
Labels: kraft

#17195 MINOR Always publish build scan in CI Complete workflow
  .github/actions/gh-api-update-status/action.yml
  .github/workflows/build.yml
  .github/workflows/ci-complete.yml
Labels: build

#17197 MINOR: Log reason holding the completion of the join phase in the classic protocol
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: KIP-848

#16885 KAFKA-17066: new consumer updateFetchPositions all in background thread
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/CheckAndUpdatePositionsEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ValidatePositionsEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
Labels: consumer, KIP-848, ctr

#17183 MINOR: Need to split the controller bootstrap servers on ',' in list comprehenson
  tests/kafkatest/services/kafka/kafka.py
Labels: tests

#16602 KAFKA-15859: Make RemoteListOffsets call an async operation
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/log/remote/RemoteLogOffsetReader.java
  core/src/main/java/kafka/server/builders/ReplicaManagerBuilder.java
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/log/OffsetResultHolder.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/server/DelayedRemoteListOffsets.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/log/remote/RemoteLogOffsetReaderTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/scala/integration/kafka/server/DelayedRemoteListOffsetsTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/LogOffsetTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestBuilder.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestContext.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ExpectListOffsetsAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/ListOffsetsTest.java
Labels: tiered-storage

#17110 KAFKA-16331: Remove EOSv1 from Kafka Streams integration tests
  streams/src/test/java/org/apache/kafka/streams/integration/EOSUncleanShutdownIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosV2UpgradeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/JoinGracePeriodDurabilityIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableSourceTopicRestartIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetPartitionTimeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionDurabilityIntegrationTest.java
Labels: streams, tests

#17203 MINOR: fix rawtype warning in StandbyTask
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTaskCreator.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
Labels: streams

#17216 MINOR: update documentation link to 3.9
  docs/documentation.html
Labels: docs

#17076 KAFKA-17048; Add docs for KIP-853
  config/kraft/broker.properties
  config/kraft/controller.properties
  config/kraft/server.properties
  docs/ops.html
  docs/quickstart.html
  docs/security.html
Labels: kraft, KIP-853

#17191 KAFKA-17553 Fix shutdown race condition in StreamThreadTest
  streams/src/main/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskExecutor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/tasks/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskExecutorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskManagerTest.java
Labels: streams

#17232 KAFKA-17579: Dynamic LogCleaner configurations are not picked up on restart
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
Labels: core

#17229 MINOR Group the junit parser console logs
  .github/scripts/junit.py
Labels: build

#17227 MINOR Fix is-public-fork input type
  .github/actions/gh-api-update-status/action.yml
  .github/actions/setup-gradle/action.yml
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
Labels: build

#17239 HOTFIX Fix ci.yml for push event
  .github/workflows/ci.yml
Labels: build

#17208 KAFKA-17542: Use actions/labeler for automatic PR labeling
  .github/configs/labeler.yml
  .github/workflows/labeler.yml
Labels: build

#17170 KAFKA-16331: remove EOSv1 config from StreamsConfig
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/StreamsConfigUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskExecutorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#17206 MINOR: fix generics in streams-test-utils package
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
Labels: streams

#17179 KAFKA-17528: Remove whitelist/blacklist from JMXReporter
  clients/src/main/java/org/apache/kafka/common/metrics/JmxReporter.java
  docs/upgrade.html
Labels: clients

#17212 KAFKA-16331: remove EOSv1 from StreamsProducer
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ClientUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ThreadMetadataImpl.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ThreadMetadataImplTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#17207 MINOR: fixing JavaDocs and other cleanup
  streams/src/main/java/org/apache/kafka/streams/ClientInstanceIds.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/KeyQueryMetadata.java
  streams/src/main/java/org/apache/kafka/streams/LagInfo.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/StreamsMetrics.java
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/TopologyDescription.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams

#17133 KAFKA-17495: Factor out assignor benchmark code into utils class
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/AssignorBenchmarkUtils.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: KIP-848

#17205 MINOR: Fix SubscriptionResponseWrapperSerializer
  streams/src/main/java/org/apache/kafka/streams/errors/ProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerde.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionResponseWrapperSerdeTest.java
Labels: streams

#17250 KAFKA-17459: Stablize reassign_partitions_test.py
  tests/kafkatest/tests/core/reassign_partitions_test.py
Labels: tests

#17235 MINOR; Replace gt and lt char with html encoding
  docs/ops.html
Labels: docs

#17256 MINOR: add a space for kafka.metrics.polling.interval.secs description
  server/src/main/java/org/apache/kafka/server/metrics/MetricConfigs.java
Labels: core

#17262 KAFKA-17469: Moved share external interfaces to share module.
  build.gradle
  checkstyle/import-control-share-coordinator.xml
  checkstyle/import-control-share.xml
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/PersisterOffsetsStateBatch.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
  share/src/main/java/org/apache/kafka/server/share/DeleteShareGroupStateParameters.java
  share/src/main/java/org/apache/kafka/server/share/DeleteShareGroupStateResult.java
  share/src/main/java/org/apache/kafka/server/share/GroupTopicPartitionData.java
  share/src/main/java/org/apache/kafka/server/share/InitializeShareGroupStateParameters.java
  share/src/main/java/org/apache/kafka/server/share/InitializeShareGroupStateResult.java
  share/src/main/java/org/apache/kafka/server/share/NoOpShareStatePersister.java
  share/src/main/java/org/apache/kafka/server/share/PartitionAllData.java
  share/src/main/java/org/apache/kafka/server/share/PartitionData.java
  share/src/main/java/org/apache/kafka/server/share/PartitionErrorData.java
  share/src/main/java/org/apache/kafka/server/share/PartitionFactory.java
  share/src/main/java/org/apache/kafka/server/share/PartitionIdData.java
  share/src/main/java/org/apache/kafka/server/share/PartitionIdLeaderEpochData.java
  share/src/main/java/org/apache/kafka/server/share/PartitionInfoData.java
  share/src/main/java/org/apache/kafka/server/share/PartitionStateBatchData.java
  share/src/main/java/org/apache/kafka/server/share/PartitionStateData.java
  share/src/main/java/org/apache/kafka/server/share/PartitionStateErrorData.java
  share/src/main/java/org/apache/kafka/server/share/Persister.java
  share/src/main/java/org/apache/kafka/server/share/PersisterParameters.java
  share/src/main/java/org/apache/kafka/server/share/PersisterResult.java
  share/src/main/java/org/apache/kafka/server/share/PersisterStateBatch.java
  share/src/main/java/org/apache/kafka/server/share/ReadShareGroupStateParameters.java
  share/src/main/java/org/apache/kafka/server/share/ReadShareGroupStateResult.java
  share/src/main/java/org/apache/kafka/server/share/ReadShareGroupStateSummaryParameters.java
  share/src/main/java/org/apache/kafka/server/share/ReadShareGroupStateSummaryResult.java
  share/src/main/java/org/apache/kafka/server/share/SharePartitionKey.java
  share/src/main/java/org/apache/kafka/server/share/TopicData.java
  share/src/main/java/org/apache/kafka/server/share/WriteShareGroupStateParameters.java
  share/src/main/java/org/apache/kafka/server/share/WriteShareGroupStateResult.java
Labels: core, KIP-932

#17237 KAFKA-17530: Remove blacklist/whitelist from ReplaceField
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/ReplaceField.java
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/ReplaceFieldTest.java
  docs/upgrade.html
Labels: connect

#17252 KAFKA-17585: `offsetResetStrategyTimestamp` should return `long` instead of `Long`
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetFetcherUtils.java
Labels: consumer, clients

#17193 KAFKA-17076: retain last batch in each round of cleaning
  core/src/main/scala/kafka/log/LogCleaner.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
Labels: core

#17233 KAFKA-17578: Remove partitionRacks from TopicMetadata
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/ModernGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/SubscribedTopicDescriberImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TopicMetadata.java
  group-coordinator/src/main/resources/common/message/ConsumerGroupPartitionMetadataValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/RangeAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/SimpleAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/SubscribedTopicMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TopicMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/AssignorBenchmarkUtils.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: performance, KIP-848

#17257 KAFKA-17592: Support for SubscribedTopicsRegex in ConsumerGroupHeartbeat RPC
  clients/src/main/java/org/apache/kafka/common/errors/InvalidRegularExpression.java
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  clients/src/main/java/org/apache/kafka/common/requests/ConsumerGroupHeartbeatResponse.java
  clients/src/main/resources/common/message/ConsumerGroupHeartbeatRequest.json
  clients/src/main/resources/common/message/ConsumerGroupHeartbeatResponse.json
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: core, KIP-848, clients

#17222 KAFKA-17087: Deprecate `delete-config` of TopicCommand
  docs/upgrade.html
  tools/src/main/java/org/apache/kafka/tools/TopicCommand.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
Labels: tools

#17267 KAFKA-17602: Remove `ConfigUtils.translateDeprecatedConfigs` from JmxReporter
  clients/src/main/java/org/apache/kafka/common/metrics/JmxReporter.java
Labels: clients

#17240 KAFKA-17520: Align ducktape version in tests/docker/Dockerfile and tests/setup.py
  tests/docker/Dockerfile
  tests/setup.py
Labels: tests

#17271 MINOR: Update LICENSE-binary with missing licenses
  LICENSE-binary
  licenses/hdrHistogram-BSD-2-clause
Labels: packaging

#17231 KAFKA-16908: Refactor `QuorumConfig` with `AbstractConfig`
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaRaftServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/tools/TestRaftServer.scala
  core/src/test/scala/unit/kafka/raft/RaftManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  raft/src/main/java/org/apache/kafka/raft/QuorumConfig.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftEventSimulationTest.java
Labels: core, kraft

#17273 MINOR Disable Jenkins build
  Jenkinsfile
Labels: build

#17265 KAFKA-14563: add feature version supports in the producers and ApiVersions. (#117)
  clients/src/main/java/org/apache/kafka/clients/ApiVersions.java
  clients/src/main/java/org/apache/kafka/clients/NetworkClient.java
  clients/src/main/java/org/apache/kafka/clients/NodeApiVersions.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  clients/src/test/java/org/apache/kafka/clients/ApiVersionsTest.java
  clients/src/test/java/org/apache/kafka/clients/NodeApiVersionsTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
Labels: producer, transactions, clients

#17163 KAFKA-17057: Add RETRY option to ProductionExceptionHanlder
  streams/src/main/java/org/apache/kafka/streams/errors/DefaultProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/test/java/org/apache/kafka/streams/integration/SwallowUnknownTopicErrorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams, kip

#17112 KAFKA-15859: Add timeout field to the ListOffsets request
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/ListOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetFetcher.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManager.java
  clients/src/main/java/org/apache/kafka/common/requests/ListOffsetsRequest.java
  clients/src/main/resources/common/message/ListOffsetsRequest.json
  clients/src/main/resources/common/message/ListOffsetsResponse.json
  clients/src/test/java/org/apache/kafka/clients/admin/internals/ListOffsetsHandlerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetFetcherTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/common/requests/ListOffsetsRequestTest.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/test/annotation/ClusterTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
Labels: core, consumer, tiered-storage, clients

#17258 KAFKA-17584: Fix incorrect synonym handling for dynamic log configurations
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
Labels: core

#17277 KAFKA-17496: Add heterogeneous case to TargetAssignmentBuilderBenchmark
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: performance, KIP-848

#17274 KAFKA-17571; Revert "MINOR: Log pending join members (#17219)"
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
Labels: KIP-848

#17269 Refactored and fixed minor share fetch code (KIP-932)
  build.gradle
  checkstyle/import-control-share.xml
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/DelayedShareFetchKey.java
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  share/src/main/java/org/apache/kafka/server/share/SharePartitionKey.java
  share/src/main/java/org/apache/kafka/server/share/acknowledge/ShareAcknowledgementBatch.java
  share/src/main/java/org/apache/kafka/server/share/fetch/ShareFetchData.java
Labels: core, KIP-932

#17276 KAFKA-17612: Remove some tests that only apply to ZK mode or migration
  clients/src/test/java/org/apache/kafka/common/requests/LeaderAndIsrRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/LeaderAndIsrResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/StopReplicaRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/StopReplicaResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/UpdateMetadataRequestTest.java
  core/src/test/scala/integration/kafka/zk/ZkMigrationFailoverTest.scala
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  core/src/test/scala/kafka/zk/ExtendedAclStoreTest.scala
  core/src/test/scala/kafka/zk/FeatureZNodeTest.scala
  core/src/test/scala/kafka/zk/LiteralAclStoreTest.scala
  core/src/test/scala/kafka/zk/TopicPartitionStateZNodeTest.scala
  core/src/test/scala/unit/kafka/common/ZkNodeChangeNotificationListenerTest.scala
  core/src/test/scala/unit/kafka/controller/ControllerChannelManagerTest.scala
  core/src/test/scala/unit/kafka/controller/ControllerContextTest.scala
  core/src/test/scala/unit/kafka/controller/ControllerEventManagerTest.scala
  core/src/test/scala/unit/kafka/controller/ControllerFailoverTest.scala
  core/src/test/scala/unit/kafka/controller/ControllerIntegrationTest.scala
  core/src/test/scala/unit/kafka/controller/KafkaControllerTest.scala
  core/src/test/scala/unit/kafka/controller/MockPartitionStateMachine.scala
  core/src/test/scala/unit/kafka/controller/MockReplicaStateMachine.scala
  core/src/test/scala/unit/kafka/controller/PartitionLeaderElectionAlgorithmsTest.scala
  core/src/test/scala/unit/kafka/controller/PartitionStateMachineTest.scala
  core/src/test/scala/unit/kafka/controller/ReplicaStateMachineTest.scala
  core/src/test/scala/unit/kafka/controller/TopicDeletionManagerTest.scala
  core/src/test/scala/unit/kafka/migration/MigrationPropagatorTest.scala
  core/src/test/scala/unit/kafka/security/auth/ZkAuthorizationTest.scala
  core/src/test/scala/unit/kafka/security/authorizer/AclAuthorizerWithZkSaslTest.scala
  core/src/test/scala/unit/kafka/security/token/delegation/DelegationTokenManagerTest.scala
  core/src/test/scala/unit/kafka/server/AdvertiseBrokerTest.scala
  core/src/test/scala/unit/kafka/server/BrokerEpochIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/ControllerIdMetricTest.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigTest.scala
  core/src/test/scala/unit/kafka/server/FinalizedFeatureChangeListenerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaServerTest.scala
  core/src/test/scala/unit/kafka/server/LeaderElectionTest.scala
  core/src/test/scala/unit/kafka/server/ServerGenerateBrokerIdTest.scala
  core/src/test/scala/unit/kafka/server/ServerGenerateClusterIdTest.scala
  core/src/test/scala/unit/kafka/server/ServerStartupTest.scala
  core/src/test/scala/unit/kafka/server/StopReplicaRequestTest.scala
  core/src/test/scala/unit/kafka/server/TopicIdWithOldInterBrokerProtocolTest.scala
  core/src/test/scala/unit/kafka/server/UpdateFeaturesTest.scala
  core/src/test/scala/unit/kafka/server/ZkAdminManagerTest.scala
  core/src/test/scala/unit/kafka/server/epoch/EpochDrivenReplicationProtocolAcceptanceTest.scala
  core/src/test/scala/unit/kafka/server/epoch/EpochDrivenReplicationProtocolAcceptanceWithIbp26Test.scala
  core/src/test/scala/unit/kafka/server/metadata/ZkConfigRepositoryTest.scala
  core/src/test/scala/unit/kafka/utils/ReplicationUtilsTest.scala
  core/src/test/scala/unit/kafka/zk/AdminZkClientTest.scala
  core/src/test/scala/unit/kafka/zk/KafkaZkClientTest.scala
  core/src/test/scala/unit/kafka/zk/ReassignPartitionsZNodeTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkAclMigrationClientTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkConfigMigrationClientTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkMigrationClientTest.scala
  core/src/test/scala/unit/kafka/zk/migration/ZkMigrationTestHarness.scala
  core/src/test/scala/unit/kafka/zookeeper/ZooKeeperClientTest.scala
  metadata/src/test/java/org/apache/kafka/metadata/migration/BufferingBatchConsumerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationDriverTest.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/KRaftMigrationZkWriterTest.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/MigrationManifestTest.java
Labels: core, tests, kraft, clients

#17287 HOTFIX: fix failed cases in FeatureCommandTest
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: tools, tests

#16982 KAFKA-16792: Enable consumer unit tests that fail to fetch offsets only for new consumer with poll(0)
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
Labels: consumer, tests, KIP-848, ctr, clients

#17146 KAFKA-17608: KRaft controller crashes when leader is removed from quorum
  metadata/src/main/java/org/apache/kafka/controller/OffsetControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/tests/core/quorum_reconfiguration_test.py
Labels: tests, kraft, KIP-853

#17288 KAFKA-17621; Reduce logging verbosity on ConsumerGroupHeartbeat path
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: KIP-848

#17223 KAFKA-17563: Move `RequestConvertToJson` to server module
  checkstyle/import-control-server.xml
  checkstyle/suppressions.xml
  core/src/main/scala/kafka/network/RequestChannel.scala
  core/src/main/scala/kafka/network/RequestConvertToJson.scala
  core/src/test/scala/unit/kafka/network/RequestChannelTest.scala
  core/src/test/scala/unit/kafka/network/RequestConvertToJsonTest.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/common/FetchRequestBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/common/ListOffsetRequestBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/common/ProduceRequestBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/KRaftMetadataRequestBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/MetadataRequestBenchmark.java
  server/src/main/java/org/apache/kafka/network/RequestConvertToJson.java
  server/src/test/java/org/apache/kafka/network/RequestConvertToJsonTest.java
Labels: core, performance

#17165 KAFKA-17154: New consumer subscribe may join group without a call to consumer.poll
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
Labels: consumer, KIP-848, ctr, clients

#16912 KAFKA-16683: Extract security-related helpers from scala.TestUtils to java class
  core/src/test/java/kafka/security/JaasTestUtils.java
  core/src/test/scala/integration/kafka/api/BaseProducerSendTest.scala
  core/src/test/scala/integration/kafka/api/DescribeAuthorizedOperationsTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/api/SaslClientsWithInvalidCredentialsTest.scala
  core/src/test/scala/integration/kafka/api/SaslPlainSslEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/SaslSetup.scala
  core/src/test/scala/integration/kafka/api/SslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SslEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/integration/kafka/server/IntegrationTestUtils.scala
  core/src/test/scala/integration/kafka/server/MultipleListenersWithSameSecurityProtocolBaseTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsOnPlainTextTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsWithDisableTokenFeatureTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core, tests

#17291 MINOR: Remove duplicate method
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
Labels: tests, clients

#17093 KAFKA-17277: [2/2] Add feature dependency command to the storage and the feature command tool
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  tools/src/main/java/org/apache/kafka/tools/FeatureCommand.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: core, tools

#17182 KAFKA-17488: Cleanup (test) code for Kafka Streams "metric version"
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSessionWindowAggregateProcessorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/MockStreamsMetrics.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SourceNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImplTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractDualSchemaRocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingKeyValueBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/GlobalStateStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/KeyValueSegmentTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBTimeOrderedKeyValueBufferTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimestampedSegmentTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderGaugesTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBMetricsRecorderTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/api/MockProcessorContext.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
Labels: streams

#17259 KAFKA-16331: remove KafkaClientSupplier from StreamsProducer
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ClientUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsProducerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/KeyValueStoreTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#17290 KAFKA-17628 New workflows for automating run approvals
  .github/actions/gh-api-approve-run/action.yml
  .github/workflows/ci-requested.yml
  .github/workflows/pr-labeled.yml
  committer-tools/README.md
  committer-tools/approve-workflows.py
Labels: tools, build

#17289 KAFKA-17626: Move common fetch related classes from storage to server-common
  build.gradle
  checkstyle/import-control-share.xml
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/coordinator/group/CoordinatorLoaderImpl.scala
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/main/scala/kafka/server/DelayedFetch.scala
  core/src/main/scala/kafka/server/DelayedRemoteFetch.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/LocalLeaderEndPoint.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  core/src/test/scala/integration/kafka/server/DelayedFetchTest.scala
  core/src/test/scala/integration/kafka/server/DelayedRemoteFetchTest.scala
  core/src/test/scala/other/kafka/StressTestLog.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorLoaderImplTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/log/BrokerCompressionTest.scala
  core/src/test/scala/unit/kafka/log/LogConcurrencyTest.scala
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogTestUtils.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaAlterLogDirsThreadTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerQuotasTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  server-common/src/main/java/org/apache/kafka/server/storage/log/FetchIsolation.java
  server-common/src/main/java/org/apache/kafka/server/storage/log/FetchParams.java
  server-common/src/main/java/org/apache/kafka/server/storage/log/FetchPartitionData.java
  share/src/main/java/org/apache/kafka/server/share/fetch/ShareFetchData.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteStorageFetchInfo.java
Labels: core, storage, KIP-932

#17295 MINOR: Set default `group.consumer.migration.policy` to `BIDIRECTIONAL`
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
Labels: KIP-848

#17284 KAFKA-17619: Remove zk type and instance from ClusterTest
  core/src/test/java/kafka/admin/AclCommandTest.java
  core/src/test/java/kafka/admin/ConfigCommandIntegrationTest.java
  core/src/test/java/kafka/test/ClusterConfig.java
  core/src/test/java/kafka/test/ClusterInstance.java
  core/src/test/java/kafka/test/ClusterTestExtensionsTest.java
  core/src/test/java/kafka/test/annotation/ClusterConfigProperty.java
  core/src/test/java/kafka/test/annotation/ClusterTestDefaults.java
  core/src/test/java/kafka/test/annotation/Type.java
  core/src/test/java/kafka/test/junit/README.md
  core/src/test/java/kafka/test/junit/ZkClusterInvocationContext.java
  core/src/test/scala/integration/kafka/api/GroupCoordinatorIntegrationTest.scala
  core/src/test/scala/integration/kafka/coordinator/transaction/ProducerIdsIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/KafkaServerKRaftRegistrationTest.scala
  core/src/test/scala/unit/kafka/server/ApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ClientQuotasRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupDescribeRequestTest.scala
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeQuorumRequestTest.scala
  core/src/test/scala/unit/kafka/server/HeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/LeaveGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/SaslApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/SyncGroupRequestTest.scala
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/GetOffsetShellTest.java
  tools/src/test/java/org/apache/kafka/tools/MetadataQuorumCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTestUtils.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ListConsumerGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandTest.java
Labels: core, tools, tests

#17016 KAFKA-14572: Migrate EmbeddedKafkaCluster used by Streams integration tests from EmbeddedZookeeper to KRaft
  build.gradle
  checkstyle/import-control.xml
  streams/src/test/java/org/apache/kafka/streams/integration/AbstractResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/AdjustStreamThreadCountTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/HighAvailabilityTaskAssignorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2StoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/JoinGracePeriodDurabilityIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/JoinStoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/JoinWithIncompleteMetadataIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableSourceTopicRestartIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsCloseOptionsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/NamedTopologyIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/PositionRestartIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/QueryableStateIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RangeQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetIntegrationWithSslTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetPartitionTimeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSMultiRebalanceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StateDirectoryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamsUncaughtExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionDurabilityIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TaskMetadataIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/EmbeddedKafkaCluster.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/KafkaEmbedded.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/HandlingSourceTopicDeletionIntegrationTest.java
Labels: streams, tests

#17305 KAFKA-17636 Fix scram bootstrap records
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
Labels: core, tools

#17299 MINOR Don't run tests for Draft PRs
  .github/actions/gh-api-update-check/action.yml
  .github/workflows/build.yml
  .github/workflows/ci-complete.yml
  .github/workflows/ci.yml
Labels: build

#17215 KAFKA-6197: Update Streams API and Javadoc references in documentation
  docs/api.html
  docs/documentation.html
  docs/streams/index.html
  docs/toc.html
Labels: streams, docs

#16761 KAFKA-12823 Remove Deprecated method KStream#through (KIP-1087)
  core/src/main/scala/kafka/tools/StreamsResetter.java
  docs/streams/developer-guide/app-reset-tool.html
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphTest.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
  tools/src/main/java/org/apache/kafka/tools/StreamsResetter.java
Labels: streams, kip

#17263 KAFKA-17473 Speed Up ClientTelemetryTest
  core/src/test/java/kafka/admin/ClientTelemetryTest.java
Labels: core, tests, ci-approved

#17314 KAFKA-17653 Update Scala version to 2.13.15 for support Java 23
  LICENSE-binary
  bin/kafka-run-class.sh
  bin/windows/kafka-run-class.bat
  gradle.properties
  gradle/dependencies.gradle
Labels: build, ci-approved

#17196 MINOR: Fix DefaultRecordBatch and DefaultRecord protocol documentation.
  clients/src/main/java/org/apache/kafka/common/record/DefaultRecord.java
  clients/src/main/java/org/apache/kafka/common/record/DefaultRecordBatch.java
  docs/implementation.html
Labels: clients

#17132 KAFKA-17498: Reduce the number of remote calls when serving LIST_OFFSETS request
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: core, tiered-storage

#17209 KAFKA-17109: Move lock backoff retry to streams TaskManager
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateManagerUtil.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StandbyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateDirectoryTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateManagerUtilTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#17294 MINOR: Fix kafkatest advertised listeners
  tests/kafkatest/services/kafka/kafka.py
Labels: tests

#17304 KAFKA-17634: Tweak wakeup logic to match WakeupTrigger changes
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/WakeupTrigger.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImplTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/WakeupTriggerTest.java
Labels: consumer, clients, ci-approved

#16522 KAFKA-17078: Add SecurityManagerCompatibility shim
  clients/src/main/java/org/apache/kafka/common/internals/CompositeStrategy.java
  clients/src/main/java/org/apache/kafka/common/internals/LegacyStrategy.java
  clients/src/main/java/org/apache/kafka/common/internals/ModernStrategy.java
  clients/src/main/java/org/apache/kafka/common/internals/ReflectiveStrategy.java
  clients/src/main/java/org/apache/kafka/common/internals/SecurityManagerCompatibility.java
  clients/src/main/java/org/apache/kafka/common/internals/UnsupportedStrategy.java
  clients/src/main/java/org/apache/kafka/common/security/authenticator/SaslClientAuthenticator.java
  clients/src/main/java/org/apache/kafka/common/security/authenticator/SaslClientCallbackHandler.java
  clients/src/main/java/org/apache/kafka/common/security/authenticator/SaslServerAuthenticator.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/OAuthBearerSaslClientCallbackHandler.java
  clients/src/test/java/org/apache/kafka/common/internals/SecurityManagerCompatibilityTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/OAuthBearerSaslClientCallbackHandlerTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/ClassLoaderFactory.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginScanner.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/SynchronizationTest.java
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
Labels: core, connect, clients

#17307 MINOR: Fix formatting of control.plane.listener.name.doc
  server/src/main/java/org/apache/kafka/network/SocketServerConfigs.java
Labels: core
