Repository apache/kafka, pull requests merged in 2024-10, with the labels that each got.

#17280 KAFKA-17606: Include Rat errors in GitHub workflow summary
  .github/scripts/rat.py
  .github/workflows/build.yml
Labels: build, ci-approved

#17204 KAFKA-17540: Create script for updating a reference of latest cached trunk commit
  committer-tools/update-cache.sh
Labels: tools, build

#17334 KAFKA-17656: Replace string concatenation with parameterized logging for PartitionChangeBuilder
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
Labels: kraft, ci-approved

#17336 KAFKA-17673 Switch back to statuses API
  .github/actions/gh-api-update-status/action.yml
  .github/workflows/ci-complete.yml
Labels: build

#17323 KAFKA-16769: Remove add.source.alias.to.metrics configuration
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceMetrics.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceMetricsTest.java
  docs/upgrade.html
Labels: connect, mirror-maker-2

#17310 KAFKA-17646: Fix flaky KafkaStreamsTest.testStateGlobalThreadClose
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
Labels: streams, tests, ci-approved

#17185 MINOR: improve RecordCollectorImpl
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams

#16443 KAFKA-16308 [3/N]: Introduce feature dependency validation to UpdateFeatures command
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/common/requests/UpdateFeaturesRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/UpdateFeaturesResponse.java
  clients/src/main/resources/common/message/UpdateFeaturesRequest.json
  clients/src/main/resources/common/message/UpdateFeaturesResponse.json
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/common/requests/UpdateFeaturesResponseTest.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  server-common/src/main/java/org/apache/kafka/server/common/Features.java
  server-common/src/test/java/org/apache/kafka/server/common/FeaturesTest.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: core, tools, kraft, clients

#17317 KAFKA-17657: Replace the `consumer-fetch-manager-metrics` by groupName
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchMetricsRegistry.java
Labels: consumer, clients, ci-approved

#17300 KAFKA-17125: finalize TaskId
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/TaskId.java
Labels: streams

#17282 KAFKA-16733: Add share group record support to OffsetsMessageParser
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
Labels: core, tools, ci-approved

#17149 KAFKA-17367: Share coordinator impl. New merge batches algorithm. [3/N]
  checkstyle/import-control-share-coordinator.xml
  checkstyle/suppressions.xml
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/PersisterOffsetsStateBatch.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/PersisterStateBatchCombiner.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareGroupOffset.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/PersisterStateBatchCombinerTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorRecordHelpersTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
  share/src/main/java/org/apache/kafka/server/share/PersisterStateBatch.java
  share/src/main/java/org/apache/kafka/server/share/SharePartitionKey.java
Labels: core, KIP-932, ci-approved

#17311 KAFKA-17258: Migrate AdminFenceProducersIntegrationTest to ClusterTestExtensions framework
  checkstyle/suppressions.xml
  core/src/test/java/kafka/admin/AdminFenceProducersTest.java
  core/src/test/scala/integration/kafka/admin/AdminFenceProducersIntegrationTest.scala
Labels: core, ci-approved

#17251 KAFKA-16974 KRaft support in SslAdminIntegrationTest
  core/src/test/scala/integration/kafka/api/AdminClientWithPoliciesIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/BaseAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SaslSslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core, tests

#17343 MINOR: Fix MockAdminClient to match the server side update features handling.
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: tools, tests, clients

#17346 KAFKA-17680 Add timeout to streams test teardown
  streams/src/test/java/org/apache/kafka/streams/integration/ConsistencyVectorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalStateReprocessTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/GlobalThreadShutDownOrderTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2IntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2StoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/IQv2VersionedStoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationDedupIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamAggregationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamKStreamIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamRepartitionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyInnerJoinCustomPartitionerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyInnerJoinMultiIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinDistributedTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/PositionRestartIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SlidingWindowedKStreamIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskCreationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSMultiRebalanceIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StreamTableJoinTopologyOptimizationIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SwallowUnknownTopicErrorIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/TimeWindowedKStreamIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/NamedTopologyTest.java
Labels: streams, tests

#17351 MINOR: improve KafkaStreams.State JavaDocs
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: streams, docs

#17348 MINOR: producer perf improvements
  tools/src/main/java/org/apache/kafka/tools/ProducerPerformance.java
  tools/src/test/java/org/apache/kafka/tools/ProducerPerformanceTest.java
Labels: tools, ci-approved

#16843 KAFKA-17285: Consider using `Utils.closeQuietly` to replace `CoreUtils.swallow` when handling Closeable objects
  core/src/main/scala/kafka/admin/AclCommand.scala
  core/src/main/scala/kafka/network/SocketServer.scala
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/SharedServer.scala
  core/src/main/scala/kafka/server/ZkAdminManager.scala
  core/src/main/scala/kafka/tools/TestRaftServer.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerConcurrencyTest.scala
  storage/src/main/java/org/apache/kafka/storage/log/metrics/BrokerTopicStats.java
Labels: core, storage, ci-approved

#17279 KAFKA-17500: Metadata redirection for NOT_LEADER_OR_FOLLOWER
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
Labels: consumer, KIP-932, clients, ci-approved

#17312 KAFKA-17511 Move ElectLeadersRequestOps to ElectLeadersRequest
  clients/src/main/java/org/apache/kafka/common/requests/ElectLeadersRequest.java
  core/src/main/scala/kafka/api/package.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
Labels: core, clients, ci-approved

#17320 KAFKA-17451: Remove deprecated consumer#committed
  clients/src/main/java/org/apache/kafka/clients/consumer/Consumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  docs/upgrade.html
Labels: consumer, clients, ci-approved

#17285 MINOR: Cache topic resolution in TopicIds set
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TopicIds.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TopicIdsTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/AssignorBenchmarkUtils.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: performance, kraft, KIP-848, ci-approved

#17342 KAFKA-17674: Fix bug on update positions of newly added partitions
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/SubscriptionState.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetsRequestManagerTest.java
Labels: consumer, ctr

#17349 KAFKA-17469: Move persister related classes to persister pkg.
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/PersisterStateBatchCombiner.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareGroupOffset.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/PersisterStateBatchCombinerTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorRecordHelpersTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
  share/src/main/java/org/apache/kafka/server/share/persister/DeleteShareGroupStateParameters.java
  share/src/main/java/org/apache/kafka/server/share/persister/DeleteShareGroupStateResult.java
  share/src/main/java/org/apache/kafka/server/share/persister/GroupTopicPartitionData.java
  share/src/main/java/org/apache/kafka/server/share/persister/InitializeShareGroupStateParameters.java
  share/src/main/java/org/apache/kafka/server/share/persister/InitializeShareGroupStateResult.java
  share/src/main/java/org/apache/kafka/server/share/persister/NoOpShareStatePersister.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionAllData.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionData.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionErrorData.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionFactory.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionIdData.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionIdLeaderEpochData.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionInfoData.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionStateBatchData.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionStateData.java
  share/src/main/java/org/apache/kafka/server/share/persister/PartitionStateErrorData.java
  share/src/main/java/org/apache/kafka/server/share/persister/Persister.java
  share/src/main/java/org/apache/kafka/server/share/persister/PersisterParameters.java
  share/src/main/java/org/apache/kafka/server/share/persister/PersisterResult.java
  share/src/main/java/org/apache/kafka/server/share/persister/PersisterStateBatch.java
  share/src/main/java/org/apache/kafka/server/share/persister/ReadShareGroupStateParameters.java
  share/src/main/java/org/apache/kafka/server/share/persister/ReadShareGroupStateResult.java
  share/src/main/java/org/apache/kafka/server/share/persister/ReadShareGroupStateSummaryParameters.java
  share/src/main/java/org/apache/kafka/server/share/persister/ReadShareGroupStateSummaryResult.java
  share/src/main/java/org/apache/kafka/server/share/persister/TopicData.java
  share/src/main/java/org/apache/kafka/server/share/persister/WriteShareGroupStateParameters.java
  share/src/main/java/org/apache/kafka/server/share/persister/WriteShareGroupStateResult.java
Labels: core, KIP-932, ci-approved

#15838 KAFKA-16649: Remove lock from DynamicBrokerConfig.removeReconfigurable
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
Labels: core

#17355 KAFKA-17685 make sure all modules have consistent testRuntimeOnly dependencies
  build.gradle
Labels: build, ci-approved

#17293 KAFKA-17613: Remove ZK migration code
  core/src/main/scala/kafka/migration/MigrationControllerChannelContext.scala
  core/src/main/scala/kafka/migration/MigrationPropagator.scala
  core/src/main/scala/kafka/migration/MigrationPropagatorBatch.scala
  core/src/main/scala/kafka/server/ApiVersionManager.scala
  core/src/main/scala/kafka/server/ControllerRegistrationManager.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/tools/TestRaftServer.scala
  core/src/main/scala/kafka/zk/ZkMigrationClient.scala
  core/src/main/scala/kafka/zk/migration/ZkAclMigrationClient.scala
  core/src/main/scala/kafka/zk/migration/ZkConfigMigrationClient.scala
  core/src/main/scala/kafka/zk/migration/ZkDelegationTokenMigrationClient.scala
  core/src/main/scala/kafka/zk/migration/ZkTopicMigrationClient.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/BrokerRegistrationRequestTest.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  core/src/test/scala/unit/kafka/server/ControllerRegistrationManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/KRaftMetadataRequestBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/MetadataRequestBenchmark.java
  metadata/src/main/java/org/apache/kafka/controller/ActivationRecordsGenerator.java
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/OffsetControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/QuorumControllerMetrics.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/AclMigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/BufferingBatchConsumer.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/ConfigMigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/DelegationTokenMigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationDriver.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationOperation.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationOperationConsumer.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/KRaftMigrationZkWriter.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/LegacyPropagator.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationClientAuthException.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationClientException.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationDriverState.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/MigrationManifest.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/TopicMigrationClient.java
  metadata/src/main/java/org/apache/kafka/metadata/migration/ZkRecordConsumer.java
  metadata/src/test/java/org/apache/kafka/controller/ActivationRecordsGeneratorTest.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerMetricsIntegrationTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/QuorumControllerMetricsTest.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/CapturingAclMigrationClient.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/CapturingConfigMigrationClient.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/CapturingDelegationTokenMigrationClient.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/CapturingMigrationClient.java
  metadata/src/test/java/org/apache/kafka/metadata/migration/CapturingTopicMigrationClient.java
Labels: core, performance, kraft

#15995 KAFKA-16469: Metadata schema checker
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  generator/src/main/java/org/apache/kafka/message/FieldSpec.java
  generator/src/main/java/org/apache/kafka/message/MessageGenerator.java
  generator/src/main/java/org/apache/kafka/message/StructRegistry.java
  generator/src/main/java/org/apache/kafka/message/StructSpec.java
  generator/src/main/java/org/apache/kafka/message/checker/CheckerUtils.java
  generator/src/main/java/org/apache/kafka/message/checker/EvolutionException.java
  generator/src/main/java/org/apache/kafka/message/checker/EvolutionVerifier.java
  generator/src/main/java/org/apache/kafka/message/checker/FieldDomain.java
  generator/src/main/java/org/apache/kafka/message/checker/FieldSpecPair.java
  generator/src/main/java/org/apache/kafka/message/checker/FieldSpecPairIterator.java
  generator/src/main/java/org/apache/kafka/message/checker/MetadataSchemaCheckerTool.java
  generator/src/main/java/org/apache/kafka/message/checker/UnificationException.java
  generator/src/main/java/org/apache/kafka/message/checker/Unifier.java
  generator/src/test/java/org/apache/kafka/message/StructSpecTest.java
  generator/src/test/java/org/apache/kafka/message/checker/CheckerTestUtils.java
  generator/src/test/java/org/apache/kafka/message/checker/CheckerUtilsTest.java
  generator/src/test/java/org/apache/kafka/message/checker/EvolutionVerifierTest.java
  generator/src/test/java/org/apache/kafka/message/checker/FieldDomainTest.java
  generator/src/test/java/org/apache/kafka/message/checker/MetadataSchemaCheckerToolTest.java
  generator/src/test/java/org/apache/kafka/message/checker/UnifierTest.java
Labels: kraft, generator

#17350 KAFKA-17684 Update our java build versions
  .github/workflows/build.yml
  .github/workflows/ci-complete.yml
Labels: build

#17356 KAFKA-17658: Move `BootstrapControllersIntegrationTest` to kafka.server
  core/src/test/java/kafka/server/BootstrapControllersIntegrationTest.java
Labels: core, tests, ci-approved

#17168 KAFKA-17525: Convert the UnknownServerException to InvalidRequestException when altering client-metrics config at runtime
  core/src/test/java/kafka/admin/ClientTelemetryTest.java
  server/src/main/java/org/apache/kafka/server/metrics/ClientMetricsConfigs.java
Labels: core, ci-approved

#17335 KAFKA-17428: Add retry mechanism for cleaning up dangling remote segments
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: core, storage, ci-approved

#17325 KAFKA-16106: Schedule timeout task to refresh classic group size metric
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Utils.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShard.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/classic/ClassicGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsTest.java
Labels: KIP-848, ci-approved

#17358 KAFKA-15859: Fixed the Unsupported version error when new admin connects to old broker
  clients/src/main/resources/common/message/ListOffsetsRequest.json
Labels: clients

#17363 KAFKA-16927; Handle expanding leader endpoints
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft, KIP-853

#17177 KAFKA-17509: Introduce a delayed action queue to complete purgatory actions outside purgatory.
  core/src/main/java/kafka/server/builders/ReplicaManagerBuilder.java
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
Labels: core, performance, KIP-932, ci-approved

#17375 KAFKA-17248: KIP-1076 add admin client test helper [1/N]
  checkstyle/suppressions.xml
  streams/src/test/java/org/apache/kafka/streams/integration/TestingMetricsInterceptingAdminClient.java
Labels: streams

#17362 KAFKA-16308 [4/4]: Add release-version flag to upgrade and downgrade commands
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  tools/src/main/java/org/apache/kafka/tools/FeatureCommand.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: core, tools, kraft

#17369 MINOR: rename ConfigName.RENAME to ConfigName.RENAMES for replaceFiled
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/Cast.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/ReplaceField.java
Labels: connect, ci-approved

#17376 KAFKA-17248: Add reporter for adding thread metrics to telemetry pipeline and a test [2/N]
  clients/src/main/java/org/apache/kafka/clients/consumer/Consumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  streams/src/main/java/org/apache/kafka/streams/internals/metrics/StreamsThreadMetricsDelegatingReporter.java
  streams/src/test/java/org/apache/kafka/streams/internals/metrics/StreamsThreadMetricsDelegatingReporterTest.java
Labels: streams, consumer, clients

#17378 KAFKA-17706 Allow all imports for test-common and test-common-api
  build.gradle
  checkstyle/import-control-test-common-api.xml
  checkstyle/import-control-test-common.xml
Labels: small

#17329 KAFKA-17672 Run quarantined tests separately
  .github/workflows/build.yml
  .github/workflows/deflake.yml
  README.md
  build.gradle
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/OffsetsApiIntegrationTest.java
  core/src/test/scala/unit/kafka/coordinator/transaction/ProducerIdManagerTest.scala
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/Flaky.java
Labels: core, connect, build

#17313 KAFKA-12895: Drop support for Scala 2.12 in Kafka 4.0
  LICENSE-binary
  README.md
  build.gradle
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  core/src/main/scala/kafka/admin/ZkSecurityMigrator.scala
  core/src/main/scala/kafka/controller/ControllerChannelManager.scala
  core/src/main/scala/kafka/controller/ControllerContext.scala
  core/src/main/scala/kafka/controller/KafkaController.scala
  core/src/main/scala/kafka/controller/PartitionStateMachine.scala
  core/src/main/scala/kafka/controller/ReplicaStateMachine.scala
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/coordinator/group/GroupMetadata.scala
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionMarkerChannelManager.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/network/RequestChannel.scala
  core/src/main/scala/kafka/security/authorizer/AclAuthorizer.scala
  core/src/main/scala/kafka/server/AbstractFetcherManager.scala
  core/src/main/scala/kafka/server/AbstractFetcherThread.scala
  core/src/main/scala/kafka/server/AddPartitionsToTxnManager.scala
  core/src/main/scala/kafka/server/AuthHelper.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/DelayedDeleteRecords.scala
  core/src/main/scala/kafka/server/DelayedProduce.scala
  core/src/main/scala/kafka/server/DelayedRemoteListOffsets.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/RemoteLeaderEndPoint.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/main/scala/kafka/server/ZkAdminManager.scala
  core/src/main/scala/kafka/server/metadata/ZkMetadataCache.scala
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/main/scala/kafka/utils/CoreUtils.scala
  core/src/main/scala/kafka/utils/Implicits.scala
  core/src/main/scala/kafka/utils/json/DecodeJson.scala
  core/src/main/scala/kafka/zk/AdminZkClient.scala
  core/src/test/java/kafka/admin/ConfigCommandTest.java
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerAssignTest.scala
  core/src/test/scala/integration/kafka/server/IntegrationTestUtils.scala
  core/src/test/scala/unit/kafka/network/ConnectionQuotasTest.scala
  core/src/test/scala/unit/kafka/server/AbstractFetcherManagerTest.scala
  core/src/test/scala/unit/kafka/server/AddPartitionsToTxnManagerTest.scala
  core/src/test/scala/unit/kafka/server/MockLeaderEndPoint.scala
  core/src/test/scala/unit/kafka/server/ReplicaFetcherThreadTest.scala
  core/src/test/scala/unit/kafka/server/epoch/LeaderEpochIntegrationTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  docs/upgrade.html
  gradle/dependencies.gradle
  gradle/spotbugs-exclude.xml
  gradlewAll
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/util/ConcurrentMapBenchmark.java
  release/release.py
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
Labels: core, performance, dependencies, build

#17026 KAFKA-17415: Avoid overflow of expired timestamp
  core/src/test/scala/integration/kafka/api/SaslSslAdminIntegrationTest.scala
  metadata/src/main/java/org/apache/kafka/controller/DelegationTokenControlManager.java
Labels: core, kraft, ci-approved

#17372 KAFKA-17692: Remove KafkaServer references from IntegrationTestUtils
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
Labels: streams, tests

#17384 MINOR:fix small label issue
  .github/scripts/label_small.sh
Labels: build, ci-approved, small

#17202 KAFKA-17529: Remove blacklist from MM2
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/DefaultConfigPropertyFilter.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/DefaultGroupFilter.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/DefaultTopicFilter.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConfig.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorMakerConfigTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceConfigTest.java
  docs/upgrade.html
Labels: connect, mirror-maker-2, ci-approved

#17364 KAFKA-17695 cleanup org.apache.kafka.common.test.TestUtils
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/src/main/java/org/apache/kafka/common/test/NoRetryException.java
  test-common/src/main/java/org/apache/kafka/common/test/TestCondition.java
  test-common/src/main/java/org/apache/kafka/common/test/TestUtils.java
  test-common/src/main/java/org/apache/kafka/common/test/ValuelessCallable.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterInstance.java
Labels: tests, ci-approved

#17332 KAFKA-17664: Added check before sending background event after ShareAcknowledge
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ShareAcknowledgementCommitCallbackRegistrationEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImplTest.java
Labels: consumer, KIP-932, clients, ci-approved

#17228 KAFKA-17564: Move BrokerFeatures to server module
  core/src/main/scala/kafka/controller/KafkaController.scala
  core/src/main/scala/kafka/server/ApiVersionManager.scala
  core/src/main/scala/kafka/server/BrokerFeatures.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/MetadataCache.scala
  core/src/main/scala/kafka/server/metadata/ZkMetadataCache.scala
  core/src/test/scala/unit/kafka/server/ApiVersionManagerTest.scala
  core/src/test/scala/unit/kafka/server/BrokerFeaturesTest.scala
  core/src/test/scala/unit/kafka/server/BrokerLifecycleManagerTest.scala
  core/src/test/scala/unit/kafka/server/FinalizedFeatureCacheTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaAlterLogDirsThreadTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaFetcherThreadTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetcher/ReplicaFetcherThreadBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/MetadataRequestBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/CheckpointBench.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/PartitionCreationBench.java
  server/src/main/java/org/apache/kafka/server/BrokerFeatures.java
  server/src/test/java/org/apache/kafka/server/BrokerFeaturesTest.java
Labels: core, performance, controller, ci-approved

#17281 KAFKA-17618: group consumer heartbeat interval should be less than session timeout
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupHeartbeatRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
Labels: core, KIP-848, small

#17157 KAFKA-14577: Move ConsoleProducer to tools module
  bin/kafka-console-producer.sh
  bin/windows/kafka-console-producer.bat
  checkstyle/import-control.xml
  checkstyle/suppressions.xml
  core/src/main/scala/kafka/tools/ConsoleProducer.scala
  core/src/main/scala/kafka/utils/ToolsUtils.scala
  core/src/test/scala/unit/kafka/tools/ConsoleProducerTest.scala
  core/src/test/scala/unit/kafka/tools/LineMessageReaderTest.scala
  docker/native/native-image-configs/reflect-config.json
  tools/src/main/java/org/apache/kafka/tools/ConsoleProducer.java
  tools/src/main/java/org/apache/kafka/tools/LineMessageReader.java
  tools/src/main/java/org/apache/kafka/tools/ToolsUtils.java
  tools/src/test/java/org/apache/kafka/tools/ConsoleProducerTest.java
  tools/src/test/java/org/apache/kafka/tools/LineMessageReaderTest.java
  tools/tools-api/src/main/java/org/apache/kafka/tools/api/RecordReader.java
Labels: core, tools, docker, ci-approved

#17383 KAFKA-17707: Remove zk from BaseConsumerTest
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerAssignTest.scala
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTestUtils.java
Labels: core, tools, tests, small

#17370 MINOR: Use subtopologyId and spelling consistently
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/main/resources/common/message/StreamsGroupDescribeResponse.json
  clients/src/main/resources/common/message/StreamsGroupHeartbeatRequest.json
  clients/src/main/resources/common/message/StreamsGroupHeartbeatResponse.json
  clients/src/main/resources/common/message/StreamsGroupInitializeRequest.json
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManagerTest.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/Assignment.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/CoordinatorStreamsRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/CurrentAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsTopology.java
  group-coordinator/src/main/resources/common/message/StreamsGroupCurrentMemberAssignmentValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTargetAssignmentMemberValue.json
  group-coordinator/src/main/resources/common/message/StreamsGroupTopologyValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/AssignmentTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/CoordinatorStreamsRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/CurrentAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsTopologyTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/TargetAssignmentBuilderTest.java
Labels: consumer, clients

#17374 MINOR: Fix unit tests
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupInitializeRequestManager.java
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupDescribeRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupDescribeResponse.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupInitializeRequestManagerTest.java
  core/src/main/scala/kafka/network/RequestConvertToJson.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsTopology.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/taskassignor/MockAssignor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/AssignmentTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/CoordinatorStreamsRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/CurrentAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsTopologyTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/TaskAssignmentTestUtil.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultKafkaClientSupplier.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/integration/SmokeTestDriverIntegrationTest.java
Labels: streams, core, consumer, clients

#17387 KAFKA-14705: Move topic filters to tools module
  checkstyle/import-control.xml
  tools/src/main/java/org/apache/kafka/tools/GetOffsetShell.java
  tools/src/main/java/org/apache/kafka/tools/ReplicaVerificationTool.java
  tools/src/main/java/org/apache/kafka/tools/TopicCommand.java
  tools/src/main/java/org/apache/kafka/tools/filter/PartitionFilter.java
  tools/src/main/java/org/apache/kafka/tools/filter/TopicFilter.java
  tools/src/main/java/org/apache/kafka/tools/filter/TopicPartitionFilter.java
  tools/src/test/java/org/apache/kafka/tools/GetOffsetShellParsingTest.java
  tools/src/test/java/org/apache/kafka/tools/filter/TopicFilterTest.java
Labels: tools, small

#17386 KAFKA-14705: Remove redirections and unused tools
  core/src/main/scala/kafka/admin/FeatureCommand.scala
  core/src/main/scala/kafka/tools/ClusterTool.scala
  core/src/main/scala/kafka/tools/EndToEndLatency.scala
  core/src/main/scala/kafka/tools/JmxTool.scala
  core/src/main/scala/kafka/tools/StateChangeLogMerger.scala
  core/src/main/scala/kafka/tools/StreamsResetter.java
  docs/upgrade.html
  gradle/spotbugs-exclude.xml
Labels: core, build, ci-approved

#17392 KAFKA-17711: Minor cleanup changes in ShareConsumeRequestManager
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
Labels: consumer, KIP-932, clients, ci-approved, small

#17379 MINOR: fix stream-stream-join semantic example from 10s window to 15s
  docs/streams/developer-guide/dsl-api.html
Labels: docs, ci-approved, small

#17377 KAFKA-17248: Add reporter for getting client metrics into telemetry pipeline and test [3/N]
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/ForwardingAdmin.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  streams/src/main/java/org/apache/kafka/streams/internals/metrics/StreamsClientMetricsDelegatingReporter.java
  streams/src/test/java/org/apache/kafka/streams/integration/TestingMetricsInterceptingAdminClient.java
  streams/src/test/java/org/apache/kafka/streams/internals/metrics/StreamsClientMetricsDelegatingReporterTest.java
Labels: streams, clients

#17338 KAFKA-17624: Remove the E2E uses of accessing ACLs from zk
  tests/kafkatest/services/security/kafka_acls.py
  tests/kafkatest/services/zookeeper.py
  tests/kafkatest/tests/core/security_rolling_upgrade_test.py
  tests/kafkatest/tests/core/upgrade_test.py
  tests/kafkatest/tests/core/zookeeper_security_upgrade_test.py
  tests/kafkatest/tests/core/zookeeper_tls_encrypt_only_test.py
  tests/kafkatest/tests/core/zookeeper_tls_test.py
Labels: tests

#17393 MINOR Fixup KIP-932 label paths
  .github/configs/labeler.yml
Labels: build, small

#17401 MINOR: hotfix TopicCommand by spotlessApply
  tools/src/main/java/org/apache/kafka/tools/TopicCommand.java
Labels: tools, small

#17224 KAFKA-17385: Remove authorizer, authorizer-properties, zk-tls-config-file in AclCommand
  core/src/main/scala/kafka/admin/AclCommand.scala
  core/src/test/java/kafka/admin/AclCommandTest.java
  docs/security.html
  docs/upgrade.html
Labels: core

#17400 KAFKA-17714: Fix StorageTool.scala to compile under Scala 2.12
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
Labels: core, tools, small

#17388 MINOR: Small cleanup in ToolsUtils
  tools/src/main/java/org/apache/kafka/tools/ToolsUtils.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommand.java
Labels: tools, small

#17360 KAFKA-14158: Remove auto.include.jmx.reporter configuration
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
  clients/src/main/java/org/apache/kafka/clients/admin/AdminClientConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
  clients/src/test/java/org/apache/kafka/clients/CommonClientConfigsTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorConnectorConfig.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorConnectorConfigTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ConnectMetricsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMemberTest.java
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  docs/upgrade.html
  server/src/main/java/org/apache/kafka/server/metrics/MetricConfigs.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams, core, producer, consumer, connect, mirror-maker-2, clients

#17368 KAFKA-15908: Remove deprecated Consumer.poll(long timeout)
  clients/src/main/java/org/apache/kafka/clients/consumer/Consumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/MockConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/ConsumerBounceTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerPollTest.scala
  docs/upgrade.html
Labels: core, consumer, clients, ci-approved

#17399 MINOR Consolidate junit-platform.properties
  build.gradle
  server-common/src/test/resources/junit-platform.properties
  test-common/src/test/resources/junit-platform.properties
  tools/src/test/resources/junit-platform.properties
Labels: core, tools, build, small

#17391 Complete topic metadata for automatic topic creation
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsAssignmentInterface.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupInitializeRequestManager.java
  clients/src/main/resources/common/message/StreamsGroupDescribeResponse.json
  clients/src/main/resources/common/message/StreamsGroupInitializeRequest.json
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupInitializeRequestManagerTest.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/CoordinatorStreamsRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsTopology.java
  group-coordinator/src/main/resources/common/message/StreamsGroupTopologyValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/CoordinatorStreamsRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsTopologyTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
Labels: streams, consumer, clients

#17396 MINOR Ensure CI runs on weekends
  .github/workflows/ci.yml
Labels: build, small

#17230 KAFKA-17505: New consumer seekToBeginning/End should run in background thread
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ResetOffsetEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: core, consumer, KIP-848, ctr, clients, ci-approved

#17344 KAFKA-16331: Remove task producers from Kafka Streams
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskExecutor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskExecutorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#17419 MINOR Run CI on weekends (fixed)
  .github/workflows/ci.yml
Labels: build, small

#17410 KAFKA-17720: Remove zookeeper_migration_test.py and migration-related functions in kafka.py
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/tests/core/zookeeper_migration_test.py
Labels: tests, ci-approved

#17408 KAFKA-17655: Add example of changing the e2e image name
  tests/README.md
Labels: docs, tests, ci-approved, small

#17420 KAFKA-14705: Remove deprecated classes and options in tools
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionLog.scala
  core/src/main/scala/kafka/serializer/Decoder.scala
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  docs/upgrade.html
  tools/src/main/java/org/apache/kafka/tools/ReplicaVerificationTool.java
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleConsumerOptions.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerOptionsTest.java
Labels: core, tools

#17415 KAFKA-17729: Remove ZK from AuthorizerBenchmark, CheckpointBench and …
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/acl/AuthorizerBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/MetadataRequestBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/CheckpointBench.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/PartitionCreationBench.java
Labels: performance

#16881 KAFKA-17005: Online protocol migration integration tests
  core/src/test/scala/unit/kafka/server/ConsumerProtocolMigrationTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/HeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/JoinGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/SyncGroupRequestTest.scala
Labels: core, tests, KIP-848, ci-approved

#17423 KAFKA-16896 upgrade spotless version after we drop JDK8
  build.gradle
Labels: build, small

#17380 KAFKA-17703: Moved DelayedActionsQueue outside DelayedShareFetch
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/DelayedShareFetchGroupKey.java
  core/src/main/java/kafka/server/share/DelayedShareFetchKey.java
  core/src/main/java/kafka/server/share/DelayedShareFetchPartitionKey.java
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/test/java/kafka/server/share/DelayedShareFetchKeyTest.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
Labels: core, KIP-932, ci-approved

#17434 KAFKA-17751: fix pollTimeout calculation in pollFollowerAsVoter
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
Labels: kraft, KIP-853, small

#17436 KAFKA-17753: Update protobuf and commons-io dependencies
  LICENSE-binary
  build.gradle
  gradle/dependencies.gradle
Labels: build, small

#17427 KAFKA-17737: E2E tests need to drop Kafka versions prior to 1.0.0
  tests/kafkatest/tests/client/client_compatibility_features_test.py
  tests/kafkatest/tests/client/client_compatibility_produce_consume_test.py
  tests/kafkatest/tests/connect/connect_distributed_test.py
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
Labels: tests, ci-approved, small

#17432 KAFKA-17738: upgrade base image from jdk8 to jdk11
  tests/README.md
  tests/docker/Dockerfile
  tests/docker/ducker-ak
Labels: tests, ci-approved, small

#17406 KAFKA-17387: Remove broker-list in VerifiableConsumer
  docs/upgrade.html
  tests/kafkatest/services/verifiable_consumer.py
  tools/src/main/java/org/apache/kafka/tools/VerifiableConsumer.java
Labels: tools, small

#17331 KAFKA-17532-2: Moved ShareGroupConfig and added share.record.lock.duration.ms to dynamic configs
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ConfigHelper.scala
  core/src/main/scala/kafka/server/ControllerConfigurationValidator.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigChangeTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupDescribeRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfigManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupConfigManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfigTest.java
  server/src/main/java/org/apache/kafka/server/config/AbstractKafkaConfig.java
Labels: core, KIP-932, ci-approved

#17426 KAFKA-17739: Clean up build.gradle to adopt the minimum Java version as 11
  build.gradle
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/OAuthBearerSaslClientProvider.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/OAuthBearerSaslServerProvider.java
  clients/src/main/java/org/apache/kafka/common/security/plain/internals/PlainSaslServerProvider.java
  clients/src/main/java/org/apache/kafka/common/security/scram/internals/ScramSaslClientProvider.java
  clients/src/main/java/org/apache/kafka/common/security/scram/internals/ScramSaslServerProvider.java
  clients/src/test/java/org/apache/kafka/common/security/ssl/mock/TestPlainSaslServerProvider.java
  clients/src/test/java/org/apache/kafka/common/security/ssl/mock/TestProvider.java
  clients/src/test/java/org/apache/kafka/common/security/ssl/mock/TestScramSaslServerProvider.java
  gradle/spotbugs-exclude.xml
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorage.java
  trogdor/src/test/java/org/apache/kafka/trogdor/common/JsonSerializationTest.java
Labels: tools, storage, build, clients, small

#17445 MINOR: Fix upgrade instructions for 3.8 and 3.9
  docs/upgrade.html
Labels: docs

#17431 KAFKA-17731: Removed timed waiting signal for client telemetry close
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryReporter.java
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/ClientTelemetrySender.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryReporterTest.java
Labels: producer, consumer, clients, small

#17413 KAFKA-17534: Add configuration to disable the heartbeats topic replic…
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConnector.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceConnectorTest.java
Labels: connect, mirror-maker-2, small

#17446 KAFKA-17383; Update upgrade notes about removal of `offsets.commit.required.acks`
  docs/upgrade.html
Labels: docs, small

#17430 KAFKA-17749: Fix Throttler metrics name
  storage/src/main/java/org/apache/kafka/storage/internals/utils/Throttler.java
Labels: storage, small

#17398 KAFKA-17713: only snapshot when lastContainedOffset is the last record of a batch
  core/src/test/java/kafka/server/MetadataVersionConfigValidatorTest.java
  core/src/test/java/kafka/server/handlers/DescribeTopicPartitionsRequestHandlerTest.java
  core/src/test/scala/unit/kafka/server/ControllerRegistrationManagerTest.scala
  core/src/test/scala/unit/kafka/server/MetadataCacheTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  metadata/src/main/java/org/apache/kafka/image/MetadataProvenance.java
  metadata/src/main/java/org/apache/kafka/image/loader/MetadataBatchLoader.java
  metadata/src/main/java/org/apache/kafka/image/loader/MetadataLoader.java
  metadata/src/main/java/org/apache/kafka/image/publisher/SnapshotGenerator.java
  metadata/src/test/java/org/apache/kafka/image/MetadataImageTest.java
  metadata/src/test/java/org/apache/kafka/image/loader/MetadataBatchLoaderTest.java
  metadata/src/test/java/org/apache/kafka/image/loader/MetadataLoaderTest.java
  metadata/src/test/java/org/apache/kafka/image/loader/metrics/MetadataLoaderMetricsTest.java
  metadata/src/test/java/org/apache/kafka/image/publisher/BrokerRegistrationTrackerTest.java
  metadata/src/test/java/org/apache/kafka/image/publisher/ControllerRegistrationsPublisherTest.java
  metadata/src/test/java/org/apache/kafka/image/publisher/SnapshotGeneratorTest.java
  server/src/test/java/org/apache/kafka/server/metrics/BrokerServerMetricsTest.java
Labels: core, kraft, ci-approved

#17452 KAFKA-17764: Remove unnecessary ignorable annotations
  clients/src/main/resources/common/message/ShareFetchRequest.json
  clients/src/main/resources/common/message/ShareFetchResponse.json
Labels: KIP-932, clients, ci-approved, small

#17466 KAFKA-17772: Remove `inControlledShutdownBrokers(Set<Integer>)` and `unfenceBrokers(Set<Integer>)` from `ReplicationControlManagerTest`
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: tests, kraft, ci-approved, small

#17417 KAFKA-17723 Fix "this-escape" compiler warnings (MultiThreadedEventProcessor and DistributedHerder) introduced by JDK 23
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/MultiThreadedEventProcessor.java
Labels: connect, ci-approved, small

#17458 KAFKA-17717 Remove ConfigUtils#translateDeprecatedConfigs and tests
  clients/src/main/java/org/apache/kafka/common/utils/ConfigUtils.java
  clients/src/test/java/org/apache/kafka/common/utils/ConfigUtilsTest.java
Labels: clients, ci-approved

#17319 KAFKA-17661: Fix flaky BufferPoolTest.testBlockTimeout
  clients/src/test/java/org/apache/kafka/clients/producer/internals/BufferPoolTest.java
Labels: producer, tests, clients, small

#17471 MINOR: fix some GHA `run` syntax
  .github/actions/gh-api-approve-run/action.yml
  .github/actions/gh-api-update-status/action.yml
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/ci-requested.yml
  .github/workflows/deflake.yml
  .github/workflows/docker_build_and_test.yml
  .github/workflows/docker_official_image_build_and_test.yml
  .github/workflows/docker_promote.yml
  .github/workflows/docker_rc_release.yml
  .github/workflows/prepare_docker_official_image_source.yml
Labels: build

#17472 Adjust maximum value of group.share.record.lock.duration.ms
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfig.java
Labels: KIP-932, ci-approved, small

#17442 KAFKA-17199: Add UT for TransactionLogConfig and TransactionStateManagerConfig
  build.gradle
  checkstyle/import-control-transaction-coordinator.xml
  core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TransactionLogConfig.java
  transaction-coordinator/src/test/java/org/apache/kafka/coordinator/transaction/TransactionLogConfigTest.java
  transaction-coordinator/src/test/java/org/apache/kafka/coordinator/transaction/TransactionStateManagerConfigTest.java
Labels: core, build, transactions, ci-approved

#17470 MINOR: clean up GHA names
  .github/workflows/build.yml
  .github/workflows/ci-requested.yml
  .github/workflows/pr-labeled.yml
  .github/workflows/pr-update.yml
  .github/workflows/stale.yml
Labels: build, small

#17453 KAFKA-17753: Update protobuf and commons-io dependencies
  LICENSE-binary
  build.gradle
  gradle/dependencies.gradle
Labels: backport-candidate, dependencies

#17439 KAFKA-17722: Fix 'this' escape of BrokerTopicMetrics
  storage/src/main/java/org/apache/kafka/storage/log/metrics/BrokerTopicMetrics.java
Labels: storage, ci-approved, small

#17476 MINOR: Fix transactionPartitionVerificationEnable return type
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TransactionLogConfig.java
Labels: transactions, ci-approved, small

#17468 KAFKA-17763: Remove `Utils.covariantCast` and use `var` for type inference
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  raft/src/test/java/org/apache/kafka/snapshot/FileRawSnapshotTest.java
  raft/src/test/java/org/apache/kafka/snapshot/SnapshotWriterReaderTest.java
Labels: streams, core, producer, consumer, tools, connect, kraft, mirror-maker-2, storage, build, transactions, clients, ci-approved, small

#17451 KAFKA-17746 Replace JavaConverters with CollectionConverters
  checkstyle/import-control.xml
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/server/TierStateMachine.java
  core/src/main/java/kafka/server/builders/LogManagerBuilder.java
  core/src/main/java/kafka/server/handlers/DescribeTopicPartitionsRequestHandler.java
  core/src/test/java/kafka/admin/AclCommandTest.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/CheckpointBench.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/PartitionCreationBench.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestContext.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestHarness.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/TransactionsWithTieredStoreTest.java
  tools/src/test/java/org/apache/kafka/tools/LeaderElectionCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/AuthorizerIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/SaslClientsWithInvalidCredentialsTest.java
  tools/src/test/java/org/apache/kafka/tools/other/ReplicationQuotasTestRig.java
Labels: core, tools, performance, storage, ci-approved

#17479 KAFKA-17765: Remove TestUtils.toSet
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerProtocolTest.java
  clients/src/test/java/org/apache/kafka/common/config/provider/DirectoryConfigProviderTest.java
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
Labels: consumer, tests, clients, ci-approved

#16964 KAFKA-17374: add bootstrap.controller to kafka-reassign-partitions.sh
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommand.java
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandArgsTest.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandTest.java
Labels: tools, ci-approved

#17456 KAFKA-17693: Remove testEarliestLocalTimestampVersion and testCheckLatestTieredTimestampVersion
  clients/src/test/java/org/apache/kafka/common/requests/ListOffsetsRequestTest.java
Labels: tests, clients, ci-approved, small

#17497 KAFKA-17748: Remove scala-java8-compat
  LICENSE-binary
  build.gradle
  core/src/main/java/kafka/log/remote/RemoteLogOffsetReader.java
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/java/kafka/server/builders/ReplicaManagerBuilder.java
  core/src/main/scala/kafka/cluster/Broker.scala
  core/src/main/scala/kafka/coordinator/transaction/ProducerIdManager.scala
  core/src/main/scala/kafka/log/LocalLog.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/network/RequestChannel.scala
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/main/scala/kafka/server/AbstractFetcherThread.scala
  core/src/main/scala/kafka/server/AclApis.scala
  core/src/main/scala/kafka/server/AlterPartitionManager.scala
  core/src/main/scala/kafka/server/AutoTopicCreationManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ConfigHelper.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/EnvelopeUtils.scala
  core/src/main/scala/kafka/server/ForwardingManager.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/LocalLeaderEndPoint.scala
  core/src/main/scala/kafka/server/NodeToControllerChannelManager.scala
  core/src/main/scala/kafka/server/RemoteLeaderEndPoint.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/main/scala/kafka/server/metadata/ClientQuotaMetadataManager.scala
  core/src/main/scala/kafka/server/metadata/KRaftMetadataCache.scala
  core/src/test/scala/integration/kafka/api/BaseAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/BaseProducerSendTest.scala
  core/src/test/scala/integration/kafka/api/DescribeAuthorizedOperationsTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SaslClientsWithInvalidCredentialsTest.scala
  core/src/test/scala/integration/kafka/api/SaslPlainSslEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/SaslSetup.scala
  core/src/test/scala/integration/kafka/api/SaslSslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SslEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/network/RequestChannelTest.scala
  core/src/test/scala/unit/kafka/network/RequestConvertToJsonTest.scala
  core/src/test/scala/unit/kafka/server/AbstractApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsOnPlainTextTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsWithDisableTokenFeatureTest.scala
  core/src/test/scala/unit/kafka/server/MockLeaderEndPoint.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/SchedulerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  gradle/dependencies.gradle
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/PartitionMakeFollowerBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/UpdateFollowerFetchStateBenchmark.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/RaftClusterInvocationContext.java
Labels: core, performance, build

#17469 MINOR: remove unused method in IntegrationTestUtils
  core/src/test/scala/integration/kafka/server/IntegrationTestUtils.scala
Labels: core, tests, small

#17467 KAFKA-17633: Add share group record formatter and parser.
  build.gradle
  checkstyle/import-control.xml
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorRecordHelpers.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorRecordHelpersTest.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/share/ShareGroupStateMessageFormatter.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/share/ShareGroupStateMessageFormatterTest.java
Labels: core, tools, KIP-932, build, ci-approved

#17450 KAFKA-17756: Added dynamic share group configs share.heartbeat.interval.ms and share.session.timeout.ms
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: core, KIP-932, ci-approved

#17464 Refactor: Improve code consistency and readability
  core/src/test/java/kafka/server/share/SharePartitionTest.java
Labels: core, tests, KIP-932, ci-approved

#17501 KAFKA-17790: Document that control.plane.listener.name should be removed before ZK migration is finished
  docs/ops.html
Labels: docs, small

#17487 KAFKA-15859: Complete delayed RemoteListOffsets requests when replica moves away from broker
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/main/scala/kafka/server/DelayedRemoteListOffsets.scala
  core/src/main/scala/kafka/server/ListOffsetsPartitionStatus.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/integration/kafka/server/DelayedRemoteListOffsetsTest.scala
Labels: core

#17411 KAFKA-17536: Ensure clear error message when new consumer used with incompatible cluster
  checkstyle/import-control-core.xml
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  core/src/test/java/kafka/clients/consumer/AsyncKafkaConsumerIntegrationTest.java
Labels: core, consumer, KIP-848, ctr, clients, small

#17483 KAFKA-17773: Upgrade spotbug to work under java 23
  build.gradle
  gradle/dependencies.gradle
  gradle/resources/dependencycheck-suppressions.xml
  gradle/spotbugs-exclude.xml
Labels: build, ci-approved, small

#17480 KAFKA-17781 add `psutil` to e2e dockerfile and upgrade ducktape version
  tests/docker/Dockerfile
  tests/setup.py
Labels: tests, small

#17515 KAFKA-17809: Fixing flaky share consumer integration test
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core, tests, KIP-932, small

#17422 KAFKA-17248: Override admin client to push metrics true, test for case where streams metrics [4/N]
  clients/src/main/java/org/apache/kafka/clients/admin/AdminClientConfig.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  core/src/test/java/kafka/admin/ClientTelemetryTest.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams, core, clients

#17513 KAFKA-17805: Deprecate named topologies in Kafka Streams
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TopologyMetadata.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/AddNamedTopologyResult.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/KafkaStreamsNamedTopologyWrapper.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/NamedTopology.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/NamedTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/NamedTopologyStoreQueryParameters.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/RemoveNamedTopologyResult.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProvider.java
  streams/src/test/java/org/apache/kafka/streams/integration/NamedTopologyIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/PauseResumeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/NamedTopologyTest.java
Labels: streams, small

#16824 KAFKA-17256 KRAFT should honor the listener name and security protocol from ClusterConfig
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/unit/kafka/server/SaslApiVersionsRequestTest.scala
  test-common/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
  test-common/src/test/java/org/apache/kafka/common/test/TestKitNodeTest.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterConfig.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterTest.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterTestExtensions.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/RaftClusterInvocationContext.java
  test-common/test-common-api/src/test/java/org/apache/kafka/common/test/api/ClusterConfigTest.java
  tools/src/test/java/org/apache/kafka/tools/GetOffsetShellTest.java
Labels: streams, core, tools, connect, tests

#17518 KAFKA-17728 KAFKA-17728 Add missing config `replica-directory-id` to raft README
  raft/README.md
Labels: docs, kraft, small

#17354 KAFKA-17683: Remove Zookeeper from READMEs in 4.0
  README.md
  trogdor/README.md
Labels: docs, tools, connect, mirror-maker-2, ci-approved, small

#17473 KAFKA-17776: Capability for connection disconnect listeners in socket server
  clients/src/main/java/org/apache/kafka/common/network/Selector.java
  clients/src/main/java/org/apache/kafka/common/requests/RequestContext.java
  clients/src/test/java/org/apache/kafka/common/network/NioEchoServer.java
  core/src/main/scala/kafka/network/SocketServer.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  server-common/src/main/java/org/apache/kafka/server/network/ConnectionDisconnectListener.java
Labels: core, clients

#17407 MINOR: Correctly catch console messages
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  core/src/test/java/kafka/admin/ConfigCommandIntegrationTest.java
  core/src/test/java/kafka/admin/UserScramCredentialsCommandTest.java
Labels: core

#17397 KAFKA-17767 Extract test catalog from JUnit output [1/n]
  .github/scripts/junit.py
  .github/scripts/requirements.txt
  .github/workflows/build.yml
  build.gradle
Labels: build

#17484 KAFKA-17677: Remove atomicGetOrUpdate
  core/src/main/scala/kafka/coordinator/transaction/TransactionMarkerChannelManager.scala
  core/src/main/scala/kafka/utils/CoreUtils.scala
  core/src/test/scala/unit/kafka/utils/CoreUtilsTest.scala
Labels: core, small

#17517 KAFKA-17810 upgrade Jetty because of CVE-2024-8184
  LICENSE-binary
  gradle/dependencies.gradle
Labels: backport-candidate, dependencies, build, small

#17385 KAFKA-17710; Rework uniform heterogeneous assignor to improve perf
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AssignorHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformHomogeneousAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilderTest.java
Labels: KIP-848, ci-approved

#17418 KAFKA-17724: Move SubscriptionState changes to background thread
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ShareSubscriptionChangeEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImplTest.java
Labels: consumer, KIP-932, clients, ci-approved

#17520 KAFKA-17812: upgrade base image of e2e from JDK 11 to JDK 17
  tests/README.md
  tests/docker/Dockerfile
  tests/docker/ducker-ak
Labels: tests, small

#17512 KAFKA-17802 Update Bouncy castle from 1.75 to 1.78.1
  gradle/dependencies.gradle
Labels: build, small

#17526 MINOR: fix broken link in javadoc
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/ClusterConfigProperty.java
  test-common/test-common-api/src/main/java/org/apache/kafka/common/test/api/Type.java
Labels: connect, tests, small

#17474 KAFKA-17778: Add listener to remove client instances on connection disconnect
  core/src/main/scala/kafka/server/BrokerServer.scala
  server/src/main/java/org/apache/kafka/server/ClientMetricsManager.java
  server/src/test/java/org/apache/kafka/server/ClientMetricsManagerTest.java
  server/src/test/java/org/apache/kafka/server/metrics/ClientMetricsTestUtils.java
Labels: core

#17315 KAFKA-17558: Remove parameterization from streams integration tests
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/JoinGracePeriodDurabilityIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ResetPartitionTimeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RocksDBMetricsIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/SuppressionDurabilityIntegrationTest.java
Labels: streams, tests, ci-approved

#17437 KAFKA-17742: Move DelayedShareFetchPurgatory declaration to ReplicaManager
  core/src/main/java/kafka/server/builders/ReplicaManagerBuilder.java
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/DelayedShareFetchPartitionKey.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  core/src/test/scala/unit/kafka/cluster/AbstractPartitionTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetcher/ReplicaFetcherThreadBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/UpdateFollowerFetchStateBenchmark.java
  server-common/src/main/java/org/apache/kafka/server/common/TopicOptionalIdPartition.java
Labels: core, performance, KIP-932, clients, ci-approved

#17523 KAFKA-17816: Add testRuntimeOnly runtimeTestLibs to test-common-api module
  build.gradle
Labels: build, ci-approved, small

#17435 KAFKA-17740 Update Readme and documentation
  README.md
  docs/ops.html
  docs/quickstart.html
  docs/upgrade.html
Labels: small

#17514 MINOR: Use Endpoint instead of EndPoint in RemoteLogManager
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: core, small

#17475 KAFKA-17099: Print the origin processor node in logs for processing exceptions
  streams/src/main/java/org/apache/kafka/streams/errors/internals/FailedProcessingException.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams, small

#17492 KAFKA-17766: Fixing deadlock in TopicBasedRemoteLogMetadataManager
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManager.java
Labels: storage, ci-approved, small

#17361 KAFKA-17654 Fix flaky ProducerIdManagerTest#testUnrecoverableErrors
  core/src/main/scala/kafka/coordinator/transaction/ProducerIdManager.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/ProducerIdManagerTest.scala
Labels: core, ci-approved, small

#17536 KAFKA-17827: cleanup the mockit version
  gradle/dependencies.gradle
Labels: build, small

#17535 KAFKA-17817: Remove cache from FetchRequest#fetchData
  clients/src/main/java/org/apache/kafka/common/requests/FetchRequest.java
  clients/src/test/java/org/apache/kafka/common/requests/FetchRequestTest.java
Labels: clients, ci-approved

#17541 MINOR: Fix potential NPE
  connect/api/src/test/java/org/apache/kafka/connect/data/ValuesTest.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroup.java
Labels: connect, ci-approved, small
