Repository apache/kafka, pull requests merged in 2024-05, with the labels that each got.

#15810 KAFKA-16624: Don't generate useless PartitionChangeRecord on older MV
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
Labels: controller

#15847 MINOR: ConsumerGroup#getOrMaybeCreateMember should not add the member to the group
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilderTest.java
Labels: KIP-848

#15854 MINOR: Remove `ConsumerGroupPartitionMetadataValue.Epoch` field
  group-coordinator/src/main/resources/common/message/ConsumerGroupPartitionMetadataValue.json
Labels: KIP-848

#15620 KAFKA-16356 RemoteLogMetadataSerde: Serializer via class-name dispatch removed and replaced with if-elseif-else conditions
  build.gradle
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/serialization/RemoteLogMetadataSerde.java
Labels: storage

#15652 KAFKA-16470; kafka-dump-log --offsets-decoder should support new records
  build.gradle
  checkstyle/import-control.xml
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
Labels: KIP-848

#15851 MINOR: log newly created processId
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
Labels: streams

#15835 KAFKA-16307: fix coordinator thread idle ratio
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/CoordinatorRuntimeMetrics.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorRuntimeMetrics.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorRuntimeMetricsTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessorTest.java
Labels: KIP-848

#14309 KAFKA-13328, KAFKA-13329 (2): Add custom preflight validation support for connector header, key, and value converters
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorValidationIntegrationTest.java
  connect/runtime/src/test/resources/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/META-INF/services/org.apache.kafka.connect.storage.HeaderConverter
Labels: connect

#13801 KAFKA-15018: Failing offset flush for EOS when secondary offset store writes fails for tombstone records
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/ConnectorOffsetBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/ConnectorOffsetBackingStoreTest.java
Labels: connect

#15817 KAFKA-16511: Fix the leaking tiered segments during segment deletion
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: tiered-storage

#15874 MINOR: Remove dev_version parameter from streams tests
  tests/kafkatest/tests/streams/streams_application_upgrade_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tests

#6934 KAFKA-16445: Add PATCH method for connector config
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Herder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/ConnectUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResourceTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/ConnectUtilsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnect.java
  docs/connect.html
Labels: connect

#15573 KAFKA-15951: MissingSourceTopicException should include topic names
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RepartitionTopics.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsRebalanceListener.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorError.java
Labels: streams

#14716 KAFKA-14133: Move StreamTaskTest to Mockito
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams, tests

#15345 KafkaDockerWrapper: correct KAFKA_HEAP_OPTS server property
  core/src/main/scala/kafka/docker/KafkaDockerWrapper.scala
Labels: stale

#15906 KAFKA-16684: fix flaky DedicatedMirrorIntegrationTest
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/DedicatedMirrorIntegrationTest.java
Labels: tests, mirror-maker-2

#14729 KAFKA-15804: Close SocketServer channels when calling shutdown before enableRequestProcessing
  core/src/main/scala/kafka/network/SocketServer.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
Labels: core

#15902 KAFKA-16663: cancel write timeout TimerTask on successful event completion
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
  server-common/src/test/java/org/apache/kafka/server/util/timer/MockTimer.java
Labels: KIP-848

#15785 KAFKA-16587: Add subscription model information to group state
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AssignmentSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/RangeAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/SubscriptionType.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/RangeAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilderTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ClientSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: KIP-848

#15911 KAFKA-16696: Removed the in-memory implementation of RSM and RLMM
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/InmemoryRemoteLogMetadataManager.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/InmemoryRemoteStorageManager.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/InmemoryRemoteStorageManagerTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogMetadataManagerTest.java
Labels: tiered-storage

#15727 KAFKA-14509: [3/4] Add integration test for consumerGroupDescribe Api
  core/src/test/scala/unit/kafka/server/ConsumerGroupDescribeRequestsTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
Labels: KIP-848

#15909 KAFKA-16695: Improve expired poll logging
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/common/utils/Timer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
Labels: consumer

#15923 KAFKA-16703: Close serverChannel in SocketServer if unable to bind to a port
  core/src/main/scala/kafka/network/SocketServer.scala
Labels: core

#15934 MINOR: Move `group-coordinator` import control to its own file
  build.gradle
  checkstyle/import-control-group-coordinator.xml
  checkstyle/import-control.xml
Labels: KIP-848

#15903 KAFKA-16694: Remove Rack Awareness Code from the Server Side Assignors
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AbstractUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
Labels: KIP-848

#15922 KAFKA-16702: Fix producer leaks in KafkaLog4jAppenderTest
  log4j-appender/src/main/java/org/apache/kafka/log4jappender/KafkaLog4jAppender.java
  log4j-appender/src/test/java/org/apache/kafka/log4jappender/KafkaLog4jAppenderTest.java
Labels: tests

#15912 MINOR; Validate at least one control record
  clients/src/main/java/org/apache/kafka/common/record/MemoryRecords.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ReplicatedLog.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchAccumulator.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachine.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSet.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSetHistory.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotReader.java
  raft/src/test/java/org/apache/kafka/raft/internals/BatchAccumulatorTest.java
Labels: kraft, KIP-853

#15937 MINOR: fix flaky testRecordThreadIdleRatioTwoThreads test
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessorTest.java
Labels: KIP-848

#15921 MINOR: Add classic member session timeout to ClassicMemberMetadata
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/main/resources/common/message/ConsumerGroupMemberMetadataValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMemberTest.java
Labels: KIP-848

#15950 MINOR: Fix TargetAssignmentBuilderBenchmark
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: KIP-848

#15949 MINOR: Rename `Record` to `CoordinatorRecord`
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/CoordinatorRecord.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/CoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/CoordinatorRecordSerde.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/Assertions.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/CoordinatorRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/CoordinatorRecordSerdeTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/CoordinatorRecordTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/SubscribedTopicMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TopicMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorResultTest.java
Labels: KIP-848

#15408 KAFKA-16287: Implement example tests for common rebalance callback
  core/src/test/scala/integration/kafka/api/PlaintextConsumerCallbackTest.scala
Labels: KIP-848

#15969 MINOR: Remove usage of Stream API in CoordinatorRecordHelpers
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/CoordinatorRecordHelpers.java
Labels: KIP-848

#15859 KAFKA-16526; Quorum state data version 1
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/SharedServer.scala
  core/src/main/scala/kafka/tools/TestRaftServer.scala
  core/src/test/scala/unit/kafka/raft/RaftManagerTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/ElectionState.java
  raft/src/main/java/org/apache/kafka/raft/EpochState.java
  raft/src/main/java/org/apache/kafka/raft/FileQuorumStateStore.java
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumConfig.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumStateStore.java
  raft/src/main/java/org/apache/kafka/raft/ResignedState.java
  raft/src/main/java/org/apache/kafka/raft/UnattachedState.java
  raft/src/main/java/org/apache/kafka/raft/VotedState.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchAccumulator.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachine.java
  raft/src/main/java/org/apache/kafka/raft/internals/KafkaRaftMetrics.java
  raft/src/main/java/org/apache/kafka/raft/internals/ReplicaKey.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSet.java
  raft/src/main/resources/common/message/QuorumStateData.json
  raft/src/test/java/org/apache/kafka/raft/CandidateStateTest.java
  raft/src/test/java/org/apache/kafka/raft/ElectionStateTest.java
  raft/src/test/java/org/apache/kafka/raft/FileBasedStateStoreTest.java
  raft/src/test/java/org/apache/kafka/raft/FileQuorumStateStoreTest.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/MockQuorumStateStore.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftEventSimulationTest.java
  raft/src/test/java/org/apache/kafka/raft/ResignedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/VotedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachineTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsIteratorTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/VoterSetHistoryTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/VoterSetTest.java
  raft/src/test/java/org/apache/kafka/snapshot/RecordsSnapshotWriterTest.java
Labels: kraft, KIP-853

#15978 KAFKA-16774: Delete flaky test since it is redundant
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams, tests

#15954 KAFKA-16762: SyncGroup API for upgrading ConsumerGroup
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/Assertions.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
Labels: KIP-848

#15976 MINOR: Refactor write timeout in CoordinatorRuntime
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
Labels: KIP-848

#15933 KAFKA-16223: Replace EasyMock/PowerMock with Mockito for KafkaConfigBackingStoreTest
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreMockitoTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
Labels: connect, tests

#15964 KAFKA-16770; [1/N] Coalesce records into bigger batches
  core/src/main/scala/kafka/coordinator/group/CoordinatorLoaderImpl.scala
  core/src/main/scala/kafka/coordinator/group/CoordinatorPartitionWriter.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorLoaderImplTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/CoordinatorRecordSerde.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorLoader.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/Deserializer.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/PartitionWriter.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/Serializer.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/InMemoryPartitionWriter.java
Labels: KIP-848

#15564 KAFKA-16343: Add unit tests of foreignKeyJoin classes
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignTableJoinProcessorSupplierTests.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ResponseJoinProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionJoinProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionSendProcessorSupplierTest.java
Labels: streams

#15940 KAFKA-16739: Exclude protected members from aggregated release Javadocs
  build.gradle
Labels: docs

#15975 KAFKA-15541: Add num-open-iterators metric
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredMultiVersionedKeyQueryIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowedKeyValueIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/StateStoreMetrics.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
Labels: streams, kip

#16028 KAFKA-15541: Add iterator-duration metrics
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredMultiVersionedKeyQueryIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowedKeyValueIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/StateStoreMetrics.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
Labels: streams, kip

#15987 MINOR: fix flaky testRecordThreadIdleRatio
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessorTest.java
Labels: KIP-848

#15910 KAFKA-15905 Restarts of MirrorCheckpointTask should not permanently i…
  connect/mirror-client/src/main/java/org/apache/kafka/connect/mirror/Checkpoint.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/CheckpointStore.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConfig.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/OffsetSyncStore.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/CheckpointStoreTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointTaskTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/OffsetSyncStoreTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/KafkaBasedLog.java
Labels: mirror-maker-2

#15469 MINOR: Refactor Values class to fix checkstyle, add benchmark, optimize exceptions
  checkstyle/suppressions.xml
  connect/api/src/main/java/org/apache/kafka/connect/data/Values.java
  connect/api/src/test/java/org/apache/kafka/connect/data/ValuesTest.java
  gradle/spotbugs-exclude.xml
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/connect/ValuesBenchmark.java
Labels: connect

#15970 KAFKA-16626: Lazily convert subscribed topic names to topic ids
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/CoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AssignmentMemberSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TopicIds.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/RangeAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TopicIdsTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: KIP-848

#15377 Refactor SSL/SASL admin integration tests to not use a custom authorizer
  core/src/test/scala/integration/kafka/api/BaseAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SaslSslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SslAdminIntegrationTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: tests

#16059 KAFKA-16831: CoordinatorRuntime should initialize MemoryRecordsBuilder with max batch size write limit
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#16076 KAFKA-15541: Use LongAdder instead of AtomicInteger
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredMultiVersionedKeyQueryIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowedKeyValueIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/StateStoreMetrics.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
Labels: streams

#15691 KAFKA-16507 Add raw record into RecordDeserialisationException
  checkstyle/import-control.xml
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CompletedFetch.java
  clients/src/main/java/org/apache/kafka/common/errors/RecordDeserializationException.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CompletedFetchTest.java
Labels: consumer, kip

#16041 KAFKA-15541: Add oldest-iterator-open-since-ms metric
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredMultiVersionedKeyQueryIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowedKeyValueIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/StateStoreMetrics.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredSessionStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
Labels: streams, kip

#16057 KAFKA-16832: LeaveGroup API for upgrading ConsumerGroup
  checkstyle/suppressions.xml
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
Labels: KIP-848

#15690 KAFKA-16399: Add JBOD support in tiered storage
  core/src/main/java/kafka/server/ReplicaAlterLogDirsTierStateMachine.java
  core/src/main/java/kafka/server/ReplicaFetcherTierStateMachine.java
  core/src/main/java/kafka/server/TierStateMachine.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/ReplicaAlterLogDirsThread.scala
  core/src/main/scala/kafka/server/ReplicaFetcherThread.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/server/AbstractFetcherManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/MockTierStateMachine.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/server/TierStateMachineTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/FetchParams.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestBuilder.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestHarness.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/AlterLogDirAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ExpectLeaderAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/AlterLogDirTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/TransactionsWithTieredStoreTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/utils/BrokerLocalStorage.java
  storage/src/test/java/org/apache/kafka/tiered/storage/utils/TieredStorageTestUtils.java
Labels: tiered-storage

#15601 KAFKA-16362: Fix type-unsafety in KStreamKStreamJoin caused by isLeftSide
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImplJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinLeftSide.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinRightSide.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LeftOrRightValue.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedKeyAndJoinSide.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedKeyAndJoinSideDeserializer.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimestampedKeyAndJoinSideSerializerTest.java
Labels: streams

#16090 KAFKA-16448: Add ProcessingExceptionHandler interface and implementations
  streams/src/main/java/org/apache/kafka/streams/errors/ErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndContinueProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/DefaultErrorHandlerContext.java
Labels: streams, kip

#16121 MINOR: Prevent consumer protocol to be used in ZK mode
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/java/kafka/test/ClusterTestExtensionsTest.java
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
Labels: KIP-848

#16092 KAFKA-16448: Add ProcessingExceptionHandler in Streams configuration
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams, kip

#16101 KAFKA-16844: Add ByteBuffer support for Connect ByteArrayConverter
  connect/runtime/src/main/java/org/apache/kafka/connect/converters/ByteArrayConverter.java
  connect/runtime/src/test/java/org/apache/kafka/connect/converters/ByteArrayConverterTest.java
Labels: connect

#15625 KAFKA-15265: Add Remote Log Manager quota manager
  checkstyle/suppressions.xml
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/log/remote/quota/RLMQuotaManager.java
  core/src/main/java/kafka/log/remote/quota/RLMQuotaManagerConfig.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/QuotaFactory.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/java/kafka/log/remote/quota/RLMQuotaManagerTest.java
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfigTest.java
Labels: tiered-storage

#16128 MINOR: make public the consumer group migration policy config
  core/src/main/scala/kafka/server/KafkaConfig.scala
Labels: KIP-848

#16112 Adds a test case to test that an exception is thrown in invalid ports
  clients/src/test/java/org/apache/kafka/clients/ClientUtilsTest.java
Labels: tests

#16066 [MINOR] Code Cleanup - Connect Module
  connect/api/src/main/java/org/apache/kafka/connect/data/SchemaBuilder.java
  connect/api/src/test/java/org/apache/kafka/connect/connector/ConnectorReconfigurationTest.java
  connect/api/src/test/java/org/apache/kafka/connect/data/SchemaProjectorTest.java
  connect/api/src/test/java/org/apache/kafka/connect/util/ConnectorUtilsTest.java
  connect/file/src/test/java/org/apache/kafka/connect/file/FileStreamSinkTaskTest.java
  connect/file/src/test/java/org/apache/kafka/connect/file/integration/FileStreamSourceConnectorIntegrationTest.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/rest/MirrorRestServer.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/clients/admin/FakeLocalMetadataStore.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsWithCustomForwardingAdminIntegrationTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/ConnectRestServer.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConfigInfos.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConfigKeyInfo.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConfigValueInfo.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorTopicsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/TaskHandle.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/ErrorHandlingTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/MockConnectMetrics.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/ConnectProtocolCompatibilityTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinatorIncrementalTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/ConnectRestServerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/RestServerConfigTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/FileOffsetBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreMockitoTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/ConvertingFutureCallbackTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TestFuture.java
Labels: connect

#16142 Revert "KAFKA-16448: Add ProcessingExceptionHandler interface and implementations (#16090)"
  streams/src/main/java/org/apache/kafka/streams/errors/ErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndContinueProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/DefaultErrorHandlerContext.java
Labels: streams, kip

#16085 MINOR: Add more unit tests to LogSegments
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/log/LogSegmentTest.scala
  core/src/test/scala/unit/kafka/log/LogSegmentsTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogSegment.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogSegments.java
Labels: tests

#16148 MINOR: update all-latency-avg documentation
  docs/ops.html
Labels: streams, docs

#16149 KAFKA-16860; [2/2] Introduce group.version feature flag
  tests/kafkatest/services/kafka/config_property.py
  tests/kafkatest/services/kafka/kafka.py
Labels: KIP-848

#16088 MINOR: Optimize uniform (homogenous) assignor
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformAssignor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/AssignmentTestUtil.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/CoordinatorRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: KIP-848
