Repository apache/kafka, pull requests merged in 2024-08, with the labels that each got.

#16741 MINOR: update StreamsGraphTest
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphTest.java
Labels: streams

#16759 KAFKA-16521: kafka-metadata-quorum describe command changes for KIP-853
  clients/src/main/resources/common/message/DescribeQuorumRequest.json
  core/src/test/scala/unit/kafka/server/DescribeQuorumRequestTest.scala
  tools/src/main/java/org/apache/kafka/tools/MetadataQuorumCommand.java
  tools/src/test/java/org/apache/kafka/tools/MetadataQuorumCommandTest.java
Labels: kraft, KIP-853

#16757 MINOR: Add extended cluster readiness check for Connect's embedded Kafka cluster
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
Labels: connect, tests

#16776 KAFKA-16448 Update documentation
  docs/streams/developer-guide/config-streams.html
  docs/streams/upgrade-guide.html
Labels: streams, docs, kip

#16771 MINOR: Fix consumer group warmup in MirrorMaker 2 integration tests
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
Labels: tests, mirror-maker-2

#16742 KAFKA-9738: Deprecate old Processor API
  docs/streams/upgrade-guide.html
  streams/examples/src/test/java/org/apache/kafka/streams/examples/wordcount/WordCountTransformerTest.java
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/internals/ApiUtils.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KeyValueMapper.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Transformer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TransformerSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueTransformer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueTransformerSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/AbstractStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamFlatTransform.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/TransformerSupplierAdapter.java
  streams/src/main/java/org/apache/kafka/streams/processor/ConnectedStoreProvider.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamTransformIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StandbyTaskEOSIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/AbstractStreamTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamFlatTransformTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamTransformValuesTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TransformerSupplierAdapterTest.java
  streams/src/test/java/org/apache/kafka/test/MockInternalProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/NoopValueTransformer.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/FunctionsCompatConversions.scala
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/api/MockProcessorContext.java
  streams/test-utils/src/test/java/org/apache/kafka/streams/MockProcessorContextTest.java
Labels: streams, kip

#16772 MINOR: Fix ConnectWorkerIntegrationTest::testRequestTimeouts
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
Labels: connect, tests

#16669 KAFKA-16518: Implement KIP-853 flags for storage-tool.sh
  checkstyle/import-control-metadata.xml
  checkstyle/suppressions.xml
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/test/scala/integration/kafka/api/DelegationTokenEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/SaslScramSslEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerConcurrencyTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  metadata/src/main/java/org/apache/kafka/metadata/bootstrap/BootstrapMetadata.java
  metadata/src/main/java/org/apache/kafka/metadata/storage/Formatter.java
  metadata/src/main/java/org/apache/kafka/metadata/storage/FormatterException.java
  metadata/src/main/java/org/apache/kafka/metadata/storage/ScramParser.java
  metadata/src/test/java/org/apache/kafka/metadata/storage/FormatterTest.java
  metadata/src/test/java/org/apache/kafka/metadata/storage/ScramParserTest.java
  raft/src/main/java/org/apache/kafka/raft/DynamicVoter.java
  raft/src/main/java/org/apache/kafka/raft/DynamicVoters.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSet.java
  raft/src/test/java/org/apache/kafka/raft/DynamicVoterTest.java
  raft/src/test/java/org/apache/kafka/raft/DynamicVotersTest.java
  server-common/src/main/java/org/apache/kafka/server/common/KRaftVersion.java
Labels: kraft, KIP-853

#16715 KAFKA-16390 add `group.coordinator.rebalance.protocols=classic,consumer` to broker configs when system tests need the new coordinator
  tests/kafkatest/services/kafka/config_property.py
  tests/kafkatest/services/kafka/kafka.py
Labels: consumer, tests, KIP-848, ctr

#16653 KAFKA-16855: remote log disable policy in KRaft
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/ControllerConfigurationValidator.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/main/scala/kafka/zk/AdminZkClient.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/integration/kafka/admin/RemoteTopicCrudTest.scala
  core/src/test/scala/unit/kafka/log/LogConfigTest.scala
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
  core/src/test/scala/unit/kafka/server/ControllerConfigurationValidatorTest.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigChangeTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogConfig.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/DisableRemoteLogOnTopicTest.java
Labels: tiered-storage

#16720 MINOR: Fix consumer log on fatal error & improve memberId logging
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
Labels: consumer, KIP-848

#16745 KAFKA-16448: Unify error-callback exception handling
  streams/src/main/java/org/apache/kafka/streams/errors/DeserializationExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/DefaultErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/FailedProcessingException.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosV2UpgradeIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
Labels: streams, kip

#16763 KAFKA-17227: Update zstd-jni lib
  LICENSE-binary
  docker/native/native-image-configs/resource-config.json
  docs/upgrade.html
  gradle/dependencies.gradle
Labels: backport-candidate, dependencies

#16785 MINOR: Increase test producer max.block.ms in MirrorConnectorsIntegrationTransactionsTest
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationTransactionsTest.java
Labels: tests, mirror-maker-2

#16456 KAFKA-16745: Implemented handleShareFetchRequest RPC including unit tests
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/java/kafka/server/share/FinalContext.java
  core/src/main/java/kafka/server/share/ShareFetchContext.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/java/kafka/server/share/ShareSessionContext.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/KRaftMetadataRequestBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/MetadataRequestBenchmark.java
Labels: KIP-932

#16721 MINOR: Flaky test reduced timeouts to help eliminate race conditions on timeout
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
Labels: streams, tests

#16747 KAFKA-12828: Removed Deprecated methods under KeyQueryMetadata
  streams/src/main/java/org/apache/kafka/streams/KeyQueryMetadata.java
Labels: streams

#16797 KAFKA-16742: Add share group describe in coordinator (KIP-932)
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
Labels: KIP-932

#16819 KAFKA-17276; replicaDirectoryId for Fetch and FetchSnapshot should be ignorable
  clients/src/main/resources/common/message/FetchRequest.json
  clients/src/main/resources/common/message/FetchSnapshotRequest.json
Labels: kraft, KIP-853

#16765 KAFKA-17236: handle local log deletion when remote.log..copy.disabled=true
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/integration/kafka/admin/RemoteTopicCrudTest.scala
  core/src/test/scala/unit/kafka/log/LogTestUtils.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogConfig.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/DisableRemoteLogOnTopicTest.java
Labels: tiered-storage

#16767 KAFKA-17232: MirrorCheckpointConnector does not generate task configs if initial consumer group load times out.
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnector.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnectorTest.java
Labels: mirror-maker-2

#16773 KAFKA-17242: MirrorCheckpointTask prints spurious timeout for startin…
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/Scheduler.java
Labels: mirror-maker-2

#16727 KAFKA-17217: Batched acknowledge requests per node in ShareConsumeRequestManager
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
Labels: KIP-932

#16774 KAFKA-16523; kafka-metadata-quorum: support add-controller and remove-controller
  build.gradle
  checkstyle/import-control.xml
  clients/src/main/java/org/apache/kafka/clients/admin/AddRaftVoterOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/RemoveRaftVoterOptions.java
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/requests/AddRaftVoterResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ApiVersionsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/RemoveRaftVoterResponse.java
  clients/src/main/resources/common/message/AddRaftVoterRequest.json
  clients/src/main/resources/common/message/RemoveRaftVoterRequest.json
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  core/src/main/scala/kafka/cluster/EndPoint.scala
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/main/scala/kafka/utils/CoreUtils.scala
  core/src/main/scala/kafka/zk/ZkData.scala
  core/src/test/scala/unit/kafka/cluster/BrokerEndPointTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  raft/src/main/java/org/apache/kafka/raft/DynamicVoter.java
  raft/src/main/java/org/apache/kafka/raft/KafkaNetworkChannel.java
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  server/src/main/java/org/apache/kafka/network/SocketServerConfigs.java
  server/src/test/java/org/apache/kafka/network/SocketServerConfigsTest.java
  tools/src/main/java/org/apache/kafka/tools/MetadataQuorumCommand.java
  tools/src/test/java/org/apache/kafka/tools/MetadataQuorumCommandErrorTest.java
  tools/src/test/java/org/apache/kafka/tools/MetadataQuorumCommandUnitTest.java
Labels: kraft, KIP-853

#16837 KAFKA-16534; Implement sending update voter request
  clients/src/main/resources/common/message/UpdateRaftVoterRequest.json
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  raft/src/main/java/org/apache/kafka/raft/internals/UpdateVoterHandler.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft, KIP-853

#16825 KAFKA-17267: Don't return REQUEST_TIMED_OUT for OFFSET_FETCHes
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
Labels: KIP-848

#16800 KAFKA-17228: Static member using new protocol should always replace the one using the old protocol
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
Labels: KIP-848

#16751 KAFKA-17225: Refactor consumer membership managers
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/ConsumerRebalanceMetricsManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/RebalanceMetricsManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/ShareRebalanceMetricsManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/RequestManagersTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerTestBuilder.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
Labels: consumer, KIP-848, KIP-932

#16805 KAFKA-16328: Remove Deprecated config from StreamsConfig
  docs/streams/developer-guide/config-streams.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams

#16820 KAFKA-17067; Fix KRaft transition to CandidateState
  raft/src/main/java/org/apache/kafka/raft/EpochState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/UnattachedState.java
  raft/src/main/java/org/apache/kafka/raft/VotedState.java
  raft/src/main/java/org/apache/kafka/raft/internals/KafkaRaftMetrics.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/UnattachedStateWithVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
Labels: kraft, KIP-853

#16828 KAFKA-17288: Removed tracking partition member epoch (KIP-932)
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/ModernGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupTest.java
Labels: KIP-932

#15067 KAFKA-14511: extend AlterIncrementalConfigs API to support group config
  clients/src/main/java/org/apache/kafka/clients/admin/ConfigEntry.java
  clients/src/main/java/org/apache/kafka/common/config/ConfigResource.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeConfigsResponse.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/common/config/ConfigResourceTest.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ConfigAdminManager.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/server/ControllerConfigurationValidator.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/metadata/DynamicConfigPublisher.scala
  core/src/main/scala/kafka/server/metadata/ZkConfigRepository.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  core/src/test/scala/unit/kafka/server/ControllerConfigurationValidatorTest.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigChangeTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/metadata/ZkConfigRepositoryTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfigManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupConfigManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  server-common/src/main/java/org/apache/kafka/server/config/ConfigType.java
Labels: KIP-848

#16846 KAFKA-17289: ShareGroupDescribe integration test
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupDescribeRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupDescribeRequestTest.scala
Labels: KIP-932

#16792 KAFKA-16746: Implemented handleShareAcknowledgeRequest RPC including unit tests
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareSessionHandler.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareAcknowledgeRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareFetchRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareRequestMetadata.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareSessionHandlerTest.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/java/kafka/server/share/ShareSessionContext.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  server/src/main/java/org/apache/kafka/server/share/ShareSessionCache.java
Labels: KIP-932

#16847 KAFKA-17292: Introduce share coordinator protocol config
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  server/src/main/java/org/apache/kafka/server/config/ShareGroupConfig.java
Labels: KIP-932

#16836 KAFKA-17300: add document for new tiered storage feature in v3.9.0.
  docs/ops.html
  docs/upgrade.html
Labels: tiered-storage

#16835 KAFKA-16714: kafka-share-groups.sh list and describe
  bin/kafka-share-groups.sh
  bin/windows/kafka-share-groups.bat
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandTest.java
Labels: KIP-932

#16859 KAFKA-14510: Extend DescribeConfigs API to support group configs
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  core/src/main/scala/kafka/server/ConfigHelper.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/metadata/ConfigRepository.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/metadata/MockConfigRepositoryTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
  metadata/src/test/java/org/apache/kafka/metadata/KafkaConfigSchemaTest.java
  server/src/main/java/org/apache/kafka/security/authorizer/AclEntry.java
Labels: KIP-848

#16845 KAFKA-17272: [1/2] System test framework for consumer protocol migration
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/services/verifiable_consumer.py
  tests/kafkatest/tests/client/consumer_test.py
  tests/kafkatest/tests/verifiable_consumer_test.py
Labels: KIP-848

#16862 KAFKA-17304; RaftClient API makes writing to log explicit
  core/src/main/scala/kafka/tools/TestRaftServer.scala
  metadata/src/main/java/org/apache/kafka/controller/OffsetControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/errors/EventHandlerExceptionInfo.java
  metadata/src/main/java/org/apache/kafka/metadata/util/BatchFileWriter.java
  metadata/src/test/java/org/apache/kafka/controller/OffsetControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerMetricsIntegrationTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/errors/EventHandlerExceptionInfoTest.java
  metadata/src/test/java/org/apache/kafka/image/publisher/SnapshotEmitterTest.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManager.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManagerTest.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManagerTestEnv.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/RaftClient.java
  raft/src/main/java/org/apache/kafka/raft/errors/UnexpectedBaseOffsetException.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchAccumulator.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotWriter.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/ReplicatedCounter.java
  raft/src/test/java/org/apache/kafka/raft/internals/BatchAccumulatorTest.java
Labels: kraft, KIP-853

#16886 MINOR: Fix visibility for classes exposed outside of their scope
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/internals/RequestSender.java
Labels: backport-candidate, KIP-853

#16872 KAFKA-17318: ConsumerRecord.deliveryCount and remove deprecations
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerRecord.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareCompletedFetch.java
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerRecordTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareCompletedFetchTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordQueueTest.java
Labels: KIP-932

#16891 KAFKA-16752: [MINOR] Addressed additional review comments
  core/src/main/java/kafka/server/share/SharePartition.java
Labels: KIP-932

#16860 KAFKA-16723 : Added kafka-console-share-consumer.sh tool.
  bin/kafka-console-share-consumer.sh
  bin/windows/kafka-console-share-consumer.bat
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleShareConsumer.java
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleShareConsumerOptions.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleShareConsumerOptionsTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleShareConsumerTest.java
Labels: KIP-932

#16823 KAFKA-17283: Integration test for share group heartbeat
  core/src/test/scala/unit/kafka/server/ShareGroupHeartbeatRequestTest.scala
Labels: KIP-932

#16894 KAFKA-16753: [MINOR] Addressing additional review comments
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
Labels: KIP-932

#16892 KAFKA-16842; Fix config validation and support unknown voters
  build.gradle
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/VoterSet.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachine.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSetHistory.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/VoterSetTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachineTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsIteratorTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/VoterSetHistoryTest.java
Labels: kraft, KIP-853

#16877 KAFKA-17330: New share-coordinator module. Added record schemas.
  build.gradle
  checkstyle/import-control-share-coordinator.xml
  checkstyle/suppressions.xml
  settings.gradle
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/main/resources/common/message/ShareSnapshotKey.json
  share-coordinator/src/main/resources/common/message/ShareSnapshotValue.json
  share-coordinator/src/main/resources/common/message/ShareUpdateKey.json
  share-coordinator/src/main/resources/common/message/ShareUpdateValue.json
Labels: KIP-932

#16890 KAFKA-16749: [Minor] Addressed additional review comments
  core/src/main/java/kafka/server/share/SharePartitionManager.java
Labels: KIP-932

#16604 KAFKA-15203 Use Classgraph since org.reflections is no longer under maintainence
  build.gradle
  checkstyle/import-control.xml
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/ReflectionScanner.java
  gradle/dependencies.gradle
Labels: connect

#16888 KAFKA-17346: Refactored share session classes to server module
  build.gradle
  checkstyle/import-control-share.xml
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  settings.gradle
  share/src/main/java/org/apache/kafka/server/share/CachedSharePartition.java
  share/src/main/java/org/apache/kafka/server/share/ErroneousAndValidPartitionData.java
  share/src/main/java/org/apache/kafka/server/share/FinalContext.java
  share/src/main/java/org/apache/kafka/server/share/LastUsedKey.java
  share/src/main/java/org/apache/kafka/server/share/ShareAcknowledgementBatch.java
  share/src/main/java/org/apache/kafka/server/share/ShareFetchContext.java
  share/src/main/java/org/apache/kafka/server/share/ShareSession.java
  share/src/main/java/org/apache/kafka/server/share/ShareSessionCache.java
  share/src/main/java/org/apache/kafka/server/share/ShareSessionContext.java
  share/src/main/java/org/apache/kafka/server/share/ShareSessionKey.java
  share/src/test/java/org/apache/kafka/server/share/CachedSharePartitionTest.java
  share/src/test/java/org/apache/kafka/server/share/ShareSessionCacheTest.java
  share/src/test/java/org/apache/kafka/server/share/ShareSessionTest.java
Labels: KIP-932

#16907 KAFKA-17332; Controller always flush and can call resign on observers
  core/src/main/scala/kafka/raft/RaftManager.scala
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftEventSimulationTest.java
Labels: kraft, KIP-853

#16803 KAFKA-12824: Remove Deprecated method KStream#branch
  streams/src/main/java/org/apache/kafka/streams/kstream/KStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/StreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamBranchTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KStream.scala
Labels: streams

#16897 KAFKA-17350: Improve share group describe for empty groups
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommand.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandTest.java
Labels: KIP-932

#16919 MINOR: Update `getOrMaybeCreateClassicGroup` to only throw GroupIdNotFoundException
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: KIP-848

#16826 KAFKA-17279: Handle retriable errors from offset fetches
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
Labels: consumer

#16658 KAFKA-17137:Ensure Admin APIs are properly tested
  checkstyle/suppressions.xml
  core/src/test/java/kafka/admin/ClientTelemetryTest.java
  core/src/test/scala/integration/kafka/admin/AdminFenceProducersIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: tests, admin

#16900 KAFKA-17333; ResignedState should not notify of leader change
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft, KIP-853

#16937 KAFKA-14048; [1/N] Use the new group coordinator by default in 4.0
  core/src/test/scala/unit/kafka/server/ConsumerGroupDescribeRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerProtocolMigrationTest.scala
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/HeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/LeaveGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupDescribeRequestTest.scala
  core/src/test/scala/unit/kafka/server/SyncGroupRequestTest.scala
Labels: KIP-848

#16848 KAFKA-17305; Quorum controller should check the finalized kraft.version during broker registration
  core/src/main/scala/kafka/server/BrokerFeatures.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/scala/unit/kafka/server/BrokerLifecycleManagerTest.scala
  core/src/test/scala/unit/kafka/server/BrokerRegistrationRequestTest.scala
  core/src/test/scala/unit/kafka/server/ReplicationQuotasTest.scala
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManager.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManagerTestEnv.java
Labels: kraft, KIP-853

#16756 MINOR: update flaky KafkaStreamsTest
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
Labels: streams, tests

#16722 MINOR: remove get prefix for internal Kafka Streams methods
  streams/examples/src/main/java/org/apache/kafka/streams/examples/wordcount/WordCountDemo.java
  streams/examples/src/test/java/org/apache/kafka/streams/examples/wordcount/WordCountDemoTest.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/StreamsConfigUtils.java
  streams/src/main/java/org/apache/kafka/streams/internals/UpgradeFromValues.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/ChangedSerializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableRepartitionMap.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionWrapperSerde.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ClientUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopicProperties.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RepartitionTopicConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StoreChangelogReader.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TopologyMetadata.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/UnwindowedUnversionedChangelogTopicConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/VersionedChangelogTopicConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/WindowedChangelogTopicConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/KafkaStreamsNamedTopologyWrapper.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractDualSchemaRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/KeyValueSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedSegments.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/metrics/RocksDBBlockCacheMetricsTest.java
Labels: streams

#14551 MINOR: Cleanup Joined class
  streams/src/main/java/org/apache/kafka/streams/kstream/Joined.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/JoinedInternal.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
Labels: streams, kip

#16942 KAFKA-17378: Fixes for performance testing
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
Labels: KIP-932

#16953 MINOR: fix HTML for topology.optimization config
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams, docs

#16810 MINOR: Speed up JoinGroupRequestTest, ListGroupsRequestTest, SyncGroupRequestTest by decreased rebalance deplay from 3s to 1s
  core/src/test/scala/unit/kafka/server/JoinGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/SyncGroupRequestTest.scala
Labels: tests

#16764 KAFKA-16333: remove deprecated join method with named param
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/streams-scala/src/main/scala/org/apache/kafka/streams/scala/kstream/KTable.scala
Labels: streams

#16941 KAFKA-17371: Flaky test in DefaultTaskExecutorTest.shouldUnassignTaskWhenRequired
  streams/src/test/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskExecutorTest.java
Labels: streams, tests

#16437 KAFKA-16334: Remove `--bootstrap-servers` from `kafka-streams-application-reset`
  tools/src/main/java/org/apache/kafka/tools/StreamsResetter.java
Labels: streams, tools

#15694 MINOR: Kafka streams docs fixes
  streams/src/main/java/org/apache/kafka/streams/kstream/KTable.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Suppressed.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TimeWindowedKStream.java
Labels: streams, docs, stale

#11568 DOCS-3261: Add anchor to AK Streams page for use cases
  docs/streams/index.html
Labels: streams, docs

#16762 KAFKA-16329 : Remove deprecated classes in streams
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/TaskMetadata.java
  streams/src/main/java/org/apache/kafka/streams/processor/ThreadMetadata.java
  streams/src/main/java/org/apache/kafka/streams/state/StreamsMetadata.java
Labels: streams

#16625 KAFKA-17112: Manually stop task manager if stream thread is not in CREATED state
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, tests

#16920 KAFKA-17291: Add integration test for share group list and describe
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/ShareGroupListing.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AdminUtils.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeConsumerGroupsHandler.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeShareGroupsHandler.java
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/kafka/utils/TestInfoUtils.scala
Labels: KIP-932

#16949 KAFKA-16379: Coordinator event queue, processing, flush, purgatory time histograms
  build.gradle
  checkstyle/import-control-group-coordinator.xml
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeMetrics.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/MultiThreadedEventProcessor.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/MultiThreadedEventProcessorTest.java
  gradle/dependencies.gradle
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorRuntimeMetrics.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/HdrHistogram.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/KafkaMetricHistogram.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorRuntimeMetricsTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/HdrHistogramTest.java
Labels: KIP-848

#16981 KAFKA-12824: Delete unused doBranch method
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
Labels: streams

#16914 KAFKA-17100: GlobalStreamThread#start should not busy-wait
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStreamThread.java
Labels: streams

#16954 MINOR: remove get prefix for internal IQ methods
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ReadOnlyTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/Task.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/KafkaStreamsNamedTopologyWrapper.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/QueryableStoreProvider.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProvider.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ReadOnlyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsMetadataStateTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/QueryableStoreProviderTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StreamThreadStateStoreProviderTest.java
Labels: streams

#16945 KAFKA-14048; [2/N] Use the new group coordinator by default in 4.0
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/java/kafka/test/ClusterTestExtensionsTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  tests/kafkatest/services/kafka/kafka.py
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerTest.java
Labels: KIP-848

#16878 KAFKA-17324: Set config group.protocol to classic in Streams
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams

#16921 KAFKA-17367: Share coordinator impl. Introduce infra classes [1/N]
  build.gradle
  checkstyle/import-control-share-coordinator.xml
  checkstyle/suppressions.xml
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRecordSerde.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordSerde.java
  server-common/src/main/java/org/apache/kafka/server/group/share/PersisterStateBatch.java
  server-common/src/main/java/org/apache/kafka/server/group/share/ShareGroupHelper.java
  server-common/src/main/java/org/apache/kafka/server/group/share/SharePartitionKey.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/PersisterOffsetsStateBatch.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinator.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorRecordHelpers.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorRecordSerde.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareGroupOffset.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorRecordHelpersTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorRecordSerdeTest.java
Labels: KIP-932

#15482 KAFKA-16335: Remove deprecated method of StreamPartitioner
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableImpl.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WindowedStreamPartitioner.java
  streams/src/main/java/org/apache/kafka/streams/processor/StreamPartitioner.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStreamPartitioner.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamRepartitionIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyInnerJoinCustomPartitionerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/OptimizedKTableIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/StoreQueryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/WindowedStreamPartitionerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsMetadataStateTest.java
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/ProducedTest.scala
  streams/streams-scala/src/test/scala/org/apache/kafka/streams/scala/kstream/RepartitionedTest.scala
Labels: streams

#16985 KAFKA-16330: Remove deprecated methods of TaskId and make deprecated members private
  streams/src/main/java/org/apache/kafka/streams/processor/TaskId.java
Labels: streams

#16963 KAFKA-17341: Refactor consumer heartbeat request managers
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThreadTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
Labels: consumer, KIP-848, KIP-932

#16955 KAFKA-17396: Fix releasing session on final epoch
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: KIP-932

#16816 MINOR: Keep Kafka Streams configs ordered in code and docs
  docs/streams/developer-guide/config-streams.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams

#16974 KAFKA-17403: Generate HB to leave on pollOnClose if needed
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
Labels: consumer, KIP-848

#17018 KAFKA-17432: Fix threads alive after shutdown
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/tasks/DefaultTaskExecutor.java
Labels: streams

#17025 MINOR: remove get prefix for internal PAPI methods
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/graph/StreamTableJoinNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractReadWriteDecorator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateManagerImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilder.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SourceNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsMetadataState.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TopologyMetadata.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/namedtopology/KafkaStreamsNamedTopologyWrapper.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdaterTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopologyBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorStateManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateManagerStub.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  streams/src/test/java/org/apache/kafka/test/GlobalStateManagerStub.java
  streams/src/test/java/org/apache/kafka/test/MockInternalNewProcessorContext.java
  streams/src/test/java/org/apache/kafka/test/MockInternalProcessorContext.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TestOutputTopic.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#17017 KAFKA-17426; Check node directory id for KRaft
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
Labels: kraft, KIP-853

#17013 KAFKA-17413; Re-introduce `group.version` feature flag
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/test/annotation/ClusterTest.java
  core/src/test/java/kafka/test/junit/RaftClusterInvocationContext.java
  core/src/test/scala/unit/kafka/server/AbstractApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/BrokerFeaturesTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupDescribeRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ReplicationQuotasTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
  metadata/src/test/java/org/apache/kafka/metadata/storage/FormatterTest.java
  server-common/src/main/java/org/apache/kafka/server/common/Features.java
  server-common/src/main/java/org/apache/kafka/server/common/GroupVersion.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/main/java/org/apache/kafka/server/common/TransactionVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
  tests/kafkatest/version.py
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: KIP-848

#16694 KAFKA-17170: Add test to ensure new consumer acks reconciled assignment even if first HB with ack lost
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
Labels: consumer, KIP-848

#17031 MINOR fix for opt-in flag for Github build
  .github/workflows/build.yml
Labels: build

#16673 KAFKA-17064: New consumer assign should update assignment in background thread
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/AssignmentChangeEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/NewTopicsMetadataUpdateRequestEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
Labels: consumer, KIP-848, ctr

#16778 KAFKA- 12834 : Removed Deprecated method under MockProcessorContext
  streams/test-utils/src/main/java/org/apache/kafka/streams/processor/MockProcessorContext.java
Labels: streams

#16791 KAFKA-12829: Remove deprecated Topology#addGlobalStore of old Processor API
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorTopologyTest.java
Labels: streams

#17030 KAFKA-17377: Consider using defaultApiTimeoutMs in AsyncKafkaConsumer#unsubscribe
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
Labels: consumer, ctr

#16744 KAFKA-16327: Removed Deprecated variable StreamsConfig#TOPOLOGY_OPTIMIZATION
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams

#17019 KAFKA-17433 Add a deflake Github action
  .github/README.md
  .github/workflows/deflake.yml
  build.gradle
  core/src/test/java/kafka/test/junit/ClusterTestExtensions.java
Labels: build

#17053 MINOR: remove get prefix for internal state methods
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinLeftSide.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoinRightSide.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractReadWriteDecorator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractDualSchemaRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractRocksDBSegmentedBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/AbstractSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LeftOrRightValue.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LeftOrRightValueSerializer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegment.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LogicalSegmentIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreRestoreWriteBuffer.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreSegmentValueFormatter.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/Segments.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreQueryUtils.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedKeyAndJoinSide.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimestampedKeyAndJoinSideSerializer.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsMetadataStateTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/KeyValueSegmentsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegmentsTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBVersionedStoreSegmentValueFormatterTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimestampedSegmentsTest.java
Labels: streams

#17034 MINOR Handle test re-runs in junit.py
  .github/scripts/junit.py
Labels: build
