Repository apache/kafka, pull requests merged in 2024-04, with the labels that each got.

#15463 KAFKA-16323: fix testRemoteFetchExpiresPerSecMetric
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: tiered-storage

#15636 KAFKA-16161: Avoid empty remote metadata snapshot file in partition dir
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/FileBasedRemoteLogMetadataCache.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataSnapshotFile.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogSegmentMetadataSnapshot.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/RemotePartitionMetadataEventHandler.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/RemotePartitionMetadataStore.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManager.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/ConsumerTaskTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/FileBasedRemoteLogMetadataCacheTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataSnapshotFileTest.java
Labels: tiered-storage

#15446 KAFKA-16148: Implement GroupMetadataManager#onUnloaded
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
Labels: KIP-848

#15510 KAFKA-15417 Sloppy bug: moved the outerJoinBreak-flags out of the loop
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamOuterJoinTest.java
Labels: streams

#15529 MINOR; Missing minISR config should log a debug message
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
Labels: kraft

#15686 MINOR: Remove dead code of metric forward-rate
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ProcessorNodeMetrics.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ProcessorNodeMetricsTest.java
Labels: streams

#15587 MINOR: Add type check to classic group timeout operations
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: KIP-848

#15558 KAFKA-15517: Improve MirrorMaker logging in case of authorization errors
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorCheckpointTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorSourceConnector.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorUtils.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorCheckpointTaskTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceConnectorTest.java
Labels: mirror-maker-2

#15662 KAFKA-16436: Online upgrade triggering and group type conversion
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ConsumerGroupMigrationPolicy.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/main/resources/common/message/ConsumerGroupMemberMetadataValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/Assertions.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/classic/ClassicGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
Labels: KIP-848

#15631 KAFKA-16073: Increment the local-log-start-offset before deleting segments in memory table
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
Labels: tiered-storage

#15747 KAFKA-16073: Increment the local-log-start-offset before deleting segments in memory table
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
Labels: tiered-storage

#15681 KAFKA-16280: Expose method to determine metric measurability (KIP-1019)
  clients/src/main/java/org/apache/kafka/common/metrics/KafkaMetric.java
  clients/src/test/java/org/apache/kafka/common/metrics/KafkaMetricTest.java
Labels: producer, consumer, kip

#15660 MINOR: disable internal result emit throttling in TTD
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamOuterJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamSlidingWindowAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamWindowAggregateTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SessionWindowedKStreamImplTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/TimeWindowedKStreamImplTest.java
  streams/test-utils/src/main/java/org/apache/kafka/streams/TopologyTestDriver.java
Labels: streams

#13824 MINOR: Use Parametrized types correctly in RemoteLogMetadataSerde
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/serialization/RemoteLogMetadataSerde.java
Labels: stale, storage

#15682 KAFKA-16486: Integrate KIP-1019 measurability changes (KIP-714)
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/KafkaMetricsCollector.java
Labels: producer, connect

#15757 MINOR:fix hint in fetchOffsetForTimestamp
  core/src/main/scala/kafka/cluster/Partition.scala
Labels: core

#15613 KAFKA-16103: AsyncConsumer should await pending async commits on commitSync and close
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerCommitTest.scala
Labels: KIP-848

#15780 MINOR: Reduce the time taken to execute the TieredStorage tests.
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ProduceAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/utils/TieredStorageTestUtils.java
Labels: tiered-storage

#15783 MINOR: Fix logging of KafkaStreams close
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: streams

#15748 KAFKA-16073: Increment the local-log-start-offset before deleting segments in memory table
  core/src/main/scala/kafka/log/UnifiedLog.scala
  core/src/test/scala/unit/kafka/log/LogCleanerParameterizedIntegrationTest.scala
  core/src/test/scala/unit/kafka/log/LogTestUtils.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
Labels: tiered-storage

#15721 KAFKA-16554: Online downgrade triggering and group type conversion
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/Assertions.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
Labels: KIP-848

#15717 KAFKA-16568: JMH Benchmarks for Server Side Rebalances
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ClientSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: KIP-848

#15527 MINOR: fix javadoc warnings
  clients/src/main/java/org/apache/kafka/clients/admin/FinalizedVersionRange.java
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageMetrics.java
  streams/src/main/java/org/apache/kafka/streams/query/RangeQuery.java
  streams/src/main/java/org/apache/kafka/streams/query/TimestampedRangeQuery.java
  streams/src/main/java/org/apache/kafka/streams/state/QueryableStoreTypes.java
Labels: docs

#15811 MINOR: fix timeouts of EosIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
Labels: streams, tests

#15742 KAFKA-16298: Ensure rebalance listener exceptions are propagated to the user on consumer poll
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
Labels: KIP-848

#15816 MINOR: Fix the flaky testConsumerGroupHeartbeatWithStableClassicGroup by sorting the topic partition list
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/Assertions.java
Labels: KIP-848

#15723 KAFKA-16555: Consumer's RequestState has incorrect logic to determine if inflight
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestState.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/RequestStateTest.java
Labels: KIP-848
