Repository apache/kafka, pull requests merged in 2024-03, with the labels that each got.

#15445 KAFKA-16167: Disable wakeups during autocommit on close
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/WakeupTrigger.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/WakeupTriggerTest.java
Labels: consumer, KIP-848

#15440 KAFKA-16261: updateSubscription fails if already empty subscription
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
Labels: consumer, KIP-848

#14365 MINOR: Upgrade jqwik to version 1.8.3
  gradle/dependencies.gradle
Labels: dependencies

#15426 KAFKA-16285: Make group metadata available when a new assignment is set
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/BackgroundEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/GroupMetadataUpdateEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/RequestManagersTest.java
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
Labels: consumer, KIP-848

#15395 KAFKA-14747: record discarded FK join subscription responses
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ResponseJoinProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionJoinProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ForeignTableJoinProcessorSupplierTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/ResponseJoinProcessorSupplierTest.java
Labels: streams

#15399 KAFKA-16288, KAFKA-16289: Fix Values convertToDecimal exception and parseString corruption
  connect/api/src/main/java/org/apache/kafka/connect/data/Values.java
  connect/api/src/test/java/org/apache/kafka/connect/data/ValuesTest.java
Labels: connect

#15437 KAFKA-16169: FencedException in commitAsync not propagated without callback
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/OffsetCommitCallbackInvoker.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
Labels: consumer, KIP-848

#15467 MINOR: parameterize group-id in GroupMetadataManagerTestContext
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
Labels: KIP-848

#14426 KAFKA-15417 flip joinSpuriousLookBackTimeMs and emit non-joined items
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamJoin.java
  streams/src/test/java/org/apache/kafka/streams/integration/KStreamKStreamIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamOuterJoinTest.java
Labels: streams

#15316 KAFKA-14683 Migrate WorkerSinkTaskTest to Mockito (3/3)
  checkstyle/suppressions.xml
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskMockitoTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerSinkTaskTest.java
Labels: connect, tests

#15443 MINOR: Add 3.7 to Kafka Streams system tests
  build.gradle
  settings.gradle
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/UpgradeFromValues.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/AssignorConfiguration.java
  streams/upgrade-system-tests-37/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  streams/upgrade-system-tests-37/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/upgrade-system-tests-37/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/upgrade-system-tests-37/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-37/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_application_upgrade_test.py
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, tests

#15261 KAFKA-14133: Move consumer mock in TaskManagerTest to Mockito - part 2
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams, tests

#15462 MINOR: Add read/write all operation
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
  server-common/src/main/java/org/apache/kafka/server/util/FutureUtils.java
Labels: KIP-848

#15485 KAFKA-15964: fix flaky StreamsAssignmentScaleTest
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignor.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsAssignmentScaleTest.java
Labels: streams, tests

#15402 MINOR: Reduce memory allocation in ClientTelemetryReporter.java
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryReporter.java
Labels: performance

#12742 KAFKA-10892: Shared Readonly State Stores ( revisited )
  checkstyle/suppressions.xml
  docs/streams/developer-guide/processor-api.html
  docs/streams/upgrade-guide.html
  streams/src/main/java/org/apache/kafka/streams/Topology.java
  streams/src/test/java/org/apache/kafka/streams/TopologyTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/integration/utils/IntegrationTestUtils.java
  streams/src/test/java/org/apache/kafka/streams/processor/ReadOnlyStoreTest.java
  streams/src/test/java/org/apache/kafka/test/MockProcessor.java
Labels: streams, kip

#15201 KAFKA-16146: Checkpoint log-start-offset for remote log enabled topics
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
Labels: tiered-storage

#15497 KAFKA-14133: Move consumer mock in TaskManagerTest to Mockito - part 3
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams, tests

#15518 MINOR: Tweak streams config doc
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams, docs

#15468 MINOR: Resolve SslContextFactory method deprecations
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestClient.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestServer.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/util/SSLUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RestForwardingIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/util/SSLUtilsTest.java
Labels: connect

#15519 MINOR: simplify consumer logic
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestManager.java
Labels: consumer

#15517 MINOR: Kafka Streams docs fixes
  docs/streams/developer-guide/config-streams.html
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams, docs

#15364 KAFKA-16249; Improve reconciliation state machine
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Utils.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/CurrentAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/MemberState.java
  group-coordinator/src/main/resources/common/message/ConsumerGroupCurrentMemberAssignmentValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/Assertions.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/CurrentAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShardTest.java
Labels: KIP-848

#15523 KAFKA-15206: Fix the flaky RemoteIndexCacheTest.testClose test
  core/src/test/scala/unit/kafka/log/remote/RemoteIndexCacheTest.scala
  core/src/test/scala/unit/kafka/utils/ShutdownableThreadTest.scala
  server-common/src/main/java/org/apache/kafka/server/util/ShutdownableThread.java
Labels: tiered-storage

#15490 KAFKA-15490: Fix dir path when marking offline
  core/src/main/scala/kafka/server/BrokerMetadataCheckpoint.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/scala/unit/kafka/server/KafkaServerTest.scala
Labels: storage

#15508 MINOR: Update javadocs and exception string in "deprecated" ProcessorRecordContext#hashcode
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorRecordContext.java
Labels: streams

#15499 KAFKA-16358 Update Connect Transformation docs
  connect/runtime/src/main/java/org/apache/kafka/connect/tools/TransformationDoc.java
  docs/connect.html
Labels: docs, connect

#15528 MINOR: Only enable replay methods to modify timeline data structure
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
Labels: KIP-848

#15494 MINOR: fix flaky EosIntegrationTest
  streams/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
Labels: streams, tests

#15545 MINOR: Remove unused client side assignor fields/classes
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/RecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/Assignment.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ClientAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/VersionedMetadata.java
  group-coordinator/src/main/resources/common/message/ConsumerGroupMemberMetadataValue.json
  group-coordinator/src/main/resources/common/message/ConsumerGroupTargetAssignmentMemberValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/RecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/AssignmentTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ClientAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupMemberTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/VersionedMetadataTest.java
Labels: KIP-848

#15478 MINOR; Log reason for deleting a kraft snapshot
  core/src/main/scala/kafka/MetadataLogConfig.scala
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
Labels: kraft

#15533 KAFKA-16367; Full ConsumerGroupHeartbeat response must be sent when full request is received
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-848

#15546 KAFKA-16313: Offline group protocol migration (reopened)
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
Labels: KIP-848

#15562 KAFKA-16392: Stop emitting warning log message when parsing source connector offsets with null partitions
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/OffsetUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/OffsetUtilsTest.java
Labels: connect

#15534 KAFKA-16374; High watermark updates should have a higher priority
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorEventProcessor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/EventAccumulator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/EventAccumulatorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessorTest.java
Labels: KIP-848

#15389 KAFKA-16084: Simplify and deduplicate standalone herder test mocking
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
Labels: connect, tests

#15492 KAFKA-16353: Offline protocol migration integration tests
  core/src/test/scala/unit/kafka/server/ConsumerProtocolMigrationTest.scala
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/HeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/LeaveGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/SyncGroupRequestTest.scala
Labels: KIP-848

#15484 KAFKA-16349: Prevent race conditions in Exit class from stopping test JVM
  checkstyle/import-control-server-common.xml
  clients/src/main/java/org/apache/kafka/common/utils/Exit.java
  core/src/main/scala/kafka/utils/Exit.scala
  core/src/test/scala/unit/kafka/utils/ShutdownableThreadTest.scala
  server-common/src/test/java/org/apache/kafka/server/util/ShutdownableThreadTest.java
Labels: tests

#15423 KAFKA-16303: Add upgrade notes to 3.5.0, 3.5.2, and 3.7.0 about MM2 offset translation
  docs/upgrade.html
Labels: docs, mirror-maker-2

#15520 KAFKA-16223 Replace EasyMock/PowerMock with Mockito for KafkaConfigBackingStoreTest (1/3)
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreMockitoTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
Labels: connect, tests
