Repository apache/kafka, pull requests merged in 2024-06, with the labels that each got.

#16155 MINOR: speed up reset consumer group offset test
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTestUtils.java
Labels: tests

#16153 KAFKA-16859: Cleanup check if tiered storage is enabled
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/java/kafka/server/builders/ReplicaManagerBuilder.java
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/ControllerConfigurationValidator.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/zk/AdminZkClient.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/log/LogConfigTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: tiered-storage

#16154 KAFKA-16852 : Adding two thread pools to Remote Log Manager
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfigTest.java
Labels: tiered-storage

#16175 KAFKA-16881: InitialState type leaks into the Connect REST API OpenAPI spec
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/CreateConnectorRequest.java
Labels: docs, connect

#16174 MINOR: Small refactor in TargetAssignmentBuilder
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilderTest.java
Labels: KIP-848

#16163 KAFKA-16861: Don't convert to group to classic if the size is larger than group max size.
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-848

#15165 KAFKA-16105: Reset read offsets when seeking to beginning in TBRLMM
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/ConsumerTask.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/ConsumerTaskTest.java
Labels: tiered-storage

#16134 KAFKA-16715: Create KafkaShareConsumer interfaces
  clients/src/main/java/org/apache/kafka/clients/consumer/AcknowledgeType.java
  clients/src/main/java/org/apache/kafka/clients/consumer/AcknowledgementCommitCallback.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaShareConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockShareConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ShareConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerDelegate.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerDelegateCreator.java
  clients/src/test/java/org/apache/kafka/clients/consumer/MockShareConsumerTest.java
Labels: queues-for-kafka

#16181 MINOR: Fix typo in MetadataVersion.IBP_4_0_IV0
  core/src/test/java/kafka/test/ClusterTestExtensionsTest.java
  core/src/test/java/kafka/test/annotation/ClusterTest.java
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/ApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ReplicationQuotasTest.scala
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  server-common/src/main/java/org/apache/kafka/server/common/GroupVersion.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
Labels: KIP-848

#16144 KAFKA-16664: Re-add EventAccumulator.poll(long, TimeUnit)
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/EventAccumulator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/EventAccumulatorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/MultiThreadedEventProcessorTest.java
Labels: KIP-848

#16151 KAFKA-16047: Use REQUEST_TIMEOUT_MS_CONFIG in AdminClient.fenceProducers
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/FenceProducersHandler.java
  clients/src/test/java/org/apache/kafka/clients/admin/internals/FenceProducersHandlerTest.java
Labels: admin

#16122 KAFKA-16837, KAFKA-16838: Ignore task configs for deleted connectors, and compare raw task configs before publishing them
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreMockitoTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedKafkaCluster.java
Labels: connect

#16185 MINOR: Log time taken to compute the target assignment
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: KIP-848

#16068 KAFKA-16821: Member Subscription Spec Interface
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AssignmentMemberSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/GroupSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/GroupSpecImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/MemberSubscriptionSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/MemberSubscriptionSpecImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/RangeAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TopicIds.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/AssignmentTestUtil.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/NoOpPartitionAssignor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/GroupSpecImplTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/RangeAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilderTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: KIP-848

#16197 MINOR: Fix return tag on Javadocs for consumer group-related Admin methods
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
Labels: docs, admin

#16180 KAFKA-16882: Migrate RemoteLogSegmentLifecycleTest to ClusterInstance infra
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataManagerTestUtils.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogSegmentLifecycleManager.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogSegmentLifecycleTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerHarness.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerRestartTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerWrapperWithHarness.java
Labels: tiered-storage

#16145 MINOR: Adjust validateOffsetCommit/Fetch in ConsumerGroup to ensure compatibility with classic protocol members
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/classic/ClassicGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
Labels: KIP-848

#14778 KAFKA-15776: Introduce remote.fetch.max.timeout.ms to configure DelayedRemoteFetch timeout
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  core/src/main/scala/kafka/server/DelayedRemoteFetch.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/integration/kafka/server/DelayedRemoteFetchTest.scala
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfigTest.java
Labels: tiered-storage

#16071 KAFKA-15265: Integrate RLMQuotaManager for throttling fetches from remote storage
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/log/remote/RemoteLogReader.java
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/log/remote/RemoteLogReaderTest.java
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: tiered-storage

#16161 KAFKA-16858: Throw DataException from validateValue on array and map schemas without inner schemas
  connect/api/src/main/java/org/apache/kafka/connect/data/ConnectSchema.java
  connect/api/src/test/java/org/apache/kafka/connect/data/ConnectSchemaTest.java
  connect/api/src/test/java/org/apache/kafka/connect/data/StructTest.java
Labels: connect

#15790 KAFKA-16573: Specify node and store where serdes are needed
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/WrappingNullableUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SourceNode.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/StoreSerdeInitializer.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SinkNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/SourceNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/StoreSerdeInitializerTest.java
Labels: streams

#15689 KAFKA-12317: fix documentation
  docs/streams/developer-guide/dsl-api.html
Labels: streams, docs

#16079 KAFKA-16530: Fix high-watermark calculation to not assume the leader is in the voter set
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
Labels: kraft, KIP-853

#16187 KAFKA-16448: Add ProcessingExceptionHandler interface and implementations
  streams/src/main/java/org/apache/kafka/streams/errors/ErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndContinueProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/DefaultErrorHandlerContext.java
Labels: streams

#16110 MINOR: Added test for ClusterConfig
  core/src/test/java/kafka/test/ClusterConfigTest.java
Labels: tests

#16202 MINOR: Cleanup the storage module unit tests
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataFormatterTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataSerdeTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataTransformTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerConfigTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerMultipleSubscriptionsTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerRestartTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogMetadataManagerTest.java
Labels: tiered-storage

#16198 KAFKA-14701; Move `PartitionAssignor` to new `group-coordinator-api` module
  build.gradle
  core/src/main/scala/kafka/server/KafkaConfig.scala
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/ConsumerGroupPartitionAssignor.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/GroupAssignment.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/GroupSpec.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/MemberAssignment.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/MemberSubscription.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/PartitionAssignor.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/PartitionAssignorException.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/SubscribedTopicDescriber.java
  group-coordinator/group-coordinator-api/src/main/java/org/apache/kafka/coordinator/group/api/assignor/SubscriptionType.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AbstractUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/RangeAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/Assignment.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/GroupSpecImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/MemberAssignmentImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/MemberSubscriptionAndAssignmentImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/SubscribedTopicDescriberImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/AssignmentTestUtil.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/MockPartitionAssignor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/NoOpPartitionAssignor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/GeneralUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/GroupSpecImplTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/RangeAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/SubscribedTopicMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/consumer/TargetAssignmentBuilderTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/AssignorBenchmarkUtils.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ClientSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
  settings.gradle
Labels: KIP-848

#16222 KAFKA-16903: Consider produce error of different task
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamsProducer.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams

#16126 KAFKA-16223: Migrate KafkaConfigBackingStoreTest to Mockito
  build.gradle
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreMockitoTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
Labels: connect, tests

#15869 KAFKA-16493: Avoid unneeded subscription regex check if metadata version unchanged
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
Labels: consumer

#16246 KAFKA-16911: Update docs for KIP-862
  docs/streams/developer-guide/config-streams.html
Labels: streams, docs

#16182 MINOR: update / add documentations stream-state-metrics
  docs/ops.html
Labels: streams, docs

#16256 KAFKA-16885 Renamed the enableRemoteStorageSystem to isRemoteStorageSystemEnabled
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/java/kafka/server/builders/ReplicaManagerBuilder.java
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/ControllerConfigurationValidator.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/zk/AdminZkClient.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/log/LogConfigTest.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
Labels: tiered-storage

#15496 MINOR: Add fast_commit to ext4 tuning docs
  docs/ops.html
Labels: docs

#16157 KAFKA-15718: Refactor UncleanLeaderElectionTest to enable KRaft later
  core/src/test/scala/unit/kafka/integration/UncleanLeaderElectionTest.scala
  core/src/test/scala/unit/kafka/server/FetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/ListOffsetsRequestTest.scala
  core/src/test/scala/unit/kafka/server/LogRecoveryTest.scala
  core/src/test/scala/unit/kafka/server/OffsetsForLeaderEpochRequestTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: tests

#16188 KAFKA-16448: Add ProcessingExceptionHandler in Streams configuration
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
Labels: streams

#16158 KAFKA-14509: [4/4] Handle includeAuthorizedOperations
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupDescribeRequestsTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: KIP-848

#16243 MINOR: Improve documentation of default.replication.factor config
  server/src/main/java/org/apache/kafka/server/config/ReplicationConfigs.java
Labels: docs

#16233 MINOR: Rename uniform assignor's internal builders
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AbstractUniformAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformHomogeneousAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilderTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ClientSideAssignorBenchmark.java
Labels: KIP-848

#16053 KAFKA-9228: Restart tasks on runtime-only connector config changes
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/AppliedConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/ClusterConfigState.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/MemoryConfigBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTestUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/DistributedHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinatorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/standalone/StandaloneHerderTest.java
  connect/runtime/src/test/resources/META-INF/services/org.apache.kafka.connect.sink.SinkConnector
Labels: connect

#16106 KAFKA-16520: Support KIP-853 in DescribeQuorum
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/QuorumInfo.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeQuorumRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeQuorumResponse.java
  clients/src/main/resources/common/message/DescribeQuorumRequest.json
  clients/src/main/resources/common/message/DescribeQuorumResponse.json
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  core/src/test/scala/unit/kafka/server/ApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeQuorumRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClientDriver.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/RaftMessage.java
  raft/src/main/java/org/apache/kafka/raft/RaftRequest.java
  raft/src/main/java/org/apache/kafka/raft/RaftResponse.java
  raft/src/main/java/org/apache/kafka/raft/internals/BlockingMessageQueue.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSet.java
  raft/src/test/java/org/apache/kafka/raft/KafkaNetworkChannelTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftEventSimulationTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
Labels: kraft, KIP-853

#16283 KAFKA-16930; UniformHeterogeneousAssignmentBuilder throws NPE when one member has no subscriptions
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilderTest.java
Labels: KIP-848

#16273 MINOR: Fix flaky test ConnectWorkerIntegrationTest::testReconfigureConnectorWithFailingTaskConfigs
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
Labels: connect, tests

#16286 MINOR: Wait for embedded clusters to start before using them in Connect OffsetsApiIntegrationTest
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/OffsetsApiIntegrationTest.java
Labels: connect, tests

#15820 KAFKA-15265: Integrate RLMQuotaManager for throttling copies to remote storage
  checkstyle/import-control-core.xml
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: tiered-storage

#16107 KAFKA-10199: Enable state updater by default
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StoreChangelogReaderTest.java
Labels: streams

#16215 KAFKA-16770; [2/2] Coalesce records into bigger batches
  clients/src/main/java/org/apache/kafka/common/record/MemoryRecordsBuilder.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
  server-common/src/main/java/org/apache/kafka/server/util/timer/TimerTask.java
Labels: KIP-848

#16078 KAFKA-15265: Dynamic broker configs for remote fetch/copy quotas
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
Labels: tiered-storage

#16229 KAFKA-16570 FenceProducers API returns "unexpected error" when succes…
  clients/src/main/java/org/apache/kafka/clients/admin/internals/FenceProducersHandler.java
  clients/src/test/java/org/apache/kafka/clients/admin/internals/FenceProducersHandlerTest.java
  core/src/test/scala/integration/kafka/admin/AdminFenceProducersIntegrationTest.scala
Labels: admin

#13277 KAFKA-8206: Allow client to rebootstrap
  clients/src/main/java/org/apache/kafka/clients/ClientUtils.java
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
  clients/src/main/java/org/apache/kafka/clients/KafkaClient.java
  clients/src/main/java/org/apache/kafka/clients/LeastLoadedNode.java
  clients/src/main/java/org/apache/kafka/clients/Metadata.java
  clients/src/main/java/org/apache/kafka/clients/MetadataRecoveryStrategy.java
  clients/src/main/java/org/apache/kafka/clients/NetworkClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/AdminClientConfig.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AdminMetadataManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkClient.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/NetworkClientDelegate.java
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/Sender.java
  clients/src/test/java/org/apache/kafka/clients/MockClient.java
  clients/src/test/java/org/apache/kafka/clients/NetworkClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/AdminClientConfigTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerConfigTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/ProducerConfigTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMember.java
  core/src/main/java/kafka/server/NetworkUtils.java
  core/src/main/scala/kafka/admin/BrokerApiVersionsCommand.scala
  core/src/main/scala/kafka/controller/ControllerChannelManager.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionMarkerChannelManager.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/BrokerBlockingSender.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/NodeToControllerChannelManager.scala
  core/src/test/scala/integration/kafka/api/AdminClientRebootstrapTest.scala
  core/src/test/scala/integration/kafka/api/ConsumerRebootstrapTest.scala
  core/src/test/scala/integration/kafka/api/ProducerRebootstrapTest.scala
  core/src/test/scala/integration/kafka/api/RebootstrapTest.scala
  tools/src/main/java/org/apache/kafka/tools/ReplicaVerificationTool.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/ConnectionStressWorker.java
Labels: producer, consumer, kip, admin

#16237 KAFKA-16890: Compute valid log-start-offset when deleting overlapping remote segments
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: tiered-storage

#16308 MINOR: Remove Java 7 example code
  docs/streams/developer-guide/dsl-api.html
  docs/streams/developer-guide/write-streams.html
  docs/streams/index.html
Labels: streams, docs

#16288 KAFKA-16935: Automatically wait for cluster startup in embedded Connect integration tests
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/integration/MirrorConnectorsIntegrationBaseTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/BlockingConnectorTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectWorkerIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorClientPolicyIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorRestartApiIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ConnectorTopicsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ErrorHandlingIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExactlyOnceSourceIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/InternalTopicsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/OffsetsApiIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RebalanceSourceConnectorsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RestExtensionIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/SessionedProtocolIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/SinkConnectorsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/SourceConnectorsIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/TransformationIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnect.java
Labels: connect, tests

#16306 MINOR: Add readiness check for connector and separate Kafka cluster in ExactlyOnceSourceIntegrationTest::testSeparateOffsetsTopic
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExactlyOnceSourceIntegrationTest.java
Labels: connect, tests

#16253 KAFKA-16921: Migrate all junit 4 code to junit 5 for connect module (part 1)
  build.gradle
  connect/runtime/src/test/java/org/apache/kafka/connect/cli/ConnectStandaloneTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/connector/policy/BaseConnectorClientConfigOverridePolicyTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/connector/policy/NoneConnectorClientConfigOverridePolicyTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/connector/policy/PrincipalConnectorClientConfigOverridePolicyTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/converters/BooleanConverterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/converters/ByteArrayConverterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/converters/NumberConverterTest.java
Labels: connect, tests

#16290 MINOR: Make online downgrade failure logs less noisy and update the timeouts scheduled in `convertToConsumerGroup`
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-848

#16140 KAFKA-16001: Migrated ConsumerNetworkThreadTest away from ConsumerTestBuilder
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThreadTest.java
Labels: tests

#16313 MINOR: update Kafka Streams docs with 3.2 KIP information
  docs/streams/upgrade-guide.html
Labels: streams, docs

#16316 MINOR: update Kafka Streams docs with 3.3 KIP information
  docs/ops.html
  docs/streams/upgrade-guide.html
Labels: streams, docs

#16282 KAFKA-16076: Fix Missing thread interrupt call in RestClient class
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestClient.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/RestClientTest.java
Labels: connect

#15513 MINOR: Change KStreamKstreamOuterJoinTest to use distinct left and right types
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKStreamOuterJoinTest.java
Labels: streams, tests

#16321 KAFKA-16948: Reset tier lag metrics on becoming follower
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: tiered-storage

#16328 KAFKA-16921: migrate connect module to junit 5
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/ConnectorOffsetBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/FileOffsetBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaStatusBackingStoreFormatTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/KafkaStatusBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/MemoryConfigBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/MemoryStatusBackingStoreTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/OffsetStorageWriterTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/storage/OffsetUtilsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/test/util/ConcurrencyUtils.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/ConnectUtilsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/ConvertingFutureCallbackTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/KafkaBasedLogTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/LoggingContextTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/RetryUtilTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/SharedTopicAdminTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/SinkUtilsTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TableTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TopicAdminTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/TopicCreationTest.java
Labels: connect

#16337 KAFKA-16955: fix synchronization of streams threadState
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: streams

#16336 MINOR: update Kafka Streams docs with 3.4 KIP information
  docs/ops.html
  docs/streams/upgrade-guide.html
Labels: streams, docs

#16210 KAFKA-16895: fix off-by-one bug in RemoteCopyLagSegments
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
Labels: tiered-storage

#16353 KAFKA-16977: Reapply dynamic remote configs after broker restart
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
Labels: backport-candidate, tiered-storage

#15495 KAFKA-15302: Stale value returned when using store.all() with key deletion [docs]
  docs/streams/developer-guide/memory-mgmt.html
Labels: streams, docs, stale

#16386 MINOR: Add docs for replica.alter.log.dirs.io.max.bytes.per.second co…
  docs/ops.html
Labels: docs

#16367 KAFKA-16973; Fix caught-up condition
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntime.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/runtime/CoordinatorRuntimeTest.java
Labels: KIP-848

#16394 KAFKA-16976: Update the current/dynamic config inside RemoteLogManagerConfig
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfigTest.java
Labels: tiered-storage

#16295 KAFKA-16803: Update ShadowJavaPlugin
  build.gradle
Labels: dependencies

#16211 KAFKA-16531: calculate check-quorum when leader is not in voter set
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
Labels: kraft, KIP-853

#16344 KAFKA-16965: Throw cause of TimeoutException
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/ProducerMetadata.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
Labels: producer

#15915 KAFKA-16949: Fixing test_dynamic_logging in system test connect_distributed_test
  tests/kafkatest/tests/connect/connect_distributed_test.py
Labels: connect, tests

#16422 MINOR: pass in timeout to Admin.close()
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
Labels: streams

#16464 MINOR; Fix incompatible change to the kafka config
  clients/src/main/resources/common/message/BeginQuorumEpochRequest.json
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/KafkaServer.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/RegistrationTestContext.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
Labels: kraft, KIP-853

#16399 KAFKA-16536; Use BeginQuorumEpoch as leader heartbeat
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/RequestManager.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
Labels: kraft, KIP-853

#16312 KAFKA-16000 Migrated MembershipManagerImplTest away from ConsumerTestBuilder
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/MembershipManagerImplTest.java
Labels: consumer, tests

#16478 KAFKA-17050: Revert group.version from 3.8
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/test/ClusterConfig.java
  core/src/test/java/kafka/test/ClusterInstance.java
  core/src/test/java/kafka/test/ClusterTestExtensionsTest.java
  core/src/test/java/kafka/test/annotation/ClusterFeature.java
  core/src/test/java/kafka/test/annotation/ClusterTest.java
  core/src/test/java/kafka/test/junit/ClusterTestExtensions.java
  core/src/test/java/kafka/test/junit/RaftClusterInvocationContext.java
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/integration/kafka/zk/ZkMigrationIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/AbstractApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/BrokerFeaturesTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupDescribeRequestsTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerProtocolMigrationTest.scala
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/ReplicationQuotasTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  server-common/src/main/java/org/apache/kafka/server/common/Features.java
  server-common/src/main/java/org/apache/kafka/server/common/GroupVersion.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
  tests/kafkatest/services/kafka/config_property.py
  tests/kafkatest/services/kafka/kafka.py
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTestUtils.java
Labels: Blocker

#16450 KAFKA-16508: Streams custom handler should handle the timeout exceptions
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/test/java/org/apache/kafka/streams/integration/CustomHandlerIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams
