Repository apache/kafka, pull requests merged in 2025-08, with the labels that each got.

#20286 KAFKA-19476: Concurrent execution fixes for lock timeout and lso movement
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  server/src/main/java/org/apache/kafka/server/share/fetch/AcquisitionLockTimeoutHandler.java
  server/src/main/java/org/apache/kafka/server/share/fetch/AcquisitionLockTimerTask.java
  server/src/main/java/org/apache/kafka/server/share/fetch/InFlightBatch.java
  server/src/main/java/org/apache/kafka/server/share/fetch/InFlightState.java
Labels: core, KIP-932, ci-approved

#20177 MINOR: Remove duplicate renewTimePeriodOpt in DelegationTokenCommand validation
  tools/src/main/java/org/apache/kafka/tools/DelegationTokenCommand.java
  tools/src/test/java/org/apache/kafka/tools/DelegationTokenCommandTest.java
Labels: streams, core, consumer, tools, kraft, storage, tiered-storage, clients, ci-approved, group-coordinator

#18526 KAFKA-14604: SASL session expiration time will be overflowed when calculation
  clients/src/main/java/org/apache/kafka/common/security/authenticator/SaslClientAuthenticator.java
  clients/src/main/java/org/apache/kafka/common/security/authenticator/SaslServerAuthenticator.java
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  clients/src/test/java/org/apache/kafka/common/security/authenticator/SaslAuthenticatorTest.java
  clients/src/test/java/org/apache/kafka/common/security/authenticator/SaslServerAuthenticatorTest.java
  clients/src/test/java/org/apache/kafka/common/utils/UtilsTest.java
Labels: clients

#20263 MINOR: Add missing test coverage for OffsetFetchResponse.errorCounts()
  clients/src/test/java/org/apache/kafka/common/requests/OffsetFetchResponseTest.java
Labels: tests, clients, ci-approved, small

#20237 MINOR: improve the min.insync.replicas doc
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
  docs/ops.html
  docs/upgrade.html
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
Labels: kraft, clients, small

#20294 MINOR: Upgrade Spotbugs to 4.9.1
  build.gradle
  gradle/dependencies.gradle
  gradle/spotbugs-exclude.xml
Labels: build, triage

#20291 MINOR: Improve skip-record-metadata description
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
Labels: core, ci-approved, small

#20304 KAFKA-19579: Add missing metrics for doc tiered storage
  docs/ops.html
Labels: docs, ci-approved, small

#20275 MINOR: Cleanup RaftClient#upgradeKRaftVersion java document
  raft/src/main/java/org/apache/kafka/raft/RaftClient.java
Labels: kraft, small

#20096 MINOR: Cleanup Tools Module (2/n)
  tools/src/test/java/org/apache/kafka/tools/AbstractResetIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/BrokerApiVersionsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/ClientMetricsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/ClusterToolTest.java
  tools/src/test/java/org/apache/kafka/tools/ConfigCommandIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/ConfigCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/ConnectPluginPathTest.java
  tools/src/test/java/org/apache/kafka/tools/ConsoleProducerTest.java
  tools/src/test/java/org/apache/kafka/tools/DelegationTokenCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/DeleteRecordsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/GetOffsetShellTest.java
  tools/src/test/java/org/apache/kafka/tools/JmxToolTest.java
  tools/src/test/java/org/apache/kafka/tools/LeaderElectionCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/LineMessageReaderTest.java
  tools/src/test/java/org/apache/kafka/tools/LogDirsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/MetadataQuorumCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/MetadataQuorumCommandUnitTest.java
  tools/src/test/java/org/apache/kafka/tools/ProducerPerformanceTest.java
  tools/src/test/java/org/apache/kafka/tools/PushHttpMetricsReporterTest.java
  tools/src/test/java/org/apache/kafka/tools/ReplicaVerificationToolTest.java
  tools/src/test/java/org/apache/kafka/tools/StreamsResetterTest.java
  tools/src/test/java/org/apache/kafka/tools/ToolsTestUtils.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/TransactionsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/UserScramCredentialsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerOptionsTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleConsumerTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleShareConsumerOptionsTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/CoordinatorRecordMessageFormatterTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/GroupMetadataMessageFormatterTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/OffsetMessageFormatterTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/TransactionLogMessageFormatterTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/AuthorizerIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTestUtils.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupServiceTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DeleteConsumerGroupsTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DeleteOffsetsConsumerGroupCommandIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DescribeConsumerGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ListConsumerGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ResetConsumerGroupOffsetTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/SaslClientsWithInvalidCredentialsTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/share/ShareGroupStateMessageFormatterTest.java
  tools/src/test/java/org/apache/kafka/tools/other/ReplicationQuotasTestRig.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsUnitTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/DeleteStreamsGroupOffsetTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/DeleteStreamsGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/DescribeStreamsGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/ListStreamsGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/ResetStreamsGroupOffsetTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/StreamsGroupCommandTest.java
  tools/tools-api/src/test/java/org/apache/kafka/tools/api/RecordReaderTest.java
Labels: tools, tests, ci-approved

#20309 MINOR: update GitHub collaborators
  .asf.yaml
Labels: small

#20305 MINOR: add missing section to TOC
  docs/toc.html
Labels: docs, small

#20313 MINOR: Fix the link for the heading Errant Record Reporter in connect.html
  docs/connect.html
Labels: docs, ci-approved, small, triage

#20284 MINOR: retry upon missing source topic
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KStreamRepartitionIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, ci-approved

#20316 KAFKA-18265: Move persister call outside of the lock (3/N)
  core/src/main/java/kafka/server/share/SharePartition.java
Labels: core, KIP-932, ci-approved, small

#20322 KAFKA-18068: Document deprecation of PARTITIONER_ADPATIVE_PARTITIONING_ENABLE_CONFIG
  docs/upgrade.html
Labels: docs, small, triage

#20321 MINOR: Remove SPAM URL in Streams Documentation
  docs/streams/core-concepts.html
Labels: docs, ci-approved, small

#20280 KAFKA-19567: Added the check for underlying partition being the leader in delayedShareFetch tryComplete method
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
Labels: core, KIP-932, ci-approved

#20333 KAFKA-19580: Upgrade to spotbugs 4.9.4
  .github/workflows/build.yml
  build.gradle
  gradle/dependencies.gradle
  gradle/spotbugs-exclude.xml
Labels: build, small, triage

#20303 MINOR: Add test coverage for StorageTool format command feature validation
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/storage/Formatter.java
  metadata/src/test/java/org/apache/kafka/metadata/storage/FormatterTest.java
Labels: core, kraft, ci-approved

#19589 KAFKA-19078: Automatic controller addition to cluster metadata partition
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/java/kafka/server/ReconfigurableQuorumIntegrationTest.java
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaNetworkChannel.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/QuorumConfig.java
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  raft/src/test/java/org/apache/kafka/raft/KafkaNetworkChannelTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientAutoJoinTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumConfigTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
Labels: core, kraft, ci-approved

#20340 KAFKA-19596: Improve visibility when topic auto-creation fails
  core/src/main/scala/kafka/server/AutoTopicCreationManager.scala
Labels: core, ci-approved, small

#20351 MINOR: Use lambda expressions instead of ImmutableValue for Gauges
  clients/src/main/java/org/apache/kafka/common/utils/AppInfoParser.java
  tools/src/test/java/org/apache/kafka/tools/PushHttpMetricsReporterTest.java
Labels: tools, clients, small

#20352 MINOR: Fix typo
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AdminBootstrapAddresses.java
Labels: clients, ci-approved, small

#20339 KAFKA-19042: Move AdminClientWithPoliciesIntegrationTest to clients-integration-tests module
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/AdminClientWithPoliciesIntegrationTest.java
  core/src/test/scala/integration/kafka/api/AdminClientWithPoliciesIntegrationTest.scala
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
Labels: core, tests, clients

#20354 KAFKA-19605; Fix the busy loop occurring in kraft client observers
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
Labels: kraft, ci-approved, small

#20357 MINOR: Remove the MetaLogShim namings
  checkstyle/import-control-metadata.xml
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/test/java/org/apache/kafka/controller/MockRaftClient.java
  metadata/src/test/java/org/apache/kafka/controller/MockRaftClientListener.java
  metadata/src/test/java/org/apache/kafka/controller/MockRaftClientTest.java
  metadata/src/test/java/org/apache/kafka/controller/MockRaftClientTestEnv.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerMetricsIntegrationTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTestEnv.java
Labels: kraft, ci-approved, triage

#19699 KAFKA-18884: Move TransactionMetadata to transaction-coordinator module
  core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionLog.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionMarkerChannelManager.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionMarkerRequestCompletionHandler.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionMetadata.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionLogTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMarkerChannelManagerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMarkerRequestCompletionHandlerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMetadataTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  gradle/spotbugs-exclude.xml
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TransactionMetadata.java
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TxnTransitMetadata.java
Labels: core, build, transactions, clients, ci-approved

#20338 KAFKA-19384: The passing of BrokerRegistrationRequestTest is a false positive
  checkstyle/suppressions.xml
  core/src/test/scala/unit/kafka/server/BrokerRegistrationRequestTest.scala
  server/src/test/java/org/apache/kafka/server/BrokerRegistrationRequestTest.java
Labels: core, tests, ci-approved

#20335 KAFKA-19447: Replace PartitionState with PartitionRegistration in makeFollower/makeLeader
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/cluster/AbstractPartitionTest.scala
  core/src/test/scala/unit/kafka/cluster/AssignmentStateTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetcher/ReplicaFetcherThreadBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/PartitionMakeFollowerBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/UpdateFollowerFetchStateBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/PartitionCreationBench.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
  server-common/src/main/java/org/apache/kafka/common/PartitionState.java
Labels: core, performance, kraft

#20332 MINOR: Cleanups in Tools Module (3/n)
  tools/src/main/java/org/apache/kafka/tools/AclCommand.java
  tools/src/main/java/org/apache/kafka/tools/ConnectPluginPath.java
  tools/src/main/java/org/apache/kafka/tools/MetadataQuorumCommand.java
  tools/src/main/java/org/apache/kafka/tools/OAuthCompatibilityTool.java
  tools/src/main/java/org/apache/kafka/tools/OffsetsUtils.java
  tools/src/main/java/org/apache/kafka/tools/PushHttpMetricsReporter.java
  tools/src/main/java/org/apache/kafka/tools/ReplicaVerificationTool.java
  tools/src/main/java/org/apache/kafka/tools/TransactionsCommand.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/GroupInformation.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/MemberAssignmentState.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/PartitionAssignmentState.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/reassign/ActiveMoveState.java
  tools/src/main/java/org/apache/kafka/tools/reassign/CancelledMoveState.java
  tools/src/main/java/org/apache/kafka/tools/reassign/CompletedMoveState.java
  tools/src/main/java/org/apache/kafka/tools/reassign/MissingLogDirMoveState.java
  tools/src/main/java/org/apache/kafka/tools/reassign/MissingReplicaMoveState.java
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommand.java
  tools/src/test/java/org/apache/kafka/tools/ConnectPluginPathTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupServiceTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DeleteConsumerGroupsTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DescribeConsumerGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ResetConsumerGroupOffsetTest.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandTest.java
Labels: tools, ci-approved

#20377 MINOR: Remove PartitionState
  clients/src/main/java/org/apache/kafka/common/internals/PartitionStates.java
Labels: clients, ci-approved, small, triage

#20345 KAFKA-19599: Reduce the frequency of ReplicaNotAvailableException thrown to clients when RLMM is not ready
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataCache.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/RemotePartitionMetadataStore.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataCacheTest.java
Labels: storage, tiered-storage, small

#20374 MINOR: Cleanups in jmh-benchmarks module
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/StreamsStickyAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/core/TestPurgatoryPerformance.java
Labels: performance, ci-approved, small, triage

#20379 KAFKA-19618: the `record-size` and `throughput`arguments don't work in TestRaftServer
  core/src/main/scala/kafka/tools/TestRaftServer.scala
Labels: core, small

#20347 MINOR: Port RestoreIntegrationTest to the new protocol
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/RestoreIntegrationTest.java
Labels: streams, tests, ci-approved

#20346 KAFKA-18699: Cleanup Metadata Module
  metadata/src/main/java/org/apache/kafka/controller/BrokerControlStates.java
  metadata/src/main/java/org/apache/kafka/controller/BrokerIdAndEpoch.java
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/PartitionReassignmentReplicas.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/image/AclsImage.java
  metadata/src/main/java/org/apache/kafka/image/ClientQuotasImage.java
  metadata/src/main/java/org/apache/kafka/image/ClusterImage.java
  metadata/src/main/java/org/apache/kafka/image/ConfigurationImage.java
  metadata/src/main/java/org/apache/kafka/image/DelegationTokenImage.java
  metadata/src/main/java/org/apache/kafka/image/LocalReplicaChanges.java
  metadata/src/main/java/org/apache/kafka/image/MetadataImage.java
  metadata/src/main/java/org/apache/kafka/image/MetadataProvenance.java
  metadata/src/main/java/org/apache/kafka/image/MetadataVersionChange.java
  metadata/src/main/java/org/apache/kafka/image/ProducerIdsImage.java
  metadata/src/main/java/org/apache/kafka/image/ScramImage.java
  metadata/src/main/java/org/apache/kafka/image/TopicsImage.java
  metadata/src/main/java/org/apache/kafka/image/loader/SnapshotManifest.java
  metadata/src/main/java/org/apache/kafka/image/node/MetadataImageNode.java
  metadata/src/main/java/org/apache/kafka/metadata/BrokerHeartbeatReply.java
  metadata/src/main/java/org/apache/kafka/metadata/BrokerRegistrationReply.java
  metadata/src/main/java/org/apache/kafka/metadata/DelegationTokenData.java
  metadata/src/main/java/org/apache/kafka/metadata/FinalizedControllerFeatures.java
  metadata/src/main/java/org/apache/kafka/metadata/ScramCredentialData.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAcl.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAclWithId.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAuthorizerData.java
  metadata/src/main/java/org/apache/kafka/metadata/placement/PlacementSpec.java
  metadata/src/main/java/org/apache/kafka/metadata/placement/TopicAssignment.java
  metadata/src/main/java/org/apache/kafka/metadata/placement/UsableBroker.java
  metadata/src/main/java/org/apache/kafka/metadata/util/BatchFileReader.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionReassignmentReplicasTest.java
  metadata/src/test/java/org/apache/kafka/controller/PeriodicTaskControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/image/MetadataVersionChangeTest.java
  metadata/src/test/java/org/apache/kafka/metadata/RecordTestUtils.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/StandardAuthorizerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/placement/TopicAssignmentTest.java
Labels: kraft, ci-approved

#20319 KAFKA-19582 the current assignments shown by ReassignPartitionsCommand should include the log directories
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommand.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsUnitTest.java
Labels: tools, clients

#20372 MINOR: Change LogCompactionTester topics parameter to Set<String>
  tools/src/main/java/org/apache/kafka/tools/LogCompactionTester.java
Labels: tools, ci-approved, small

#20132 MINOR: Upgrade log4j to version 2.25.1
  LICENSE-binary
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Loggers.java
  gradle/dependencies.gradle
Labels: connect, dependencies, build, ci-approved, small

#20400 MINOR: enhance DescribeClusterResponse ControllerId description
  clients/src/main/resources/common/message/DescribeClusterResponse.json
Labels: clients, small

#20221 KAFKA-19498: Add include argument to ConsumerPerformance tool
  docs/upgrade.html
  server-common/src/main/java/org/apache/kafka/server/util/CommandLineUtils.java
  server-common/src/test/java/org/apache/kafka/server/util/CommandLineUtilsTest.java
  tools/src/main/java/org/apache/kafka/tools/ConsumerPerformance.java
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleConsumerOptions.java
  tools/src/test/java/org/apache/kafka/tools/ConsumerPerformanceTest.java
Labels: core, tools, ci-approved

#20398 Revert "KAFKA-13722: remove usage of old ProcessorContext (#18292)"
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KTableRepartitionMap.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateUpdateTask.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/SinkNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingKeyValueBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingListValueBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingSessionBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingTimestampedKeyValueBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingTimestampedWindowBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimeOrderedCachingWindowStore.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorContextImplTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingSessionBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingTimestampedWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ChangeLoggingWindowBytesStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedCachingPersistentWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedWindowStoreTest.java
Labels: streams

#19028 KAFKA-18841: Enable to test docker image locally
  docker/README.md
  docker/common.py
  docker/docker_build_test.py
  docker/jvm/Dockerfile
  docker/native/Dockerfile
Labels: docker, small

#20370 MINOR: update TransactionLog#readTxnRecordValue to initialize TransactionMetadata with non-empty topic partitions
  core/src/main/scala/kafka/coordinator/transaction/TransactionLog.scala
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TransactionMetadata.java
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TxnTransitMetadata.java
Labels: core, transactions, ci-approved, small

#20308 MINOR: Cleanups in the release scripts
  release/README.md
  release/git.py
  release/gpg.py
  release/notes.py
  release/preferences.py
  release/release.py
  release/runtime.py
  release/svn.py
  release/templates.py
  release/textfiles.py
Labels: small

#20288 KAFKA-19570: Implement offline migration for streams groups
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: group-coordinator

#20410 MINOR: Optimize the entriesWithoutErrorsPerPartition when errorResults is empty
  core/src/main/scala/kafka/server/ReplicaManager.scala
Labels: core, small, triage

#18644 KAFKA-18600 Cleanup NetworkClient zk related logging
  clients/src/main/java/org/apache/kafka/clients/NetworkClient.java
Labels: clients, ci-approved, small

#20249 KAFKA-18853: Add documentation to remind users to use valid LogLevelConfig constants
  clients/src/main/java/org/apache/kafka/clients/admin/AlterConfigOp.java
Labels: core, clients, ci-approved, small

#20413 MINOR: Add example integration test commands to README
  README.md
Labels: docs, ci-approved, small

#20405 KAFKA-19642: Replace dynamicPerBrokerConfigs with dynamicDefaultConfigs
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
Labels: ci-approved

#20411 MINOR: Refactored gap window names in share partition
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
Labels: core, KIP-932, ci-approved

#20389 MINOR: Cleanup Connect Module (4/n)
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/AbstractConnectCli.java
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/ConnectDistributed.java
  connect/runtime/src/main/java/org/apache/kafka/connect/cli/ConnectStandalone.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectMetrics.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectMetricsRegistry.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/ConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SinkConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SourceConnectorConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/SubmittedRecords.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/TopicCreationConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTask.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerSinkTaskContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/ConnectProtocol.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/DistributedHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/EagerAssignor.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/ExtendedAssignment.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignor.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinator.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/DeadLetterQueueReporter.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/errors/RetryWithToleranceOperator.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/DelegatingClassLoader.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginScanResult.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/Plugins.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginsRecommenders.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/ConnectRestServer.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestServer.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/RestServerConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorsResource.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/util/SSLUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/ClusterConfigState.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/ConnectorOffsetBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/FileOffsetBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaOffsetBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaStatusBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/MemoryConfigBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/MemoryStatusBackingStore.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/OffsetStorageReaderImpl.java
  connect/runtime/src/main/java/org/apache/kafka/connect/tools/PredicateDoc.java
  connect/runtime/src/main/java/org/apache/kafka/connect/tools/TransformationDoc.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/KafkaBasedLog.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/LoggingContext.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/SinkUtils.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/Table.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/TopicAdmin.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/TopicCreation.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/TopicCreationGroup.java
Labels: connect, ci-approved

#20426 MINOR: remove arguments from AsyncKafkaConsumerTest.newConsumer() that are identical
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
Labels: consumer, tests, clients, ci-approved, small, triage

#20418 MINOR: Remove OffsetsForLeaderEpochRequest unused static field
  clients/src/main/java/org/apache/kafka/common/requests/OffsetsForLeaderEpochRequest.java
Labels: clients, small

#20412 KAFKA-19647: Implement integration test for offline migration
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/RebalanceProtocolMigrationIntegrationTest.java
  streams/integration-tests/src/test/resources/log4j2.yaml
Labels: streams, tests, group-coordinator

#20415 KAFKA-19635: KIP-1147 changes for upgrade.html
  docs/upgrade.html
Labels: docs, small

#20358 KAFKA-8350 Fix stack overflow when batch size is larger than cluster max.message.byte
  clients/src/main/java/org/apache/kafka/clients/producer/internals/RecordAccumulator.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/RecordAccumulatorTest.java
Labels: producer, clients

#20431 KAFKA-19626: KIP-1147 Consistency of command-line arguments for remaining CLI tools
  docs/streams/developer-guide/app-reset-tool.html
  tools/src/main/java/org/apache/kafka/tools/ClusterTool.java
  tools/src/main/java/org/apache/kafka/tools/LeaderElectionCommand.java
  tools/src/main/java/org/apache/kafka/tools/StreamsResetter.java
  tools/src/test/java/org/apache/kafka/tools/ClusterToolTest.java
  tools/src/test/java/org/apache/kafka/tools/LeaderElectionCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/ResetIntegrationTest.java
Labels: core, tools, ci-approved

#20414 KAFKA-19645: add a lower bound to num.replica.fetchers
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  docs/upgrade.html
  server/src/main/java/org/apache/kafka/server/config/ReplicationConfigs.java
Labels: core, ci-approved, small
