Repository apache/kafka, pull requests merged in 2025-05, with the labels that each got.

#19570 MINOR: fix bug in TimeWindowedDeserializerTest
  streams/src/test/java/org/apache/kafka/streams/kstream/SessionWindowedDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/SessionWindowedSerializerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/TimeWindowedDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/TimeWindowedSerializerTest.java
Labels: streams, tests

#19540 KAFKA-19169: Enhance AuthorizerIntegrationTest for share group APIs
  core/src/test/scala/integration/kafka/api/AbstractAuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
Labels: core, tests, KIP-932, ci-approved

#19329 KAFKA-19015: Remove share session from cache on share consumer connection drop
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupHeartbeatRequestTest.scala
  server/src/main/java/org/apache/kafka/server/share/session/ShareSessionCache.java
  server/src/test/java/org/apache/kafka/server/share/session/ShareSessionCacheTest.java
Labels: core, KIP-932, clients, ci-approved

#19599 MINOR: printing share group describe result in sorted order
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommand.java
Labels: tools, KIP-932, ci-approved, small

#19355 KAFKA-19073: add transactional ID pattern filter to ListTransactions
  build.gradle
  clients/src/main/java/org/apache/kafka/clients/admin/ListTransactionsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/ListTransactionsHandler.java
  clients/src/main/java/org/apache/kafka/common/requests/ListTransactionsRequest.java
  clients/src/main/resources/common/message/ListTransactionsRequest.json
  clients/src/main/resources/common/message/ListTransactionsResponse.json
  clients/src/test/java/org/apache/kafka/clients/admin/internals/ListTransactionsHandlerTest.java
  core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  tools/src/main/java/org/apache/kafka/tools/TransactionsCommand.java
  tools/src/test/java/org/apache/kafka/tools/TransactionsCommandTest.java
Labels: core, tools, build, clients, ci-approved

#19606 KAFKA-16894: Correct definition of ShareVersion
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/main/java/org/apache/kafka/server/common/ShareVersion.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: core, tools, kraft, KIP-932, ci-approved, small

#19614 MINOR: Move AdminCommandFailedException and AdminOperationException to tools module
  tools/src/main/java/org/apache/kafka/tools/AdminCommandFailedException.java
  tools/src/main/java/org/apache/kafka/tools/AdminOperationException.java
  tools/src/main/java/org/apache/kafka/tools/DeleteRecordsCommand.java
  tools/src/main/java/org/apache/kafka/tools/LeaderElectionCommand.java
  tools/src/main/java/org/apache/kafka/tools/TopicCommand.java
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommand.java
  tools/src/test/java/org/apache/kafka/tools/DeleteRecordsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/LeaderElectionCommandErrorTest.java
  tools/src/test/java/org/apache/kafka/tools/LeaderElectionCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsUnitTest.java
Labels: tools, ci-approved, small

#19616 MINOR: use `isEmpty()` to avoid compiler warning
  clients/src/test/java/org/apache/kafka/clients/producer/internals/ProducerInterceptorsTest.java
Labels: producer, tests, clients, small

#19618 MINOR: remove @FunctionalInterface annotation
  streams/src/main/java/org/apache/kafka/streams/processor/BatchingStateRestoreCallback.java
Labels: streams, small

#19603 KAFKA-19204: Allow persister retry of initializing topics.
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/services/kafka/templates/kafka.properties
  tests/kafkatest/tests/client/share_consumer_test.py
Labels: KIP-932, clients, ci-approved, small

#19613 MINOR: Remove unnecessary Optional from offsetsToSnapshot
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
Labels: storage, ci-approved, small

#19627 MINOR: fix bug in MockConsumer
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
Labels: consumer, clients, small

#19624 MINOR: Change info log to debug for scheduled timer tasks.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
Labels: KIP-932, ci-approved, small

#19571 KAFKA-18267: Add unit tests for CloseOptions
  clients/src/main/java/org/apache/kafka/clients/consumer/CloseOptions.java
  clients/src/test/java/org/apache/kafka/clients/consumer/CloseOptionsTest.java
Labels: consumer, clients, small

#19578 KAFKA-19205: inconsistent result of beginningOffsets/endoffset between classic and async consumer with 0 timeout
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: core, consumer, clients, ci-approved, small

#19393 KAFKA-19060 Documented null edge cases in the Clients API JavaDoc
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
Labels: consumer, clients, small

#19626 MINOR: replace .stream().forEach() with .forEach()
  clients/src/main/java/org/apache/kafka/clients/Metadata.java
  clients/src/main/java/org/apache/kafka/clients/admin/DescribeUserScramCredentialsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/clients/admin/FakeLocalMetadataStore.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerIntegrationTestUtils.java
  server/src/main/java/org/apache/kafka/server/AssignmentsManager.java
  tools/src/main/java/org/apache/kafka/tools/ClusterTool.java
Labels: core, producer, tools, connect, kraft, mirror-maker-2, clients, ci-approved, small

#19619 KAFKA-19232: Handle Share session limit reached exception in clients.
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareSessionHandler.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareSessionHandlerTest.java
Labels: consumer, KIP-932, clients, ci-approved, small

#19641 KAFKA-19240: Move MetadataVersionIntegrationTest to clients-integration-tests module
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/MetadataVersionIntegrationTest.java
  core/src/test/scala/integration/kafka/server/MetadataVersionIntegrationTest.scala
Labels: core, tests, clients, triage

#19628 KAFKA-18537: Fix flaky RemoteIndexCacheTest#testCleanerThreadShutdown
  storage/src/test/java/org/apache/kafka/storage/internals/log/RemoteIndexCacheTest.java
Labels: tests, storage, ci-approved, small

#19592 KAFKA-19133: Support fetching for multiple remote fetch topic partitions in a single share fetch request
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/PendingRemoteFetches.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
Labels: core, KIP-932, ci-approved

#19639 KAFKA-19216: Eliminate flakiness in kafka.server.share.SharePartitionTest
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  server-common/src/test/java/org/apache/kafka/server/util/timer/MockTimer.java
Labels: core, tests, KIP-932, ci-approved, small

#19617 MINOR: improve AdjustStreamThreadCountTest
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/AdjustStreamThreadCountTest.java
Labels: streams, tests, small

#19638 MINOR: exclude error_prone_annotations lib from caffeine dependency
  LICENSE-binary
  build.gradle
Labels: dependencies, build, small

#19612 KAFKA-19227: Piggybacked share fetch acknowledgements performance issue
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  server/src/main/java/org/apache/kafka/server/share/fetch/DelayedShareFetchGroupKey.java
Labels: core, KIP-932, ci-approved, small

#19648 MINOR: Bump templateData.js version
  docs/js/templateData.js
Labels: docs, small, triage

#19610 MINOR: Improve output for delete-offset of kafka-consumer-groups.sh
  clients/src/main/java/org/apache/kafka/common/protocol/Errors.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommand.java
Labels: tools, clients, small

#19583 MINOR: Convert streams group options to consumer group options in Admin APIs
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListStreamsGroupOffsetsOptions.java
Labels: streams, clients, ci-approved, small, KIP-1071

#19528 KAFKA-19170 Move MetricsDuringTopicCreationDeletionTest to client-integration-tests module
  build.gradle
  checkstyle/import-control-clients-integration-tests.xml
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/MetricsDuringTopicCreationDeletionTest.java
  core/src/test/scala/unit/kafka/integration/MetricsDuringTopicCreationDeletionTest.scala
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
Labels: core, tests, build, clients, ci-approved

#19634 MINOR: Small cleanups in clients tests
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/TransactionsExpirationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/DescribeAuthorizedOperationsTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/RackAwareAutoTopicCreationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/InFlightRequestsTest.java
  clients/src/test/java/org/apache/kafka/clients/NetworkClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/DeleteConsumerGroupOffsetsResultTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  clients/src/test/java/org/apache/kafka/clients/admin/RemoveMembersFromConsumerGroupResultTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/internals/ListConsumerGroupOffsetsHandlerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareSessionHandlerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/RecordAccumulatorTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
  clients/src/test/java/org/apache/kafka/common/network/NioEchoServer.java
  clients/src/test/java/org/apache/kafka/common/network/SslTransportLayerTest.java
  clients/src/test/java/org/apache/kafka/common/record/MemoryRecordsBuilderTest.java
  clients/src/test/java/org/apache/kafka/common/requests/CreateAclsRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/DescribeAclsRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/DescribeAclsResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  clients/src/test/java/org/apache/kafka/common/security/authenticator/SaslServerAuthenticatorTest.java
  clients/src/test/java/org/apache/kafka/common/security/ssl/SslFactoryTest.java
  clients/src/test/java/org/apache/kafka/test/TestSslUtils.java
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
Labels: producer, consumer, tests, clients, ci-approved

#19602 KAFKA-19218: Add missing leader epoch to share group state summary response
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListShareGroupOffsetsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/ListShareGroupOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/common/requests/ReadShareGroupStateSummaryResponse.java
  clients/src/main/resources/common/message/ReadShareGroupStateSummaryResponse.json
  clients/src/test/java/org/apache/kafka/clients/admin/AdminClientTestUtils.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  server-common/src/main/java/org/apache/kafka/server/share/persister/DefaultStatePersister.java
  server-common/src/main/java/org/apache/kafka/server/share/persister/NoOpStatePersister.java
  server-common/src/main/java/org/apache/kafka/server/share/persister/PartitionFactory.java
  server-common/src/main/java/org/apache/kafka/server/share/persister/PartitionStateSummaryData.java
  server-common/src/main/java/org/apache/kafka/server/share/persister/ReadShareGroupStateSummaryResult.java
  server-common/src/test/java/org/apache/kafka/server/share/persister/DefaultStatePersisterTest.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommand.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandTest.java
Labels: core, tools, KIP-932, clients, ci-approved

#19596 MINOR; Log message for unexpected buffer allocation
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/integration/kafka/server/RaftClusterSnapshotTest.scala
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManager.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachine.java
  raft/src/main/java/org/apache/kafka/raft/internals/RecordsBatchReader.java
  raft/src/main/java/org/apache/kafka/raft/internals/RecordsIterator.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotReader.java
  raft/src/main/java/org/apache/kafka/snapshot/Snapshots.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftEventSimulationTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsBatchReaderTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsIteratorTest.java
  raft/src/test/java/org/apache/kafka/snapshot/RecordsSnapshotWriterTest.java
  raft/src/test/java/org/apache/kafka/snapshot/SnapshotWriterReaderTest.java
Labels: core, kraft

#19537 MINOR: support ipv6 in ducker-ak
  tests/docker/ducker-ak
Labels: tests, small

#19649 MINOR: add boundary IT for delivery count
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
Labels: tests, KIP-932, clients, ci-approved, small

#19625 KAFKA-19202: Enable KIP-1071 in streams_standby_replica_test.py
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsStandByReplicaTest.java
  tests/kafkatest/tests/streams/base_streams_test.py
  tests/kafkatest/tests/streams/streams_standby_replica_test.py
Labels: streams, tests, ci-approved, small, KIP-1071

#19598 KAFKA-19215: Handle share partition fetch lock cleanly using tokens
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, KIP-932, ci-approved

#19654 MINOR: Remove ConstantBrokerOrActiveKController
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
Labels: clients, ci-approved, small

#19643 MINOR; Add `--standalone --ignore-formatted` formatter test
  metadata/src/test/java/org/apache/kafka/metadata/storage/FormatterTest.java
Labels: core, tests, kraft, small

#19609 KAFKA-19214: Clean up use of Optionals in RequestManagers.entries()
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThreadTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchRequestManagerTest.java
Labels: consumer, clients, ci-approved, small

#19645 MINOR: introduce structure to keep member assignment with topic Ids
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/TopicIdPartitionSet.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/TopicIdPartitionSetTest.java
Labels: consumer, clients

#19590 KAFKA-19212: Correct the unclean leader election metric calculation
  metadata/src/main/java/org/apache/kafka/controller/PartitionChangeBuilder.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetricsChanges.java
  metadata/src/main/java/org/apache/kafka/image/TopicDelta.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetricsChangesTest.java
  metadata/src/test/java/org/apache/kafka/image/TopicsImageTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
Labels: kraft, ci-approved

#19581 KAFKA-18855: Slice API for MemoryRecords
  clients/src/main/java/org/apache/kafka/common/record/FileRecords.java
  clients/src/main/java/org/apache/kafka/common/record/MemoryRecords.java
  clients/src/main/java/org/apache/kafka/common/record/Records.java
  clients/src/test/java/org/apache/kafka/common/record/FileRecordsTest.java
  clients/src/test/java/org/apache/kafka/common/record/MemoryRecordsTest.java
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
Labels: core, KIP-932, clients, ci-approved

#19642 MINOR: Simplify OffsetFetchResponse
  clients/src/main/java/org/apache/kafka/clients/admin/internals/ListConsumerGroupOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/common/requests/OffsetFetchRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/OffsetFetchResponse.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/internals/ListConsumerGroupOffsetsHandlerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CommitRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/common/requests/OffsetFetchResponseTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
Labels: core, consumer, clients

#19568 KAFKA-19087: Move TransactionState to transaction-coordinator module
  core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionLog.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionMetadata.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionLogTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMarkerChannelManagerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMarkerRequestCompletionHandlerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMetadataTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TransactionState.java
Labels: core, transactions

#19608 KAFKA-19182: Move SchedulerTest to server module
  build.gradle
  checkstyle/import-control-server.xml
  core/src/test/scala/unit/kafka/utils/SchedulerTest.scala
  server/src/test/java/org/apache/kafka/server/util/SchedulerTest.java
Labels: streams, core, build, ci-approved

#19660 MINOR: remove xijiu from asf.yaml in order to resend invitation
  .asf.yaml
Labels: small

#18391 KAFKA-18115; Fix for loading big files while performing load tests
  tools/src/main/java/org/apache/kafka/tools/ProducerPerformance.java
  tools/src/test/java/org/apache/kafka/tools/ProducerPerformanceTest.java
Labels: tools, performance, KIP-932, ci-approved, small

#19657 KAFKA-19209: Clarify index.interval.bytes impact on offset and time index
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
Labels: clients, ci-approved, small, triage

#19508 KAFKA-17897: Deprecate Admin.listConsumerGroups [2/N]
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListGroupsOptions.java
  clients/src/main/java/org/apache/kafka/common/requests/ListGroupsRequest.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/ListGroupsOptionsTest.java
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ListConsumerGroupTest.java
Labels: core, tools, clients, ci-approved

#19647 KAFKA-19229: Ignore background errors while closing share consumers. (Fix flaky test)
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImplTest.java
Labels: consumer, KIP-932, clients, ci-approved, small

#19667 MINOR: avoid double brace initialization
  streams/src/test/java/org/apache/kafka/streams/processor/internals/InternalTopicManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ReadOnlyTaskTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/RocksDBGenericOptionsToDbOptionsColumnFamilyOptionsAdapterTest.java
Labels: streams, tests

#19663 MINOR: add xijiu from asf.yaml in order to resend invitation
  .asf.yaml
Labels: small

#19655 MINOR: Fix some Request toString methods
  checkstyle/import-control.xml
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AlterUserScramCredentialsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/IncrementalAlterConfigsRequest.java
  core/src/test/scala/unit/kafka/network/RequestChannelTest.scala
  core/src/test/scala/unit/kafka/server/AlterUserScramCredentialsRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core, clients, ci-approved, small

#19336 MINOR: Add documentation about KIP-405 remote reads serving just one partition per FetchRequest
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  docs/ops.html
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
Labels: consumer, storage, tiered-storage, clients, small

#19482 MINOR: Replaced internal KafkaConfig field in TransactionLogConfig
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TransactionLogConfig.java
  transaction-coordinator/src/test/java/org/apache/kafka/coordinator/transaction/TransactionLogConfigTest.java
Labels: transactions, ci-approved, small

#19650 KAFKA-19220: Add tests to ensure the internal configs don't return by public APIs by default
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/StaticBrokerConfigTest.java
Labels: tests, clients, ci-approved, small

#19543 KAFKA-19109: Don't print null in kafka-metadata-quorum describe status
  tools/src/main/java/org/apache/kafka/tools/MetadataQuorumCommand.java
  tools/src/test/java/org/apache/kafka/tools/MetadataQuorumCommandTest.java
Labels: tools, ci-approved, small

#19346 KAFKA-19068: Eliminate the duplicate type check in creating ControlRecord
  metadata/src/test/java/org/apache/kafka/image/loader/MetadataLoaderTest.java
  raft/src/main/java/org/apache/kafka/raft/ControlRecord.java
  raft/src/main/java/org/apache/kafka/raft/internals/RecordsIterator.java
  raft/src/test/java/org/apache/kafka/raft/ControlRecordTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsBatchReaderTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsIteratorTest.java
Labels: kraft, ci-approved

#19662 MINOR: Move TxnTransitMetadata to transaction-coordinator
  core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionLog.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionMarkerChannelManager.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionMetadata.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionLogTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMetadataTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TxnTransitMetadata.java
Labels: core, transactions, ci-approved

#19673 KAFKA-19264: Remove fallback for thread pool sizes in RemoteLogManagerConfig
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
Labels: storage, tiered-storage, small

#19633 KAFKA-18695: Remove quorum=kraft and kip932 from all integration tests
  core/src/test/java/kafka/server/integration/EligibleLeaderReplicasIntegrationTest.java
  core/src/test/scala/integration/kafka/admin/RemoteTopicCrudTest.scala
  core/src/test/scala/integration/kafka/api/AdminClientWithPoliciesIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/DelegationTokenEndToEndAuthorizationWithOwnerTest.scala
  core/src/test/scala/integration/kafka/api/MetricsTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/ProducerSendWhileDeletionTest.scala
  core/src/test/scala/integration/kafka/api/SaslClientsWithInvalidCredentialsTest.scala
  core/src/test/scala/integration/kafka/network/DynamicConnectionQuotaTest.scala
  core/src/test/scala/integration/kafka/network/DynamicNumNetworkThreadsTest.scala
  core/src/test/scala/integration/kafka/server/GssapiAuthenticationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/kafka/utils/TestInfoUtils.scala
  core/src/test/scala/unit/kafka/admin/AddPartitionsTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/integration/MinIsrConfigTest.scala
  core/src/test/scala/unit/kafka/metrics/MetricsTest.scala
  core/src/test/scala/unit/kafka/security/authorizer/AuthorizerTest.scala
  core/src/test/scala/unit/kafka/server/AddPartitionsToTxnRequestServerTest.scala
  core/src/test/scala/unit/kafka/server/AlterReplicaLogDirsRequestTest.scala
  core/src/test/scala/unit/kafka/server/AlterUserScramCredentialsRequestNotAuthorizedTest.scala
  core/src/test/scala/unit/kafka/server/AlterUserScramCredentialsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ControllerMutationQuotaTest.scala
  core/src/test/scala/unit/kafka/server/CreateTopicsRequestTest.scala
  core/src/test/scala/unit/kafka/server/CreateTopicsRequestWithPolicyTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsOnPlainTextTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsTest.scala
  core/src/test/scala/unit/kafka/server/DelegationTokenRequestsWithDisableTokenFeatureTest.scala
  core/src/test/scala/unit/kafka/server/DeleteRecordsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DeleteTopicsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DeleteTopicsRequestWithDeletionDisabledTest.scala
  core/src/test/scala/unit/kafka/server/DescribeClusterRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeLogDirsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeUserScramCredentialsRequestNotAuthorizedTest.scala
  core/src/test/scala/unit/kafka/server/DescribeUserScramCredentialsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigChangeTest.scala
  core/src/test/scala/unit/kafka/server/EdgeCaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/FetchRequestMaxBytesTest.scala
  core/src/test/scala/unit/kafka/server/FetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaMetricReporterExceptionHandlingTest.scala
  core/src/test/scala/unit/kafka/server/KafkaMetricsReporterTest.scala
  core/src/test/scala/unit/kafka/server/ListOffsetsRequestTest.scala
  core/src/test/scala/unit/kafka/server/LogOffsetTest.scala
  core/src/test/scala/unit/kafka/server/LogRecoveryTest.scala
  core/src/test/scala/unit/kafka/server/MetadataRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetsForLeaderEpochRequestTest.scala
  core/src/test/scala/unit/kafka/server/ProduceRequestTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaFetchTest.scala
  core/src/test/scala/unit/kafka/server/ReplicationQuotasTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  core/src/test/scala/unit/kafka/server/ServerShutdownTest.scala
  core/src/test/scala/unit/kafka/server/epoch/LeaderEpochIntegrationTest.scala
  tools/src/test/java/org/apache/kafka/tools/consumer/group/AuthorizerIntegrationTest.java
Labels: core, tools, tests, ci-approved

#19676 MINOR: fit HTML markup
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
Labels: clients, small

#19631 KAFKA-19242: Fix commit bugs caused by race condition during rebalancing.
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
Labels: consumer, clients, ci-approved, small

#19644 KAFKA-18905; Disable idempotent producer to remove test flakiness
  tests/kafkatest/tests/core/reassign_partitions_test.py
Labels: tests, small

#19658 KAFKA-18345; Prevent livelocked elections
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/MockableRandom.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
Labels: kraft, ci-approved

#19679 MINOR: Fix unchecked type warnings in several test classes
  clients/src/test/java/org/apache/kafka/clients/admin/internals/ListConsumerGroupOffsetsHandlerTest.java
  metadata/src/test/java/org/apache/kafka/image/TopicsImageTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleShareConsumerTest.java
Labels: tools, tests, kraft, clients, ci-approved, small

#19688 MINOR: Improve client error messages for share groups not enabled
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManagerTest.java
Labels: consumer, KIP-932, clients, ci-approved, small

#19496 KAFKA-19163: Avoid deleting groups with pending transactional offsets
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
Labels: KIP-848, ci-approved, small

#19705 KAFKA-19245: Updated default locks config for share group
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfig.java
Labels: KIP-932, ci-approved, small

#19595 MINOR: Improve docs for retries & cleanup
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
Labels: producer, clients, small

#19659 KAFKA-19253: Improve metadata handling for share version using feature listeners (1/N)
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
  server/src/main/java/org/apache/kafka/server/share/session/ShareSessionCache.java
  server/src/test/java/org/apache/kafka/server/share/session/ShareSessionCacheTest.java
Labels: core, KIP-932, ci-approved

#19622 KAFKA-18847: Refactor OAuth layer to improve reusability 1/N
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/OAuthBearerLoginCallbackHandler.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/OAuthBearerValidatorCallbackHandler.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/AccessTokenValidatorFactory.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/BrokerJwtValidator.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/ClientJwtValidator.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/DefaultJwtRetriever.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/DefaultJwtValidator.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/FileJwtRetriever.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/HttpJwtRetriever.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/Initable.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/JwtRetriever.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/JwtValidator.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/RefreshingHttpsJwks.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/ValidateException.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/VerificationKeyResolverFactory.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/OAuthBearerLoginCallbackHandlerTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/OAuthBearerValidatorCallbackHandlerTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/secured/AccessTokenValidatorFactoryTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/secured/BrokerJwtValidatorTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/secured/ClientJwtValidatorTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/secured/DefaultJwtRetrieverTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/secured/DefaultJwtValidatorTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/secured/HttpJwtRetrieverTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/secured/JwtValidatorTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/secured/OAuthBearerTest.java
  tools/src/main/java/org/apache/kafka/tools/OAuthCompatibilityTool.java
Labels: tools, clients, ci-approved

#19661 MINOR; Remove cast for Records' slice
  clients/src/main/java/org/apache/kafka/common/record/FileRecords.java
  clients/src/main/java/org/apache/kafka/common/record/MemoryRecords.java
  clients/src/main/java/org/apache/kafka/common/record/Records.java
  clients/src/test/java/org/apache/kafka/common/record/FileRecordsTest.java
  clients/src/test/java/org/apache/kafka/common/record/MemoryRecordsTest.java
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
Labels: core, clients

#19630 KAFKA-19145: Move LeaderEndPoint to Server module
  core/src/main/java/kafka/server/TierStateMachine.java
  core/src/main/scala/kafka/server/AbstractFetcherManager.scala
  core/src/main/scala/kafka/server/AbstractFetcherThread.scala
  core/src/main/scala/kafka/server/LeaderEndPoint.scala
  core/src/main/scala/kafka/server/LocalLeaderEndPoint.scala
  core/src/main/scala/kafka/server/RemoteLeaderEndPoint.scala
  core/src/main/scala/kafka/server/ReplicaAlterLogDirsManager.scala
  core/src/main/scala/kafka/server/ReplicaAlterLogDirsThread.scala
  core/src/main/scala/kafka/server/ReplicaFetcherManager.scala
  core/src/main/scala/kafka/server/ReplicaFetcherThread.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/kafka/server/LocalLeaderEndPointTest.scala
  core/src/test/scala/kafka/server/RemoteLeaderEndPointTest.scala
  core/src/test/scala/unit/kafka/server/AbstractFetcherManagerTest.scala
  core/src/test/scala/unit/kafka/server/AbstractFetcherThreadTest.scala
  core/src/test/scala/unit/kafka/server/MockFetcherThread.scala
  core/src/test/scala/unit/kafka/server/MockLeaderEndPoint.scala
  core/src/test/scala/unit/kafka/server/MockTierStateMachine.scala
  core/src/test/scala/unit/kafka/server/ReplicaAlterLogDirsThreadTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaFetcherThreadTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/server/TierStateMachineTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetcher/ReplicaFetcherThreadBenchmark.java
  server/src/main/java/org/apache/kafka/server/LeaderEndPoint.java
  server/src/main/java/org/apache/kafka/server/PartitionFetchState.java
  server/src/main/java/org/apache/kafka/server/ReplicaFetch.java
  server/src/main/java/org/apache/kafka/server/ReplicaState.java
  server/src/main/java/org/apache/kafka/server/ResultWithPartitions.java
Labels: core, performance, ci-approved

#19712 KAFKA-19275: client-state and thread-state metrics are always "Unavailable"
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/MetricsIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/internals/metrics/ClientMetrics.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetrics.java
  streams/src/test/java/org/apache/kafka/streams/internals/metrics/ClientMetricsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/metrics/ThreadMetricsTest.java
Labels: streams, small

#19707 MINOR: changed the default value of metadata_quorum in test methods to quorum.isolated_kraft where quorum.zk was used
  tests/kafkatest/tests/client/share_consumer_test.py
Labels: tests, KIP-932, ci-approved, small

#19666 KAFKA-19116, KAFKA-19258: Handling share group member change events
  core/src/main/java/kafka/server/share/SharePartitionCache.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/test/java/kafka/server/share/SharePartitionCacheTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  server/src/main/java/org/apache/kafka/server/share/ShareGroupListener.java
  server/src/main/java/org/apache/kafka/server/share/session/ShareSessionCache.java
  server/src/main/java/org/apache/kafka/server/share/session/ShareSessionKey.java
  server/src/test/java/org/apache/kafka/server/share/session/ShareSessionCacheTest.java
Labels: core, KIP-932, ci-approved

#19553 KAFKA-19091: Fix race condition in DelayedFutureTest
  server/src/test/java/org/apache/kafka/server/purgatory/DelayedFutureTest.java
Labels: core, tests, ci-approved, small

#19702 KAFKA-19273:Ensure the delete policy is configured when the tiered storage is enabled
  core/src/test/scala/unit/kafka/log/LogConfigTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogConfig.java
Labels: core, storage, small

#19635 KAFKA-19234: broker should return UNAUTHORIZATION error for non-existing topic in produce request
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
Labels: core, ci-approved

#19586 KAFKA-18666: Controller-side monitoring for broker shutdown and startup
  core/src/main/scala/kafka/server/ControllerServer.scala
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/OffsetControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/BrokerRegistrationState.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetadataMetrics.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetadataMetricsPublisher.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetricsChanges.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/QuorumControllerMetrics.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerMetricsIntegrationTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetadataMetricsTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetricsChangesTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetricsTestUtils.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/QuorumControllerMetricsTest.java
Labels: core, kraft, ci-approved

#19539 KAFKA-19082:[3/4] Add prepare txn method (KIP-939)
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/Producer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/KafkaProducerMetrics.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
Labels: producer, clients, ci-approved

#19718 KAFKA-19270: Remove Optional from ClusterInstance#controllerListenerName() return type
  core/src/test/scala/unit/kafka/server/AbstractApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/AllocateProducerIdsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/BrokerRegistrationRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeQuorumRequestTest.scala
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/junit/RaftClusterInvocationContext.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/junit/ClusterTestExtensionsTest.java
Labels: core, tests, ci-approved, small, triage

#19698 KAFKA-19269: `Unexpected error ..` should not happen when the delete.topic.enable is false
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
Labels: core, ci-approved, small

#19523 KAFKA-17747: [2/N] Add compute topic and group hash
  LICENSE-binary
  build.gradle
  checkstyle/import-control-group-coordinator.xml
  gradle/dependencies.gradle
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Utils.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/UtilsTest.java
Labels: streams, tools, dependencies, build, clients

#19715 MINOR: Cleaning up code for share feature listener
  core/src/main/java/kafka/server/share/SharePartitionCache.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
  server/src/main/java/org/apache/kafka/server/share/session/ShareSessionCache.java
  server/src/test/java/org/apache/kafka/server/share/session/ShareSessionCacheTest.java
Labels: core, KIP-932, ci-approved

#19675 KAFKA-19263: update `delete.topic.enable` docs
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  server-common/src/main/java/org/apache/kafka/server/config/ServerConfigs.java
Labels: core, clients, ci-approved, small

#19701 KAFKA-19231-1: Handle fetch request when share session cache is full
  checkstyle/suppressions.xml
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
  server-common/src/main/java/org/apache/kafka/server/purgatory/DelayedOperationPurgatory.java
Labels: core, KIP-932, clients, ci-approved

#19730 MINOR: Remove share group code from group coord onElection.
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
Labels: KIP-932, ci-approved

#19726 MINOR: Fix backticks in PR body
  .github/scripts/pr-format.py
Labels: build, small

#19723 MINOR: adding consumer fenced test and log
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerPollTest.scala
Labels: core, consumer, clients, small

#19713 KAFKA-19274; Group Coordinator Shards are not unloaded when `__consumer_offsets` topic is deleted
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/scala/integration/kafka/api/GroupCoordinatorIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
Labels: core

#19719 MINOR: Improvements for Persister APIs with respect to share group protocol enablement
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core, KIP-932, ci-approved, small

#19733 HOTFIX: Parameter mismatch in test for BrokerMetadataPublisher
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
Labels: core, tests, small

#19493 KAFKA-18904: [1/N] Change ListClientMetricsResources API to ListConfigResources
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ListClientMetricsResourcesRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ListConfigResourcesRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ListConfigResourcesResponse.java
  clients/src/main/resources/common/message/ListConfigResourcesRequest.json
  clients/src/main/resources/common/message/ListConfigResourcesResponse.json
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfigManager.java
  server/src/main/java/org/apache/kafka/network/RequestConvertToJson.java
Labels: core, clients, ci-approved

#19580 KAFKA-19208: KStream-GlobalKTable join should not drop left-null-key record
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinProcessor.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamGlobalKTableLeftJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableJoinTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KStreamKTableLeftJoinTest.java
Labels: streams

#19709 KAFKA-19267: the min version used by ListOffsetsRequest should be 1 rather than 0
  clients/src/main/java/org/apache/kafka/common/requests/ListOffsetsRequest.java
  clients/src/test/java/org/apache/kafka/common/requests/ListOffsetsRequestTest.java
Labels: clients, ci-approved, small

#19507 KAFKA-19171: Kafka Streams crashes with UnsupportedOperationException
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
Labels: streams, small

#19734 KAFKA-19217: Fix ShareConsumerTest.testComplexConsumer flakiness.
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
Labels: tests, KIP-932, clients, ci-approved, small

#19732 MINOR: Mark RemoteIndexCacheTest.testConcurrentRemoveReadForCache1 flaky
  storage/src/test/java/org/apache/kafka/storage/internals/log/RemoteIndexCacheTest.java
Labels: tests, storage, small

#19727 MINOR: migrate MinInSyncReplicasConfigTest to server module
  core/src/test/scala/unit/kafka/integration/MinIsrConfigTest.scala
  server/src/test/java/org/apache/kafka/server/config/MinInSyncReplicasConfigTest.java
Labels: core, tests, ci-approved, small

#19697 KAFKA-19271: Add internal ConsumerWrapper
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsTelemetryIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/ConsumerWrapper.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, KIP-1071

#19706 MINOR: Add JmxReporter note to metric.reporters
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
Labels: clients, ci-approved, small, triage

#19740 MINOR: Fix broken HTML tag in SESSION_TIMEOUT_MS_DOC
  clients/src/main/java/org/apache/kafka/clients/CommonClientConfigs.java
Labels: clients, small

#19683 KAFKA-19141; Persist topic id in OffsetCommit record
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetAndMetadata.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/resources/common/message/OffsetCommitValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetAndMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetExpirationConditionImplTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/classic/ClassicGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/OffsetMessageFormatterTest.java
Labels: tools, KIP-848

#19708 KAFKA-19226: Added test_console_share_consumer.py
  tests/kafkatest/sanity_checks/test_console_share_consumer.py
  tests/kafkatest/services/console_share_consumer.py
  tests/kafkatest/services/templates/console_share_consumer.properties
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleShareConsumer.java
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleShareConsumerOptions.java
Labels: tools, KIP-932, ci-approved

#19691 KAFKA-19256: Only send IQ metadata on assignment changes
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/main/resources/common/message/StreamsGroupHeartbeatRequest.json
  clients/src/main/resources/common/message/StreamsGroupHeartbeatResponse.json
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: consumer, clients

#19717 KAFKA-19280: Fix NoSuchElementException in UnifiedLog
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
Labels: storage, small

#19700 KAFKA-19202: Enable KIP-1071 in streams_eos_test
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredSubtopology.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsTelemetryIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/EosTestClient.java
  streams/src/test/java/org/apache/kafka/streams/tests/EosTestDriver.java
  streams/src/test/java/org/apache/kafka/streams/tests/StreamsEosTest.java
  tests/kafkatest/services/streams.py
  tests/kafkatest/tests/streams/streams_eos_test.py
Labels: streams, KIP-1071

#19738 MINOR: Remove unnecessary test conditions where ListOffsetsRequest version is 0
  core/src/test/scala/unit/kafka/server/ListOffsetsRequestTest.scala
Labels: core, tests, ci-approved, small

#19724 MINOR: Refactor shared-group request handle methods to return CompletableFuture for consistent error handling
  core/src/main/scala/kafka/server/KafkaApis.scala
Labels: core, ci-approved, small

#19611 KAFKA-17747: [3/N] Get rid of TopicMetadata in SubscribedTopicDescriberImpl
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/SubscribedTopicDescriberImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/OptimizedUniformAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/RangeAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/SimpleAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/SubscribedTopicMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilderTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/AssignorBenchmarkUtils.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/TargetAssignmentBuilderBenchmark.java
Labels: performance

#19755 KAFKA-19302: Move ReplicaState and Replica to server module
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/cluster/Replica.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/cluster/ReplicaTest.scala
  core/src/test/scala/unit/kafka/server/IsrExpirationTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/UpdateFollowerFetchStateBenchmark.java
  server/src/main/java/org/apache/kafka/server/replica/Replica.java
  server/src/main/java/org/apache/kafka/server/replica/ReplicaState.java
  server/src/test/java/org/apache/kafka/server/replica/ReplicaTest.java
Labels: core, performance

#19766 MINOR: Update the supported tags in docker_scan.yml
  .github/workflows/docker_scan.yml
Labels: build, small, triage

#19769 MINOR Fix: API Responses missing latest version in Kafka protocol guide
  clients/src/main/java/org/apache/kafka/common/protocol/Protocol.java
Labels: clients, ci-approved, small, triage

#19746 MINOR:- Edit test in transaction command
  tools/src/test/java/org/apache/kafka/tools/TransactionsCommandTest.java
Labels: tools, tests, ci-approved, small

#19731 KAFKA-18783 : Extend InvalidConfigurationException related exceptions
  clients/src/main/java/org/apache/kafka/common/InvalidRecordException.java
  clients/src/main/java/org/apache/kafka/common/errors/AuthenticationException.java
  clients/src/main/java/org/apache/kafka/common/errors/AuthorizationException.java
  clients/src/main/java/org/apache/kafka/common/errors/InvalidConfigurationException.java
  clients/src/main/java/org/apache/kafka/common/errors/InvalidReplicationFactorException.java
  clients/src/main/java/org/apache/kafka/common/errors/InvalidRequiredAcksException.java
  clients/src/main/java/org/apache/kafka/common/errors/InvalidTopicException.java
  clients/src/main/java/org/apache/kafka/common/errors/RecordBatchTooLargeException.java
  clients/src/main/java/org/apache/kafka/common/errors/UnsupportedForMessageFormatException.java
  clients/src/main/java/org/apache/kafka/common/errors/UnsupportedVersionException.java
  clients/src/test/java/org/apache/kafka/common/errors/TransactionExceptionHierarchyTest.java
  core/src/main/scala/kafka/admin/ConfigCommand.scala
Labels: core, clients, ci-approved, small

#19771 MINOR: Cleanup Shell Module
  shell/src/main/java/org/apache/kafka/shell/MetadataShell.java
  shell/src/main/java/org/apache/kafka/shell/command/Commands.java
  shell/src/main/java/org/apache/kafka/shell/glob/GlobComponent.java
  shell/src/main/java/org/apache/kafka/shell/node/LocalShellNode.java
  shell/src/main/java/org/apache/kafka/shell/node/RootShellNode.java
  shell/src/test/java/org/apache/kafka/shell/MetadataShellIntegrationTest.java
  shell/src/test/java/org/apache/kafka/shell/command/CommandTest.java
  shell/src/test/java/org/apache/kafka/shell/command/CommandUtilsTest.java
  shell/src/test/java/org/apache/kafka/shell/command/LsCommandHandlerTest.java
  shell/src/test/java/org/apache/kafka/shell/glob/GlobVisitorTest.java
Labels: tools, ci-approved

#19772 MINOR: add 3.9.1 to system tests
  gradle/dependencies.gradle
  tests/docker/Dockerfile
  tests/kafkatest/version.py
  vagrant/base.sh
Labels: tools, build, small

#19768 MINOR: Add more description to KIP-1148
  docs/upgrade.html
Labels: docs, small, triage

#19760 MINOR: update the gradle version for java 24 support
  gradle/dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build, small

#19380 MINOR: Cleanup Core Module- Scala Modules (1/n)
  core/src/test/scala/integration/kafka/admin/RemoteTopicCrudTest.scala
  core/src/test/scala/integration/kafka/api/AdminClientWithPoliciesIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/BaseAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/BaseProducerSendTest.scala
  core/src/test/scala/integration/kafka/api/BaseQuotaTest.scala
  core/src/test/scala/integration/kafka/api/ConsumerBounceTest.scala
  core/src/test/scala/integration/kafka/api/ConsumerWithLegacyMessageFormatIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/CustomQuotaCallbackTest.scala
  core/src/test/scala/integration/kafka/api/DelegationTokenEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/DelegationTokenEndToEndAuthorizationWithOwnerTest.scala
  core/src/test/scala/integration/kafka/api/EndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/EndToEndClusterIdTest.scala
  core/src/test/scala/integration/kafka/api/GroupAuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/GroupCoordinatorIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/MetricsTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerAssignTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerAssignorsTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerPollTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerSubscriptionTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
  core/src/test/scala/integration/kafka/api/ProducerSendWhileDeletionTest.scala
  core/src/test/scala/integration/kafka/api/SaslClientsWithInvalidCredentialsTest.scala
  core/src/test/scala/integration/kafka/api/SaslEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/SaslMultiMechanismConsumerTest.scala
  core/src/test/scala/integration/kafka/api/SaslScramSslEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/SaslSetup.scala
  core/src/test/scala/integration/kafka/api/SaslSslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SslEndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/TransactionsTest.scala
  core/src/test/scala/integration/kafka/coordinator/transaction/ProducerIntegrationTest.scala
  core/src/test/scala/integration/kafka/network/DynamicConnectionQuotaTest.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/integration/kafka/server/FetchFromFollowerIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/GssapiAuthenticationTest.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/integration/kafka/server/MultipleListenersWithAdditionalJaasContextTest.scala
  core/src/test/scala/integration/kafka/server/MultipleListenersWithSameSecurityProtocolBaseTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
  core/src/test/scala/kafka/server/KafkaRequestHandlerTest.scala
  core/src/test/scala/kafka/server/LocalLeaderEndPointTest.scala
  core/src/test/scala/kafka/server/NodeToControllerRequestThreadTest.scala
  core/src/test/scala/kafka/server/RemoteLeaderEndPointTest.scala
  core/src/test/scala/kafka/tools/LogCompactionTester.scala
  core/src/test/scala/kafka/utils/TestInfoUtils.scala
Labels: core, tests, storage, clients, ci-approved

#19749 KAFKA-19287: document all group coordinator metrics
  docs/ops.html
Labels: docs, ci-approved, small, triage

#19757 KAFKA-19291: Increase the timeout of remote storage share fetch requests in purgatory
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/PendingRemoteFetches.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, KIP-932, ci-approved

#19782 MINOR: Update Scala to v2.13.16 to support Java 24
  LICENSE-binary
  bin/kafka-run-class.sh
  bin/windows/kafka-run-class.bat
  gradle.properties
  gradle/dependencies.gradle
Labels: dependencies, build, ci-approved, small, triage

#19788 HOTFIX: Fix testDeleteConsumerGroupOffsets
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: core, tests, small, triage

#19582 KAFKA-19042: [7/N] Move PlaintextConsumerPollTest to client-integration-tests module
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/ClientsTestUtils.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ConsumerAssignmentPoller.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerPollTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerPollTest.scala
Labels: core, tests, clients

#19787 MINOR: suppress removal warnings for listClientMetricsResources
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
Labels: tests, clients, ci-approved, small, triage

#19781 KAFKA-19204: Add timestamp to share state metadata init maps [1/N]
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
Labels: KIP-932, ci-approved

#19729 KAFKA-19069: DumpLogSegments does not dump the LEADER_CHANGE record
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
Labels: core, ci-approved, small

#18929 KAFKA-16717 [2/N]: Add AdminClient.alterShareGroupOffsets
  clients/src/main/java/org/apache/kafka/common/requests/AlterShareGroupOffsetsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AlterShareGroupOffsetsResponse.java
  clients/src/main/resources/common/message/AlterShareGroupOffsetsResponse.json
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/metadata/KRaftMetadataCache.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  metadata/src/main/java/org/apache/kafka/metadata/MetadataCache.java
  server-common/src/main/java/org/apache/kafka/server/share/persister/InitializeShareGroupStateResult.java
Labels: core, kraft, KIP-932, clients, ci-approved

#19792 HOTFIX: Fix GroupMetadataManager#completeAlterShareGroupOffsets to use InitMapValue in addInitializingTopicsRecords
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: ci-approved, small, triage

#19687 KAFKA-19260: Move LoggingController to server module
  build.gradle
  checkstyle/import-control-server.xml
  core/src/main/java/kafka/server/logger/RuntimeLoggerManager.java
  core/src/main/scala/kafka/server/ConfigHelper.scala
  core/src/main/scala/kafka/utils/Logging.scala
  core/src/main/scala/kafka/utils/LoggingController.scala
  core/src/test/java/kafka/server/logger/RuntimeLoggerManagerTest.java
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/kafka/utils/LoggingTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  server/src/main/java/org/apache/kafka/server/logger/Log4jCoreController.java
  server/src/main/java/org/apache/kafka/server/logger/LoggingController.java
  server/src/main/java/org/apache/kafka/server/logger/LoggingControllerDelegate.java
  server/src/main/java/org/apache/kafka/server/logger/LoggingControllerMBean.java
  server/src/main/java/org/apache/kafka/server/logger/NoOpController.java
Labels: core, build, ci-approved

#19795 MINOR: Bugfix in GroupMetadataManager.testShareGroupInitializeSuccess.
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: tests, KIP-932, ci-approved, small

#19747 KAFKA-18345; Wait the entire election timeout on election loss
  raft/src/main/java/org/apache/kafka/raft/CandidateState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/ProspectiveState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  raft/src/test/java/org/apache/kafka/raft/CandidateStateTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/MockableRandom.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
Labels: kraft, ci-approved

#19767 KAFKA-19313: Replace LogOffsetMetadata#UNIFIED_LOG_UNKNOWN_OFFSET by UnifiedLog.UNKNOWN_OFFSET
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogOffsetMetadata.java
Labels: storage, ci-approved, small

#19759 KAFKA-19312: Avoiding concurrent execution of onComplete and tryComplete
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  server-common/src/main/java/org/apache/kafka/server/purgatory/DelayedOperation.java
Labels: core, KIP-932, ci-approved, small

#19681 KAFKA-19034: [1/N] Rewrite RemoteTopicCrudTest by ClusterTest and move it to storage module
  checkstyle/import-control-storage.xml
  core/src/test/scala/integration/kafka/admin/RemoteTopicCrudTest.scala
  storage/src/test/java/org/apache/kafka/admin/RemoteTopicCrudTest.java
Labels: core, storage, ci-approved

#19371 KAFKA-19080 The constraint on segment.ms is not enforced at topic level
  checkstyle/import-control.xml
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/SaslSslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
  core/src/test/scala/unit/kafka/cluster/AbstractPartitionTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/log/AbstractLogCleanerIntegrationTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
  core/src/test/scala/unit/kafka/log/LogConcurrencyTest.scala
  core/src/test/scala/unit/kafka/log/LogConfigTest.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogTestUtils.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/AlterReplicaLogDirsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigChangeTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/KafkaConfigSchema.java
  metadata/src/test/java/org/apache/kafka/metadata/KafkaConfigSchemaTest.java
  raft/src/main/java/org/apache/kafka/raft/MetadataLogConfig.java
  server-common/src/main/java/org/apache/kafka/server/config/ServerTopicConfigSynonyms.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/Cleaner.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogConfig.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/LocalLogTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/PurgeRepartitionTopicIntegrationTest.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  tools/src/main/java/org/apache/kafka/tools/TopicCommand.java
  tools/src/test/java/org/apache/kafka/tools/GetOffsetShellTest.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
Labels: streams, core, tools, connect, kraft, storage, KIP-932, build, clients

#19797 MINOR: Remove unused mkMapOfPartitionRacks method
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpersTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ClientSideAssignorBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ServerSideAssignorBenchmark.java
Labels: performance, ci-approved, small

#19775 MINOR: Cleanups in Test Common Module
  test-common/test-common-internal-api/src/main/java/org/apache/kafka/common/test/api/ClusterConfig.java
  test-common/test-common-internal-api/src/main/java/org/apache/kafka/common/test/api/ClusterTemplate.java
  test-common/test-common-internal-api/src/main/java/org/apache/kafka/common/test/api/README.md
  test-common/test-common-internal-api/src/test/java/org/apache/kafka/common/test/api/ClusterConfigTest.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/MockController.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/PreboundSocketFactoryManager.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/TestUtils.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/junit/ClusterTestExtensions.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/junit/RaftClusterInvocationContext.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/KafkaClusterTestKitTest.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/TestKitNodeTest.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/junit/ClusterTestExtensionsTest.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/junit/ClusterTestExtensionsUnitTest.java
  test-common/test-common-util/src/test/java/org/apache/kafka/common/test/junit/CatalogTestFilterTest.java
Labels: tests, ci-approved

#19786 KAFKA-19268 Missing mocks for SharePartitionManagerTest tests
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
Labels: core, tests, KIP-932, ci-approved, small

#19790 KAFKA-18687: Setting the subscriptionMetadata during conversion to consumer group
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupTest.java
Labels: core, KIP-848, ci-approved, small

#19780 MINOR: Upgrade to Gradle 8.14.1
  gradle/dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  wrapper.gradle
Labels: build, ci-approved, small

#19824 MINOR: Remove flakiness caused when producing aborted transaction in ShareConsumerTest
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
Labels: tests, KIP-932, clients, small

#19801 MINOR: Fix initProducerId throttle time to non-zero
  clients/src/main/java/org/apache/kafka/common/requests/InitProducerIdRequest.java
Labels: clients, ci-approved, small

#19510 MINOR: Cleanup Core Module- Scala Modules (2/n)
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core, tests, ci-approved

#19825 MINOR: Migrate usage of deprecated Endpoint#listenerName() to Endpoint#listener()
  core/src/main/scala/kafka/server/BrokerServer.scala
Labels: core, ci-approved, small, triage

#19813 MINOR: Change `Streams group` to `streams group`
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListStreamsGroupOffsetsSpec.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsRebalanceListener.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroupMember.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/AssignmentMemberSpec.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/GroupSpecImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/MemberAssignment.java
Labels: streams, core, consumer, tools, clients, small, KIP-1071

#19835 KAFKA-19336 Upgrade Jackson to 2.19.0
  LICENSE-binary
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/unsecured/OAuthBearerUnsecuredJws.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  gradle/dependencies.gradle
  server-common/src/main/java/org/apache/kafka/server/util/json/DecodeJson.java
  server-common/src/main/java/org/apache/kafka/server/util/json/JsonObject.java
  server-common/src/test/java/org/apache/kafka/server/util/JsonTest.java
  trogdor/src/main/java/org/apache/kafka/trogdor/basic/BasicNode.java
Labels: core, tools, connect, dependencies, build, clients, ci-approved, small, triage
