Repository apache/kafka, pull requests merged in 2025-09, with the labels that each got.

#20424 MINOR: suppress build warning
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/ClientsTestUtils.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/MetricsDuringTopicCreationDeletionTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/ClientTelemetryTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerTestUtils.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetadataMetricsTest.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/QuorumControllerMetricsTest.java
  server-common/src/test/java/org/apache/kafka/server/util/CommandLineUtilsTest.java
  server/src/test/java/org/apache/kafka/server/quota/ClientQuotasRequestTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
Labels: streams, core, connect, tests, kraft, storage, tiered-storage, KIP-932, build, clients, small

#20302 KAFKA-19574: Improve producer and consumer config files
  clients/src/test/java/org/apache/kafka/clients/consumer/ConsumerConfigTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/ProducerConfigTest.java
  config/consumer.properties
  config/producer.properties
Labels: producer, consumer, clients, ci-approved

#20283 KAFKA-18220: Refactor AsyncConsumerMetrics to not extend KafkaConsumerMetrics
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerMetrics.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerUtils.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerMetrics.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/AsyncConsumerMetrics.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/KafkaConsumerMetrics.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/metrics/KafkaShareConsumerMetrics.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ApplicationEventHandlerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/BackgroundEventHandlerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThreadTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/KafkaConsumerMetricsTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/NetworkClientDelegateTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/metrics/AsyncConsumerMetricsTest.java
Labels: consumer, KIP-932, clients, ci-approved

#20438 KAFKA-19653: Improve metavariable names in usage messages
  tools/src/main/java/org/apache/kafka/tools/VerifiableConsumer.java
  tools/src/main/java/org/apache/kafka/tools/VerifiableProducer.java
  tools/src/main/java/org/apache/kafka/tools/VerifiableShareConsumer.java
Labels: tools, ci-approved

#20301 KAFKA-19011: Improve EndToEndLatency Tool with argument parser and message key/header support
  tools/src/main/java/org/apache/kafka/tools/EndToEndLatency.java
  tools/src/test/java/org/apache/kafka/tools/EndToEndLatencyTest.java
Labels: tools, ci-approved

#20420 KAFKA-19535: add integration tests for DescribeProducersOptions#brokerId
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/DescribeProducersWithBrokerIdTest.java
Labels: tests, clients, ci-approved

#20046 KAFKA-19432: Add an ERROR log message if broker.heartbeat.interval.ms is too large
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
Labels: core, small

#20459 MINOR: Update supported image tags in docker_scan
  .github/workflows/docker_scan.yml
Labels: build, small

#19980 KAFKA-19259: Async consumer fetch intermittent delays on console consumer
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerTest.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchBuffer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchBufferTest.java
Labels: consumer, tests, clients, ci-approved

#20371 MINOR; Revert "KAFKA-18681: Created GetReplicaLogInfo RPCs (#19664)"
  clients/src/main/java/org/apache/kafka/common/protocol/ApiKeys.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/AbstractResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/GetReplicaLogInfoRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/GetReplicaLogInfoResponse.java
  clients/src/main/resources/common/message/GetReplicaLogInfoRequest.json
  clients/src/main/resources/common/message/GetReplicaLogInfoResponse.json
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  server/src/main/java/org/apache/kafka/network/RequestConvertToJson.java
Labels: core, clients, ci-approved, triage

#20489 MINOR: Fix typo for the headers.separator cli option
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleConsumerOptions.java
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleShareConsumerOptions.java
Labels: tools, ci-approved, small, triage

#20470 KAFKA-19668: processValue() must be declared as value-changing operation
  streams/src/main/java/org/apache/kafka/streams/StreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/TopologyConfig.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilder.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/KStreamImpl.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/MaterializedInternalTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/graph/StreamsGraphTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RepartitionOptimizingTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamsPartitionAssignorTest.java
Labels: streams

#20393 MINOR: Cleanup Connect Module (5/n)
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/AbstractHerder.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConfigInfo.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConfigInfos.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConfigKeyInfo.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConfigValueInfo.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConnectorInfo.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConnectorOffset.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConnectorOffsets.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ConnectorStateInfo.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/CreateConnectorRequest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/ErrorMessage.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/LoggerLevel.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/Message.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/PluginInfo.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/entities/TaskInfo.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResource.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/ExactlyOnceSourceIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractHerderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/resources/ConnectorPluginsResourceTest.java
Labels: connect, ci-approved

#20429 MINOR: Add doc for external schemas in JSONConverter
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverter.java
  connect/json/src/main/java/org/apache/kafka/connect/json/JsonConverterConfig.java
Labels: connect, ci-approved, small

#20463 KAFKA-19666: Remove old restoration codepath from PauseResumeIntegrationTest [2/N]
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/PauseResumeIntegrationTest.java
Labels: streams, tests, ci-approved, small

#20446 MINOR Rename RecordSnapshotWriter.Builder.setMaxBatchSize to setMaxBatchSizeBytes
  metadata/src/main/java/org/apache/kafka/metadata/storage/Formatter.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchAccumulator.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotWriter.java
  raft/src/test/java/org/apache/kafka/snapshot/RecordsSnapshotWriterTest.java
Labels: kraft, ci-approved, small

#17930 KAFKA-18061 AddRaftVoter responds with error message "NONE" instead of null
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
Labels: kraft, ci-approved, small

#20266 KAFKA-19565: Integration test for Streams-related Admin APIs [2/N]
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: streams, core, tests, admin, build, ci-approved

#20507 KAFKA-19693: Added PersisterBatch record in Share Partition which includes updatedState and stateBatch
  core/src/main/java/kafka/server/share/SharePartition.java
Labels: core, KIP-932, ci-approved

#20496 MINOR: Move topic creation before consumer creation in testListGroups integration test
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: core, tests, ci-approved, small, triage

#20502 MINOR: add the explanation of `null` for DeleteAclsRequest#ResourceNameFilter
  clients/src/main/resources/common/message/DeleteAclsRequest.json
Labels: clients, ci-approved, small

#20514 MINOR: Making sure log appender is closed in ShareConsumerImplTest.java::testFailConstructor
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImplTest.java
Labels: consumer, tests, clients, ci-approved, small

#20480 MINOR: Add 4.1.0 to streams system tests
  build.gradle
  settings.gradle
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/internals/UpgradeFromValues.java
  streams/upgrade-system-tests-41/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
  streams/upgrade-system-tests-41/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
  streams/upgrade-system-tests-41/src/test/java/org/apache/kafka/streams/tests/SmokeTestUtil.java
  streams/upgrade-system-tests-41/src/test/java/org/apache/kafka/streams/tests/StreamsSmokeTest.java
  streams/upgrade-system-tests-41/src/test/java/org/apache/kafka/streams/tests/StreamsUpgradeTest.java
  tests/kafkatest/tests/streams/streams_application_upgrade_test.py
  tests/kafkatest/tests/streams/streams_broker_compatibility_test.py
  tests/kafkatest/tests/streams/streams_upgrade_test.py
Labels: streams, build

#20468 KAFKA-18708: Move ScramPublisher to metadata module
  checkstyle/import-control-metadata.xml
  checkstyle/import-control-server-common.xml
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/main/scala/kafka/server/metadata/ScramPublisher.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/publisher/ScramPublisher.java
  server-common/src/main/java/org/apache/kafka/security/CredentialProvider.java
Labels: core, kraft, ci-approved

#20499 KAFKA-19666: Remove old restoration codepath from EosIntegrationTest [5/N]
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
Labels: streams, tests, ci-approved, small

#20516 KAFKA-19695: Fix bug in redundant offset calculation.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManager.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorOffsetsManagerTest.java
Labels: KIP-932, ci-approved

#19623 KAFKA-19203 Replace `ApiError#exception` by `Error#exception` for KafkaAdminClient
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
Labels: clients, ci-approved, small

#20380 MINOR: Update on fixing tag description missing in javadoc
  storage/src/main/java/org/apache/kafka/storage/internals/log/AbstractIndex.java
Labels: storage, ci-approved, small

#20497 MINOR: Bump versions in CI
  .github/actions/setup-gradle/action.yml
  .github/actions/setup-python/action.yml
  .github/scripts/requirements.txt
  .github/workflows/build.yml
  .github/workflows/ci-complete.yml
  .github/workflows/deflake.yml
  .github/workflows/docker_build_and_test.yml
  .github/workflows/docker_official_image_build_and_test.yml
  .github/workflows/docker_rc_release.yml
  .github/workflows/generate-reports.yml
  .github/workflows/pr-labeled.yml
  .github/workflows/pr-linter.yml
  .github/workflows/pr-update.yml
  .github/workflows/prepare_docker_official_image_source.yml
  .github/workflows/workflow-requested.yml
  tests/setup.py
Labels: build, ci-approved, small

#20460 KAFKA-19609: Move TransactionLogTest to transaction-coordinator module
  checkstyle/import-control-transaction-coordinator.xml
  core/src/main/scala/kafka/coordinator/transaction/TransactionLog.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionLogTest.scala
  transaction-coordinator/src/test/java/org/apache/kafka/coordinator/transaction/TransactionLogTest.java
Labels: core, transactions, ci-approved

#20530 MINOR: Small cleanups in clients
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteShareGroupsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteShareGroupsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteStreamsGroupsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListStreamsGroupOffsetsSpec.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DeleteShareGroupOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/ListOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractStickyAssignor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManager.java
  clients/src/main/java/org/apache/kafka/common/metrics/Metrics.java
  clients/src/main/java/org/apache/kafka/common/utils/ByteBufferUnmapper.java
  clients/src/main/java/org/apache/kafka/common/utils/ConfigUtils.java
  clients/src/main/java/org/apache/kafka/common/utils/LoggingSignalHandler.java
  clients/src/main/java/org/apache/kafka/common/utils/SecurityUtils.java
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  clients/src/test/java/org/apache/kafka/common/KafkaFutureTest.java
  clients/src/test/java/org/apache/kafka/common/UuidTest.java
  clients/src/test/java/org/apache/kafka/common/config/AbstractConfigTest.java
  clients/src/test/java/org/apache/kafka/common/network/ChannelBuildersTest.java
  clients/src/test/java/org/apache/kafka/common/protocol/ErrorsTest.java
  clients/src/test/java/org/apache/kafka/common/record/FileRecordsTest.java
  clients/src/test/java/org/apache/kafka/common/replica/ReplicaSelectorTest.java
Labels: consumer, clients

#20409 KAFKA-19604: Document controller.quorum.auto.join.enable config in upgrade.html
  docs/upgrade.html
Labels: docs, ci-approved, small

#20501 KAFKA-19683: Remove dead tests and modify tests in TaskManagerTest [1/N]
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams, tests, ci-approved

#20538 MINOR: Fix format in CoordinatorLoaderImpl
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorLoaderImpl.java
Labels: small, group-coordinator

#20527 KAFKA-19699: improve the documentation of `RecordsToDelete`
  clients/src/main/java/org/apache/kafka/clients/admin/RecordsToDelete.java
  clients/src/main/resources/common/message/DeleteRecordsRequest.json
Labels: clients, ci-approved, small

#20541 KAFKA-19705: Enable streams rebalance protocol in IQv2 integration test
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/IQv2IntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/IQv2StoreIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/IQv2VersionedStoreIntegrationTest.java
Labels: streams, tests, ci-approved

#20548 MINOR: Fix format in CoordinatorLoaderImplTest
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorLoaderImplTest.java
Labels: tests, ci-approved, group-coordinator

#20554 MINOR: Tighten up argument descriptions for console CLI tools
  tools/src/main/java/org/apache/kafka/tools/ConsoleProducer.java
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleConsumerOptions.java
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleShareConsumerOptions.java
Labels: tools, ci-approved, small

#20550 MINOR: Delete temporary directories after using them in RaftManagerTest Updated
  core/src/test/scala/unit/kafka/raft/RaftManagerTest.scala
Labels: core, tests, ci-approved, small, triage

#20547 KAFKA-19716: Clear out coordinator snapshots periodically while loading
  build.gradle
  checkstyle/import-control-jmh-benchmarks.xml
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorLoaderImpl.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/SnapshottableCoordinator.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorLoaderImplTest.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/coordinator/GroupCoordinatorShardLoadingBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/coordinator/MockLog.java
Labels: core, performance, build, ci-approved, group-coordinator

#20524 KAFKA-19644: Enhance the documentation for producer headers and integration tests
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
  clients/src/main/java/org/apache/kafka/common/header/Header.java
  clients/src/main/java/org/apache/kafka/common/header/Headers.java
  clients/src/test/java/org/apache/kafka/common/header/internals/RecordHeadersTest.java
  docs/implementation.html
Labels: clients

#20229 MINOR: Optimize map lookup efficiency with getOrDefault
  examples/src/main/java/kafka/examples/ExactlyOnceMessageProcessor.java
Labels: docs, ci-approved, small

#18322 KAFKA-18351 remove `version` tag for docker-compose.yml
  docker/examples/docker-compose-files/cluster/combined/plaintext/docker-compose.yml
  docker/examples/docker-compose-files/cluster/combined/ssl/docker-compose.yml
  docker/examples/docker-compose-files/cluster/isolated/plaintext/docker-compose.yml
  docker/examples/docker-compose-files/cluster/isolated/ssl/docker-compose.yml
  docker/examples/docker-compose-files/single-node/file-input/docker-compose.yml
  docker/examples/docker-compose-files/single-node/plaintext/docker-compose.yml
  docker/examples/docker-compose-files/single-node/ssl/docker-compose.yml
  docker/test/fixtures/mode/combined/docker-compose.yml
  docker/test/fixtures/mode/isolated/docker-compose.yml
Labels: docker, ci-approved, small

#20558 MINOR: fix incorrect offset reset logging
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
Labels: streams, small

#18298 KAFKA-17554: Flaky testFutureCompletionOutsidePoll in ConsumerNetworkClientTest
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkClientTest.java
Labels: consumer, tests, clients, ci-approved, small, triage, needs-attention

#20417 KAFKA-19546: Rebalance should be triggered by subscription change during group protocol downgrade
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: tools, build, ci-approved, group-coordinator

#20248 KAFKA-19544: Improve `MetadataVersion.fromVersionString()` to take an enableUnstableFeature flag
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
  tools/src/main/java/org/apache/kafka/tools/FeatureCommand.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: core, tools, kraft, ci-approved

#20531 MINOR: Tidy up the Connect docs
  docs/connect.html
Labels: docs, small

#20586 KAFKA-19733: Fix arguments to assertEquals() in clients module
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/producer/ProducerIdExpirationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/producer/ProducerSendWhileDeletionTest.java
  clients/src/test/java/org/apache/kafka/clients/ClusterConnectionStatesTest.java
  clients/src/test/java/org/apache/kafka/clients/MetadataTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/ConfigTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/CooperativeStickyAssignorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/MockConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AbstractStickyAssignorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/KafkaConsumerMetricsTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetFetcherTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/OffsetForLeaderEpochClientTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsRebalanceDataTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/metrics/AsyncConsumerMetricsTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/MockProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/BufferPoolTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/KafkaProducerMetricsTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/RecordAccumulatorTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
  clients/src/test/java/org/apache/kafka/common/feature/SupportedVersionRangeTest.java
  clients/src/test/java/org/apache/kafka/common/metrics/MetricsTest.java
  clients/src/test/java/org/apache/kafka/common/metrics/SensorTest.java
  clients/src/test/java/org/apache/kafka/common/requests/UpdateFeaturesRequestTest.java
  clients/src/test/java/org/apache/kafka/common/security/authenticator/SaslServerAuthenticatorTest.java
  clients/src/test/java/org/apache/kafka/common/security/kerberos/KerberosRuleTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/unsecured/OAuthBearerUnsecuredLoginCallbackHandlerTest.java
  clients/src/test/java/org/apache/kafka/common/telemetry/internals/ClientTelemetryReporterTest.java
  clients/src/test/java/org/apache/kafka/server/policy/AlterConfigPolicyTest.java
  clients/src/test/java/org/apache/kafka/test/TestSslUtils.java
Labels: producer, consumer, tests, clients, ci-approved, triage

#20588 MINOR: Remove unnecessary check in ReplicaManager
  core/src/main/scala/kafka/server/ReplicaManager.scala
Labels: core, ci-approved, small, triage

#18339 KAFKA-18356 Explicitly setting up instrumentation for inline mocking (Java 21+)
  build.gradle
Labels: build, ci-approved, small

#20580 KAFKA-19546: Rebalance should be triggered by subscription change during group protocol downgrade
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: ci-approved

#20590 KAFKA-19732, KAFKA-19716: Clear out coordinator snapshots periodically while loading
  core/src/main/scala/kafka/coordinator/group/CoordinatorLoaderImpl.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorLoaderImplTest.scala
Labels: ci-approved

#20593 MINOR: Fix broken Javadoc for BrokerReconfigurable interface
  server-common/src/main/java/org/apache/kafka/config/BrokerReconfigurable.java
Labels: core, ci-approved, small

#20574 KAFKA-19730: StreamsGroupDescribe result is missing topology
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsTopology.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsTopologyTest.java
Labels: streams, core, group-coordinator

#20492 MINOR: Followup KAFKA-19112 document updated
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  docs/upgrade.html
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
Labels: core, storage, small

#20432 MINOR: Cleanup `toString` methods in Storage Module
  storage/src/main/java/org/apache/kafka/storage/internals/log/EpochEntry.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LastRecord.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LoadedLogOffsets.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogOffsetSnapshot.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogReadInfo.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/OffsetPosition.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteStorageFetchInfo.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/RollParams.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/TimestampOffset.java
Labels: storage, ci-approved, small

#20265 KAFKA-17876/ KAFKA-19150 Rename AssignmentsManager and RemoteStorageThreadPool metrics
  docs/upgrade.html
  server/src/main/java/org/apache/kafka/server/AssignmentsManager.java
  server/src/test/java/org/apache/kafka/server/AssignmentsManagerTest.java
  storage/api/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteStorageMetrics.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteStorageThreadPool.java
Labels: core, storage, small

#20526 KAFKA-19702: Move MetadataVersionConfigValidator and related test code to metadata module
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/java/kafka/server/MetadataVersionConfigValidatorTest.java
  core/src/test/scala/unit/kafka/log/LogConfigTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/MetadataVersionConfigValidator.java
  metadata/src/test/java/org/apache/kafka/metadata/MetadataVersionConfigValidatorTest.java
Labels: core, kraft, ci-approved

#20572 MINOR: Remove logContext arrtibute from StreamsGroup and CoordinatorRuntime
  clients/src/main/java/org/apache/kafka/common/network/ChannelBuilders.java
  clients/src/main/java/org/apache/kafka/common/network/SslChannelBuilder.java
  clients/src/test/java/org/apache/kafka/common/network/SslSelectorTest.java
  clients/src/test/java/org/apache/kafka/common/network/SslTransportLayerTest.java
  clients/src/test/java/org/apache/kafka/common/network/SslTransportTls12Tls13Test.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
Labels: clients, ci-approved, small, group-coordinator

#20604 KAFKA-19719: --no-initial-controllers should not assume kraft.version=1
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/test/java/kafka/server/ReconfigurableQuorumIntegrationTest.java
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  docs/ops.html
  metadata/src/main/java/org/apache/kafka/metadata/storage/Formatter.java
  metadata/src/test/java/org/apache/kafka/metadata/storage/FormatterTest.java
  server-common/src/main/java/org/apache/kafka/server/common/KRaftVersion.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
Labels: ci-approved
