Repository apache/kafka, pull requests merged in 2025-03, with the labels that each got.

#19025 MINOR: Add README.md test command
  README.md
Labels: docs, ci-approved, small

#17771 KAFKA-17981:add Integration test for ConfigCommand to add config `key=[val1,val2]`
  core/src/test/java/kafka/admin/ConfigCommandIntegrationTest.java
Labels: streams, core, producer, consumer, tools, connect, performance, tests, kraft, mirror-maker-2, dependencies, storage, tiered-storage, KIP-932, build, docker, generator, transactions, clients, ci-approved, small

#19038 KAFKA-18868: add the "default value" explanation to the docs of num.replica.alter.log.dirs.threads
  server/src/main/java/org/apache/kafka/server/config/ServerConfigs.java
Labels: core, ci-approved, small

#19063 KAFKA-17039: KIP-919 suports for unregisterBroker
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  tools/src/test/java/org/apache/kafka/tools/ClusterToolTest.java
Labels: core, tools, clients, ci-approved, small, triage

#19047 KAFKA-18880:Remove kafka.cluster.Broker and BrokerEndPointNotAvailableException
  core/src/main/scala/kafka/cluster/Broker.scala
  core/src/main/scala/kafka/common/BrokerEndPointNotAvailableException.scala
Labels: core, ci-approved

#19067 KAFKA-18908: Document that the size of appended value can't be larger than Short.MAX_VALUE
  docs/zk2kraft.html
Labels: docs, ci-approved, small, triage

#19070 KAFKA-18907: Add suitable error message when the appended value is too larger
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
Labels: kraft, ci-approved, small

#18752 KAFKA-18168: Adding checkpointing for GlobalKTable during restoration…
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStateUpdateTask.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStateTaskTest.java
Labels: streams, ci-approved, small

#19056 KAFKA-18881: Document the ConsumerRecord as non-thread safe
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerRecord.java
Labels: consumer, clients, ci-approved, small

#18981 KAFKA-18613: Auto-creation of internal topics in streams group heartbeat
  core/src/main/scala/kafka/server/AutoTopicCreationManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/AutoTopicCreationManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: streams, core, KIP-1071

#19043 MINOR: Extract HeartbeatRequestState from heartbeat request managers
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestState.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/HeartbeatRequestStateTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManagerTest.java
Labels: streams, consumer, clients, KIP-1071

#19055 KAFKA-18817:[1/N] ShareGroupHeartbeat and ShareGroupDescribe API must check topic describe
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeShareGroupsHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareGroupDescribeResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareGroupHeartbeatResponse.java
  clients/src/main/resources/common/message/ShareGroupDescribeResponse.json
  clients/src/main/resources/common/message/ShareGroupHeartbeatResponse.json
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImplTest.java
Labels: consumer, KIP-932, clients, ci-approved, small

#19059 KAFKA-18878: Added share session cache and delayed share fetch metrics (KIP-1103)
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  server/src/main/java/org/apache/kafka/server/share/session/ShareSessionCache.java
  server/src/test/java/org/apache/kafka/server/share/fetch/ShareFetchTestUtils.java
  server/src/test/java/org/apache/kafka/server/share/session/ShareSessionCacheTest.java
Labels: core, KIP-932, ci-approved

#19080 MINOR: Don't print cleaning group metadata log if empty
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
Labels: Blocker, small

#19052 HOTFIX: remove PageView example to support Java11 for :streams:examples module
  build.gradle
  docs/streams/developer-guide/datatypes.html
  streams/examples/src/main/java/org/apache/kafka/streams/examples/pageview/JsonTimestampExtractor.java
  streams/examples/src/main/java/org/apache/kafka/streams/examples/pageview/PageViewTypedDemo.java
  streams/examples/src/main/java/org/apache/kafka/streams/examples/pageview/PageViewUntypedDemo.java
Labels: streams, Blocker

#19061 MINOR: Prevent broker fencing by adjusting resendExponentialBackoff in BrokerLifecycleManager
  core/src/main/scala/kafka/server/BrokerLifecycleManager.scala
Labels: core, small

#18449 KAFKA-18500 Build PRs at HEAD commit
  .github/workflows/README.md
  .github/workflows/build.yml
Labels: build, small

#19075 KAFKA-18867: add tests to describe topic configs with empty name
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: core, tests, ci-approved, small

#19088 KAFKA-18916; Resolved regular expressions must update the group by topics data structure
  core/src/test/scala/unit/kafka/server/ConsumerGroupHeartbeatRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: core, KIP-848, Blocker, small

#19090 MINOR: Small refactor in GroupMetadataManager
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/ModernGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
Labels: small

#19091 KAFKA-18918: Correcting releasing of locks on exception
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
Labels: core, KIP-932, ci-approved, small

#19086 Fix typos in multiple files
  NOTICE-binary
  clients/src/main/java/org/apache/kafka/common/KafkaFuture.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/storage/KafkaConfigBackingStore.java
  connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnect.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
  core/src/main/scala/kafka/server/FetchSession.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
Labels: core, producer, consumer, connect, KIP-932, clients, ci-approved, small

#19065 KAFKA-18876: 4.0 documentation improvement
  docs/ops.html
  docs/toc.html
Labels: docs, Blocker, ci-approved, small

#19097 KAFKA-18422: add Kafka client upgrade path
  docs/upgrade.html
Labels: docs, small

#19096 MINOR: Fix grammar and clarity in zk2kraft.html
  docs/zk2kraft.html
Labels: docs, ci-approved, small, triage

#19098 MINOR Auto-approve Pull Request Reviewed with ci-approved label
  .github/workflows/README.md
  .github/workflows/workflow-requested.yml
Labels: build, small

#9766 KAFKA-10864: Convert end txn marker schema to use auto-generated protocol
  clients/src/main/java/org/apache/kafka/common/record/EndTransactionMarker.java
  clients/src/main/java/org/apache/kafka/common/record/MemoryRecords.java
  clients/src/main/resources/common/message/EndTxnMarker.json
  clients/src/test/java/org/apache/kafka/common/record/EndTransactionMarkerTest.java
Labels: clients

#19092 MINOR: Refactor GroupCoordinatorConfig
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfigTest.java
  server/src/main/java/org/apache/kafka/server/config/AbstractKafkaConfig.java
Labels: core, small

#19103 KAFKA-18876: 4.0 docs follow-up
  docs/ops.html
Labels: docs, ci-approved, small, triage

#18918 KAFKA-18804: Remove slf4j warning when using tool script
  build.gradle
Labels: build, ci-approved, small

#18983 KAFKA-14121: AlterPartitionReassignments API should allow callers to specify the option of preserving the replication factor
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/AlterPartitionReassignmentsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/common/requests/AlterPartitionReassignmentsRequest.java
  clients/src/main/resources/common/message/AlterPartitionReassignmentsRequest.json
  clients/src/main/resources/common/message/AlterPartitionReassignmentsResponse.json
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommand.java
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/other/ReplicationQuotasTestRig.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsUnitTest.java
Labels: core, tools, kraft, clients

#19083 KAFKA-18817: ShareGroupHeartbeat and ShareGroupDescribe API must check topic describe
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core, KIP-932, ci-approved

#19054 KAFKA-18882 Remove BaseKey, TxnKey, and UnknownKey
  core/src/main/scala/kafka/coordinator/transaction/TransactionLog.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionLogTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
Labels: core, transactions, ci-approved, small

#19104 KAFKA-18919 Clarify that KafkaPrincipalBuilder classes must also implement KafkaPrincipalSerde
  clients/src/main/java/org/apache/kafka/common/config/internals/BrokerSecurityConfigs.java
  clients/src/main/java/org/apache/kafka/common/security/auth/KafkaPrincipalBuilder.java
  docs/zk2kraft.html
Labels: clients, ci-approved, small, triage

#19102 MINOR: Fix typos in multiple files
  connect/transforms/src/test/java/org/apache/kafka/connect/transforms/field/FieldPathNotationTest.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/scala/integration/kafka/api/DelegationTokenEndToEndAuthorizationWithOwnerTest.scala
  docs/streams/upgrade-guide.html
  docs/upgrade.html
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredInternalTopic.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/main/java/org/apache/kafka/metadata/properties/MetaPropertiesEnsemble.java
  metadata/src/test/java/org/apache/kafka/controller/PartitionChangeBuilderTest.java
  server-common/src/main/java/org/apache/kafka/server/common/Feature.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/LagFetchIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Joined.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedCogroupedKStream.java
  streams/src/main/java/org/apache/kafka/streams/kstream/SessionWindowedKStream.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/assignment/Graph.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams, core, connect, kraft, KIP-932, ci-approved, small

#19049 KAFKA-18887 Implement Streams Admin APIs
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/AlterConsumerGroupOffsetsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/AlterStreamsGroupOffsetsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/AlterStreamsGroupOffsetsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteStreamsGroupOffsetsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteStreamsGroupOffsetsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteStreamsGroupsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteStreamsGroupsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/ForwardingAdmin.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListStreamsGroupOffsetsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListStreamsGroupOffsetsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/ListStreamsGroupOffsetsSpec.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/TestingMetricsInterceptingAdminClient.java
Labels: streams, clients, KIP-1071

#19057 MINOR: Delete DeleteGroupsResult class.
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteConsumerGroupsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteGroupsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteShareGroupsResult.java
Labels: KIP-932, clients, ci-approved

#19122 MINOR Add a required status check for trunk
  .asf.yaml
  .github/workflows/build.yml
Labels: build, small

#19124 HOTFIX Fix asf.yaml strict [1/n]
  .asf.yaml
Labels: small

#19126 HOTFIX Fix asf.yaml strict [2/n]
  .asf.yaml
Labels: small

#19109 HOTFIX: Do not use highest version when version is valid
  clients/src/main/java/org/apache/kafka/common/record/EndTransactionMarker.java
Labels: clients, small

#19112 KAFKA-18910 Remove kafka.utils.json
  core/src/main/scala/kafka/utils/json/DecodeJson.scala
  core/src/main/scala/kafka/utils/json/JsonArray.scala
  core/src/main/scala/kafka/utils/json/JsonObject.scala
  core/src/main/scala/kafka/utils/json/JsonValue.scala
Labels: core, ci-approved

#19107 MINOR: Improve the example of kafka-metadata-shell.sh
  docs/ops.html
Labels: docs, ci-approved, small

#19132 MINOR: Update upgrade steps
  docs/upgrade.html
Labels: docs, Blocker, small

#19130 KAFKA-18811: Added command configs to admin client as well in VerifiableShareConsumer
  tools/src/main/java/org/apache/kafka/tools/VerifiableShareConsumer.java
Labels: tools, KIP-932, ci-approved, small

#19139 HOTFIX Disable branch protections on trunk
  .asf.yaml
Labels: small

#19133 MINOR: Added evolving annotation to DeleteShareGroupsResult.
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteShareGroupsResult.java
Labels: KIP-932, clients, ci-approved, small

#19106 MINOR: transformValues test improvement
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableTransformValuesTest.java
Labels: streams, tests, small

#19131 KAFKA-18648: Make `records` in `FetchResponse` nullable again
  clients/src/main/resources/common/message/FetchResponse.json
Labels: Blocker, clients, small

#18560 MINOR Increase JUnit max forks and memory for CI
  .github/actions/run-gradle/action.yml
  build.gradle
Labels: build, small

#19113 KAFKA-18900: Experimental share consumer acknowledge mode config
  clients/src/main/java/org/apache/kafka/clients/consumer/AcknowledgeType.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaShareConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ShareConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ShareConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
Labels: core, consumer, KIP-932, clients, ci-approved

#19077 KAFKA-18766:Docs: Make usage of allow.everyone.if.no.acl.found config clearer
  docs/security.html
Labels: docs, ci-approved, small

#19101 MINOR: reduce per-batch logging to TRACE level
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
Labels: producer, clients, small

#19094 KAFKA-18915: Migrate AdminClientRebootstrapTest to use new test infra
  checkstyle/import-control-core.xml
  core/src/test/java/kafka/test/api/AdminClientRebootstrapTest.java
  core/src/test/scala/integration/kafka/api/AdminClientRebootstrapTest.scala
Labels: core, ci-approved

#19100 MINOR: zk2kraft: add more information about kafka-configs.sh
  docs/zk2kraft.html
Labels: docs, small

#19138 KAFKA-18046; High CPU usage when using Log4j2
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CompletedFetch.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CompletedFetchTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchBufferTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchCollectorTest.java
Labels: consumer, Blocker, clients, small

#15241 KAFKA-15931: Reopen TransactionIndex if channel is closed
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteIndexCache.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/TransactionIndex.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/TransactionIndexTest.java
Labels: core, stale, storage, tiered-storage

#19137 KAFKA-18929: Log a warning when time based segment delete is blocked by a future timestamp
  core/src/main/scala/kafka/log/UnifiedLog.scala
Labels: core, small

#18299 KAFKA-17607: Add CI step to verify LICENSE-binary
  .github/workflows/build.yml
  committer-tools/verify_license.py
Labels: tools, dependencies, build, ci-approved, small

#19116 KAFKA-18285: Add describeStreamsGroup to Admin API
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/DescribeStreamsGroupsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/DescribeStreamsGroupsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/ForwardingAdmin.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupMemberAssignment.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupMemberDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/StreamsGroupSubtopologyDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeStreamsGroupsHandler.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/TestingMetricsInterceptingAdminClient.java
Labels: streams, clients, KIP-1071

#19143 MINOR: Allow for scheduling delay for periodic tasks to be configurable when ControllerResult.response = true
  metadata/src/main/java/org/apache/kafka/controller/PeriodicTask.java
  metadata/src/main/java/org/apache/kafka/controller/PeriodicTaskControlManager.java
Labels: kraft, small

#19151 MINOR: Wrapping exceptions in usage for groups and metrics utility
  tools/src/main/java/org/apache/kafka/tools/ClientMetricsCommand.java
  tools/src/main/java/org/apache/kafka/tools/GroupsCommand.java
Labels: ci-approved

#19156 KAFKA-18940: fix electionWasClean
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetricsChanges.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
Labels: kraft, ci-approved, small, triage

#19125 MINOR: Small fit and finish changes to Producer config doc strings
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerConfig.java
Labels: producer, clients, ci-approved, small

#19127 KAFKA-18920: The kcontrollers must set kraft.version in ApiVersionsResponse
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  server-common/src/main/java/org/apache/kafka/server/common/FinalizedFeatures.java
Labels: core, kraft, small, triage

#19160 MINOR: Fix missing argument in kafka-features.sh upgrade doc
  docs/upgrade.html
Labels: docs, small, triage

#19146 MINOR: Adjust ToC of zk2kraft and fix wrong section number of docker
  docs/documentation.html
  docs/documentation/zk2kraft.html
  docs/toc.html
  docs/upgrade.html
  docs/zk2kraft-summary.html
Labels: docs, ci-approved, small

#19062 KAFKA-18700: Migrate SnapshotPath and Entry in LogHistory to record classes
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LogAppendInfo.java
  raft/src/main/java/org/apache/kafka/raft/LogFetchInfo.java
  raft/src/main/java/org/apache/kafka/raft/OffsetAndEpoch.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachine.java
  raft/src/main/java/org/apache/kafka/raft/internals/LogHistory.java
  raft/src/main/java/org/apache/kafka/snapshot/SnapshotPath.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/MockLog.java
  raft/src/test/java/org/apache/kafka/raft/MockLogTest.java
  raft/src/test/java/org/apache/kafka/snapshot/SnapshotsTest.java
Labels: kraft, ci-approved

#19081 KAFKA-18909: Move DynamicThreadPool to server module
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  server/src/main/java/org/apache/kafka/server/DynamicThreadPool.java
  server/src/main/java/org/apache/kafka/server/config/AbstractKafkaConfig.java
Labels: core, ci-approved

#19166 KAFKA-18944: Remove unused setters from ClusterConfig
  core/src/test/java/kafka/test/api/AdminClientRebootstrapTest.java
  test-common/test-common-internal-api/src/main/java/org/apache/kafka/common/test/api/ClusterConfig.java
  test-common/test-common-internal-api/src/test/java/org/apache/kafka/common/test/api/ClusterConfigTest.java
Labels: core, tests, ci-approved, small, triage

#18802 KAFKA-18706: Move AclPublisher to metadata module
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/metadata/AclPublisher.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/scala/unit/kafka/server/metadata/BrokerMetadataPublisherTest.scala
  metadata/src/main/java/org/apache/kafka/metadata/publisher/AclPublisher.java
Labels: core, kraft

#17767 KAFKA-17856 Move ConfigCommandTest and ConfigCommandIntegrationTest to tool module
  checkstyle/import-control.xml
  tools/src/test/java/org/apache/kafka/tools/ConfigCommandIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/ConfigCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/UserScramCredentialsCommandTest.java
Labels: core, tools, ci-approved, small

#19153 MINOR KIP link change to use immutable link
  docs/api.html
  docs/connect.html
  docs/design.html
  docs/ecosystem.html
  docs/introduction.html
  docs/ops.html
  docs/protocol.html
  docs/security.html
  docs/streams/architecture.html
  docs/streams/core-concepts.html
  docs/streams/developer-guide/config-streams.html
  docs/streams/developer-guide/running-app.html
  docs/streams/developer-guide/security.html
  docs/streams/upgrade-guide.html
  docs/upgrade.html
Labels: docs, ci-approved

#19140 MINOR:correct user reference in quota configuration from 'userA' to 'user1'
  docs/ops.html
Labels: docs, ci-approved, small

#19141 MINOR: Improve grammar and clarity in upgrade.html
  docs/upgrade.html
Labels: docs, ci-approved, small

#19099 KAFKA-18637: Fix max connections per ip and override reconfigurations
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
Labels: core, small

#18963 MINOR: Disallow unused local variables
  checkstyle/checkstyle.xml
  clients/src/main/java/org/apache/kafka/common/requests/DescribeUserScramCredentialsRequest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/RecordAccumulatorTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  connect/mirror/src/test/java/org/apache/kafka/connect/mirror/MirrorSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/MonitorableSinkConnector.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/AbstractWorkerSourceTaskTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/WorkerConnectorTest.java
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  generator/src/main/java/org/apache/kafka/message/checker/EvolutionVerifier.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TopicMetadataTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerMetricsIntegrationTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  server-common/src/test/java/org/apache/kafka/server/share/persister/PersisterStateManagerTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogLoader.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/LogSegmentTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KTableEfficientRangeQueryTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/RegexSourceIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStateUpdater.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/InternalStreamsBuilderTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/SuppressScenarioTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorRecordContextTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/assignment/LegacyStickyTaskAssignorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/LogicalKeyValueSegmentsTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/RelationalSmokeTest.java
  streams/src/test/java/org/apache/kafka/test/MockApiFixedKeyProcessor.java
  streams/src/test/java/org/apache/kafka/test/MockApiProcessor.java
  tools/src/main/java/org/apache/kafka/tools/ShareConsumerPerformance.java
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/ConfigurableProducerWorker.java
Labels: streams, core, producer, consumer, tools, connect, kraft, mirror-maker-2, storage, tiered-storage, KIP-932, generator, clients

#19149 MINOR: fix: add missing @Test lost while rebasing
  storage/src/test/java/org/apache/kafka/storage/internals/log/TransactionIndexTest.java
Labels: tests, storage, small

#19152 MINOR remove legacy branch protections from asf.yaml
  .asf.yaml
Labels: small

#19173 KAFKA-18931: added a share group session timeout task when group coordinator is loaded
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-932, ci-approved

#18945 KAFKA-15900, KAFKA-18310: fix flaky test testOutdatedCoordinatorAssignment and AbstractCoordinatorTest
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/BaseHeartbeatThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/BaseHeartbeatThreadTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
Labels: consumer, tests, clients

#19121 KAFKA-18736: Decide when a heartbeat should be sent
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManagerTest.java
Labels: streams, consumer, clients, KIP-1071

#19159 MINOR Improve PR linter output
  .github/scripts/pr-format.py
  .github/workflows/README.md
  .github/workflows/pr-linter.yml
  .github/workflows/pr-reviewed.yml
Labels: build

#19162 KAFKA-18941: Do not test 3.3 in upgrade_tests.py
  tests/kafkatest/tests/core/upgrade_test.py
Labels: tests, small, triage

#19172 MINOR: improve upgrade to v4.0.0 doc
  docs/upgrade.html
Labels: docs, small

#19142 KAFKA-18901: [1/N] Improved homogeneous SimpleAssignor
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/SimpleAssignor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/SimpleAssignorTest.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommand.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandTest.java
Labels: tools, KIP-932, ci-approved

#19155 KAFKA-18925: Add streams groups support to Admin.listGroups
  clients/src/main/java/org/apache/kafka/common/GroupState.java
  clients/src/main/java/org/apache/kafka/common/GroupType.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
Labels: clients, KIP-1071

#19185 MINOR: Downgrade log messages of swallowed exception to warnings
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
Labels: streams, small

#19178 MINOR Mark Tls13SelectorTest#testCloseOldestConnection as flaky
  clients/src/test/java/org/apache/kafka/common/network/Tls13SelectorTest.java
Labels: tests, clients, small

#19171 KAFKA-17808: Fix id typo for connector-dlq-adminclient
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/Worker.java
Labels: connect, ci-approved, small, triage

#18091 KAFKA-18074: Add kafka client compatibility matrix
  docs/compatibility-summary.html
  docs/documentation.html
  docs/documentation/compatibility.html
  docs/toc.html
  docs/upgrade.html
Labels: docs, Blocker, ci-approved

#19145 KAFKA-18936: Fix share fetch when records are larger than max bytes
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/LocalLeaderEndPoint.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/java/kafka/log/remote/RemoteLogReaderTest.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/test/api/ShareConsumerTest.java
  core/src/test/scala/integration/kafka/server/DelayedFetchTest.scala
  core/src/test/scala/integration/kafka/server/DelayedRemoteFetchTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaAlterLogDirsThreadTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerQuotasTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  server-common/src/main/java/org/apache/kafka/server/storage/log/FetchParams.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteStorageFetchInfo.java
Labels: core, storage, tiered-storage, KIP-932, ci-approved

#19148 KAFKA-18932: Removed usage of partition max bytes from share fetch requests
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareSessionHandler.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareFetchRequest.java
  clients/src/main/resources/common/message/ShareFetchRequest.json
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
  server/src/main/java/org/apache/kafka/server/share/CachedSharePartition.java
  server/src/main/java/org/apache/kafka/server/share/ErroneousAndValidPartitionData.java
  server/src/main/java/org/apache/kafka/server/share/context/ShareSessionContext.java
  server/src/main/java/org/apache/kafka/server/share/fetch/PartitionRotateStrategy.java
  server/src/main/java/org/apache/kafka/server/share/fetch/ShareFetch.java
  server/src/main/java/org/apache/kafka/server/share/session/ShareSession.java
  server/src/test/java/org/apache/kafka/server/share/fetch/PartitionRotateStrategyTest.java
  server/src/test/java/org/apache/kafka/server/share/fetch/ShareFetchTest.java
  server/src/test/java/org/apache/kafka/server/share/fetch/ShareFetchTestUtils.java
Labels: core, consumer, KIP-932, build, generator, clients, ci-approved

#19168 KAFKA-18942: Add reviewers to PR body with committer-tools
  committer-tools/README.md
  committer-tools/reviewers.py
Labels: tools, ci-approved, small

#19119 KAFKA-18422 Adjust Kafka client upgrade path section
  docs/upgrade.html
Labels: docs, Blocker, ci-approved, small

#18998 KAFKA-18837: Ensure controller quorum timeouts and backoffs are at least 0
  raft/src/main/java/org/apache/kafka/raft/QuorumConfig.java
  raft/src/test/java/org/apache/kafka/raft/QuorumConfigTest.java
Labels: kraft, ci-approved, small

#19170 MINOR: Remove unused ConfigCommandOptions#forceOpt
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  docs/upgrade.html
Labels: core, ci-approved, small

#19190 MINOR Mar 12 Flaky tests
  build.gradle
  clients/src/test/java/org/apache/kafka/clients/consumer/StickyAssignorTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/DeleteSegmentsByRetentionTimeTest.java
Labels: consumer, kraft, storage, build, clients, small

#19169 KAFKA-18947: Remove unused raftManager in metadataShell
  shell/src/main/java/org/apache/kafka/shell/MetadataShell.java
  shell/src/test/java/org/apache/kafka/shell/MetadataShellIntegrationTest.java
Labels: tools, ci-approved, small

#18018 KAFKA-18142 Switch to `com.gradleup.shadow`
  build.gradle
Labels: build, ci-approved, small

#18662 KAFKA-18617 Allow use of ClusterInstance inside BeforeEach
  test-common/test-common-internal-api/src/main/java/org/apache/kafka/common/test/api/README.md
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/junit/RaftClusterInvocationContext.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/junit/ClusterTestBeforeEachTest.java
Labels: tests

#19175 MINOR: Cleanups in CoreUtils
  clients/src/test/java/org/apache/kafka/common/utils/UtilsTest.java
  core/src/main/scala/kafka/metrics/KafkaMetricsReporter.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/main/scala/kafka/tools/DumpLogSegments.scala
  core/src/main/scala/kafka/utils/CoreUtils.scala
  core/src/test/scala/unit/kafka/server/DynamicConfigChangeTest.scala
  core/src/test/scala/unit/kafka/utils/CoreUtilsTest.scala
Labels: core, clients

#19195 MINOR: remove incorrect deprecated annotations from internal Streams classes
  streams/src/main/java/org/apache/kafka/streams/processor/internals/AbstractReadOnlyDecorator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/InMemoryWindowStore.java
Labels: streams, ci-approved, small

#19040 KAFKA-18858: Refactor FeatureControlManager to avoid using uninitialized MV
  metadata/src/main/java/org/apache/kafka/controller/ActivationRecordsGenerator.java
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/LogReplayTracker.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/ReplicationControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/LogReplayTrackerTest.java
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
  metadata/src/test/java/org/apache/kafka/controller/ReplicationControlManagerTest.java
Labels: kraft

#19164 KAFKA-18943: Kafka Streams incorrectly commits TX during task revokation
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/EosIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/RebalanceIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/TestTaskAssignor.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#19176 KAFKA-18651: Add Streams-specific broker configurations
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
Labels: core, ci-approved, KIP-1071

#11144 MINOR: call the serialize method including headers from the MockProducer
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
Labels: producer, clients, ci-approved, small, triage

#19205 KAFKA-18979; Report correct kraft.version in ApiVersions
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/image/FeaturesDelta.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/image/FeaturesDeltaTest.java
  server-common/src/main/java/org/apache/kafka/server/common/FinalizedFeatures.java
  server-common/src/test/java/org/apache/kafka/server/common/FinalizedFeaturesTest.java
Labels: core, kraft, small

#19134 KAFKA-18927: Remove LATEST_0_11, LATEST_1_0, LATEST_1_1, LATEST_2_0
  tests/docker/Dockerfile
  tests/kafkatest/tests/streams/streams_upgrade_test.py
  tests/kafkatest/utils/util.py
  tests/kafkatest/version.py
  vagrant/base.sh
Labels: tools, ci-approved, small

#18994 KAFKA-18843: Fix MirrorMaker2 workerId is not unique, but use the sam…
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMaker.java
Labels: connect, mirror-maker-2, small

#18861 KAFKA-18606: Flaky test DeleteSegmentsByRetentionTimeTest#executeTieredStorageTest
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ConsumeAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/BaseDeleteSegmentsTest.java
Labels: tests, storage, ci-approved, small

#19136 KAFKA-18781: Extend RefreshRetriableException related exceptions
  clients/src/main/java/org/apache/kafka/common/errors/CoordinatorNotAvailableException.java
  clients/src/main/java/org/apache/kafka/common/errors/InvalidMetadataException.java
  clients/src/main/java/org/apache/kafka/common/errors/NotCoordinatorException.java
  clients/src/main/java/org/apache/kafka/common/errors/RefreshRetriableException.java
  clients/src/test/java/org/apache/kafka/common/errors/TransactionExceptionHierarchyTest.java
Labels: clients, ci-approved, small

#19147 KAFKA-18924 Running the storage module tests produces a storage/storage.log file
  storage/src/test/resources/log4j2.yaml
Labels: tests, storage, ci-approved, small

#19187 KAFKA-18915: Rewrite AdminClientRebootstrapTest to cover the current scenario
  checkstyle/import-control-clients-integration-tests.xml
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/ClientRebootstrapTest.java
  core/src/test/java/kafka/test/api/AdminClientRebootstrapTest.java
Labels: core, tests, clients, ci-approved

#19129 KAFKA-18703: Remove unused class PayloadKeyType
  trogdor/src/main/java/org/apache/kafka/trogdor/workload/PayloadKeyType.java
Labels: tools, ci-approved, small

#19212 KAFKA-18993: Remove confusing notable change section from upgrade.html
  docs/upgrade.html
Labels: docs, ci-approved, small, triage

#19027 KAFKA-18859: honor the error message of UnregisterBrokerResponse
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/common/requests/UnregisterBrokerRequest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/server/ControllerApis.scala
Labels: core, clients, ci-approved, small

#19215 KAFKA-18990: Avoid redundant MetricName creation in BaseQuotaTest#produceUntilThrottled
  core/src/test/scala/integration/kafka/api/BaseQuotaTest.scala
Labels: core, tests, ci-approved, small, triage

#19181 KAFKA-18736: Do not send fields if not needed
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManagerTest.java
Labels: streams, consumer, clients, KIP-1071

#18463 KAFKA-17171: Add test cases for `STATIC_BROKER_CONFIG`in kraft mode
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/StaticBrokerConfigTest.java
  core/src/test/java/kafka/server/BootstrapControllersIntegrationTest.java
Labels: core, tests, clients, ci-approved

#18966 KAFKA-18808: add test to ensure the name=<default> is not equal to default quota
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: core, tests, clients, ci-approved, small

#19165 KAFKA-18955: Fix infinite loop and standardize options in MetadataSchemaCheckerTool
  generator/src/main/java/org/apache/kafka/message/checker/CheckerUtils.java
  generator/src/main/java/org/apache/kafka/message/checker/FieldSpecPairIterator.java
  generator/src/main/java/org/apache/kafka/message/checker/MetadataSchemaCheckerTool.java
  generator/src/main/java/org/apache/kafka/message/checker/Unifier.java
  generator/src/test/java/org/apache/kafka/message/checker/MetadataSchemaCheckerToolTest.java
Labels: generator, ci-approved

#19202 KAFKA-18969: Rewrite ShareConsumerTest#setup and move to clients-integration-tests module
  build.gradle
  checkstyle/import-control-clients-integration-tests.xml
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
Labels: build, clients, ci-approved

#19225 MINOR: Update docker_scan.yml with 4.0.0
  .github/workflows/docker_scan.yml
Labels: build, small

#19179 MINOR Fixup develocity report
  .github/scripts/develocity_reports.py
Labels: build

#19229 MINOR: Add 4.0.0 to deps
  gradle/dependencies.gradle
  tests/docker/Dockerfile
  vagrant/base.sh
Labels: tools, build, small

#18949 KAFKA-17431: Support invalid static configs for KRaft so long as dynamic configs are valid
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
Labels: core

#19193 KAFKA-18953: [1/N] Add broker side handling for 2 PC (KIP-939)
  clients/src/main/java/org/apache/kafka/common/requests/InitProducerIdRequest.java
  core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionMetadata.scala
  core/src/main/scala/kafka/coordinator/transaction/TransactionStateManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  transaction-coordinator/src/main/java/org/apache/kafka/coordinator/transaction/TransactionStateManagerConfig.java
  transaction-coordinator/src/test/java/org/apache/kafka/coordinator/transaction/TransactionStateManagerConfigTest.java
Labels: core, transactions, clients, ci-approved

#19217 KAFKA-18975: Move clients-integration-test out of core module
  build.gradle
  checkstyle/import-control-server.xml
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/ClientTelemetryTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/DeleteTopicTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/DescribeAuthorizedOperationsTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/RackAwareAutoTopicCreationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ConsumerIntegrationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/server/quota/CustomQuotaCallbackTest.java
  server/src/test/java/org/apache/kafka/server/BootstrapControllersIntegrationTest.java
  server/src/test/java/org/apache/kafka/server/LogManagerIntegrationTest.java
Labels: core, build, clients, small

#19183 KAFKA-18819 StreamsGroupHeartbeat API and StreamsGroupDescribe API check topic describe
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeStreamsGroupsHandler.java
  clients/src/main/java/org/apache/kafka/common/requests/StreamsGroupDescribeResponse.java
  clients/src/main/resources/common/message/StreamsGroupDescribeResponse.json
  clients/src/main/resources/common/message/StreamsGroupHeartbeatResponse.json
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: streams, core, clients, KIP-1071

#19214 KAFKA-18989 Optimize FileRecord#searchForOffsetWithSize
  clients/src/main/java/org/apache/kafka/common/record/FileRecords.java
  clients/src/test/java/org/apache/kafka/common/record/FileRecordsTest.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogSegment.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/LogSegmentTest.java
Labels: storage, clients, ci-approved

#19174 KAFKA-18946: Move BrokerReconfigurable and DynamicProducerStateManagerConfig to server module
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  server/src/main/java/org/apache/kafka/server/config/AbstractKafkaConfig.java
  server/src/main/java/org/apache/kafka/server/config/BrokerReconfigurable.java
  server/src/main/java/org/apache/kafka/server/config/DynamicProducerStateManagerConfig.java
Labels: core, ci-approved

#19238 MINOR: Add 4.0.0 to core system tests
  tests/kafkatest/tests/client/client_compatibility_features_test.py
  tests/kafkatest/tests/client/client_compatibility_produce_consume_test.py
  tests/kafkatest/tests/client/consumer_protocol_migration_test.py
  tests/kafkatest/tests/core/compatibility_test_new_broker_test.py
  tests/kafkatest/tests/core/transactions_mixed_versions_test.py
  tests/kafkatest/tests/core/transactions_upgrade_test.py
  tests/kafkatest/tests/core/upgrade_test.py
Labels: tests, small

#19197 KAFKA-15931: Cancel RemoteLogReader gracefully
  core/src/main/scala/kafka/server/DelayedRemoteFetch.scala
  core/src/test/scala/integration/kafka/server/DelayedRemoteFetchTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteIndexCache.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/TransactionIndex.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/TransactionIndexTest.java
Labels: core, storage, tiered-storage, ci-approved

#19240 KAFKA-18845: Fix flaky QuorumControllerTest#testUncleanShutdownBrokerElrEnabled
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
Labels: tests, kraft, small

#19180 KAFKA-18954: Add ELR election rate metric
  docs/ops.html
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetadataMetrics.java
  metadata/src/main/java/org/apache/kafka/controller/metrics/ControllerMetricsChanges.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/test/java/org/apache/kafka/controller/metrics/ControllerMetadataMetricsTest.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
Labels: kraft, ci-approved, small

#19246 KAFKA-15599: Move MetadataLogConfig to raft module
  checkstyle/import-control.xml
  core/src/main/scala/kafka/MetadataLogConfig.scala
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  raft/src/main/java/org/apache/kafka/raft/MetadataLogConfig.java
Labels: core, kraft

#19254 KAFKA-19017: Changed consumer.config to command-config in verifiable_share_consumer.py
  tests/kafkatest/services/verifiable_share_consumer.py
Labels: tests, KIP-932, ci-approved, small

#19257 MINOR: Move FileRecord JavaDoc to comment
  clients/src/main/java/org/apache/kafka/common/record/FileRecords.java
Labels: clients, ci-approved, small

#19251 KAFKA-18329; [2/3] Delete old group coordinator (KIP-848)
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ConsumerIntegrationTest.java
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/HeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/JoinGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/ListGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupHeartbeatRequestTest.scala
  core/src/test/scala/unit/kafka/server/SyncGroupRequestTest.scala
  core/src/test/scala/unit/kafka/server/TxnOffsetCommitRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfigTest.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/junit/ClusterTestExtensionsTest.java
Labels: core, KIP-848, clients

#19064 KAFKA-18893: Add KIP-877 support to ReplicaSelector
  clients/src/main/java/org/apache/kafka/common/replica/ReplicaSelector.java
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, clients, ci-approved, small

#19255 KAFKA-18329; [3/3] Delete old group coordinator (KIP-848)
  core/src/main/scala/kafka/coordinator/group/DelayedHeartbeat.scala
  core/src/main/scala/kafka/coordinator/group/DelayedJoin.scala
  core/src/main/scala/kafka/coordinator/group/DelayedRebalance.scala
  core/src/main/scala/kafka/coordinator/group/DelayedSync.scala
  core/src/main/scala/kafka/coordinator/group/GroupCoordinator.scala
  core/src/main/scala/kafka/coordinator/group/GroupCoordinatorAdapter.scala
  core/src/main/scala/kafka/coordinator/group/GroupMetadata.scala
  core/src/main/scala/kafka/coordinator/group/GroupMetadataManager.scala
  core/src/main/scala/kafka/coordinator/group/MemberMetadata.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorAdapterTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupCoordinatorTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataManagerTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/GroupMetadataTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/MemberMetadataTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
Labels: core, KIP-848

#19258 MINOR: Move inner test classes out of CoordinatorRuntimeTest
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/DirectEventProcessor.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/ManualEventProcessor.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/MockCoordinatorLoader.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/MockCoordinatorShard.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/MockCoordinatorShardBuilder.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/MockCoordinatorShardBuilderSupplier.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/MockPartitionWriter.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/SnapshottableCoordinatorTest.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/StringSerializer.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/ThrowingSerializer.java
Labels: tests, ci-approved

#19256 KAFKA-17806: remove this-escape suppress warnings in AclCommand
  tools/src/main/java/org/apache/kafka/tools/AclCommand.java
Labels: tools, small

#19252 MINOR: add log4j2.yaml to clients-integration-tests module
  clients/clients-integration-tests/src/test/resources/log4j2.yaml
Labels: tests, clients, ci-approved, small

#19227 KAFKA-18999: Remove BrokerMetadata
  core/src/main/scala/kafka/server/metadata/KRaftMetadataCache.scala
  server-common/src/main/java/org/apache/kafka/admin/BrokerMetadata.java
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommand.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsUnitTest.java
Labels: core, tools

#19207 KAFKA-18980: OffsetMetadataManager#cleanupExpiredOffsets should record the number of records rather than topic partitions
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
Labels: ci-approved, small

#19046 KAFKA-18276 Migrate ProducerRebootstrapTest to new test infra
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/ClientRebootstrapTest.java
  core/src/test/scala/integration/kafka/api/ProducerRebootstrapTest.scala
Labels: core, tests, clients, ci-approved

#19259 MINOR: leverage preProcessParsedConfig within AbstractConfig
  clients/src/main/java/org/apache/kafka/common/config/AbstractConfig.java
  clients/src/test/java/org/apache/kafka/common/config/AbstractConfigTest.java
Labels: clients, ci-approved, small

#19210 MINOR; Improve error message for the storage format command
  metadata/src/main/java/org/apache/kafka/metadata/storage/Formatter.java
  metadata/src/test/java/org/apache/kafka/metadata/storage/FormatterTest.java
Labels: kraft, small
