Repository apache/kafka, pull requests merged in 2025-07, with the labels that each got.

#20025 KAFKA-19152: Add top-level documentation for OAuth flows
  docs/configuration.html
  docs/security.html
Labels: docs, ci-approved

#20069 MINOR: Remove threadNamePrefix parameter from ReplicaManager and ReplicaFetcherManager
  core/src/main/java/kafka/server/builders/ReplicaManagerBuilder.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ReplicaFetcherManager.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/LogRecoveryTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core, ci-approved, small

#20079 KAFKA-19456: State and leader epoch should not be updated on writes.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
Labels: KIP-932, ci-approved

#20070 KAFKA-19429: Deflake streams_smoke_test, again
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
Labels: streams, tests, small

#19867 MINOR: Refactor createResponseConfig to avoid collection copy and conversion
  core/src/main/scala/kafka/server/ConfigHelper.scala
  server/src/main/java/org/apache/kafka/server/ConfigHelperUtils.java
Labels: core, ci-approved

#20080 KAFKA-19463: nextFetchOffset does not take ongoing state transition into account
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
Labels: core, KIP-932, ci-approved

#20088 KAFKA-19462: Count fetch size when remote fetch
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, small

#20090 KAFKA-19454: Handle topics missing in metadata in share delete.
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-932, ci-approved, group-coordinator

#20093 MINOR: Fix the tests in LogValidatorTest
  storage/src/test/java/org/apache/kafka/storage/internals/log/LogValidatorTest.java
Labels: tests, storage, small

#20074 KAFKA-19363: Finalize heterogeneous simple share assignor
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AssignorHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/SimpleAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/SimpleHeterogeneousAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/SimpleHomogeneousAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/SimpleAssignorTest.java
Labels: KIP-932, ci-approved, group-coordinator

#20107 MINOR: Use <code> block instead of backtick
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/common/config/SslConfigs.java
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
  connect/transforms/src/main/java/org/apache/kafka/connect/transforms/field/FieldSyntaxVersion.java
  docs/ops.html
  server/src/main/java/org/apache/kafka/server/config/ReplicationConfigs.java
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
Labels: streams, core, consumer, connect, storage, tiered-storage, clients, small

#20081 KAFKA-19042 Move PlaintextConsumerTest to client-integration-tests module
  build.gradle
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/ClientsTestUtils.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerTest.java
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: core, build, clients

#20122 MINOR: Prevent unnecessary test runs - KAFKA-19042 follow-up
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: core, tests, small, triage

#20120 KAFKA-19478 [1/N]: Precompute values in ProcessState
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/ProcessState.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/StickyTaskAssignor.java
Labels: performance, small, group-coordinator

#20099 KAFKA-18288: Fix Streams CLI describe
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeStreamsGroupsHandler.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/test/java/org/apache/kafka/tools/streams/DescribeStreamsGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/StreamsGroupCommandTest.java
Labels: tools, clients

#20106 KAFKA-19474: Move WARN log on log truncation below HWM
  core/src/main/scala/kafka/server/ReplicaFetcherThread.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
Labels: core, storage, ci-approved, small

#20126 KAFKA-19450: ShareConsumerPerformance does not handle exceptions from consumeMessagesForSingleShareConsumer
  tools/src/main/java/org/apache/kafka/tools/ShareConsumerPerformance.java
Labels: tools, KIP-932, ci-approved, small

#20104 KAFKA-19457: Make share group init retry interval configurable.
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-932, ci-approved, small, group-coordinator

#19209 KAFKA-17715: Remove argument force_use_zk_connection from kafka_acls_cmd_with_optional_security_settings
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/services/security/kafka_acls.py
  tests/kafkatest/tests/client/quota_test.py
  tests/kafkatest/tests/core/authorizer_test.py
  tests/kafkatest/version.py
Labels: tests, ci-approved, small

#20071 KAFKA-19184; Add documentation for upgrading the kraft version
  docs/ops.html
  docs/toc.html
Labels: docs, small

#20110 KAFKA-19466: LogConcurrencyTest should close the log when the test completes; migrate LogConcurrencyTest
  core/src/test/scala/unit/kafka/log/LogConcurrencyTest.scala
  storage/src/test/java/org/apache/kafka/storage/internals/log/LogConcurrencyTest.java
Labels: core, tests, storage

#20108 MINOR: Move partitions == 0 logic from waitForTopic to waitTopicDeletion
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/DeleteTopicTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/producer/ProducerFailureHandlingTest.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
Labels: tools, tests, clients, ci-approved

#20133 KAFKA-19488: Update the docs of "if-not-exists"
  tools/src/main/java/org/apache/kafka/tools/TopicCommand.java
Labels: tools, ci-approved, small, triage

#19427 MINOR: fix docker_release example
  docker/README.md
Labels: docs, stale, docker, ci-approved, small

#20135 KAFKA-19485: Added check before sending acknowledgements on initial epoch.
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
Labels: consumer, KIP-932, clients, ci-approved, small

#20153 MINOR: Moving the rollback out of lock in share partition
  core/src/main/java/kafka/server/share/SharePartition.java
Labels: core, KIP-932, ci-approved, small

#20127 KAFKA-19478 [2/N]: Remove task pairs
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/StickyTaskAssignor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/assignor/StickyTaskAssignorTest.java
Labels: group-coordinator

#20064 KAFKA-19435: Optimize `kafka-consumer-groups.sh` to return the offset info when some partitions without leaders
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommand.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupServiceTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DescribeConsumerGroupTest.java
Labels: tools, ci-approved

#20121 KAFKA-19452: Fix flaky test LogRecoveryTest.testHWCheckpointWithFailuresMultipleLogSegments
  core/src/test/scala/unit/kafka/server/LogRecoveryTest.scala
Labels: core, tests, small

#20085 KAFKA-19451: fix flaky test RemoteIndexCacheTest.testCacheEntryIsDeletedOnRemoval()
  storage/src/test/java/org/apache/kafka/storage/internals/log/RemoteIndexCacheTest.java
Labels: tests, storage, ci-approved, small, triage

#20163 MINOR: Extend Quota Tests for ShareFetch requests
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
Labels: core, tests, KIP-932, ci-approved

#20140 MINOR:Add a description document to batchlength
  docs/implementation.html
Labels: docs, ci-approved, small

#20147 KAFKA-19842: Fix flaky KafkaStreamsTelemetryIntegrationTest
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsTelemetryIntegrationTest.java
Labels: streams, tests, small

#20166 KAFKA-19504: Remove unused metrics reporter initialization in KafkaAdminClient
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
Labels: clients, ci-approved, small

#20157 KAFKA-19459: List internal topics for the user
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/test/java/org/apache/kafka/tools/streams/DeleteStreamsGroupTest.java
Labels: tools, ci-approved, small

#20131 MINOR: Refactor LockUtils and improve comments (follow up to KAFKA-19390)
  server-common/src/main/java/org/apache/kafka/server/util/LockUtils.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/AbstractIndex.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/TimeIndex.java
Labels: core, storage, ci-approved, small

#20040 KAFKA-19427: Allow the coordinator to grow its buffer dynamically
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
Labels: group-coordinator

#20161 MINOR: KafkaRaftClient cleanup
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
Labels: kraft, small

#20182 MINOR: Declare inner RocksDBDualCFIterator class as static
  streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBTimestampedStore.java
Labels: streams, ci-approved, small

#20171 MINOR: Replace Long with primitive long for CoordinatorPlayback
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorPlayback.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/SnapshottableCoordinator.java
Labels: ci-approved, small, group-coordinator

#20137 MINOR: Bump LATEST_PRODUCTION to 4.1IV1 and Use MV to enable ELR
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/kafka/utils/TestInfoUtils.scala
  core/src/test/scala/unit/kafka/integration/UncleanLeaderElectionTest.scala
  metadata/src/test/java/org/apache/kafka/metadata/storage/FormatterTest.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/MetadataVersionTest.java
  tests/kafkatest/version.py
Labels: core, tests, kraft, ci-approved, small

#20082 KAFKA-19458: resume cleaning on future replica dir change
  core/src/main/java/kafka/server/builders/LogManagerBuilder.java
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core, ci-approved

#20181 MINOR: Fix RemoteLogManager.getLeaderEpochEntries comment error
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManager.java
Labels: storage, tiered-storage, ci-approved, small

#20187 KAFKA-19511: Fix flaky test HandlingSourceTopicDeletionIntegrationTest.shouldThrowErrorAfterSourceTopicDeleted
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/HandlingSourceTopicDeletionIntegrationTest.java
Labels: streams, tests, ci-approved, small

#20196 KAFKA-19520 Bump Commons-Lang for CVE-2025-48924
  LICENSE-binary
  build.gradle
  gradle/dependencies.gradle
Labels: dependencies, build, ci-approved, small

#20194 MINOR: Remove unnecessary dependencies from coordinator-common (follow up to pr#20089)
  build.gradle
  checkstyle/import-control-coordinator-common.xml
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorLoaderImplTest.java
Labels: build, ci-approved, triage, group-coordinator

#20169 MINOR: add a test for Protocol
  clients/src/test/java/org/apache/kafka/common/protocol/ProtocolTest.java
Labels: tests, clients, ci-approved, small

#20053 MINOR: Move ClientQuotasRequestTest to server module
  core/src/test/scala/unit/kafka/server/ClientQuotasRequestTest.scala
  server/src/test/java/org/apache/kafka/server/quota/ClientQuotasRequestTest.java
Labels: core, tests, clients, ci-approved

#20024 MINOR: Add tests on TxnOffsetCommit and EndTxnMarker protection against invalid producer epoch when TV2 is used
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/TxnOffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/WriteTxnMarkersRequestTest.scala
Labels: core, tests, ci-approved

#20103 KAFKA-19461: Add share group admin integration tests to PlaintextAdminIntegrationTest
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: core, tests, KIP-932, ci-approved

#17942 KAFKA-16505: Adding dead letter queue in Kafka Streams
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SwallowUnknownTopicErrorIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/errors/DefaultProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/DeserializationExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndContinueExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndContinueProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/LogAndFailProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProcessingExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/ProductionExceptionHandler.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/ExceptionHandlerUtils.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollector.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/errors/ExceptionHandlerUtilsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordDeserializerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamTaskTest.java
  streams/src/test/java/org/apache/kafka/test/MockRecordCollector.java
Labels: streams

#20216 MINOR: Rename waitForTopic to waitTopicCreation
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/ClientTelemetryTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/DeleteTopicTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/DescribeAuthorizedOperationsTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/StaticBrokerConfigTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ConsumerIntegrationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ConsumerWithLegacyMessageFormatIntegrationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerRackAwareTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/security/GroupAuthorizerIntegrationTest.java
  core/src/test/scala/unit/kafka/server/ShareGroupHeartbeatRequestTest.scala
  server/src/test/java/org/apache/kafka/server/LogManagerIntegrationTest.java
  storage/src/test/java/org/apache/kafka/server/log/LogAppendTimeTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerMultipleSubscriptionsTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerRestartTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerTest.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/junit/ClusterTestExtensionsTest.java
  tools/src/test/java/org/apache/kafka/tools/ConfigCommandIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/LogDirsCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandTest.java
Labels: core, tools, tests, storage, tiered-storage, clients, ci-approved, triage

#20134 KAFKA-19213 Client ignores default properties
  clients/src/main/java/org/apache/kafka/common/utils/Utils.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/common/utils/UtilsTest.java
Labels: producer, clients, ci-approved

#20225 MINOR: Fix flaky tests in Tools modules
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandOptions.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ShareGroupCommandTest.java
Labels: tools, ci-approved, small, triage

#20204 KAFKA-19525: Refactor TopicBasedRLMM implementation to remove unused code
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManager.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogMetadataManagerTestUtils.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/RemoteLogSegmentLifecycleTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerMultipleSubscriptionsTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerRestartTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/metadata/storage/TopicBasedRemoteLogMetadataManagerTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogMetadataManagerTest.java
Labels: storage, tiered-storage

#20227 KAFKA-18265: Move acquisition lock classes from share partition (1/N)
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  server/src/main/java/org/apache/kafka/server/share/fetch/AcquisitionLockTimeoutHandler.java
  server/src/main/java/org/apache/kafka/server/share/fetch/AcquisitionLockTimerTask.java
Labels: core, KIP-932, ci-approved

#17340 KAFKA-17645: KIP-1052: Enable warmup in producer performance test
  tools/src/main/java/org/apache/kafka/tools/ProducerPerformance.java
  tools/src/test/java/org/apache/kafka/tools/ProducerPerformanceTest.java
Labels: tools, ci-approved

#20175 KAFKA-19499: Corrected the logger name in PersisterStateManagerHandler
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  server-common/src/main/java/org/apache/kafka/server/share/persister/PersisterStateManager.java
Labels: core, KIP-932, ci-approved, small, group-coordinator

#20238 MINOR: Prevent error message swallow in persister.
  server-common/src/main/java/org/apache/kafka/server/share/persister/PersisterStateManager.java
Labels: core, ci-approved, small

#19982 KAFKA-19400: Update AddRaftVoterRequest RPC to version 1
  clients/src/main/resources/common/message/AddRaftVoterRequest.json
  clients/src/main/resources/common/message/AddRaftVoterResponse.json
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/internals/AddVoterHandler.java
  raft/src/main/java/org/apache/kafka/raft/internals/AddVoterHandlerState.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
Labels: kraft, clients, ci-approved

#20241 MINOR: Improve Kafka Streams Protocol Upgrade Doc
  docs/streams/upgrade-guide.html
Labels: docs, ci-approved, small

#20239 MINOR: Re-add pageview demo to :streams:examples and remove dependency on :connect:json
  build.gradle
  streams/examples/src/main/java/org/apache/kafka/streams/examples/pageview/PageViewUntypedDemo.java
Labels: streams, build, ci-approved, small

#20224 MINOR: Reword warning message when internal deprecated properties are used
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/WorkerConfig.java
Labels: connect, ci-approved, small

#20148 KAFKA-19471: Enable acknowledgement for a record which could not be deserialized
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaShareConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockShareConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ShareConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareCompletedFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareFetchCollector.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareFetchException.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareInFlightBatch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareInFlightBatchException.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareCompletedFetchTest.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
Labels: core, consumer, KIP-932, clients, ci-approved

#19854 KAFKA-19354: KRaft observer should send fetch to best node
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RequestManagerTest.java
Labels: tests, kraft, ci-approved

#19517 KAFKA-18066: Fix mismatched StreamThread ID in log messages
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StandbyTaskCreator.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, ci-approved, small

#20255 KAFKA-19559: Remove ShareFetchMetricsManager sensors on consumer.close()
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareFetchMetricsManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareFetchMetricsManagerTest.java
Labels: consumer, KIP-932, clients, ci-approved

#20211 KAFKA-19527: improve the docs of LogDirDescription for remote storage
  clients/src/main/java/org/apache/kafka/clients/admin/LogDirDescription.java
  clients/src/main/java/org/apache/kafka/clients/admin/ReplicaInfo.java
  clients/src/main/resources/common/message/DescribeLogDirsResponse.json
Labels: clients, ci-approved, small, triage, needs-attention

#20261 KAFKA-19563: improve the add controller doc
  docs/ops.html
Labels: docs, small

#20097 MINOR: Cleanups in coordinator-common/group-coordinator
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorOperationExceptionHelper.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/MockCoordinatorExecutor.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/MockCoordinatorShard.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/MockCoordinatorTimer.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetExpirationConditionImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/ShareGroupAutoOffsetResetStrategy.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformHeterogeneousAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/UniformHomogeneousAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/MemberAssignmentImpl.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/ModernGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/SubscriptionCount.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TopicIds.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ResolvedRegularExpression.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroupHeartbeatResult.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/TopologyMetadata.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/assignor/StickyTaskAssignor.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/Assertions.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/RangeSetTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/classic/ClassicGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ResolvedRegularExpressionTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/assignor/StickyTaskAssignorTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredTopologyTest.java
Labels: group-coordinator

#20270 MINOR: Cleanups in storage module
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorLoaderImplTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/TieredStorageTestBuilder.java
  storage/src/test/java/org/apache/kafka/tiered/storage/actions/ConsumeAction.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/OffloadAndTxnConsumeFromLeaderTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/specs/FetchCountAndOp.java
  storage/src/test/java/org/apache/kafka/tiered/storage/specs/RemoteFetchCount.java
  storage/src/test/java/org/apache/kafka/tiered/storage/utils/LocalTieredStorageOutput.java
Labels: tests, storage, ci-approved, triage, group-coordinator

#20258 KAFKA-19561: Set OP_WRITE interest after SASL reauthentication to resume pending writes
  clients/src/main/java/org/apache/kafka/common/network/KafkaChannel.java
  clients/src/main/java/org/apache/kafka/common/network/Selector.java
  clients/src/test/java/org/apache/kafka/common/security/authenticator/SaslAuthenticatorTest.java
Labels: clients, small

#20277 MINOR: Fix typo in GetOffsetShell
  tools/src/main/java/org/apache/kafka/tools/GetOffsetShell.java
Labels: tools, ci-approved, small

#20247 KAFKA-19485 (II) : Complete any pending acknowledgements in ShareFetch on an error response.
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
Labels: consumer, KIP-932, clients, ci-approved, small
