Repository apache/kafka, pull requests merged in 2025-04, with the labels that each got.

#18383 KAFKA-18613: Unit tests for usage of incorrect RPCs
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: streams, tests, KIP-1071

#19334 KAFKA-19018,KAFKA-19063: Implement maxRecords and acquisition lock timeout in share fetch request and response resp.
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareSessionHandler.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareFetchRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareFetchResponse.java
  clients/src/main/resources/common/message/ShareFetchRequest.json
  clients/src/main/resources/common/message/ShareFetchResponse.json
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumeRequestManagerTest.java
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfig.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/KRaftMetadataRequestBenchmark.java
  server/src/main/java/org/apache/kafka/server/share/context/FinalContext.java
  server/src/main/java/org/apache/kafka/server/share/context/ShareFetchContext.java
  server/src/main/java/org/apache/kafka/server/share/context/ShareSessionContext.java
Labels: core, consumer, performance, KIP-932, clients, ci-approved

#19335 KAFKA-19062: Port changes from KAFKA-18645 to share-consumers
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaShareConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImplTest.java
Labels: consumer, KIP-932, clients, ci-approved, small

#19337 MINOR: Accept Throwables in DeferredEventQueue.failAll
  server-common/src/main/java/org/apache/kafka/deferred/DeferredEventQueue.java
Labels: core, ci-approved, small

#19338 KAFKA-18796-2: Corrected the check for acquisition lock timeout in Sh…
  core/src/test/java/kafka/server/share/SharePartitionTest.java
Labels: core, tests, KIP-932, ci-approved, small

#19316 MINOR: Remove dead code `maybeWarnIfOversizedRecords`
  core/src/main/scala/kafka/server/RemoteLeaderEndPoint.scala
  core/src/main/scala/kafka/server/ReplicaFetcherManager.scala
  core/src/main/scala/kafka/server/ReplicaFetcherThread.scala
  core/src/test/scala/unit/kafka/server/ReplicaFetcherThreadTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetcher/ReplicaFetcherThreadBenchmark.java
Labels: core, performance, small

#19332 MINOR: Make coordinator runtime inner classes static
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
Labels: ci-approved, small

#19340 KAFKA-18794: Disable flaky tests pending investigation
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaShareConsumerTest.java
Labels: consumer, tests, KIP-932, clients, ci-approved, small

#19150 KAFKA-15931: Cancel RemoteLogReader gracefully
  core/src/main/scala/kafka/server/DelayedRemoteFetch.scala
  core/src/test/scala/integration/kafka/server/DelayedRemoteFetchTest.scala
Labels: ci-approved

#19344 KAFKA-19072: Add system test for ELR
  tests/kafkatest/tests/core/eligible_leader_replicas_test.py
Labels: tests, ci-approved

#19343 KAFKA-19016: Updated the retention behaviour of share groups to retain them forever
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
Labels: KIP-932, ci-approved, small

#18953 KAFKA-18826: Add global thread metrics
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KafkaStreamsTelemetryIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/internals/metrics/StreamsThreadMetricsDelegatingReporter.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/GlobalStreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/internals/metrics/StreamsThreadMetricsDelegatingReporterTest.java
Labels: streams

#19284 MINOR: Cleanup Raft Module
  raft/src/main/java/org/apache/kafka/raft/Batch.java
  raft/src/main/java/org/apache/kafka/raft/ControlRecord.java
  raft/src/main/java/org/apache/kafka/raft/DynamicVoter.java
  raft/src/main/java/org/apache/kafka/raft/ElectionState.java
  raft/src/main/java/org/apache/kafka/raft/Endpoints.java
  raft/src/main/java/org/apache/kafka/raft/KafkaNetworkChannel.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumConfig.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/RaftUtil.java
  raft/src/main/java/org/apache/kafka/raft/RequestManager.java
  raft/src/main/java/org/apache/kafka/raft/ResignedState.java
  raft/src/main/java/org/apache/kafka/raft/VoterSet.java
  raft/src/main/java/org/apache/kafka/raft/internals/BatchAccumulator.java
  raft/src/main/java/org/apache/kafka/raft/internals/KafkaRaftMetrics.java
  raft/src/main/java/org/apache/kafka/raft/internals/LogHistory.java
  raft/src/main/java/org/apache/kafka/raft/internals/RecordsIterator.java
  raft/src/main/java/org/apache/kafka/raft/internals/TreeMapLogHistory.java
  raft/src/main/java/org/apache/kafka/raft/internals/UpdateVoterHandler.java
  raft/src/main/java/org/apache/kafka/raft/internals/UpdateVoterHandlerState.java
  raft/src/main/java/org/apache/kafka/raft/internals/VoterSetHistory.java
  raft/src/main/java/org/apache/kafka/snapshot/RawSnapshotReader.java
  raft/src/main/java/org/apache/kafka/snapshot/RecordsSnapshotWriter.java
  raft/src/main/java/org/apache/kafka/snapshot/SnapshotReader.java
  raft/src/main/java/org/apache/kafka/snapshot/SnapshotWriter.java
  raft/src/test/java/org/apache/kafka/raft/CandidateStateTest.java
  raft/src/test/java/org/apache/kafka/raft/DynamicVoterTest.java
  raft/src/test/java/org/apache/kafka/raft/DynamicVotersTest.java
  raft/src/test/java/org/apache/kafka/raft/ElectionStateTest.java
  raft/src/test/java/org/apache/kafka/raft/EndpointsTest.java
  raft/src/test/java/org/apache/kafka/raft/FileQuorumStateStoreTest.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaNetworkChannelTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/MockLog.java
  raft/src/test/java/org/apache/kafka/raft/MockLogTest.java
  raft/src/test/java/org/apache/kafka/raft/ProspectiveStateTest.java
  raft/src/test/java/org/apache/kafka/raft/QuorumStateTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  raft/src/test/java/org/apache/kafka/raft/RaftEventSimulationTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftUtilTest.java
  raft/src/test/java/org/apache/kafka/raft/ReplicatedCounter.java
  raft/src/test/java/org/apache/kafka/raft/RequestManagerTest.java
  raft/src/test/java/org/apache/kafka/raft/ResignedStateTest.java
  raft/src/test/java/org/apache/kafka/raft/VoterSetTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/BatchAccumulatorTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/BatchBuilderTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/KafkaRaftMetricsTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/MemoryBatchReaderTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsBatchReaderTest.java
  raft/src/test/java/org/apache/kafka/raft/internals/RecordsIteratorTest.java
  raft/src/test/java/org/apache/kafka/snapshot/SnapshotWriterReaderTest.java
Labels: kraft, ci-approved

#19226 KAFKA-19004:Move DelayedDeleteRecords to server-common module
  checkstyle/import-control-server-common.xml
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/server/DelayedDeleteRecords.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  server-common/src/main/java/org/apache/kafka/server/purgatory/DelayedDeleteRecords.java
  server-common/src/main/java/org/apache/kafka/server/purgatory/DeleteRecordsPartitionStatus.java
Labels: core, ci-approved

#19276 KAFKA-19003: Add forceTerminateTransaction command to CLI tools
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/ForwardingAdmin.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/TerminateTransactionOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/TerminateTransactionResult.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/TestingMetricsInterceptingAdminClient.java
  tools/src/main/java/org/apache/kafka/tools/TransactionsCommand.java
  tools/src/test/java/org/apache/kafka/tools/TransactionsCommandTest.java
Labels: streams, tools, clients, ci-approved

#19324 KAFKA-19058 Running the streams/streams-scala module tests produces a streams-scala.log
  streams/streams-scala/src/test/resources/log4j2.yaml
Labels: streams, tests, small

#19317 KAFKA-18949: add consumer protocol to testDeleteRecordsAfterCorruptRecords
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
Labels: core, tests, small

#19111 KAFKA-18923: resource leak in RSM inputStream
  core/src/main/java/kafka/server/TierStateMachine.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/LocalTieredStorageTest.java
Labels: core, storage, tiered-storage, small

#19339 KAFKA-18827: Incorporate initializing topics in share group heartbeat [4/N]
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/resources/common/message/ShareGroupStatePartitionMetadataValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
Labels: KIP-932, ci-approved

#19352 MINOR: Deduplicate topics of a topology for authorization check
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: streams, core, small, KIP-1071

#19333 KAFKA-19064: Handle exceptions from deferred events in coordinator
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntimeTest.java
Labels: ci-approved

#19348 KAFKA-19075: Included other share group dynamic configs in extractShareGroupConfigMap method in ShareGroupConfig
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfig.java
Labels: KIP-932, ci-approved, small

#19277 MINOR: migrate BrokerCompressionTest to storage module
  build.gradle
  core/src/test/scala/unit/kafka/log/BrokerCompressionTest.scala
  storage/src/test/java/org/apache/kafka/storage/internals/log/BrokerCompressionTest.java
Labels: core, storage, build, ci-approved

#19234 MINOR: Add Functional Interface annotation to interfaces used by Lambdas
  clients/src/main/java/org/apache/kafka/clients/consumer/OffsetCommitCallback.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Aggregator.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ForeachAction.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Initializer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/KeyValueMapper.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Merger.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Predicate.java
  streams/src/main/java/org/apache/kafka/streams/kstream/Reducer.java
  streams/src/main/java/org/apache/kafka/streams/kstream/TransformerSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueJoiner.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueJoinerWithKey.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueMapper.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueMapperWithKey.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueTransformerSupplier.java
  streams/src/main/java/org/apache/kafka/streams/kstream/ValueTransformerWithKeySupplier.java
  streams/src/main/java/org/apache/kafka/streams/processor/BatchingStateRestoreCallback.java
  streams/src/main/java/org/apache/kafka/streams/processor/Cancellable.java
  streams/src/main/java/org/apache/kafka/streams/processor/Punctuator.java
  streams/src/main/java/org/apache/kafka/streams/processor/StateRestoreCallback.java
  streams/src/main/java/org/apache/kafka/streams/processor/StreamPartitioner.java
  streams/src/main/java/org/apache/kafka/streams/processor/TimestampExtractor.java
  streams/src/main/java/org/apache/kafka/streams/processor/TopicNameExtractor.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/FixedKeyProcessor.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/Processor.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/WrappedFixedKeyProcessorSupplier.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/WrappedProcessorSupplier.java
Labels: streams, consumer, clients, ci-approved, small

#19305 MINOR: Cleanup test-common-runtime module
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/JaasUtils.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/TestKitNodes.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/junit/ClusterTestExtensions.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/junit/ClusterTestExtensionsTest.java
Labels: tests, ci-approved, small

#19320 KAFKA-19055: Cleanup the 0.10.x information from clients module
  clients/src/main/java/org/apache/kafka/clients/admin/DescribeClusterResult.java
  clients/src/main/java/org/apache/kafka/common/ClusterResource.java
  clients/src/main/java/org/apache/kafka/common/ClusterResourceListener.java
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
Labels: clients, ci-approved, small

#19269 KAFKA-18067: Add a flag to disable producer reset during active task creator shutting down
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreator.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ActiveTaskCreatorTest.java
Labels: streams, ci-approved, small

#19005 KAFKA-18713: Fix FK Left-Join result race condition
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/KTableKTableForeignKeyJoinIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionSendProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionSendProcessorSupplierTest.java
Labels: streams, backport-candidate, Blocker, ci-approved

#19358 MINOR: Added trace logs to help debug SharePartition
  core/src/main/java/kafka/server/share/SharePartition.java
Labels: core, KIP-932, ci-approved, small

#19373 MINOR: Consider repartition source topic for changelog topics
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/ChangelogTopics.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/ChangelogTopicsTest.java
Labels: streams, core, small, KIP-1071

#19351 MINOR: ShutdownableThread: log on error level on FatalExitError
  server-common/src/main/java/org/apache/kafka/server/util/ShutdownableThread.java
Labels: core, ci-approved, small

#19360 MINOR: rename streams group configs for consistency with other configuration settings.
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
Labels: ci-approved, small, KIP-1071

#19218 KAFKA-7952: use in memory stores for KTable test
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/KTableKTableLeftJoinTest.java
Labels: streams, tests, ci-approved, small

#19370 KAFKA-19085: SharePartitionManagerTest testMultipleConcurrentShareFetches throws silent exception and works incorrectly
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
Labels: core, tests, KIP-932, ci-approved, small

#19285 KAFKA-14523: Move DelayedRemoteListOffsets to the storage module
  checkstyle/import-control-storage.xml
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/server/DelayedRemoteListOffsets.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/integration/kafka/server/DelayedRemoteListOffsetsTest.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/main/java/org/apache/kafka/server/purgatory/DelayedRemoteListOffsets.java
  storage/src/main/java/org/apache/kafka/server/purgatory/ListOffsetsPartitionStatus.java
  storage/src/test/java/org/apache/kafka/server/purgatory/DelayedRemoteListOffsetsTest.java
Labels: core, storage, tiered-storage

#19357 KAFKA-19074: Remove the cached responseData from ShareFetchResponse
  clients/src/main/java/org/apache/kafka/common/requests/ShareFetchResponse.java
  server/src/test/java/org/apache/kafka/server/share/fetch/ShareFetchTest.java
Labels: core, KIP-932, clients, ci-approved, small

#19288 KAFKA-19042: [2/N] Move TransactionsExpirationTest to client-integration-tests module
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/TransactionsExpirationTest.java
  core/src/test/scala/integration/kafka/api/TransactionsExpirationTest.scala
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/TestUtils.java
Labels: core, tests, clients

#19361 MINOR: rename metric variable name in Processor#accept
  core/src/main/scala/kafka/network/SocketServer.scala
Labels: core, ci-approved, small

#19177 MINOR: Revert "migrate LogFetchInfo, Assignment and RequestAndCompletionHandler to java record"
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LogFetchInfo.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftControlRecordStateMachine.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/MockLog.java
  raft/src/test/java/org/apache/kafka/raft/MockLogTest.java
  server-common/src/main/java/org/apache/kafka/server/util/InterBrokerSendThread.java
  server-common/src/main/java/org/apache/kafka/server/util/RequestAndCompletionHandler.java
  server-common/src/test/java/org/apache/kafka/server/util/InterBrokerSendThreadTest.java
  server/src/main/java/org/apache/kafka/server/Assignment.java
Labels: core, kraft, ci-approved

#19242 KAFKA-19013 Reformat PR body to 72 characters
  .github/scripts/pr-format.py
Labels: build, small

#19303 KAFKA-16407: Fix foreign key INNER join on change of FK from/to a null value
  streams/src/main/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionSendProcessorSupplier.java
  streams/src/test/java/org/apache/kafka/streams/kstream/internals/foreignkeyjoin/SubscriptionSendProcessorSupplierTest.java
Labels: streams, small

#17614 KAFKA-16758: Extend Consumer#close with an option to leave the group or not
  checkstyle/suppressions.xml
  clients/src/main/java/org/apache/kafka/clients/consumer/CloseOptions.java
  clients/src/main/java/org/apache/kafka/clients/consumer/Consumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/MockConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ClassicKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/LeaveGroupOnCloseEvent.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManagerTest.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinator.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerGroupMember.java
  storage/src/main/java/org/apache/kafka/server/log/remote/metadata/storage/ConsumerTask.java
Labels: consumer, connect, KIP-848, ctr, storage, tiered-storage, clients, ci-approved

#19386 MINOR: small optimization by judgment
  storage/src/main/java/org/apache/kafka/storage/internals/log/LocalLog.java
Labels: ci-approved

#19376 MINOR: Clean up unreachable code in FetcherTest
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
Labels: consumer, tests, clients, ci-approved, small

#19366 Minor: Add functionalinterface to the producer callback
  clients/src/main/java/org/apache/kafka/clients/producer/Callback.java
  connect/runtime/src/main/java/org/apache/kafka/connect/util/Callback.java
Labels: producer, consumer, connect, clients, ci-approved, small

#19392 KAFKA-19076: replace `String` by `Supplier<String>` for UnifiedLog#maybeHandleIOException
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
Labels: storage, ci-approved, small, triage

#19383 MINOR: Move BrokerReconfigurable to the sever-common module
  checkstyle/import-control-server-common.xml
  checkstyle/import-control-server.xml
  core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/server/AutoTopicCreationManager.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  server-common/src/main/java/org/apache/kafka/config/BrokerReconfigurable.java
  server/src/main/java/org/apache/kafka/server/config/AbstractKafkaConfig.java
  server/src/main/java/org/apache/kafka/server/config/DynamicProducerStateManagerConfig.java
Labels: core, ci-approved, small

#19342 MINOR: Clean up comments and remove unused code in RecordVersion and CreateTopicsRequestTest
  clients/src/main/java/org/apache/kafka/common/record/RecordVersion.java
  core/src/test/scala/unit/kafka/server/CreateTopicsRequestTest.scala
Labels: core, clients, ci-approved, small

#19359 KAFKA-19077: Propagate shutdownRequested field
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupTest.java
Labels: core, kip, KIP-1071

#19372 MINOR: Cleanup Core Module
  core/src/main/java/kafka/docker/Log4jConfiguration.java
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/java/kafka/server/NetworkUtils.java
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/java/kafka/server/builders/LogManagerBuilder.java
  core/src/main/java/kafka/server/builders/ReplicaManagerBuilder.java
  core/src/main/java/kafka/server/handlers/DescribeTopicPartitionsRequestHandler.java
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/java/kafka/security/JaasModule.java
  core/src/test/java/kafka/security/JaasTestUtils.java
  core/src/test/java/kafka/security/minikdc/MiniKdc.java
  core/src/test/java/kafka/security/minikdc/MiniKdcTest.java
  core/src/test/java/kafka/server/ReconfigurableQuorumIntegrationTest.java
  core/src/test/java/kafka/server/handlers/DescribeTopicPartitionsRequestHandlerTest.java
  core/src/test/java/kafka/server/integration/EligibleLeaderReplicasIntegrationTest.java
  core/src/test/java/kafka/server/logger/RuntimeLoggerManagerTest.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
Labels: core, tiered-storage, KIP-932, ci-approved

#19401 MINOR: Rename RemoteLogStorageManager variable to RemoteStorageManager
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
Labels: core, tiered-storage, small, triage

#19411 MINOR: Minor tidying in GroupMetadataManager
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: KIP-932, ci-approved, small

#19395 MINOR: Small cleanups in server tests
  server/src/test/java/org/apache/kafka/network/SocketServerConfigsTest.java
  server/src/test/java/org/apache/kafka/server/AssignmentTest.java
  server/src/test/java/org/apache/kafka/server/AssignmentsManagerTest.java
  server/src/test/java/org/apache/kafka/server/BootstrapControllersIntegrationTest.java
  server/src/test/java/org/apache/kafka/server/BrokerFeaturesTest.java
  server/src/test/java/org/apache/kafka/server/ClientMetricsManagerTest.java
  server/src/test/java/org/apache/kafka/server/LogManagerIntegrationTest.java
  server/src/test/java/org/apache/kafka/server/metrics/BrokerServerMetricsTest.java
  server/src/test/java/org/apache/kafka/server/metrics/ClientMetricsInstanceMetadataTest.java
  server/src/test/java/org/apache/kafka/server/share/fetch/DelayedShareFetchKeyTest.java
  server/src/test/java/org/apache/kafka/server/share/session/ShareSessionTest.java
Labels: core, tests, ci-approved

#19406 KAFKA-19100: Use ProcessRole instead of String in AclApis
  core/src/main/scala/kafka/server/AclApis.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
Labels: core, ci-approved, small

#19068 KAFKA-18892: Add KIP-877 support for ClientQuotaCallback
  clients/clients-integration-tests/src/test/java/org/apache/kafka/server/quota/CustomQuotaCallbackTest.java
  clients/src/main/java/org/apache/kafka/common/internals/Plugin.java
  clients/src/main/java/org/apache/kafka/server/quota/ClientQuotaCallback.java
  core/src/main/java/kafka/server/ClientRequestQuotaManager.java
  core/src/main/java/kafka/server/QuotaFactory.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ClientQuotaManager.scala
  core/src/main/scala/kafka/server/ControllerMutationQuotaManager.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/metadata/DynamicTopicClusterQuotaPublisher.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/kafka/server/LocalLeaderEndPointTest.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/server/HighwatermarkPersistenceTest.scala
  core/src/test/scala/unit/kafka/server/IsrExpirationTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerConcurrencyTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerQuotasTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  core/src/test/scala/unit/kafka/server/epoch/OffsetsForLeaderEpochTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/CheckpointBench.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/PartitionCreationBench.java
Labels: core, performance, clients, ci-approved

#19413 KAFKA-19099: Remove GroupSyncKey, GroupJoinKey, and MemberKey
  server-common/src/main/java/org/apache/kafka/server/purgatory/GroupJoinKey.java
  server-common/src/main/java/org/apache/kafka/server/purgatory/GroupSyncKey.java
  server-common/src/main/java/org/apache/kafka/server/purgatory/MemberKey.java
Labels: core, ci-approved

#19296 KAFKA-19047: Allow quickly re-registering brokers that are in controlled shutdown
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
Labels: kraft, ci-approved

#19415 MINOR Fix PR Linter "Reviewers" handling
  .github/scripts/pr-format.py
Labels: build, small

#19291 MINOR: remove transform and through from repartition description
  docs/streams/developer-guide/dsl-api.html
Labels: streams, docs, small

#19384 KAFKA-19093: Change the "Handler on Broker" to "Handler on Controller" for controller server
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
Labels: core, ci-approved, small

#18976 KAFKA-16718-2/n: KafkaAdminClient and GroupCoordinator implementation for DeleteShareGroupOffsets RPC
  clients/src/main/java/org/apache/kafka/clients/admin/Admin.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteShareGroupOffsetsOptions.java
  clients/src/main/java/org/apache/kafka/clients/admin/DeleteShareGroupOffsetsResult.java
  clients/src/main/java/org/apache/kafka/clients/admin/ForwardingAdmin.java
  clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DeleteShareGroupOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/common/requests/DeleteShareGroupOffsetsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/DeleteShareGroupOffsetsResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareGroupDescribeRequest.java
  clients/src/test/java/org/apache/kafka/clients/admin/KafkaAdminClientTest.java
  clients/src/test/java/org/apache/kafka/clients/admin/MockAdminClient.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  server-common/src/main/java/org/apache/kafka/server/share/persister/DeleteShareGroupStateParameters.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/TestingMetricsInterceptingAdminClient.java
Labels: streams, core, KIP-932, clients, ci-approved

#19390 KAFKA-19090: Move DelayedFuture and DelayedFuturePurgatory to server module
  core/src/main/scala/kafka/server/AclApis.scala
  core/src/main/scala/kafka/server/DelayedFuture.scala
  core/src/test/scala/integration/kafka/server/DelayedFutureTest.scala
  server/src/main/java/org/apache/kafka/server/purgatory/DelayedFuture.java
  server/src/main/java/org/apache/kafka/server/purgatory/DelayedFuturePurgatory.java
  server/src/test/java/org/apache/kafka/server/purgatory/DelayedFutureTest.java
Labels: core

#19377 KAFKA-19037: Integrate consumer-side code with Streams
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerDelegateCreator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsRebalanceData.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsRebalanceEventsProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/RequestManagersTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsRebalanceEventsProcessorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SmokeTestDriverIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/GroupProtocol.java
  streams/src/main/java/org/apache/kafka/streams/StreamsConfig.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStreamsGroupRebalanceCallbacks.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/StreamsConfigTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestClient.java
Labels: streams, consumer, clients, KIP-1071

#19422 KAFKA-18287: Add support for kafka-streams-groups.sh --list
  bin/kafka-streams-groups.sh
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/streams/StreamsGroupCommandTest.java
Labels: streams, tools, ci-approved, KIP-1071

#19261 KAFKA-16729: Support isolation level for share consumer
  checkstyle/suppressions.xml
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/java/kafka/server/share/SharePartition.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/java/kafka/server/share/SharePartitionTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupConfigTest.java
Labels: core, consumer, KIP-932, clients, ci-approved

#19167 KAFKA-18935: Ensure brokers do not return null records in FetchResponse
  clients/src/main/java/org/apache/kafka/common/requests/FetchRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/FetchResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareFetchRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareFetchResponse.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaShareConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareSessionHandlerTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/tools/TestRaftRequestHandler.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/common/FetchResponseBenchmark.java
  raft/src/test/java/org/apache/kafka/raft/KafkaNetworkChannelTest.java
  server/src/main/java/org/apache/kafka/server/share/context/FinalContext.java
  server/src/main/java/org/apache/kafka/server/share/context/ShareFetchContext.java
  server/src/main/java/org/apache/kafka/server/share/context/ShareSessionContext.java
Labels: core, consumer, performance, kraft, clients, ci-approved

#19432 KAFKA-18170: Add create and write timestamp fields in share snapshot [1/N]
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorRecordHelpers.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareGroupOffset.java
  share-coordinator/src/main/resources/common/message/ShareSnapshotValue.json
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorRecordHelpersTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/share/ShareGroupStateMessageFormatterTest.java
Labels: core, tools, KIP-932, ci-approved

#19421 KAFKA-19124: Use consumer background event queue for Streams events
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerDelegateCreator.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/RequestManagers.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsRebalanceEventsProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsRebalanceListener.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/RequestManagersTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsRebalanceEventsProcessorTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/SmokeTestDriverIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/DefaultStreamsRebalanceListener.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, consumer, clients, KIP-1071

#19354 KAFKA-18782: Extend ApplicationRecoverableException related exceptions
  clients/src/main/java/org/apache/kafka/common/errors/ApplicationRecoverableException.java
  clients/src/main/java/org/apache/kafka/common/errors/FencedInstanceIdException.java
  clients/src/main/java/org/apache/kafka/common/errors/IllegalGenerationException.java
  clients/src/main/java/org/apache/kafka/common/errors/InvalidPidMappingException.java
  clients/src/main/java/org/apache/kafka/common/errors/InvalidProducerEpochException.java
  clients/src/main/java/org/apache/kafka/common/errors/ProducerFencedException.java
  clients/src/main/java/org/apache/kafka/common/errors/UnknownMemberIdException.java
  clients/src/test/java/org/apache/kafka/common/errors/TransactionExceptionHierarchyTest.java
Labels: clients, small

#19399 MINOR: Remove unused `ApiVersions` variable from Sender and RecordAccumulator
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/RecordAccumulator.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/Sender.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/RecordAccumulatorTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
Labels: producer, clients, ci-approved

#19410 KAFKA-19101 Remove ControllerMutationQuotaManager#throttleTimeMs unused parameter
  core/src/main/scala/kafka/server/ControllerMutationQuotaManager.scala
  core/src/test/scala/unit/kafka/server/ControllerMutationQuotaManagerTest.scala
Labels: core, small

#19289 KAFKA-19042: [3/N] Move TransactionsWithMaxInFlightOneTest to client-integration-tests module
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/TransactionsWithMaxInFlightOneTest.java
  core/src/test/scala/integration/kafka/api/TransactionsWithMaxInFlightOneTest.scala
Labels: core, tests, clients

#19435 MINOR: Consolidated message formatter for share group records
  tools/src/main/java/org/apache/kafka/tools/consumer/ShareGroupMessageFormatter.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ShareGroupMessageFormatterTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/share/ShareGroupStateMessageFormatterTest.java
Labels: tools, KIP-932, ci-approved

#19423 KAFKA-18286: Implement support for streams groups in kafka-groups.sh
  tools/src/main/java/org/apache/kafka/tools/GroupsCommand.java
  tools/src/test/java/org/apache/kafka/tools/GroupsCommandTest.java
Labels: tools, KIP-1071

#19438 KAFKA-19118: Enable KIP-1071 in StandbyTaskCreationIntegrationTest
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/ChangelogTopics.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/ChangelogTopicsTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/StandbyTaskCreationIntegrationTest.java
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/utils/EmbeddedKafkaCluster.java
Labels: streams, small

#19441 KAFKA-19103: Remove OffsetConfig
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetConfig.java
Labels: ci-approved, small

#19436 KAFKA-19127: Integration test for altering and describing streams group configs
  tools/src/test/java/org/apache/kafka/tools/ConfigCommandIntegrationTest.java
Labels: tools, tests, small

#19293 KAFKA-16894: Define feature to enable share groups
  core/src/test/scala/unit/kafka/server/AbstractApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/metadata/storage/FormatterTest.java
  server-common/src/main/java/org/apache/kafka/server/common/Feature.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  server-common/src/main/java/org/apache/kafka/server/common/ShareVersion.java
  server/src/test/java/org/apache/kafka/server/BrokerFeaturesTest.java
  test-common/test-common-internal-api/src/main/java/org/apache/kafka/common/test/api/ClusterTest.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: core, tools, kraft, KIP-932

#19447 MINOR: Update kafka-console-share-consumer to pass in delivery count.
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleShareConsumer.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ConsoleShareConsumerTest.java
Labels: tools, KIP-932, ci-approved, small

#19387 KAFKA-14485: Move LogCleaner to storage module
  build.gradle
  checkstyle/import-control-server-common.xml
  checkstyle/import-control-storage.xml
  config/log4j2.yaml
  core/src/main/scala/kafka/log/LogCleaner.scala
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/integration/kafka/api/GroupCoordinatorIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextProducerSendTest.scala
  core/src/test/scala/integration/kafka/api/SaslSslAdminIntegrationTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/log/AbstractLogCleanerIntegrationTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerIntegrationTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerLagIntegrationTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerParameterizedIntegrationTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
  core/src/test/scala/unit/kafka/log/LogTestUtils.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  docs/upgrade.html
  server-common/src/main/java/org/apache/kafka/server/config/ServerConfigs.java
  server-common/src/main/java/org/apache/kafka/server/config/ServerLogConfigs.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/CleanedTransactionMetadata.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/Cleaner.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/CleanerConfig.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/CleanerStats.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogCleaner.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogCleanerManager.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogConfig.java
  tests/kafkatest/services/kafka/templates/log4j2.yaml
Labels: core, storage, build, ci-approved

#19374 KAFKA-19030: Remove metricNamePrefix from RequestChannel
  core/src/main/scala/kafka/network/RequestChannel.scala
  core/src/main/scala/kafka/network/SocketServer.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/KafkaRequestHandler.scala
  core/src/main/scala/kafka/tools/TestRaftServer.scala
  core/src/test/scala/kafka/server/KafkaRequestHandlerTest.scala
Labels: core, ci-approved, small

#19345 KAFKA-19071: Fix doc for remote.storage.enable
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
  core/src/test/scala/integration/kafka/admin/RemoteTopicCrudTest.scala
Labels: core, clients, ci-approved, small

#19419 KAFKA-15371: MetadataShell is stuck when bootstrapping
  metadata/src/main/java/org/apache/kafka/metadata/util/SnapshotFileReader.java
Labels: kraft, ci-approved, small

#19356 MINOR: Modify KafkaEventQueue VoidEvent to as singleton and use more proper function interface
  server-common/src/main/java/org/apache/kafka/queue/EventQueue.java
  server-common/src/main/java/org/apache/kafka/queue/KafkaEventQueue.java
  server/src/main/java/org/apache/kafka/server/AssignmentsManagerDeadlineFunction.java
Labels: core, ci-approved, small

#19431 KAFKA-19115: Utilize initialized topics info to verify delete share group offsets
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-932, ci-approved

#19347 KAFKA-19027: Replace ConsumerGroupCommandTestUtils#generator by ClusterTestDefaults
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommandTestUtils.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DeleteConsumerGroupsTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DeleteOffsetsConsumerGroupCommandIntegrationTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/DescribeConsumerGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ListConsumerGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/consumer/group/ResetConsumerGroupOffsetTest.java
Labels: tools, tests, ci-approved

#19451 KAFKA-19102 Enhance the docs of group.coordinator.append.linger.ms
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
Labels: small, triage

#19424 KAFKA-19113: Migrate DelegationTokenManager to server module
  checkstyle/import-control-server.xml
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/DelegationTokenManager.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/metadata/DelegationTokenPublisher.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  server/src/main/java/org/apache/kafka/server/DelegationTokenManager.java
  server/src/main/java/org/apache/kafka/server/config/DelegationTokenManagerConfigs.java
  server/src/test/java/org/apache/kafka/server/config/DelegationTokenManagerConfigsTest.java
Labels: core, performance

#19439 KAFKA-19121: Move AddPartitionsToTxnConfig and TransactionStateManagerConfig out of KafkaConfig
  core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, transactions, small

#19458 MINOR: remove unused parameter from KafkaMetadataLog
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
Labels: core, ci-approved, small

#19471 MINOR: update GitHub collaborators
  .asf.yaml
Labels: small

#19469 KAFKA-18172: Move RemoteIndexCacheTest to the storage module
  core/src/test/scala/unit/kafka/log/remote/RemoteIndexCacheTest.scala
  core/src/test/scala/unit/kafka/server/KafkaMetricsReporterTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteIndexCache.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/RemoteIndexCacheTest.java
Labels: core, storage

#19391 KAFKA-14523: Decouple RemoteLogManager and Partition
  core/src/main/java/kafka/log/remote/RemoteLogManager.java
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/server/ConfigHandler.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/log/remote/RemoteLogManagerTest.java
  core/src/test/scala/unit/kafka/server/DynamicConfigChangeTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/main/java/org/apache/kafka/server/log/remote/TopicPartitionLog.java
Labels: core, storage, tiered-storage

#19319 KAFKA-19042 Move ProducerCompressionTest, ProducerFailureHandlingTest, and ProducerIdExpirationTest to client-integration-tests module
  checkstyle/import-control-clients-integration-tests.xml
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/producer/ProducerCompressionTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/producer/ProducerFailureHandlingTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/producer/ProducerIdExpirationTest.java
  core/src/test/scala/integration/kafka/api/ProducerCompressionTest.scala
  core/src/test/scala/integration/kafka/api/ProducerFailureHandlingTest.scala
  core/src/test/scala/integration/kafka/api/ProducerIdExpirationTest.scala
Labels: core, tests, clients, ci-approved

#19463 KAFKA-18629: Account for existing deleting topics in share group delete.
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: KIP-932, ci-approved

#19402 MINOR: Port changes from KAFKA-18569 for ShareConsumers
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImplTest.java
Labels: consumer, KIP-932, clients, ci-approved, small

#19417 KAFKA-18900: Implement share.acknowledgment.mode to choose acknowledgement mode
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaShareConsumer.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareAcknowledgementMode.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImpl.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareAcknowledgementModeTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ShareConsumerImplTest.java
  tools/src/main/java/org/apache/kafka/tools/consumer/ConsoleShareConsumer.java
Labels: consumer, tools, KIP-932, clients, ci-approved

#19364 KAFKA-15370: ACL changes to support 2PC (KIP-939)
  clients/src/main/java/org/apache/kafka/common/acl/AclOperation.java
  clients/src/test/java/org/apache/kafka/common/acl/AclOperationTest.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/unit/kafka/security/authorizer/AuthorizerTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  server/src/main/java/org/apache/kafka/security/authorizer/AclEntry.java
  tools/src/test/java/org/apache/kafka/tools/AclCommandTest.java
Labels: core, tools, clients, ci-approved

#19464 KAFKA-19137: Use `StandardCharsets.UTF_8` instead of `StandardCharsets.UTF_8.name()`
  connect/file/src/main/java/org/apache/kafka/connect/file/FileStreamSinkTask.java
  connect/mirror/src/main/java/org/apache/kafka/connect/mirror/MirrorMaker.java
  connect/runtime/src/test/java/org/apache/kafka/connect/integration/RestForwardingIntegrationTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/rest/ConnectRestServerTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/PrintedTest.java
  tools/src/main/java/org/apache/kafka/tools/PushHttpMetricsReporter.java
  tools/src/test/java/org/apache/kafka/tools/ConnectPluginPathTest.java
Labels: streams, tools, connect, mirror-maker-2, ci-approved, small, triage

#19403 KAFKA-18845: Remove flaky tag on QuorumControllerTest#testUncleanShutdownBrokerElrEnabled
  metadata/src/test/java/org/apache/kafka/controller/QuorumControllerTest.java
Labels: tests, kraft, small

#19433 KAFKA-18288: Add support kafka-streams-groups.sh --describe
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/streams/DescribeStreamsGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/StreamsGroupCommandTest.java
Labels: streams, tools, ci-approved, KIP-1071

#19420 KAFKA-18983 Ensure all README.md(s) are mentioned by the root README.md
  README.md
  docker/README.md
  docker/native/README.md
  trogdor/README.md
Labels: docs, tools, docker, ci-approved, small

#19050 KAFKA-18888: Add KIP-877 support to Authorizer
  checkstyle/import-control-metadata.xml
  checkstyle/import-control-server.xml
  clients/src/main/java/org/apache/kafka/common/internals/Plugin.java
  clients/src/main/java/org/apache/kafka/server/authorizer/Authorizer.java
  core/src/main/java/kafka/server/QuotaFactory.java
  core/src/main/java/kafka/server/builders/KafkaApisBuilder.java
  core/src/main/scala/kafka/server/AclApis.scala
  core/src/main/scala/kafka/server/AuthHelper.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ControllerApis.scala
  core/src/main/scala/kafka/server/ControllerServer.scala
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/main/scala/kafka/server/KafkaBroker.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/java/kafka/server/handlers/DescribeTopicPartitionsRequestHandlerTest.java
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/DelegationTokenEndToEndAuthorizationWithOwnerTest.scala
  core/src/test/scala/integration/kafka/api/EndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/SaslSslAdminIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
  core/src/test/scala/unit/kafka/security/authorizer/AuthorizerTest.scala
  core/src/test/scala/unit/kafka/server/AuthHelperTest.scala
  core/src/test/scala/unit/kafka/server/ControllerApisTest.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/metadata/KRaftMetadataRequestBenchmark.java
  metadata/src/main/java/org/apache/kafka/metadata/authorizer/StandardAuthorizer.java
  metadata/src/main/java/org/apache/kafka/metadata/publisher/AclPublisher.java
  metadata/src/test/java/org/apache/kafka/metadata/authorizer/StandardAuthorizerTest.java
  server-common/src/main/java/org/apache/kafka/server/network/EndpointReadyFutures.java
  server/src/main/java/org/apache/kafka/security/authorizer/AuthorizerUtils.java
  server/src/test/java/org/apache/kafka/security/authorizer/AuthorizerUtilsTest.java
  server/src/test/java/org/apache/kafka/server/MonitorablePluginsIntegrationTest.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
Labels: core, performance, kraft, storage, tiered-storage, build, clients

#19472 KAFKA-13610: Deprecate log.cleaner.enable configuration
  core/src/main/scala/kafka/server/KafkaConfig.scala
  docs/upgrade.html
  storage/src/main/java/org/apache/kafka/storage/internals/log/CleanerConfig.java
Labels: core, storage, small, triage

#19298 KAFKA-19042: [4/N] Move PlaintextConsumerCallbackTest to client-integration-tests module
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerCallbackTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerCallbackTest.scala
Labels: core, tests, clients

#19483 MINOR: Remove Kafka release section from root README
  README.md
Labels: docs, ci-approved, small, triage

#19488 KAFKA-19147: Start authorizer before group coordinator to ensure coordinator authorizes regex topics
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
Labels: core, KIP-848

#19490 MINOR: remove unused DelayedElectLeader
  core/src/main/scala/kafka/server/DelayedElectLeader.scala
  core/src/test/scala/unit/kafka/coordinator/AbstractCoordinatorConcurrencyTest.scala
Labels: core, small

#19485 MINOR: Update GroupCoordinator interface to use AuthorizableRequestContext instead of RequestContext
  clients/src/main/java/org/apache/kafka/common/requests/JoinGroupRequest.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/CoordinatorRuntime.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/PartitionWriter.java
  coordinator-common/src/test/java/org/apache/kafka/coordinator/common/runtime/InMemoryPartitionWriter.java
  core/src/main/scala/kafka/coordinator/group/CoordinatorPartitionWriter.scala
  core/src/main/scala/kafka/server/AddPartitionsToTxnManager.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/Group.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinator.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/classic/ClassicGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorServiceTest.java
Labels: core, clients

#19454 KAFKA-19130: Do not add fenced brokers to BrokerRegistrationTracker on startup
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/ClusterControlManagerTest.java
Labels: kraft, small

#19480 MINOR: Fix Streams Position thread-safety
  streams/src/main/java/org/apache/kafka/streams/query/Position.java
  streams/src/test/java/org/apache/kafka/streams/query/PositionTest.java
Labels: streams, triage

#19494 HOTFIX: add SuppressWarnings in TieredStorageTestUtils
  storage/src/test/java/org/apache/kafka/tiered/storage/utils/TieredStorageTestUtils.java
Labels: tests, storage, small, triage

#19479 KAFKA-19151: docs: clarify that flush.ms requires log.flush.scheduler.interval.ms config
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
Labels: clients, ci-approved, small

#18837 MINOR: Fix an incorrect assignment in StreamsUncaughtExceptionHandlerIntegrationTest
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/StreamsUncaughtExceptionHandlerIntegrationTest.java
Labels: streams, tests, ci-approved, small

#19394 KAFKA-19054: StreamThread exception handling with SHUTDOWN_APPLICATION may trigger a tight loop with MANY logs
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/StreamsUncaughtExceptionHandlerIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
Labels: streams, ci-approved, small

#19491 KAFKA-19162: Topology metadata contains non-deterministically ordered topic configs
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManagerTest.java
Labels: streams, consumer, clients, small

#19502 MINOR: Supress stdout when checking Log4j 1.x configuration compatibility mode
  bin/kafka-run-class.sh
Labels: small, triage

#19503 KAFKA-19157: added group.share.max.share.sessions config
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfigTest.java
Labels: core, KIP-932, ci-approved, small

#19465 KAFKA-19136: Move metadata-related configs from KRaftConfigs to MetadataLogConfig
  build.gradle
  checkstyle/import-control.xml
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/KafkaConfig.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/integration/kafka/server/DynamicBrokerReconfigurationTest.scala
  core/src/test/scala/integration/kafka/server/QuorumTestHarness.scala
  core/src/test/scala/integration/kafka/server/RaftClusterSnapshotTest.scala
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/raft/RaftManagerTest.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaRaftServerTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  raft/src/main/java/org/apache/kafka/raft/MetadataLogConfig.java
  server/src/main/java/org/apache/kafka/server/config/AbstractKafkaConfig.java
  server/src/main/java/org/apache/kafka/server/config/KRaftConfigs.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/KafkaClusterTestKit.java
  tools/src/main/java/org/apache/kafka/tools/MetadataQuorumCommand.java
Labels: core, tools, connect, performance, kraft, mirror-maker-2, build, ci-approved

#18926 KAFKA-18332: fix ClassDataAbstractionCoupling problem in KafkaRaftClientTest(1/2)
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientClusterAuthTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
Labels: tests, kraft, ci-approved

#19388 MINOR: Cleanup 0.10.x legacy references in ClusterResourceListener and TopicConfig (clients module)
  clients/src/main/java/org/apache/kafka/clients/consumer/ConsumerConfig.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CompletedFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchCollector.java
  clients/src/main/java/org/apache/kafka/common/ClusterResourceListener.java
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/CompletedFetchTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchBufferTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchCollectorTest.java
Labels: consumer, clients, ci-approved, small

#19414 MINOR: Remove the unused parameter from FetchSession update method
  core/src/main/scala/kafka/server/FetchSession.scala
Labels: core, ci-approved, small

#19467 MINOR: improve (De)Serializer JavaDocs
  clients/src/main/java/org/apache/kafka/common/serialization/Deserializer.java
  clients/src/main/java/org/apache/kafka/common/serialization/Serializer.java
Labels: docs, clients

#19506 MINOR: Correct mismatched comments
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommand.java
Labels: tools, small, triage

#19462 KAFKA-17184: Fix the error thrown while accessing the RemoteIndexCache
  core/src/test/scala/unit/kafka/utils/SchedulerTest.scala
  server-common/src/main/java/org/apache/kafka/server/util/KafkaScheduler.java
  storage/src/main/java/org/apache/kafka/storage/internals/log/RemoteIndexCache.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/RemoteIndexCacheTest.java
Labels: core, storage

#19516 MINOR: Extend @ApiKeyVersionsSource annotation
  clients/src/test/java/org/apache/kafka/common/utils/annotation/ApiKeyVersionsProvider.java
  clients/src/test/java/org/apache/kafka/common/utils/annotation/ApiKeyVersionsProviderTest.java
  clients/src/test/java/org/apache/kafka/common/utils/annotation/ApiKeyVersionsSource.java
Labels: tests, clients

#19487 KAFKA-18854: remove `DynamicConfig` inner class
  core/src/main/scala/kafka/admin/ConfigCommand.scala
  core/src/main/scala/kafka/server/DynamicConfig.scala
Labels: core, ci-approved, small

#19521 MINOR: Fix typo in ApiKeyVersionsProvider exception message
  clients/src/test/java/org/apache/kafka/common/utils/annotation/ApiKeyVersionsProvider.java
Labels: tests, clients, ci-approved, small

#19302 KAFKA-14487: Move LogManager static methods/fields to storage module
  build.gradle
  checkstyle/import-control-storage.xml
  core/src/main/scala/kafka/log/LogManager.scala
  core/src/main/scala/kafka/raft/RaftManager.scala
  core/src/main/scala/kafka/server/metadata/BrokerMetadataPublisher.scala
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
  core/src/test/scala/unit/kafka/raft/RaftManagerTest.scala
  core/src/test/scala/unit/kafka/server/ServerShutdownTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogManager.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/LogManagerTest.java
  storage/src/test/java/org/apache/kafka/tiered/storage/integration/FetchFromLeaderWithCorruptedCheckpointTest.java
Labels: core, storage, build

#19526 KAFKA-19180: Fix the hanging testPendingTaskSize
  core/src/test/scala/unit/kafka/utils/SchedulerTest.scala
Labels: core, tests, small, triage

#17099 [KAFKA-8830] KIP-512: make Record Headers available in onAcknowledgement
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/ProducerInterceptor.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/ProducerInterceptors.java
  clients/src/main/java/org/apache/kafka/common/header/internals/RecordHeaders.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/ProducerInterceptorsTest.java
Labels: producer, kip, clients, ci-approved

#19524 MINOR: ignore null judgement in LogCleaner
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogCleaner.java
Labels: storage, ci-approved, small, triage

#19437 KAFKA-19019: Add support for remote storage fetch for share groups
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
Labels: core, KIP-932, ci-approved

#19525 KAFKA-19179: remove the dot from thread_dump_url
  .github/scripts/junit.py
Labels: build, ci-approved, small, triage

#19200 MINOR: redundant gradle expression is removed
  build.gradle
Labels: build, ci-approved, small

#19518 KAFKA-19166 Fix RC tag in release script
  release/git.py
  release/release.py
Labels: small

#19378 KAFKA-19057: Stabilize KIP-932 RPCs for AK 4.1
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DeleteShareGroupOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/DescribeShareGroupsHandler.java
  clients/src/main/java/org/apache/kafka/clients/admin/internals/ListShareGroupOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/common/requests/AlterShareGroupOffsetsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/DeleteShareGroupOffsetsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/DeleteShareGroupStateRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/DescribeShareGroupOffsetsRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/InitializeShareGroupStateRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ReadShareGroupStateRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ReadShareGroupStateSummaryRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareAcknowledgeRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareFetchRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareGroupDescribeRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ShareGroupHeartbeatRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/WriteShareGroupStateRequest.java
  clients/src/main/resources/common/message/AlterShareGroupOffsetsRequest.json
  clients/src/main/resources/common/message/AlterShareGroupOffsetsResponse.json
  clients/src/main/resources/common/message/DeleteShareGroupOffsetsRequest.json
  clients/src/main/resources/common/message/DeleteShareGroupStateRequest.json
  clients/src/main/resources/common/message/DescribeShareGroupOffsetsRequest.json
  clients/src/main/resources/common/message/InitializeShareGroupStateRequest.json
  clients/src/main/resources/common/message/ReadShareGroupStateRequest.json
  clients/src/main/resources/common/message/ReadShareGroupStateResponse.json
  clients/src/main/resources/common/message/ReadShareGroupStateSummaryRequest.json
  clients/src/main/resources/common/message/ShareAcknowledgeRequest.json
  clients/src/main/resources/common/message/ShareAcknowledgeResponse.json
  clients/src/main/resources/common/message/ShareFetchRequest.json
  clients/src/main/resources/common/message/ShareFetchResponse.json
  clients/src/main/resources/common/message/ShareGroupDescribeRequest.json
  clients/src/main/resources/common/message/ShareGroupDescribeResponse.json
  clients/src/main/resources/common/message/ShareGroupHeartbeatRequest.json
  clients/src/main/resources/common/message/ShareGroupHeartbeatResponse.json
  clients/src/main/resources/common/message/WriteShareGroupStateRequest.json
  clients/src/main/resources/common/message/WriteShareGroupStateResponse.json
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupDescribeRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupHeartbeatRequestTest.scala
  server-common/src/main/java/org/apache/kafka/server/share/persister/PersisterStateManager.java
  tests/kafkatest/services/kafka/config_property.py
  tests/kafkatest/services/kafka/kafka.py
Labels: core, KIP-932, clients, ci-approved

#19500 KAFKA-19159: Removed time based evictions for share sessions
  core/src/main/java/kafka/server/share/SharePartitionManager.java
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/java/kafka/server/share/SharePartitionManagerTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  server/src/main/java/org/apache/kafka/server/share/session/LastUsedKey.java
  server/src/main/java/org/apache/kafka/server/share/session/ShareSession.java
  server/src/main/java/org/apache/kafka/server/share/session/ShareSessionCache.java
  server/src/test/java/org/apache/kafka/server/share/session/ShareSessionCacheTest.java
Labels: core, KIP-932, ci-approved

#19533 MINOR: Improve javadoc for share consumer
  clients/src/main/java/org/apache/kafka/clients/consumer/KafkaShareConsumer.java
Labels: consumer, KIP-932, clients, ci-approved, small

#18673 KAFKA-18572: Update Kafka Streams metric documenation
  docs/ops.html
Labels: streams, docs, small

#19416 KAFKA-16538; Upgrade kraft version
  metadata/src/main/java/org/apache/kafka/controller/ConfigurationControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/FeatureControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/KRaftVersionAccessor.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
  metadata/src/main/java/org/apache/kafka/controller/RaftClientKRaftVersionAccessor.java
  metadata/src/test/java/org/apache/kafka/controller/ConfigurationControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  metadata/src/test/java/org/apache/kafka/image/publisher/SnapshotEmitterTest.java
  metadata/src/test/java/org/apache/kafka/metalog/LocalLogManager.java
  raft/src/main/java/org/apache/kafka/raft/FollowerState.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/main/java/org/apache/kafka/raft/LeaderState.java
  raft/src/main/java/org/apache/kafka/raft/QuorumState.java
  raft/src/main/java/org/apache/kafka/raft/RaftClient.java
  raft/src/main/java/org/apache/kafka/raft/VoterSet.java
  raft/src/main/java/org/apache/kafka/raft/internals/KRaftVersionUpgrade.java
  raft/src/main/java/org/apache/kafka/raft/internals/RequestSendResult.java
  raft/src/main/java/org/apache/kafka/raft/internals/UpdateVoterHandler.java
  raft/src/test/java/org/apache/kafka/raft/FollowerStateTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/LeaderStateTest.java
  raft/src/test/java/org/apache/kafka/raft/VoterSetTest.java
  server-common/src/main/java/org/apache/kafka/server/common/KRaftVersion.java
  server-common/src/test/java/org/apache/kafka/server/common/KRaftVersionTest.java
Labels: core, kraft

#19461 KAFKA-14690; Add TopicId to OffsetCommit API
  clients/src/main/java/org/apache/kafka/clients/admin/internals/AlterConsumerGroupOffsetsHandler.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/CommitRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinator.java
  clients/src/main/java/org/apache/kafka/common/requests/OffsetCommitRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/OffsetCommitResponse.java
  clients/src/main/resources/common/message/OffsetCommitRequest.json
  clients/src/main/resources/common/message/OffsetCommitResponse.json
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/common/message/MessageTest.java
  clients/src/test/java/org/apache/kafka/common/requests/OffsetCommitRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/ConsumerProtocolMigrationTest.scala
  core/src/test/scala/unit/kafka/server/DeleteGroupsRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/OffsetCommitRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetDeleteRequestTest.scala
  core/src/test/scala/unit/kafka/server/OffsetFetchRequestTest.scala
  core/src/test/scala/unit/kafka/server/RequestQuotaTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/OffsetMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
Labels: core, consumer, KIP-848, clients

#19541 KAFKA-19181: removed assertions in test_share_multiple_partitions as a result of change in assignor algorithm
  tests/kafkatest/tests/client/share_consumer_test.py
Labels: tests, KIP-932, ci-approved, small

#19505 KAFKA-19156: Streamlined share group configs, with usage in ShareSessionCache
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfig.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupConfigTest.java
Labels: core, KIP-932, ci-approved, small

#19443 KAFKA-18170: Add scheduled job to snapshot cold share partitions.
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorConfig.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareGroupOffset.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorTestConfig.java
Labels: KIP-932, ci-approved

#19440 KAFKA-15767: Refactor TransactionManager to avoid use of ThreadLocal
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/Sender.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
Labels: producer, clients, ci-approved

#19457 KAFKA-19110: Add missing unit test for Streams-consumer integration
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/StreamsMembershipManager.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/RequestManagersTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/StreamsGroupHeartbeatRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessorTest.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/DefaultStreamsRebalanceListenerTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
Labels: streams, consumer, clients, ci-approved

#19547 MINOR: Change KIP-932 log messages from early access to preview
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ShareConsumerDelegateCreator.java
  core/src/main/scala/kafka/server/KafkaConfig.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
Labels: core, consumer, KIP-932, clients, ci-approved, small

#19549 MINOR: Improve member epoch mismatch logging for share groups
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: KIP-932, ci-approved, small

#19536 KAFKA-18889: Make records in ShareFetchResponse non-nullable
  clients/src/main/java/org/apache/kafka/common/requests/ShareFetchResponse.java
  clients/src/main/resources/common/message/ShareFetchResponse.json
  core/src/main/java/kafka/server/share/ShareFetchUtils.java
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/java/kafka/server/share/ShareFetchUtilsTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  server/src/main/java/org/apache/kafka/server/share/fetch/ShareFetch.java
Labels: core, KIP-932, clients, ci-approved, small
