Repository apache/kafka, pull requests merged in 2025-06, with the labels that each got.

#19327 KAFKA-19053: Remove FetchResponse#of which is not used in production …
  clients/src/main/java/org/apache/kafka/common/requests/FetchResponse.java
  clients/src/test/java/org/apache/kafka/clients/FetchSessionHandlerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetchRequestManagerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/FetcherTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaFetcherThreadTest.scala
  core/src/test/scala/unit/kafka/server/epoch/util/MockBlockingSender.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/common/FetchResponseBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetcher/ReplicaFetcherThreadBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetchsession/FetchSessionBenchmark.java
Labels: core, consumer, performance, clients, ci-approved

#19873 KAFKA-19352: Create offsets topic to fix flaky testCommitAsyncCompletedBeforeConsumerCloses
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerCommitTest.java
Labels: tests, clients, ci-approved, small, triage

#19866 KAFKA-19355: Remove interBrokerListenerName from ClusterControlManager
  core/src/main/scala/kafka/server/ControllerServer.scala
  metadata/src/main/java/org/apache/kafka/controller/ClusterControlManager.java
  metadata/src/main/java/org/apache/kafka/controller/QuorumController.java
Labels: core, kraft, ci-approved, small

#19868 MINOR: Refactor awaitNonEmptyRecords to remove dead code and improve clarity
  core/src/test/scala/integration/kafka/api/AbstractConsumerTest.scala
Labels: core, tests, ci-approved, small

#19836 KAFKA-19321: Added share_consumer_performance.py and related system tests
  tests/kafkatest/benchmarks/core/benchmark_test.py
  tests/kafkatest/sanity_checks/test_performance_services.py
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/services/performance/__init__.py
  tests/kafkatest/services/performance/share_consumer_performance.py
Labels: tests, KIP-932, ci-approved

#19859 MINOR: Fixing logs and adding exception in response
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorService.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
Labels: KIP-932, ci-approved, small

#19811 KAFKA-19320: Added share_consume_bench_test.py system tests
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/services/trogdor/share_consume_bench_workload.py
  tests/kafkatest/tests/core/share_consume_bench_test.py
Labels: tests, KIP-932, ci-approved

#19849 KAFKA-19349: Move CreateTopicsRequestWithPolicyTest to clients-integration-tests
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/CreateTopicsRequestWithPolicyTest.java
  core/src/test/scala/unit/kafka/server/CreateTopicsRequestWithPolicyTest.scala
Labels: core, tests, clients, ci-approved

#19878 KAFKA-19358: Updated share_consumer_test.py tests to use set_group_offset_reset_strategy
  tests/kafkatest/services/kafka/kafka.py
  tests/kafkatest/services/verifiable_share_consumer.py
  tests/kafkatest/tests/client/share_consumer_test.py
  tests/kafkatest/tests/verifiable_share_consumer_test.py
Labels: tests, KIP-932, ci-approved, small

#19861 KAFKA-19338: Error on read/write of uninitialized share part.
  clients/src/main/java/org/apache/kafka/common/requests/DeleteShareGroupStateRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/DeleteShareGroupStateResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/ReadShareGroupStateRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/ReadShareGroupStateResponse.java
  clients/src/main/java/org/apache/kafka/common/requests/WriteShareGroupStateRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/WriteShareGroupStateResponse.java
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorShard.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorShardTest.java
Labels: core, KIP-932, clients, ci-approved

#19802 KAFKA-17747: [5/N] Replace subscription metadata with metadata hash in stream group
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsCoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/StreamsGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/TargetAssignmentBuilder.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/TopicMetadata.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/TopologyMetadata.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredTopology.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/EndpointToPartitionsManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/streams/topics/InternalTopicManager.java
  group-coordinator/src/main/resources/common/message/StreamsGroupPartitionMetadataKey.json
  group-coordinator/src/main/resources/common/message/StreamsGroupPartitionMetadataValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorShardTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsCoordinatorRecordHelpersTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/StreamsGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/TargetAssignmentBuilderTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/TopicMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/TopologyMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/ConfiguredTopologyTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/EndpointToPartitionsManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/streams/topics/InternalTopicManagerTest.java
Labels: KIP-1071

#19796 KAFKA-17747: [6/N] Replace subscription metadata with metadata hash in share group
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorRecordHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorShard.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/ModernGroup.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/TopicMetadata.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/modern/share/ShareGroup.java
  group-coordinator/src/main/resources/common/message/ShareGroupPartitionMetadataKey.json
  group-coordinator/src/main/resources/common/message/ShareGroupPartitionMetadataValue.json
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/Assertions.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTestContext.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/OffsetMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/TopicMetadataTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/consumer/ConsumerGroupTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/modern/share/ShareGroupTest.java
  tools/src/main/java/org/apache/kafka/tools/consumer/ShareGroupMessageFormatter.java
  tools/src/test/java/org/apache/kafka/tools/consumer/ShareGroupMessageFormatterTest.java
Labels: core, tools, KIP-932

#19522 KAFKA-19176: Update Transactional producer to translate retriable into abortable exceptions
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  clients/src/main/java/org/apache/kafka/common/errors/TransactionAbortableException.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
Labels: producer, clients, ci-approved, small

#19656 KAFKA-19250 : txnProducer.abortTransaction() API should not return abortable exception
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/SenderTest.java
Labels: producer, clients, ci-approved, small

#19887 KAFKA-19155: Update docs/security.html for streams-related RPCs
  docs/security.html
Labels: docs, small

#19894 MINOR: Add test for kafka-streams-groups.sh list
  tools/src/test/java/org/apache/kafka/tools/streams/ListStreamsGroupTest.java
Labels: tools, tests, triage, KIP-1071

#19892 MINOR: replaced DelayedShareFetchTest mockStatic .close functionality with try-with-resources
  core/src/test/java/kafka/server/share/DelayedShareFetchTest.java
Labels: core, tests, KIP-932, ci-approved

#19896 MINOR: LIST_CONFIG_RESOURCES in security.html
  docs/security.html
Labels: docs, small

#19898 KAFKA-19347 Deduplicate ACLs when creating
  metadata/src/main/java/org/apache/kafka/controller/AclControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/AclControlManagerTest.java
Labels: kraft, small

#19844 KAFKA-18042: Reject the produce request with lower producer epoch early (KIP-890)
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  storage/src/main/java/org/apache/kafka/storage/internals/log/UnifiedLog.java
Labels: core, storage, ci-approved, small

#18325 KAFKA-19248: Multiversioning in Kafka Connect - Plugin Loading Isolation Tests
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/isolation/PluginsRecommenders.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/MultiVersionTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/PluginRecommenderTest.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/TestPlugins.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/isolation/VersionedPluginBuilder.java
  connect/runtime/src/test/resources/test-plugins/versioned-converter/META-INF/services/org.apache.kafka.connect.storage.Converter
  connect/runtime/src/test/resources/test-plugins/versioned-converter/test/plugins/VersionedConverter.java
  connect/runtime/src/test/resources/test-plugins/versioned-header-converter/META-INF/services/org.apache.kafka.connect.storage.HeaderConverter
  connect/runtime/src/test/resources/test-plugins/versioned-header-converter/test/plugins/VersionedHeaderConverter.java
  connect/runtime/src/test/resources/test-plugins/versioned-predicate/META-INF/services/org.apache.kafka.connect.transforms.predicates.Predicate
  connect/runtime/src/test/resources/test-plugins/versioned-predicate/test/plugins/VersionedPredicate.java
  connect/runtime/src/test/resources/test-plugins/versioned-sink-connector/META-INF/services/org.apache.kafka.connect.sink.SinkConnector
  connect/runtime/src/test/resources/test-plugins/versioned-sink-connector/test/plugins/VersionedSinkConnector.java
  connect/runtime/src/test/resources/test-plugins/versioned-source-connector/META-INF/services/org.apache.kafka.connect.source.SourceConnector
  connect/runtime/src/test/resources/test-plugins/versioned-source-connector/test/plugins/VersionedSourceConnector.java
  connect/runtime/src/test/resources/test-plugins/versioned-transformation/META-INF/services/org.apache.kafka.connect.transforms.Transformation
  connect/runtime/src/test/resources/test-plugins/versioned-transformation/test/plugins/VersionedTransformation.java
Labels: connect, ci-approved

#19903 KAFKA-19373: Fix protocol name comparison
  core/src/test/scala/integration/kafka/api/BaseConsumerTest.scala
  core/src/test/scala/integration/kafka/api/ConsumerBounceTest.scala
  core/src/test/scala/integration/kafka/api/EndToEndAuthorizationTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerSubscriptionTest.scala
  core/src/test/scala/integration/kafka/api/PlaintextConsumerTest.scala
Labels: core, tests, clients, small

#19906 MINOR: rackId is Optional#empty if input string is empty
  clients/src/test/java/org/apache/kafka/clients/GroupRebalanceConfigTest.java
Labels: tests, clients, small

#18739 KAFKA-16505: Add source raw key and value
  streams/integration-tests/src/test/java/org/apache/kafka/streams/integration/ProcessingExceptionHandlerIntegrationTest.java
  streams/src/main/java/org/apache/kafka/streams/errors/ErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/errors/internals/DefaultErrorHandlerContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/RecordContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorContextImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorNode.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorRecordContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordCollectorImpl.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordDeserializer.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/RecordQueue.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StampedRecord.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamTask.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingSessionStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/CachingWindowStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/LRUCacheEntry.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/TimeOrderedCachingWindowStore.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/ProcessorNodeTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/RecordCollectorTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/NamedCacheTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/ThreadCacheTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedCachingPersistentWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/TimeOrderedWindowStoreTest.java
  streams/src/test/java/org/apache/kafka/test/InternalMockProcessorContext.java
Labels: streams, clients, ci-approved

#19669 MINOR: clean KafkaConsumer tests
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
Labels: consumer, tests, clients

#19773 KAFKA-19042: [10/N] Move PlaintextConsumerAssignTest to clients-integration-tests module
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/ClientsTestUtils.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerAssignTest.java
  core/src/test/scala/integration/kafka/api/PlaintextConsumerAssignTest.scala
Labels: core, tests, clients

#19805 MINOR: Cleanup Core Module- Scala Modules (4/n)
  core/src/test/scala/unit/kafka/KafkaConfigTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerManagerTest.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
  core/src/test/scala/unit/kafka/log/LogConfigTest.scala
  core/src/test/scala/unit/kafka/log/LogLoaderTest.scala
  core/src/test/scala/unit/kafka/log/LogManagerTest.scala
  core/src/test/scala/unit/kafka/log/UnifiedLogTest.scala
  core/src/test/scala/unit/kafka/network/ConnectionQuotasTest.scala
  core/src/test/scala/unit/kafka/network/ProcessorTest.scala
  core/src/test/scala/unit/kafka/network/RequestChannelTest.scala
  core/src/test/scala/unit/kafka/network/SocketServerTest.scala
  core/src/test/scala/unit/kafka/security/authorizer/AuthorizerTest.scala
  core/src/test/scala/unit/kafka/tools/DumpLogSegmentsTest.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  core/src/test/scala/unit/kafka/utils/TestUtils.scala
Labels: core, tests, ci-approved

#19907 KAFKA-19370: Create JMH benchmark for share group assignor
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/AssignorBenchmarkUtils.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ShareGroupAssignorBenchmark.java
Labels: performance, KIP-932, ci-approved

#19889 KAFKA-18913: Start state updater in task manager
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StreamThread.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams, small

#19915 KAFKA-19295: Remove AsyncKafkaConsumer event ID generation
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEvent.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/BackgroundEvent.java
Labels: consumer, clients, ci-approved, small

#19890 KAFKA-18486: Update activeProducerState wih KRaft mechanism in ReplicaManagerTest
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests, ci-approved, small

#19883 KAFKA-18486: Update testExceptionWhenUnverifiedTransactionHasMultipleProducerIds
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests, ci-approved, small

#19922 KAFKA-18486:Remove ReplicaManager#becomeLeaderOrFollower in `testReplicaAlterLogDirs`
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests, ci-approved, small, triage

#19842 MINOR: Follow up KAFKA-19080 MetadataLogConfig
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  raft/src/main/java/org/apache/kafka/raft/MetadataLogConfig.java
Labels: core, kraft, small

#19911 MINOR: Use `pollUntilTrue` instead of `waitForCondition`
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/ClientsTestUtils.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerCallbackTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerCommitTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerPollTest.java
Labels: tests, clients, small

#19918 KAFKA-19386: Correcting ExpirationReaper thread names from Purgatory
  server-common/src/main/java/org/apache/kafka/server/purgatory/DelayedOperationPurgatory.java
Labels: core, KIP-932, ci-approved, small

#19931 KAFKA-19283: Update transaction exception handling documentation
  docs/design.html
Labels: docs, ci-approved, small

#19929 KAFKA-18486 Remove becomeLeaderOrFollower from readFromLogWithOffsetOutOfRange and other related methods.
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests

#19936 KAFKA-19392: Fix metadata.log.segment.ms not being applied
  core/src/main/scala/kafka/raft/KafkaMetadataLog.scala
  core/src/test/scala/kafka/raft/KafkaMetadataLogTest.scala
Labels: core, ci-approved, small

#19942 MINOR: Improve the prompt in committer-tools/reviewers.py
  committer-tools/reviewers.py
Labels: tools, small, triage

#19895 KAFKA-19244: Add support for kafka-streams-groups.sh options (delete offsets) [4/N]
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/streams/DeleteStreamsGroupOffsetTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/DeleteStreamsGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/StreamsGroupCommandTest.java
Labels: tools

#19928 KAFKA-19389: Fix memory consumption for completed share fetch requests
  core/src/main/java/kafka/server/share/DelayedShareFetch.java
  server/src/main/java/org/apache/kafka/server/share/fetch/DelayedShareFetchPartitionKey.java
Labels: core, KIP-932, ci-approved, small

#19945 MINOR: Update opentelemetry-proto dependency
  LICENSE-binary
  gradle/dependencies.gradle
Labels: dependencies, build, ci-approved, small, triage

#19944 MINOR: Bump trunk to 4.2.0-SNAPSHOT
  committer-tools/kafka-merge-pr.py
  docs/js/templateData.js
  gradle.properties
  streams/quickstart/java/pom.xml
  streams/quickstart/java/src/main/resources/archetype-resources/pom.xml
  streams/quickstart/pom.xml
  tests/kafkatest/__init__.py
  tests/kafkatest/version.py
Labels: streams, tools, small

#19924 KAFKA-18486 Update testClearPurgatoryOnBecomingFollower etc with KRaft mechanism in ReplicaManagerTest
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests, small

#19953 Fixed ZooKeeper delete commands
  docs/ops.html
Labels: ci-approved

#19904 KAFKA-18961: Time-based refresh for server-side RE2J regex
  core/src/test/scala/integration/kafka/api/AbstractAuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfig.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupCoordinatorConfigTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
Labels: core, ci-approved

#19946 KAFKA-17089: Incorrect JWT parsing in OAuthBearerUnsecuredJws
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/unsecured/OAuthBearerUnsecuredJws.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/ClientJwtValidatorTest.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/internals/secured/OAuthBearerTest.java
Labels: clients, ci-approved, small

#19814 KAFKA-18117; KAFKA-18729: Use assigned topic IDs to avoid full metadata requests on broker-side regex
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerSubscriptionTest.java
  clients/src/main/java/org/apache/kafka/clients/Metadata.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerMetadata.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/SubscriptionState.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/TopicIdPartitionSet.java
  clients/src/main/java/org/apache/kafka/common/requests/MetadataRequest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerMetadataTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/SubscriptionStateTest.java
  core/src/test/scala/unit/kafka/server/KafkaApisTest.scala
Labels: core, consumer, clients

#19938 KAFKA-19153: Add OAuth integration tests
  build.gradle
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/ClientCredentialsJwtRetriever.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/OAuthBearerValidatorCallbackHandler.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/ConfigurationUtils.java
  clients/src/main/java/org/apache/kafka/common/security/oauthbearer/internals/secured/assertion/DefaultAssertionCreator.java
  clients/src/test/java/org/apache/kafka/common/security/oauthbearer/JwtBearerJwtRetrieverTest.java
  core/src/test/scala/integration/kafka/api/ClientOAuthIntegrationTest.scala
  gradle/dependencies.gradle
  licenses/mock-oauth2-server-MIT
Labels: core, build, clients, ci-approved, triage

#19959 MINOR: Fixing client telemetry validate request
  server/src/main/java/org/apache/kafka/server/ClientMetricsManager.java
  server/src/test/java/org/apache/kafka/server/ClientMetricsManagerTest.java
Labels: core, ci-approved

#19809 KAFKA-19237: add dynamic config remote.log.manager.follower.thread.pool.size
  core/src/main/scala/kafka/server/DynamicBrokerConfig.scala
  core/src/test/scala/unit/kafka/server/DynamicBrokerConfigTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  docs/configuration.html
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManager.java
  storage/src/main/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfig.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerConfigTest.java
  storage/src/test/java/org/apache/kafka/server/log/remote/storage/RemoteLogManagerTest.java
Labels: core, storage, tiered-storage

#19952 KAFKA-18486: Migrate ReplicaManagerTest to use applyDelta
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests

#19960 KAFKA-18486: Migrate ReplicaManagerTest RemoteFetchExpiresPerSecMetric and RemoteLogReaderMetrics with applyDelta
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests, ci-approved, small, triage

#19948 MINOR: rename exception `e` to `swallow` where appropriate
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumer.java
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AsyncKafkaConsumerTest.java
Labels: consumer, clients, ci-approved, small

#19954 KAFKA-18486: Migrate ReplicaManagerTest to use applyDelta
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests, ci-approved, small

#19965 KAFKA-18486: Migrate ReplicaManagerTest to use applyDelta
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests, small

#19966 KAFKA-18486: Remove ReplicaManager#becomeLeaderOrFollower
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests, ci-approved

#19973 MINOR: in min.insync.replicas config doc, explicitly state that all ISR must ack when acks=all
  clients/src/main/java/org/apache/kafka/common/config/TopicConfig.java
Labels: docs, producer, clients, small

#19978 KAFKA-19412: Extended AuthorizerIntegrationTest to cover StreamsGroupHeartbeat
  core/src/main/scala/kafka/server/KafkaApis.scala
  core/src/test/scala/integration/kafka/api/AbstractAuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
Labels: core

#19975 MINOR: replace test "catch exception" by assertThrows
  clients/src/test/java/org/apache/kafka/clients/consumer/KafkaConsumerTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/ConsumerCoordinatorTest.java
  clients/src/test/java/org/apache/kafka/common/config/ConfigDefTest.java
  clients/src/test/java/org/apache/kafka/common/header/internals/RecordHeadersTest.java
  clients/src/test/java/org/apache/kafka/common/metrics/MetricsTest.java
  clients/src/test/java/org/apache/kafka/common/protocol/types/ProtocolSerializationTest.java
  clients/src/test/java/org/apache/kafka/common/requests/JoinGroupRequestTest.java
  clients/src/test/java/org/apache/kafka/common/requests/RequestResponseTest.java
  streams/src/test/java/org/apache/kafka/streams/kstream/RepartitionTopicNamingTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/GlobalStreamThreadTest.java
Labels: streams, consumer, tests, clients, ci-approved, triage

#19971 KAFKA-19042 Move ProducerSendWhileDeletionTest to client-integration-tests module
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/producer/ProducerSendWhileDeletionTest.java
  core/src/test/scala/integration/kafka/api/ProducerSendWhileDeletionTest.scala
Labels: core, tests, clients, triage

#19800 KAFKA-14145; Faster KRaft HWM replication
  clients/src/main/resources/common/message/FetchRequest.json
  clients/src/main/resources/common/message/FetchResponse.json
  metadata/src/test/java/org/apache/kafka/controller/FeatureControlManagerTest.java
  raft/src/main/java/org/apache/kafka/raft/KafkaRaftClient.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientClusterAuthTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientFetchTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientPreVoteTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientReconfigTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientSnapshotTest.java
  raft/src/test/java/org/apache/kafka/raft/KafkaRaftClientTest.java
  raft/src/test/java/org/apache/kafka/raft/RaftClientTestContext.java
  server-common/src/main/java/org/apache/kafka/server/common/MetadataVersion.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: core, tools, kraft, clients

#19976 KAFKA-19367: Follow up bug fix
  core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorTest.scala
Labels: core, ci-approved

#19981 KAFKA-19413: Extended AuthorizerIntegrationTest to cover StreamsGroupDescribe
  core/src/test/scala/integration/kafka/api/AuthorizerIntegrationTest.scala
  core/src/test/scala/integration/kafka/api/IntegrationTestHarness.scala
Labels: core, tests, KIP-1071

#19917 KAFKA-19297: Refactor AsyncKafkaConsumer's use of Java Streams APIs in critical sections
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractFetch.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerMembershipManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerNetworkThread.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerRebalanceListenerInvoker.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/TopicMetadataRequestManager.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/ApplicationEventProcessor.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/events/CompletableEventReaper.java
Labels: consumer, clients, ci-approved

#18683 KAFKA-18627: Deprecated "org.apache.kafka.disallowed.login.modules"
  clients/src/main/java/org/apache/kafka/common/security/JaasContext.java
  clients/src/main/java/org/apache/kafka/common/security/JaasUtils.java
  clients/src/test/java/org/apache/kafka/common/security/JaasContextTest.java
  docs/configuration.html
  docs/upgrade.html
Labels: core, clients, ci-approved

#19983 KAFKA-19356: Prevent new consumer fetch assigned partitions not in explicit subscription
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/FetchCollector.java
  clients/src/main/java/org/apache/kafka/clients/consumer/internals/SubscriptionState.java
  clients/src/test/java/org/apache/kafka/clients/consumer/internals/SubscriptionStateTest.java
Labels: consumer, clients

#19989 MINOR: document deprecated remote log manager thread pool config
  docs/upgrade.html
Labels: docs, small

#19996 MINOR: The upgrade.html file contains duplicate IDs on the same page
  docs/upgrade.html
Labels: docs, small, triage

#19992 KAFKA-19416: Reduce running time of ShareConsumerTest
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerTest.java
Labels: tests, KIP-932, clients, ci-approved, small

#19776 KAFKA-19239 Rewrite IntegrationTestUtils by java
  core/src/test/scala/integration/kafka/coordinator/transaction/ProducerIntegrationTest.scala
  core/src/test/scala/integration/kafka/server/IntegrationTestUtils.scala
  core/src/test/scala/integration/kafka/server/KRaftClusterTest.scala
  core/src/test/scala/unit/kafka/server/AbstractApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/AllocateProducerIdsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ClientQuotasRequestTest.scala
  core/src/test/scala/unit/kafka/server/DescribeQuorumRequestTest.scala
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/SaslApiVersionsRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareGroupHeartbeatRequestTest.scala
  server-common/src/test/java/org/apache/kafka/server/IntegrationTestUtils.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
Labels: core, tests, clients, ci-approved

#19476 KAFKA-19140 ConnectAssignor#performAssignment parameter can be replace to ConnectProtocolCompatibility
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/ConnectAssignor.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/EagerAssignor.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignor.java
  connect/runtime/src/main/java/org/apache/kafka/connect/runtime/distributed/WorkerCoordinator.java
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/distributed/IncrementalCooperativeAssignorTest.java
Labels: connect, small, triage, needs-attention

#19998 MINOR: Reduce logging in persister.
  core/src/main/java/kafka/server/share/SharePartition.java
  server-common/src/main/java/org/apache/kafka/server/share/persister/DefaultStatePersister.java
  server-common/src/main/java/org/apache/kafka/server/share/persister/PersisterStateManager.java
Labels: core, KIP-932, ci-approved, small

#20001 KAFKA-19418: Fix for flaky verifiable producer system test
  tests/kafkatest/sanity_checks/test_verifiable_producer.py
Labels: tests, small

#19646 KAFKA-19244: Add support for kafka-streams-groups.sh options (reset-offsets) [1/N]
  clients/src/main/java/org/apache/kafka/clients/admin/ListStreamsGroupOffsetsSpec.java
  tools/src/main/java/org/apache/kafka/tools/OffsetsUtils.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/ConsumerGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/consumer/group/CsvUtils.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommand.java
  tools/src/main/java/org/apache/kafka/tools/streams/StreamsGroupCommandOptions.java
  tools/src/test/java/org/apache/kafka/tools/streams/DeleteStreamsGroupOffsetTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/DeleteStreamsGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/DescribeStreamsGroupTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/ResetStreamsGroupOffsetTest.java
  tools/src/test/java/org/apache/kafka/tools/streams/StreamsGroupCommandTest.java
Labels: streams, tools, clients, ci-approved, KIP-1071

#19977 KAFKA-19362: Finalize homogeneous simple share assignor
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/AssignorHelpers.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/SimpleAssignor.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/assignor/SimpleHomogeneousAssignmentBuilder.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/assignor/SimpleAssignorTest.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/assignor/ShareGroupAssignorBenchmark.java
Labels: performance, KIP-932, ci-approved

#20005 KAFKA-19423: Deflake streams_broker_bounce_test
  tests/kafkatest/tests/streams/streams_broker_bounce_test.py
Labels: tests, small

#19951 KAFKA-19402: Typo in EventAccumulator.java
  coordinator-common/src/main/java/org/apache/kafka/coordinator/common/runtime/EventAccumulator.java
Labels: ci-approved, small

#20006 MINOR: Invoke share group rebalance sensor.
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/GroupMetadataManager.java
  group-coordinator/src/main/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetrics.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/GroupMetadataManagerTest.java
  group-coordinator/src/test/java/org/apache/kafka/coordinator/group/metrics/GroupCoordinatorMetricsTest.java
Labels: KIP-932, ci-approved, small

#19997 MINOR: changed the test testShareFetchRequestSuccessfulSharingBetweenMultipleConsumers to remove ambiguity
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
Labels: core, tests, KIP-932, ci-approved, small

#19804 MINOR: Cleanup Core Module- Scala Modules (3/n)
  core/src/test/scala/unit/kafka/admin/AddPartitionsTest.scala
  core/src/test/scala/unit/kafka/cluster/AbstractPartitionTest.scala
  core/src/test/scala/unit/kafka/cluster/AssignmentStateTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/coordinator/group/CoordinatorPartitionWriterTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorConcurrencyTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionLogTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMarkerChannelManagerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMarkerRequestCompletionHandlerTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionMetadataTest.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionStateManagerTest.scala
  core/src/test/scala/unit/kafka/integration/KafkaServerTestHarness.scala
  core/src/test/scala/unit/kafka/integration/UncleanLeaderElectionTest.scala
  core/src/test/scala/unit/kafka/metrics/KafkaMetricsGroupTest.scala
  core/src/test/scala/unit/kafka/metrics/MetricsTest.scala
Labels: core, tests, ci-approved

#19968 MINOR: Restore original behavior of GroupAuthorizerIntegrationTest
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/security/GroupAuthorizerIntegrationTest.java
Labels: tests, clients, ci-approved, small

#19884 KAFKA-19324: Make org.apache.kafka.common.test.TestUtils package-private to prevent cross-module access
  checkstyle/import-control-transaction-coordinator.xml
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/ClientRebootstrapTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/ClientsTestUtils.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/MetadataVersionIntegrationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/TransactionsExpirationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/TransactionsWithMaxInFlightOneTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/DeleteTopicTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/admin/ListOffsetsIntegrationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ConsumerIntegrationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerPollTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/PlaintextConsumerSubscriptionTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ShareConsumerRackAwareTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/producer/ProducerSendWhileDeletionTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/security/GroupAuthorizerIntegrationTest.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/server/quota/CustomQuotaCallbackTest.java
  core/src/test/scala/integration/kafka/coordinator/transaction/ProducerIntegrationTest.scala
  core/src/test/scala/unit/kafka/server/KafkaConfigTest.scala
  server/src/test/java/org/apache/kafka/server/purgatory/DelayedFutureTest.java
  storage/src/test/java/org/apache/kafka/admin/RemoteTopicCrudTest.java
  storage/src/test/java/org/apache/kafka/server/log/LogAppendTimeTest.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/ClusterInstance.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/TestUtils.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/junit/ClusterInstanceParameterResolver.java
  test-common/test-common-runtime/src/main/java/org/apache/kafka/common/test/junit/RaftClusterInvocationContext.java
  test-common/test-common-runtime/src/test/java/org/apache/kafka/common/test/junit/ClusterTestExtensionsTest.java
  transaction-coordinator/src/test/java/org/apache/kafka/coordinator/transaction/ProducerIdManagerTest.java
Labels: core, storage, transactions, clients, ci-approved

#20015 MINOR: Add retention prop to share group state topic. (#20013)
  share-coordinator/src/main/java/org/apache/kafka/coordinator/share/ShareCoordinatorService.java
  share-coordinator/src/test/java/org/apache/kafka/coordinator/share/ShareCoordinatorServiceTest.java
Labels: backport-candidate, KIP-932, ci-approved

#19999 KAFKA-19421: Deflake streams_broker_down_resilience_test
  tests/kafkatest/tests/streams/base_streams_test.py
  tests/kafkatest/tests/streams/streams_broker_down_resilience_test.py
Labels: streams, tests, small

#20009 KAFKA-18486: Remove becomeLeaderOrFollower from testPartition*, testPreferredReplicaAs*
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests, ci-approved

#20018 MINOR: Change snapshot epoch type to int32 in schema. (#20016)
  share-coordinator/src/main/resources/common/message/ShareSnapshotValue.json
  share-coordinator/src/main/resources/common/message/ShareUpdateValue.json
Labels: backport-candidate, KIP-932, ci-approved, small

#20004 KAFKA-19422: Deflake streams_application_upgrade_test
  tests/kafkatest/tests/streams/streams_application_upgrade_test.py
Labels: streams, tests, small

#20019 KAFKA-19429: Deflake streams_smoke_test
  streams/src/test/java/org/apache/kafka/streams/tests/SmokeTestDriver.java
Labels: streams, tests, small

#19991 KAFKA-19367-Follow-up-cherry-pick-to-4.0
  core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala
  core/src/test/scala/unit/kafka/coordinator/transaction/TransactionCoordinatorTest.scala
Labels: ci-approved

#19972 KAFKA-19407 Fix potential IllegalStateException when appending to timeIndex
  storage/src/main/java/org/apache/kafka/storage/internals/log/LogSegment.java
  storage/src/test/java/org/apache/kafka/storage/internals/log/LogSegmentTest.java
Labels: storage, ci-approved, small

#19157 KAFKA-18778 Fix the inconsistent lastest supported version in StorageTool.scala and FutureCommand
  core/src/main/scala/kafka/tools/StorageTool.scala
  core/src/test/scala/unit/kafka/tools/StorageToolTest.scala
  tools/src/main/java/org/apache/kafka/tools/FeatureCommand.java
  tools/src/test/java/org/apache/kafka/tools/FeatureCommandTest.java
Labels: core, tools, small

#19974 KAFKA-19411: Fix deleteAcls bug which allows more deletions than max records per user op
  metadata/src/main/java/org/apache/kafka/controller/AclControlManager.java
  metadata/src/test/java/org/apache/kafka/controller/AclControlManagerTest.java
Labels: kraft, ci-approved, small

#19956 MINOR: Revert initial transactional state store semantics commit
  checkstyle/suppressions.xml
  streams/src/main/java/org/apache/kafka/streams/KafkaStreams.java
  streams/src/main/java/org/apache/kafka/streams/internals/metrics/StreamsThreadMetricsDelegatingReporter.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/ProcessorStateManager.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/StateDirectory.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/TaskManager.java
  streams/src/test/java/org/apache/kafka/streams/KafkaStreamsTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StateDirectoryTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/StreamThreadTest.java
  streams/src/test/java/org/apache/kafka/streams/processor/internals/TaskManagerTest.java
Labels: streams

#20022 KAFKA-19398: (De)Register oldest-iterator-open-since-ms metric dynamically
  streams/src/main/java/org/apache/kafka/streams/internals/metrics/OpenIterators.java
  streams/src/main/java/org/apache/kafka/streams/processor/internals/metrics/StreamsMetricsImpl.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredMultiVersionedKeyQueryIterator.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStore.java
  streams/src/main/java/org/apache/kafka/streams/state/internals/metrics/StateStoreMetrics.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredTimestampedKeyValueStoreTest.java
  streams/src/test/java/org/apache/kafka/streams/state/internals/MeteredVersionedKeyValueStoreTest.java
Labels: streams

#20026 KAFKA-18656: Backport KAFKA-18597 to 4.0
  core/src/main/scala/kafka/log/LogCleaner.scala
  core/src/test/scala/unit/kafka/log/LogCleanerTest.scala
Labels: ci-approved

#20014 KAFKA-18486: Migrate tests to use applyDelta instead of becomeLeaderOrFollower
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
Labels: core, tests, ci-approved

#19985 KAFKA-19414: Remove 2PC public APIs from 4.1 until release (KIP-939)
  clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/MockProducer.java
  clients/src/main/java/org/apache/kafka/clients/producer/Producer.java
  clients/src/main/java/org/apache/kafka/clients/producer/internals/TransactionManager.java
  clients/src/test/java/org/apache/kafka/clients/producer/KafkaProducerTest.java
  clients/src/test/java/org/apache/kafka/clients/producer/internals/TransactionManagerTest.java
Labels: producer, ci-approved

#19920 KAFKA-18834: Fix LoggingResourceTest#testSetLevelDefaultScope
  connect/runtime/src/test/java/org/apache/kafka/connect/runtime/LoggersTest.java
Labels: connect, tests, ci-approved, small

#19852 MINOR: Cleanup ShareFetchAcknowledgeRequestTest
  core/src/test/scala/unit/kafka/server/GroupCoordinatorBaseRequestTest.scala
  core/src/test/scala/unit/kafka/server/ShareFetchAcknowledgeRequestTest.scala
Labels: core, tests, ci-approved

#20035 MINOR: Clean up in ReassignPartitionsCommandTest
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommand.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandTest.java
Labels: tools, tests, ci-approved

#20042 MINOR: Improve ProcessorContext JavaDocs
  streams/src/main/java/org/apache/kafka/streams/processor/ProcessorContext.java
  streams/src/main/java/org/apache/kafka/streams/processor/api/ProcessingContext.java
Labels: streams, small

#20038 MINOR: Use primitive data types in tools
  tools/src/main/java/org/apache/kafka/tools/DelegationTokenCommand.java
  tools/src/main/java/org/apache/kafka/tools/GroupsCommand.java
  tools/src/main/java/org/apache/kafka/tools/TopicCommand.java
  tools/src/main/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommand.java
  tools/src/test/java/org/apache/kafka/tools/TopicCommandTest.java
  tools/src/test/java/org/apache/kafka/tools/reassign/ReassignPartitionsCommandTest.java
Labels: tools, ci-approved

#19822 KAFKA-19042 Rewrite ConsumerBounceTest by Java
  build.gradle
  checkstyle/import-control-clients-integration-tests.xml
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ConsumerAssignmentPoller.java
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/consumer/ConsumerBounceTest.java
  clients/src/test/java/org/apache/kafka/test/TestUtils.java
  core/src/test/scala/integration/kafka/api/ConsumerBounceTest.scala
Labels: core, build, clients

#20054 MINOR: Correct ProducerFailureHandlingTest Typo, Use waitForTopic Instead of waitForDeletion
  clients/clients-integration-tests/src/test/java/org/apache/kafka/clients/producer/ProducerFailureHandlingTest.java
Labels: tests, clients, small

#20037 KAFKA-18486: Remove ReplicaManager#becomeLeaderOrFollower
  clients/src/main/java/org/apache/kafka/common/requests/LeaderAndIsrRequest.java
  clients/src/main/java/org/apache/kafka/common/requests/LeaderAndIsrResponse.java
  core/src/main/java/kafka/server/builders/ReplicaManagerBuilder.java
  core/src/main/scala/kafka/cluster/Partition.scala
  core/src/main/scala/kafka/server/BrokerServer.scala
  core/src/main/scala/kafka/server/ReplicaManager.scala
  core/src/test/scala/unit/kafka/cluster/AbstractPartitionTest.scala
  core/src/test/scala/unit/kafka/cluster/AssignmentStateTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionLockTest.scala
  core/src/test/scala/unit/kafka/cluster/PartitionTest.scala
  core/src/test/scala/unit/kafka/server/ReplicaManagerTest.scala
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/fetcher/ReplicaFetcherThreadBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/PartitionMakeFollowerBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/partition/UpdateFollowerFetchStateBenchmark.java
  jmh-benchmarks/src/main/java/org/apache/kafka/jmh/server/PartitionCreationBench.java
  metadata/src/main/java/org/apache/kafka/metadata/PartitionRegistration.java
  metadata/src/test/java/org/apache/kafka/metadata/PartitionRegistrationTest.java
  server-common/src/main/java/org/apache/kafka/common/PartitionState.java
Labels: core, performance, kraft, clients

#20059 MINOR: Fix typo in AssignmentsManager
  server/src/main/java/org/apache/kafka/server/AssignmentsManager.java
  server/src/test/java/org/apache/kafka/server/AssignmentsManagerTest.java
Labels: core, ci-approved, small

#20052 MINOR: Make feature lists immutable
  server-common/src/main/java/org/apache/kafka/server/common/Feature.java
Labels: core, ci-approved, small

#20067 MINOR: remove unused FlattenedIterator
  clients/src/main/java/org/apache/kafka/common/utils/FlattenedIterator.java
  clients/src/test/java/org/apache/kafka/common/utils/FlattenedIteratorTest.java
Labels: clients
